<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Đặt hàng", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12 shopping-cart">
            <h2 class="title">ĐẶT HÀNG</h2>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-opencart"></i> Danh sách sản phẩm</h4>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td class="text-center">HÌNH ẢNH</td>
                                            <td class="text-left">TÊN SẢN PHẨM</td>
                                            <td class="text-center">SỐ LƯỢNG</td>
                                            <td class="text-center">GIÁ</td>
                                            <td class="text-center">THÀNH TIỀN</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @cart.cart_items.each do |cart_item| %>
                                        <tr>
                                            <td class="text-center">
                                                <%= link_to image_tag("/frontend/image/shop/product/e3.jpg", alt: cart_item.product_name, class: "img-thumbnail", width: "70"), product_link(cart_item.product), title: cart_item.product_name %>
                                            </td>
                                            <td class="text-left">
                                                <strong><%= link_to cart_item.product_name, product_link(cart_item.product), title: cart_item.product_name %></strong><br />
                                                <% if cart_item.product.short_description.present? %>
                                                <br><small><%= cart_item.product.short_description.html_safe %></small>
                                                <% end %>
                                            </td>                            
                                            <td class="text-center" width="200px">
                                                <strong><%= cart_item.quantity %></strong>
                                            </td>
                                            <td class="text-center">
                                                <strong><%= format_price(cart_item.product_price) %></strong>
                                            </td>
                                            <td class="text-center">
                                                <strong><%= format_price(cart_item.total_price) %></strong>
                                            </td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-pencil"></i> Ghi chú cho đơn hàng</h4>
                        </div>
                        <div class="panel-body">
                            <textarea placeholder="Nhập nội dung ghi chú của bạn tại đây..." rows="4" class="form-control" id="confirm_comment" name="comments"></textarea>
                            <br>
                            <label class="control-label" for="confirm_agree">
                                <input type="checkbox" checked="checked" value="1" required="" class="validate required" id="confirm_agree" name="confirm agree">
                                <span>
                                    Tôi đã đọc và đồng ý với
                                    <%= link_to '<b>Các điều khoản & Điều kiện</b>'.html_safe, "", class: "agree", target: "_blank" %>
                                    </a>
                                </span>
                            </label>
                            <div class="buttons">
                                <div class="pull-right">
                                    <input type="button" class="btn btn-primary" id="button-confirm" value="Đặt hàng">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Middle Part End -->
    </div>
</div>