<% title "Đặt Hàng" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Đặt Hàng", "javascript:void(0)" %></li>
    </ul>
    
    
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          <h2 class="title">ĐẶT HÀNG</h2>
          <div class="so-onepagecheckout ">
            
            <div class="col-left col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default no-padding">
                            <div class="col-sm-12 checkout-shipping-methods">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><i class="fa fa-user"></i> Thông tin người mua hàng</h4>
                                        </div>
                                        <% if current_user.contact.present? %>
                                            <div class="col-sm-12">
                                                <div class="address-item is-main">
                                                    <p class="name"><%= current_user.contact.name %></p>
                                                    <span class="default">Thông tin mặc định</span>
                                                    <p class="address">Địa chỉ: <%= current_user.contact.address %></p>
                                                    <p class="phone">Điện thoại: <%= current_user.contact.phone %></p>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><i class="fa fa-truck"></i> Địa chỉ giao/nhận hàng</h4>
                                        </div>
                                        <% if current_user.contact.present? %>
                                            <div class="col-sm-12">
                                                <div class="address-item is-main">
                                                    <p class="name"><%= @selected_contact.name %></p>
                                                    <% if current_user.contact == @selected_contact %>
                                                    <span class="default">Thông tin mặc định</span>
                                                    <% end %>
                                                    <p class="address">Địa chỉ: <%= @selected_contact.address %></p>
                                                    <p class="phone">Điện thoại: <%= @selected_contact.phone %></p>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-12 checkout-shipping-methods">
                                <% if current_user.contact.present? %>
                                    <div class="col-sm-12">
                                        <p class="other">Bạn muốn giao hàng đến địa chỉ khác?
                                        <% if current_user.contact.contacts.count > 0 %>
                                            <a href="#contact-select" onclick="$('.contacts-create').hide();$('.contacts-select').toggle()">Chọn trong sổ địa chỉ</a> hoặc
                                        <% end %>
                                            <a href="#contact-create" onclick="$('.contacts-select').hide();$('.contacts-create').toggle()">Tạo địa chỉ giao hàng mới</a></p>
                                        
                                        <% if current_user.contact.contacts.count > 0 %>
                                            <div class="contacts-option contacts-select" style="display: none">
                                                <hr>
                                                <p class="note"><i>*</i> Chọn địa chỉ giao hàng từ danh sách dưới đây:</p>
                                                <div class="row address-book">
                                                    <div class="col-sm-6">
                                                        <div class="address-item is-default">
                                                            <p class="name"><%= current_user.contact.name %></p>
                                                            <span class="default">Địa chỉ mặc định</span>
                                                            <p class="address">Địa chỉ: <%= current_user.contact.address %></p>
                                                            <p class="phone">Điện thoại: <%= current_user.contact.phone %></p>
                                                            <p class="action">
                                                                <%= link_to 'Giao đến địa chỉ này', erp_online_store.checkout_path(selected_contact_id: current_user.contact.id),
                                                                                class: "btn btn-default btn-custom is-blue" %>
                                                                <button type="button" class="btn btn-default btn-custom"><i class="fa fa-edit"></i></button>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <% current_user.contact.contacts.order('created_at ASC').each do |contact| %>
                                                        <div class="col-sm-6">
                                                            <div class="address-item">
                                                                <p class="name"><%= contact.name %></p>
                                                                <p class="address">Địa chỉ: <%= contact.address %></p>
                                                                <p class="phone">Điện thoại: <%= contact.phone %></p>
                                                                <p class="action">
                                                                    <%= link_to 'Giao đến địa chỉ này', erp_online_store.checkout_path(selected_contact_id: contact.id),
                                                                                class: "btn btn-default btn-custom is-black" %>
                                                                    <button type="button" class="btn btn-default btn-custom"><i class="fa fa-edit"></i></button>
                                                                    <button type="button" class="btn btn-default btn-custom"><i class="fa fa-trash"></i></button>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    <% end %>
                                                </div>
                                            </div>
                                        <% end %>
                                        
                                        <div class="contacts-option contacts-create" style="display: none">
                                            <hr>
                                            <p class="title">Tạo mới địa chỉ giao hàng</p>
                                            <fieldset id="address-form" class="required">
                                                <%= form_for '', url: erp_online_store.add_main_contact_path do |f| %>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="input-payment-company" class="control-label">Họ tên</label>
                                                                <input type="text" class="form-control" id="input-payment-company"
                                                                       placeholder="Nhập họ tên người nhận" name="contact[name]">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="input-payment-company" class="control-label">Điện thoại di động</label>
                                                                <input type="text" class="form-control" id="input-payment-company"
                                                                       placeholder="Nhập số điện thoại" name="contact[phone]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="input-payment-country" class="control-label">Tỉnh/Thành phố</label>
                                                                <select class="form-control" id="input-payment-country" name="country_id">
                                                                    <option value=""> --- Chọn tỉnh/thành phố --- </option>
                                                                    <option value="244">Hồ Chí Minh</option>
                                                                    <option value="1">Hà Nội</option>
                                                                    <option value="2">Đà Nằng</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="input-payment-zone" class="control-label">Quận/Huyện/Thị xã</label>
                                                                <select class="form-control" id="input-payment-zone" name="zone_id">
                                                                    <option value=""> --- Chọn quận/huyện/thị xã --- </option>
                                                                    <option value="3513">Quận 1</option>
                                                                    <option value="3514">Gò Vấp</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="input-payment-zone" class="control-label">Xã/Phường/Thị trấn</label>
                                                                <select class="form-control" id="input-payment-zone" name="zone_id">
                                                                    <option value=""> --- Chọn xã/phường/thị trấn --- </option>
                                                                    <option value="3513">Phường Bến Nghé</option>
                                                                    <option value="3514">Phường Linh Chiểu</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="input-payment-address-1" class="control-label">Địa chỉ</label>
                                                                <input type="text" class="form-control" id="input-payment-address-1"
                                                                       placeholder="Số nhà, đường, thôn, ấp" name="contact[address]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 text-right">
                                                            <button class="btn buttonGray" id="btn-radius" type="submit">
                                                                <span>Cập nhật</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </fieldset>
                                        </div>
                                    </div>
                                <% else %>
                                    <div class="col-sm-12">
                                        <p class="title">Cập nhật thông tin địa chỉ giao hàng</p>
                                        <fieldset id="address-form" class="required">
                                            <%= form_for '', url: erp_online_store.add_main_contact_path do |f| %>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="input-payment-company" class="control-label">Họ tên</label>
                                                            <input type="text" class="form-control" id="input-payment-company"
                                                                   placeholder="Nhập họ tên người nhận" name="contact[name]">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="input-payment-company" class="control-label">Điện thoại di động</label>
                                                            <input type="text" class="form-control" id="input-payment-company"
                                                                   placeholder="Nhập số điện thoại" name="contact[phone]">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="input-payment-country" class="control-label">Tỉnh/Thành phố</label>
                                                            <select class="form-control" id="input-payment-country" name="country_id">
                                                                <option value=""> --- Chọn tỉnh/thành phố --- </option>
                                                                <option value="244">Hồ Chí Minh</option>
                                                                <option value="1">Hà Nội</option>
                                                                <option value="2">Đà Nằng</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="input-payment-zone" class="control-label">Quận/Huyện/Thị xã</label>
                                                            <select class="form-control" id="input-payment-zone" name="zone_id">
                                                                <option value=""> --- Chọn quận/huyện/thị xã --- </option>
                                                                <option value="3513">Quận 1</option>
                                                                <option value="3514">Gò Vấp</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="input-payment-zone" class="control-label">Xã/Phường/Thị trấn</label>
                                                            <select class="form-control" id="input-payment-zone" name="zone_id">
                                                                <option value=""> --- Chọn xã/phường/thị trấn --- </option>
                                                                <option value="3513">Phường Bến Nghé</option>
                                                                <option value="3514">Phường Linh Chiểu</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="input-payment-address-1" class="control-label">Địa chỉ</label>
                                                            <input type="text" class="form-control" id="input-payment-address-1"
                                                                   placeholder="Số nhà, đường, thôn, ấp"name="contact[address]">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 text-right">
                                                        <button class="btn buttonGray" id="btn-radius" type="submit">
                                                            <span>Cập nhật</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            <% end %>
                                        </fieldset>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    
                    <% if !current_user.present? %>
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Danh sách sản phẩm</h4>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td class="text-center">HÌNH ẢNH</td>
                                                <td class="text-left">TÊN SẢN PHẨM</td>
                                                <td class="text-center">SỐ LƯỢNG</td>
                                                <td class="text-center">GIÁ</td>
                                                <td class="text-center">THÀNH TIỀN</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @cart.cart_items.each do |cart_item| %>
                                            <tr>
                                                <td class="text-center">
                                                    <%= link_to image_tag(product_image(cart_item.product.product_images, "first", "thumb75"), alt: cart_item.product_name, class: "img-thumbnail", width: "70"), product_link(cart_item.product), title: cart_item.product_name %>
                                                </td>
                                                <td class="text-left">
                                                    <strong><%= link_to cart_item.product_name, product_link(cart_item.product), title: cart_item.product_name %></strong><br />
                                                    <% if cart_item.product.short_description.present? %>
                                                    <br><small><%= cart_item.product.short_description.html_safe %></small>
                                                    <% end %>
                                                </td>                            
                                                <td class="text-center" width="200px">
                                                    <strong><%= cart_item.quantity %></strong>
                                                </td>
                                                <td class="text-center">
                                                    <strong><%= format_price(cart_item.product_price) %></strong>
                                                </td>
                                                <td class="text-center">
                                                    <strong><%= format_price(cart_item.total_price) %></strong>
                                                </td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
                
            <div class="col-right col-sm-3">
                <div class="panel panel-default fee">
                    <% @cart.cart_items.each do |cart_item| %>
                        <div class="row" style="font-size: 13px;">
                            <div class="col-sm-8">
                                <b><%= cart_item.quantity %> x</b>
                                <%= link_to cart_item.product_name, product_link(cart_item.product), title: cart_item.product_name %>
                            </div>
                            <div class="col-sm-4 text-right"><span><%= format_price(cart_item.total_price) %></span></div>
                        </div>
                    <% end %>
                    <hr>
                    <p class="list-info-price"><b>Tổng đơn hàng:</b> <span>15.390.000 đ</span></p>
                    <p class="total2">Thành tiền: <span>15.390.000 đ</span></p>
                    <p class="text-right">
                        <i>(Chưa bao gồm VAT)</i>
                    </p>
                </div>
                
                <%= form_for '', url: erp_online_store.checkout_path do |f| %>
                    <input type="hidden" name="order[consignee_id]" value="<%= @selected_contact.id %>" />
                    
                    <div class="panel panel-default confirm">
                        <textarea placeholder="Nhập ghi chú cho đơn hàng" rows="3" class="form-control" id="confirm_comment" name="order[note]"></textarea>
                        <label class="control-label" for="confirm_agree">
                            <input type="checkbox" value="" required="" class="validate required" id="confirm_agree" name="">
                            <span>
                                Tôi đã đọc và đồng ý với
                                <%= link_to 'Các điều khoản & Điều kiện'.html_safe, "", class: "agree", target: "_blank" %>
                                </a>
                            </span>
                        </label>
                    </div>
                    <% if current_user.contact.present? %>
                    <button type="submit" class="btn btn-large btn-block btn-default btn-checkout">ĐẶT HÀNG</button>
                    <p class="other">(Vui lòng kiểm tra kỹ đơn hàng trước khi xác nhận đặt hàng)</p>
                    <% end %>
                <% end %>
            </div>
        </div>
        <!--Middle Part End -->
    </div>
</div>