<% title "So Sánh Sản Phẩm" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "So Sánh Sản Phẩm", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12 compare-product">
            <% all_items = @compare.compare_items.get_all_items %>
            <% c_count = all_items.count %>
            <% if c_count > 0 %>
            <h2 class="title title-compare">DANH SÁCH SO SÁNH</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover product-compare">
                    <tbody>
                        <tr>
                            <td class="text-nowrap">Tên sản phẩm</td>
                            <% all_items.each do |compare_item| %>
                            <td class="product-name" width="<%= (85/c_count).to_i %>%">
                                <strong>
                                    <%= link_to compare_item.product_name, product_link(compare_item.product), title: compare_item.product_name %>
                                </strong>
                            </td>
                            <% end %>
                        </tr>
                        <tr>
                            <td class="text-nowrap">Hình ảnh</td>
                            <% all_items.each do |compare_item| %>
                            <td class="text-center">
                                <%= link_to image_tag(product_image(compare_item.product.product_images, 'first', 'thumb99'), alt: compare_item.product_name, width: "100", class: "img-thumbnail"), product_link(compare_item.product), title: compare_item.product_name %>
                            </td>
                            <% end %>
                        </tr>
                        <tr>
                            <td class="text-nowrap">Giá</td>
                            <% all_items.each do |compare_item| %>
                            <td>
                                <div class="price">
                                    <% if compare_item.product.is_sold_out? %>
                                        <span class="price price-sold-out sold_out_true">Giá liên hệ</span>
                                    <% else %>
                                        <span class="price-new"><%= format_price(compare_item.product.product_price) %></span>
                                        <% if compare_item.product.is_deal %>
                                            <br><span class="price-old"><%= format_price(compare_item.product.price) %></span>
                                            <span class="label label-percent"><%= compare_item.product.deal_percent %>%</span>
                                        <% end %>
                                    <% end %>
                                </div>
                            </td>
                            <% end %>
                        </tr>
                        <tr>
                            <td class="text-nowrap">Thương hiệu</td>
                            <% all_items.each do |compare_item| %>
                                <td><%= compare_item.product.brand_name %></td>
                            <% end %>
                        </tr>
                        <% Erp::Carts::CompareItem.get_comparision_hash(all_items).each do |row| %>
                            <tr>
                                <td class="text-nowrap"><%= row[0] %></td>
                                <% row[1].each do |values| %>
                                    <% if values.nil? %>
                                        <td class="not-property property-value">Chưa có thông tin.</td>
                                    <% else %>
                                        <td class="property-value"><%= values.join(', ') %></td>
                                    <% end %>
                                <% end %>
                                <% (1..(c_count - row[1].count)).each do |values| %>
                                    <td class="not-property property-value">Chưa có thông tin.</td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <% all_items.each do |compare_item| %>
                            <td>
                                <% if !compare_item.product.is_sold_out? %>
                                    <%= form_tag erp_online_store.add_to_cart_frontend_cart_items_path, class: 'add-cart-form' do %>
                                        <%= hidden_field_tag "product_id", compare_item.product.id %>
                                        <input type='hidden' class="form-control" type="text" name="quantity" value="1">
                                        <input type="submit" class="btn btn-primary btn-block compare-cart-add-button" value="Thêm vào giỏ hàng">
                                    <% end %>
                                <% end %>
                                <%= link_to "Hủy so sánh", erp_online_store.remove_compare_item_frontend_compare_items_path(compare_item_id: compare_item.id), class: "btn btn-danger btn-block btn-cancel-compare", title: "Xóa sản phẩm" %>
                            </td>
                            <% end %>
                        </tr>
                    </tbody>
                </table>
            </div>
            <% else %>
                <div class="empty-compare">                    
                    <h2 class="title">Danh sách so sánh hiện tại đang trống.</h2>
                    <%= link_to "Tiếp tục mua hàng", erp_online_store.root_path, class: "btn btn-default shopping-continue" %>
                </div>
            <% end %>
        </div>
        <!--Middle Part End -->
    </div>
</div>
