<% title "So Sánh Sản Phẩm" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "So Sánh Sản Phẩm", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12 compare-product">
            <% if @compare.compare_items.count > 0 %>
            <h2 class="title title-compare">DANH SÁCH SO SÁNH</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover product-compare">
                    <tbody>
                        <tr>
                            <td>Tên sản phẩm</td>
                            <% @compare.compare_items.get_all_items.each do |compare_item| %>
                            <td class="product-name">
                                <strong>
                                    <%= link_to compare_item.product_name, product_link(compare_item.product), title: compare_item.product_name %>
                                </strong>
                            </td>
                            <% end %>
                        </tr>
                        <tr>
                            <td>Hình ảnh</td>
                            <% @compare.compare_items.get_all_items.each do |compare_item| %>
                            <td class="text-center">
                                <%= link_to image_tag(product_image(compare_item.product.product_images, 'first', 'thumb99'), alt: compare_item.product_name, width: "100", class: "img-thumbnail"), product_link(compare_item.product), title: compare_item.product_name %>
                            </td>
                            <% end %>
                        </tr>
                        <tr>
                            <td>Giá</td>
                            <% @compare.compare_items.get_all_items.each do |compare_item| %>
                            <td>
                                <div class="price">
                                    <span class="price-new"><%= format_price(compare_item.product.product_price) %></span>
                                    <% if compare_item.product.is_deal %>                        
                                        <br><span class="price-old"><%= format_price(compare_item.product.price) %></span>
                                        <span class="label label-percent"><%= compare_item.product.deal_percent %>%</span>
                                    <% end %>
                                </div>
                            </td>
                            <% end %>
                        </tr>
                        <tr>
                            <td>Thương hiệu</td>
                            <% @compare.compare_items.get_all_items.each do |compare_item| %>
                                <td><%= compare_item.product.brand_name %></td>
                            <% end %>
                        </tr>
                        <% Erp::Carts::CompareItem.get_comparision_hash(@compare.compare_items.get_all_items).each do |row| %>
                            <tr>
                                <td><%= row[0] %></td>
                                <% row[1].each do |values| %>
                                    <% if values.nil? %>
                                        <td class="not-property">Chưa có thông tin.</td>
                                    <% else %>
                                        <td><%= values.join(', ') %></td>
                                    <% end %>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <% @compare.compare_items.get_all_items.each do |compare_item| %>
                            <td>
                                <%= form_tag erp_online_store.add_to_cart_frontend_cart_items_path, class: 'add-cart-form' do %>
                                    <%= hidden_field_tag "product_id", compare_item.product.id %>                                    
                                    <input type='hidden' class="form-control" type="text" name="quantity" value="1">
                                    <input type="submit" class="btn btn-primary btn-block compare-cart-add-button" value="Thêm vào giỏ hàng">
                                <% end %>
                                <%= link_to "Hủy so sánh", erp_online_store.remove_compare_item_frontend_compare_items_path(compare_item_id: compare_item.id), class: "btn btn-danger btn-block", title: "Xóa sản phẩm" %>                                
                            </td>
                            <% end %>
                        </tr>
                    </tbody>
                </table>
            </div>
            <% else %>
                <h2 class="title">Danh sách so sánh hiện tại đang trống.</h2>
                <div class="buttons">
                    <div class="pull-left"><%= link_to "TIẾP TỤC MUA HÀNG", erp_online_store.root_path, class: "btn btn-default shopping-continue" %></div>                
                </div>
            <% end %>
        </div>
        <!--Middle Part End -->
    </div>
</div>