<% title "Giỏ Hàng" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Giỏ Hàng", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12 shopping-cart">
            <% if @cart.cart_items.number_items > 0 %>
            <h2 class="title">GIỎ HÀNG CỦA BẠN</h2>
            <%= form_for([erp_online_store, :frontend, @cart]) do |f| %>
            <div class="table-responsive form-group">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-center">HÌNH ẢNH</td>
                            <td class="text-left">TÊN SẢN PHẨM</td>
                            <td class="text-center">SỐ LƯỢNG</td>
                            <td class="text-center">GIÁ</td>
                            <td class="text-center">THÀNH TIỀN</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% @cart.cart_items.each do |cart_item| %>
                        <tr>
                            <td class="text-center img-center">
                                <%= link_to image_tag(product_image(cart_item.product.product_images, 'first', 'thumb99'), alt: cart_item.product_name, class: "img-thumbnail", width: "70"), product_link(cart_item.product), title: cart_item.product_name %>
                            </td>
                            <td class="text-left">
                                <strong><%= link_to cart_item.product_name, product_link(cart_item.product), title: cart_item.product_name %></strong><br />
                                <% if cart_item.product.short_description.present? %>
                                <br><small><%= cart_item.product.short_description.html_safe %></small>
                            <% end %>
                            
                            <ul class="product-sale">
                                <li class="item-product-sale list-inline">
                                    <div class="icon-product-sale">
                                        <img alt="Máy Tính Đồng Bộ HP Pavilion" class="img-thumbnail" width="70" src="/uploads/erp/products/product_image/image_url/7439/thumb99_hp-pavilion-20-2224x-ai-o-k5l71aa-pc-non-touch-01.jpg">
                                    </div>
                                    <a href="#">Màn Hình Lenovo 21.5-inch LI2215SD (<span class="red">Sản phẩm khuyến mãi</span>)</a>
                                </li>
                                <li class="item-product-sale list-inline">
                                    <div class="icon-product-sale">
                                        <img alt="Máy Tính Đồng Bộ HP Pavilion" class="img-thumbnail" width="70" src="/uploads/erp/products/product_image/image_url/7439/thumb99_hp-pavilion-20-2224x-ai-o-k5l71aa-pc-non-touch-01.jpg">
                                    </div>
                                    <a href="#">Màn Hình Lenovo 21.5-inch LI2215SD (<span class="red">Sản phẩm khuyến mãi</span>)</a>
                                </li>
                            </ul>
                            
                            </td>
                            <td class="text-center vertical" width="200px">
                                <div class="input-group btn-block quantity">
                                    <strong><input class="form-control" type="text" name="quantities[<%= cart_item.id %>]" value="<%= cart_item.quantity %>"></strong>
                                    <span class="input-group-btn">
                                        <button type="submit" data-toggle="tooltip" title="Cập nhật số lượng" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                                        <%= link_to '<i class="fa fa-times-circle"></i>'.html_safe, erp_online_store.remove_cart_item_frontend_cart_items_path(cart_item_id: cart_item.id), class: "btn btn-danger", title: "Xóa sản phẩm" %>
                                    </span>
                                </div>
                            </td>
                            <td class="text-center">
                                <strong class="price"><%= format_price(cart_item.product_price) %></strong>
                            </td>
                            <td class="text-center">
                                <strong class="price"><%= format_price(cart_item.total_price) %></strong>
                            <td class="text-center vertical">
                                <strong><%= format_price(cart_item.product_price) %></strong>
                            </td>
                            <td class="text-center vertical">
                                <strong><%= format_price(cart_item.total_price) %></strong>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <% end %>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <table class="table table-bordered">
                        <tr>
                            <td class="text-right"><strong>TỔNG TIỀN:</strong></td>
                            <td class="text-right price"><%= format_price(@cart.total_order) %></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="buttons">
                <div class="pull-left"><%= link_to "Tiếp Tục Mua Hàng", erp_online_store.root_path, class: "btn btn-default shopping-continue" %></div>
                <% if user_signed_in? %>
                    <div class="pull-right"><%= link_to "Tiến Hành Đặt Hàng", erp_online_store.checkout_path, class: "btn btn-primary shopping-order" %></div>
                <% else %>
                    <div class="pull-right"><%= link_to "Tiến Hành Đặt Hàng", erp.new_user_session_path, class: "btn btn-primary shopping-order ajax-link", "data-type": "ajax" %></div>
                <% end %>
            </div>
            <% else %>
                <h2 class="title">Giỏ hàng hiện tại của bạn đang trống.</h2>
                <div class="buttons">
                    <div class="pull-left"><%= link_to "TIẾP TỤC MUA HÀNG", erp_online_store.root_path, class: "btn btn-default shopping-continue" %></div>
                </div>
            <% end %>
        </div>
        <!--Middle Part End -->
    </div>
</div>
