<% title "Giỏ Hàng" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Giỏ Hàng", "javascript:void(0)" %></li>
    </ul>
    <div class="row wrap">
        <% if !user_signed_in? %>
        <div class="container">
            <div class="payment-top">
                <p class="text">Đăng nhập để theo dõi đơn hàng hoặc xem lại lịch sử mua hàng.</p>
                <div class="form-group last">
                    <%= link_to '<i class="fa fa-sign-in"></i> <span>Đăng nhập tài khoản</span>'.html_safe,
                        erp.new_user_session_path,
                        class: "btn btn-block btn-social btn-account user-name-loginaccount sign-in ajax-link",
                        "data-type": "ajax",
                        id: "sign-in"
                    %>
                    <p class="or">Hoặc</p>
                    <a class="btn btn-block btn-social btn-facebook user-name-loginfb" title="Đăng nhập bằng Facebook" href="/auth/facebook" data-url="">
                        <i class="fa fa-facebook"></i>
                        <span>Đăng nhập bằng Facebook</span>
                    </a>
                    <p class="or">Hoặc</p>
                    <a class="btn btn-block btn-social btn-google user-name-login-google" title="Đăng nhập bằng Google" href="/auth/google_oauth2" data-url="">
                        <i class="fa fa-google-plus"></i>
                        <span>Đăng nhập bằng Google</span>
                    </a>
                </div>
            </div>
        </div>
        <% end %>
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12 shopping-cart">
            <% if @cart.cart_items.number_items > 0 %>
            <h2 class="title">GIỎ HÀNG CỦA BẠN</h2>
            <%= form_for([erp_online_store, :frontend, @cart], html: {class: "shopping_cart_form"}) do |f| %>
            <div class="table-responsive form-group">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="no-border-bottom text-center">Hình ảnh</td>
                            <td class="no-border-bottom text-left">Tên sản phẩm</td>
                            <td class="no-border-bottom text-center">Số lượng</td>
                            <td class="no-border-bottom text-center">Giá</td>
                            <td class="no-border-bottom text-center">Thành tiền</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% @cart.cart_items.each do |cart_item| %>
                        <tr>
                            <td class="text-center img-center">
                                <%= link_to image_tag(product_image(cart_item.product.product_images, 'first', 'thumb99'), alt: cart_item.product_name, class: "img-thumbnail", width: "90"), product_link(cart_item.product), title: cart_item.product_name, target: '_blank' %>
                            </td>
                            <td class="text-left vertical">
                                <strong><%= link_to cart_item.product_name, product_link(cart_item.product), title: cart_item.product_name, target: '_blank' %></strong><br />
                                <% if cart_item.product.short_description.present? %>
                                    <br><small><%= cart_item.product.short_description.html_safe %></small>
                                <% end %>
                                <% if cart_item.product.gifts.count > 0 %>
                                    <span class="red">Quà tặng kèm:</span>
                                    <ul class="product-sale">
                                        <% cart_item.product.gifts.each do |gift| %>
                                            <li class="item-product-sale list-inline">
                                                <div class="icon-product-sale">
                                                    <%= image_tag(product_image(gift.product_images, 'first', 'thumb99'), alt: gift.name, class: "img-thumbnail", width: "80") %>
                                                </div>
                                                <%= link_to gift.name, product_link(gift), title: gift.name, target: '_blank' %>
                                            </li>
                                        <% end %>
                                    </ul>
                                <% end %>
                            </td>
                            <td class="text-center vertical" width="150px">
                                <div class="input-group btn-block quantity-control quantity" unselectable="on" style="-webkit-user-select: none;">
                                    <strong><input class="form-control item-qty" type="text" name="quantities[<%= cart_item.id %>]" value="<%= cart_item.quantity %>"></strong>
                                    <span class="input-group-btn">
                                        <button type="submit" data-toggle="tooltip" title="Cập nhật số lượng" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                                        <%= link_to '<i class="fa fa-times-circle"></i>'.html_safe, erp_online_store.remove_cart_item_frontend_cart_items_path(cart_item_id: cart_item.id), class: "btn btn-danger", title: "Xóa sản phẩm" %>
                                    </span>
                                </div>
                            </td>
                            <td class="text-center vertical">
                                <strong class="price"><%= format_price(cart_item.product_price) %></strong>
                            </td>
                            <td class="text-center vertical">
                                <strong class="price"><%= format_price(cart_item.total_price) %></strong>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <% end %>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <table class="table table-bordered">
                        <tr>
                            <td class="text-right"><strong>TỔNG TIỀN:</strong></td>
                            <td class="text-right price"><%= format_price(@cart.total_order) %></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="buttons">
                <div class="pull-left"><%= link_to '<span class="fa fa-angle-double-left"></span> Tiếp Tục Mua Hàng'.html_safe, erp_online_store.root_path, class: "btn btn-default shopping-continue" %></div>
                <% if user_signed_in? %>
                    <div class="pull-right"><%= link_to 'Tiến Hành Đặt Hàng <span class="fa fa-angle-double-right"></span>'.html_safe, erp_online_store.checkout_path, class: "btn btn-primary shopping-order" %></div>
                <% else %>
                    <div class="pull-right"><%= link_to 'Đặt Hàng Nhanh <span class="fa fa-angle-double-right"></span>'.html_safe, erp_online_store.quick_order_path, class: "btn btn-primary shopping-order" %></div>
                <% end %>
            </div>
            <% else %>
                <div class="empty-cart">                    
                    <h2 class="title">Giỏ hàng của bạn hiện chưa có sản phẩm nào cả!</h2>
                    <%= link_to "Tiếp tục mua hàng", erp_online_store.root_path, class: "btn btn-default shopping-continue" %>
                </div>
            <% end %>
        </div>
        <!--Middle Part End -->
    </div>
</div>
