<footer class="footer-container typefooter-1">
    <!-- FOOTER TOP -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="module social_block col-md-3 col-sm-12 col-xs-12">
                        <ul class="social-block ">
                            <li class="facebook"><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "", target: "_blank" %></li>
                            <li class="twitter"><%= link_to '<i class="fa fa-twitter"></i>'.html_safe, "", target: "_blank" %></li>
                            <li class="rss"><%= link_to '<i class="fa fa-rss"></i>'.html_safe, "", target: "_blank" %></li>
                            <li class="google_plus"><%= link_to '<i class="fa  fa-google-plus"></i>'.html_safe, "", target: "_blank" %></li>
                            <li class="pinterest"><%= link_to '<i class="fa fa-pinterest"></i>'.html_safe, "", target: "_blank" %></li>
                        </ul>
                    </div>
                    <div class="module news-letter col-md-9 col-sm-12 col-xs-12">
                        <div class="newsletter">
                            <div class="title-block">
                                <div class="page-heading">SIGN UP FOR OUR NEWSLETTER</div>
                                <div class="pre-text">
                                    Duis at ante non massa consectetur iaculis id non tellus
                                </div>
                            </div>
                            <div class="block_content">
                                <form class="btn-group form-inline signup">
                                    <div class="form-group required send-mail">
                                        <div class="input-box">
                                            <input type="email" placeholder="Your email address..." class="form-control" size="55">
                                        </div>
                                        <div class="subcribe">
                                            <button class="btn btn-default btn-lg">
                                                Subscribe
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER CENTER -->
    <div class="footer-center">
        <div class="container content">
            <div class="row">
                <!-- BOX INFO -->
                <div class="col-md-3 col-sm-6 col-xs-12 collapsed-block footer-links box-footer">
                    <div class="module ">
                        <div class="content-block-footer">
                            <div class="footer-logo">
                                <a href="index.html"><img src="/frontend/image/logos/theme_logo.png" title="Your Store" alt="Your Store" /></a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <!-- BOX ACCOUT -->
                <div class="col-md-3 col-sm-6 box-account box-footer">
                    <div class="module clearfix">
                        <h3 class="modtitle">My Account</h3>
                        <div class="modcontent">
                            <ul class="menu">
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Gift Certificates</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Specials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- BOX INFOMATION -->
                <div class="col-md-3 col-sm-6 box-information box-footer">
                    <div class="module clearfix">
                        <h3 class="modtitle">Information</h3>
                        <div class="modcontent">
                            <ul class="menu">
                                <li><%= link_to "About Us", erp_timhangcongnghe_vn.about_us_path %></li>
                                <li><%= link_to "Contact Us", erp_timhangcongnghe_vn.contact_us_path %></li>
                                <li><%= link_to "FAQ", erp_timhangcongnghe_vn.faq_path %></li>
                                <li><%= link_to "Terms And Conditions", erp_timhangcongnghe_vn.terms_and_conditions_path %></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- BOX ABOUT -->
                <div class="col-md-3  col-sm-6 collapsed-block box-footer">
                    <div class="module ">
                        <h3 class="modtitle">About Us</h3>
                        <div class="modcontent">
                            <ul class="contact-address">
                                <li><span class="fa fa-home"></span> My Company, 42 avenue des Champs</li>
                                <li><span class="fa fa-envelope"></span> Email: <%= mail_to "sales@yourcompany.com", "sales@yourcompany.com" %></li>
                                <li><span class="fa fa-phone">&nbsp;</span> Phone: <%= link_to "(+84) 987654321", "tel:(+84) 987654321" %></li>
                            </ul>
                            <ul class="payment-method">
                                <li>
                                    <a title="Payment Method" href="#"><img src="/frontend/image/cms/payment/payment-1.png" alt="Payment"></a>
                                </li>
                                <li>
                                    <a title="Payment Method" href="#"><img src="/frontend/image/cms/payment/payment-2.png" alt="Payment"></a>
                                </li>
                                <li>
                                    <a title="Payment Method" href="#"><img src="/frontend/image/cms/payment/payment-3.png" alt="Payment"></a>
                                </li>
                                <li>
                                    <a title="Payment Method" href="#"><img src="/frontend/image/cms/payment/payment-4.png" alt="Payment"></a>
                                </li>
                                <li>
                                    <a title="Payment Method" href="#"><img src="/frontend/image/cms/payment/payment-5.png" alt="Payment"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER BOTTOM -->
    <div class="footer-bottom ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    &copy; 2017 <%= link_to "TimHangCongNghe.VN", erp_timhangcongnghe_vn.root_path, target: "_blank" %>. All Rights Reserved.
                </div>
                <div class="back-to-top"><i class="fa fa-angle-up"></i><span> Top </span></div>
            </div>
        </div>
    </div>
</footer>