<% bestsellers.limit(2).each do |product| %>
<div class="product-layout ">
    <div class="product-thumb transition">
        <div class="image">
            <%= link_to image_tag(product_image(product.product_images, 'first', 'thumb193'), alt: product.product_name, class: "img-1 img-responsive"), product_link(product), title: product.product_name %>
        </div>
        <div class="caption">
            <div class="rating">
                <%= stars(product.average_stars) %>
            </div>
            <h4><%= link_to truncate(strip_tags(product.product_name), length: 30), product_link(product), title: product.product_name %></h4>
            <p class="price">
                <% if product.is_sold_out? || product.is_call? || product.product_price.nil? %>
                    <span class="price sold_out_true">Giá liên hệ</span>
                <% else %>
                    <span class="price-new"><%= format_price(product.product_price) %>
                    <% if product.is_deal %>
                        <br><span class="price-old"><%= format_price(product.price) %></span>
                        <span class="label label-percent">-<%= product.deal_percent %>%</span>
                    <% end %>
                <% end %>
            </p>
        </div>
    </div>
</div>
<% end %>