<li class="item-vertical with-sub-menu hover">
    <p class="close-menu"></p>
    <h2><a href="<%= menu_link(menu) %>" title="<%= menu.get_name %>">
        <% if menu.menu_icon.present? %><%= image_tag menu.menu_icon.icon, alt: menu.get_name, title: menu.get_name %><% end %>
        <strong><span><%= truncate(menu.get_name, length: 27) %></span><% if menu.children.count > 0 %><b class="fa fa-angle-right"></b><% end %></strong>
    </a></h2>
    <div class="sub-menu" data-subwidth="100">
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 static-menu">
                            <div class="menu">
                                <ul><% menu_array.each do |child| %>
                                    <li class="<%= child[:class] %>">
                                        <h3><%= link_to child[:menu].get_name, menu_link(child[:menu]), class: 'main-menu', title: child[:menu].get_name %></h3>
                                    </li><% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>