<h3 class="modtitle">
    <span>
        <i class="fa fa-bookmark"></i> PHỤ KIỆN LIÊN QUAN
    </span>
</h3>
<div class="upsell-products">
    <% accessory.get_accessory_details.each do |accessory_detail| %>
    <div class="product-layout">
        <div class="product-item-container">
            <div class="left-block">
                <div class="product-image-container second_img ">
                    <%= image_tag product_image(accessory_detail.product.product_images, 'first', 'thumb268'), data: {src: product_image(accessory_detail.product.product_images, 'first', 'thumb268')}, alt: accessory_detail.product.product_name, title: accessory_detail.product.product_name, class: "img-1 img-responsive" %>
                    <%= image_tag product_image(accessory_detail.product.product_images, 'second', 'thumb268'), data: {src: product_image(accessory_detail.product.product_images, 'second', 'thumb268')}, alt: accessory_detail.product.product_name, title: accessory_detail.product.product_name, class: "img-2 img-responsive" %>
                </div>
                <%= quick_actions(accessory_detail.product) %>
                <% if accessory_detail.product.is_new? %>
                <span class="label label-new">Mới</span>
                <% end %>
                <% if accessory_detail.product.is_deal? %>
                <span class="label label-sale">Giảm giá</span>
                <% end %>
                <%= count_down(accessory_detail.product.deal_from_date, accessory_detail.product.deal_to_date) %>
            </div>
            <div class="right-block">
                <div class="caption">
                    <h4><%= link_to truncate(accessory_detail.product.product_name, length: 40), product_link(accessory_detail.product), title: accessory_detail.product.product_name %></h4>
                    <div class="ratings">
                        <div class="rating-box">
                            <%= stars(accessory_detail.product.average_stars) %>
                        </div>
                    </div>
                    <div class="price">
                        <% if accessory_detail.product.is_sold_out? || accessory_detail.product.is_call? %>
                            <span class="price sold_out_true">Giá liên hệ</span>
                        <% else %>
                            <span class="price-new"><%= format_price(accessory_detail.product.product_price) %></span>
                            <% if accessory_detail.product.is_deal? %>                        
                            <br><span class="price-old"><%= format_price(accessory_detail.product.price) %></span>
                            <span class="label label-percent">-<%= accessory_detail.product.deal_percent %>%</span>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <!-- right block -->
        </div>
    </div>
    <% end %>
</div>