<% if user_signed_in? %>
    <%= form_for '', url: erp_online_store.product_comments_path(product_id: @product.id), html: {class: "comment_form"} do |f| %>
        <div id="comments" class="blog-comment-info">
            <h3 id="review-title">Mời <%= current_user.name %> để lại bình luận </h3>
            <input type="hidden" name="comment[product_id]" value="<%= @product.id %>" />
            <input type="hidden" name="comment[parent_id]" value="" />
            <div class="comment-left contacts-form row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <b>Lời bình luận:</b>
                        <br />
                        <textarea name="comment[message]"
                            class="form-control required"
                            id="btn-radius"
                            placeholder="Nội dung bình luận, xin vui lòng nhập tiếng Việt có dấu."></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="text-left">
                        <button class="btn buttonGray" id="btn-radius" type="submit">
                            <span>Gửi</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% else %>
    <h3 id="review-title">Vui lòng
    <a class="ajax-link text-teal" data-type="ajax" href="<%= erp.new_user_session_path %>">đăng nhập</a>
    để bình luận </h3>
<% end %>
<hr>
<div id="comments">
    <h3 id="review-title">Có <%= comments.count %> bình luận cho sản phẩm này</h3>
    
    <div class="commentlist">
        <% comments.order('created_at DESC').each do |comment| %>
            <div id="comment-181" class="comment even thread-even depth-1 media">
                <div class="author">
                    <a class="pull-left" href="#">
                        <img alt="" src="<%= avatar(comment.user) %>"
                             class="avatar pull-left media-object avatar-64 photo">
                    </a>
                </div>
                <div class="media-body">
                    <div class="media">
                        <div class="media-heading">
                            <div class="author-name">
                                <strong><a href="#"><%= comment.user_name %></a></strong>
                            </div>
                        </div>
                        <div class="media-content row-fluid">
                            <p><%= comment.message %></p>
                            <a onclick="" rel="nofollow" class="right comment-reply-link" href="#reply"
                               aria-label="Reply to <%= comment.user_name %>"><i class="fa fa-reply"></i> Trả lời</a>
                            
                            <% if can? :delete, comment %>
                                <a class="right favor satis remove-comment"
                                    href="<%= erp_online_store.delete_product_comment_path(comment) %>"
                                    data-method="delete"
                                    data-confirm="Bạn muốn xóa bình luận này?">
                                    <i class="fa fa-remove"></i> Xóa
                                </a>
                            <% end %>
                                
                            <time class="right"><%= relative_time(comment.created_at) %></time>
                        </div>
                        <div class="reply-box" style="display: none">
                            <% if user_signed_in? %>
                                <%= form_for '', url: erp_online_store.product_comments_path(product_id: @product.id), html: {class: "comment_form"} do |f| %>
                                    <div id="comments" class="blog-comment-info">
                                        <h3 id="review-title" style="margin-top: 0;">Trả lời bình luận </h3>
                                        <input type="hidden" name="comment[product_id]" value="<%= @product.id %>" />
                                        <input type="hidden" name="comment[parent_id]" value="<%= comment.id %>" />
                                        <div class="comment-left contacts-form row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <textarea name="comment[message]"
                                                        class="form-control required"
                                                        id="btn-radius"
                                                        placeholder="Nội dung bình luận, xin vui lòng nhập tiếng Việt có dấu."></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="text-left">
                                                    <button class="btn buttonGray" id="btn-radius" type="submit">
                                                        <span>Gửi</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% else %>
                                <h4 id="review-title">Vui lòng
                                <a class="ajax-link text-teal" data-type="ajax" href="<%= erp.new_user_session_path %>">đăng nhập</a>
                                để bình luận </h4>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <% if comment.children.where(archived: false).count > 0 %>
                <ul class="children">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <% comment.children.where(archived: false).order('created_at DESC').each do |child_comment| %>
                                        <div id="comment-182" class="comment odd alt depth-2 media">
                                            <div class="author">
                                                <a class="pull-left" href="#">
                                                    <img alt="" src="<%= avatar(child_comment.user) %>"
                                                         class="avatar pull-left media-object avatar-64 photo">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="media">
                                                    <div class="media-heading">
                                                        <div class="author-name">
                                                            <strong><a href="#"><%= child_comment.user_name %></a></strong><span class="label">Quản trị viên</span>
                                                        </div>
                                                    </div>
                                                    <div class="media-content row-fluid">
                                                        <p><%= child_comment.message %></p>
                                                        <% if can? :delete, comment %>
                                                            <a class="right favor satis remove-comment"
                                                                href="<%= erp_online_store.delete_product_comment_path(child_comment) %>"
                                                                data-method="delete"
                                                                data-confirm="Bạn muốn xóa bình luận này?">
                                                                <i class="fa fa-remove"></i> Xóa
                                                            </a>
                                                        <% end %>
                                                        <time class="right"><%= relative_time(child_comment.created_at) %></time>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ul>
            <% end %>
        <% end %>
        <div class="pagination-comments">
            <%= erp_datalist_pagination(comments) %>
        </div>
    </div>
</div>