<h3 class="modtitle">
    <span>
        <i class="fa fa-empire"></i> KHUYẾN MÃI
    </span>
    <%= link_to "Xem toàn bộ", erp_online_store.deal_products_path, class: "view-all-bestseller", title: "Xem toàn bộ" %>
</h3>
<div class="upsell-products">
    <% Erp::Products::Product.limit_deal_products.limit(12).each do |product| %>
    <div class="product-layout">
        <div class="product-item-container">
            <div class="left-block">
                <div class="product-image-container second_img ">
                    <%= image_tag product_image(product.product_images, 'first', 'thumb268'), data: {src: product_image(product.product_images, 'first', 'thumb268')}, alt: product.product_name, class: "img-1 img-responsive" %>
                    <%= image_tag product_image(product.product_images, 'second', 'thumb268'), data: {src: product_image(product.product_images, 'second', 'thumb268')}, alt: product.product_name, class: "img-2 img-responsive" %>
                </div>
                <% if product.is_deal? %>
                <span class="label label-sale">Giảm giá</span>
                <% end %>
                <%= quick_actions(product) %>
                <%= count_down(product.deal_from_date, product.deal_to_date) %>
            </div>
            <div class="right-block">
                <div class="caption">
                    <h4><%= link_to truncate(product.product_name, length: 40), product_link(product), title: product.product_name %></h4>
                    <div class="ratings">
                        <div class="rating-box">
                            <%= raw stars(product.average_stars) %>
                        </div>
                    </div>
                    <div class="price">
                        <% if product.is_sold_out? || product.is_call? || product.product_price.nil? %>
                            <span class="price sold_out_true">Giá liên hệ</span>
                        <% else %>
                            <span class="price-new"><%= format_price(product.product_price) %></span>
                            <% if product.is_deal? %>
                                <br><span class="price-old"><%= format_price(product.price) %></span>
                                <span class="product-percent label label-percent">-<%= product.deal_percent %>%</span>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <!-- right block -->
        </div>
    </div>
    <% end %>
</div>