<% if Erp::Products::Product.get_deal_products.count > 0 %>
<h3 class="modtitle">
    <span>
        <i class="fa fa-empire"></i> KHUYẾN MÃI
    </span>
    <%= link_to "Xem toàn bộ", erp_online_store.deal_products_path, class: "view-all-hotdeals", title: "Xem toàn bộ" %>
</h3>
<div class="upsell-products">
    <% Erp::Products::Product.limit_deal_products.limit(12).each do |deal_product| %>
    <div class="product-layout">
        <div class="product-item-container">
            <div class="left-block">
                <div class="product-image-container second_img ">
                    <%= image_tag "/frontend/image/shop/product/e11.jpg", data: {src: "/frontend/image/shop/product/e11.jpg"}, alt: deal_product.name, class: "img-1 img-responsive" %>
                    <%= image_tag "/frontend/image/shop/product/e12.jpg", data: {src: "/frontend/image/shop/product/e12.jpg"}, alt: deal_product.name, class: "img-2 img-responsive" %>
                </div>
                <% if deal_product.is_deal? %>
                <span class="label label-sale">Giảm giá</span>
                <% end %>
                <div class="countdown_box">
                    <div class="countdown_inner">
                        <div class="defaultCountdown-30"></div>
                    </div>
                </div>
            </div>
            <div class="right-block">
                <div class="caption">
                    <h4><%= link_to deal_product.name, erp_online_store.product_detail_path(product_id: deal_product.id) %></h4>
                    <div class="ratings">
                        <div class="rating-box">
                            <%= raw stars(deal_product.average_stars) %>
                        </div>
                    </div>
                    <div class="price">
                        <span class="price-new"><%= format_price(deal_product.product_price) %></span>                       
                        <br><span class="price-old"><%= format_price(deal_product.price) %></span>
                        <span class="label label-percent">-<%= deal_product.deal_percent %>%</span>
                    </div>
                    <div class="description item-desc hidden">
                        <p><%= deal_product.short_description.html_safe if deal_product.short_description %></p>
                    </div>
                </div>
            </div>
            <!-- right block -->
        </div>
    </div>
    <% end %>
</div>
<% end %>