<div class="row">
    <%= render "erp/online_store/frontend/modules/product/rating_breakdown" %>
    <div class="col-sm-4">
        <div class="text-right">
            <label>Chia sẻ đánh giá về sản phẩm</label> <br />
            <% if user_signed_in? %>
                <% if can? :create, Erp::Products::Rating.new %>
                    <% if @rating.id.present? %>
                        <a class="btn btn-primary" href="#reviews-anchor" id="open-review-box">Xem đánh giá của bạn</a>
                    <% else %>
                        <a class="btn btn-primary" href="#reviews-anchor" id="open-review-box">Tham gia đánh giá ngay</a>
                    <% end %>
                <% else %>
                    <p class="text-warning">Bạn bị mất quyền đánh giá</p>
                <% end %>
            <% else %>
                <a class="btn btn-primary ajax-link" data-type="ajax" href="<%= erp.new_user_session_path %>">Vui lòng đăng nhập để đánh giá</a>
            <% end %>
            <a class="btn btn-danger" href="#" id="close-review-box" style="display:none;">Đóng</a>
        </div>
    </div>
</div>

<% if can? :create, Erp::Products::Rating.new %>
    <% if user_signed_in? %>

        <div id="post-review-box" style="display:none;">
            <hr>
            <% if @rating.id.present? %>
                <h2 id="review-title">Đánh giá của <%= current_user.name %></h2>
            <% else %>
                <h2 id="review-title">Mời <%= current_user.name %> đánh giá sản phẩm</h2>
            <% end %>

            <%= form_for Erp::Products::Rating.new, url: erp_online_store.product_ratings_path(product_id: @product.id), html: { class: 'rating_form' } do |f| %>
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="ratingStar">
                                    <span class="lStar">
                                        <b>
                                            <% if @rating.id.present? %>
                                                Đánh giá của bạn:
                                            <% else %>
                                                Chọn đánh giá của bạn:
                                            <% end %>
                                        </b>
                                    </span>
                                    <div class="stars starrr" data-rating="<%= @rating.star %>"></div>
                                    <span class='your-choice-was' style='display: none;'>
                                        Sản phẩm này <span class='stars choice'> </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input id="ratings-hidden" name="rating[star]" type="hidden">
                                <input type="hidden" name="rating[product_id]" value="<%= @product.id %>" />
                                <input type="hidden" name="rating[id]" value="<%= @rating.id %>" />
                                <textarea class="form-control required" name="rating[content]" id="btn-radius" placeholder="Mời bạn để lại nhận xét về sản phẩm tại đây..."><%= @rating.content %></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="buttons clearfix">
                                <button class="btn buttonGray" id="btn-radius" type="submit">
                                    <span>Gửi Đánh Giá</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>

<% if ratings.count > 0 %>
<div class="row">
    <div class="col-sm-12">
        <hr/>
        <div class="review-block">
            <% ratings.each_with_index do |rating,index| %>
                <div class="row">
                    <div class="col-sm-4 review-block-author">
                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                        <div class="author">
                            <div class="review-block-name"><a href="#"><%= rating.user_name %></a></div>
                            <div class="review-block-date">đến từ Hồ Chí Minh<br/><%= relative_time(rating.created_at) %></div>
                        </div>
                    </div>
                    <div class="col-sm-8 border-left">
                        <div class="review-block-rate">
                            <%= stars(rating.star) %>
                            <% if can? :delete, rating %>
                            <span class="full-right">
                                <a class="favor satis remove-comment"
                                    href="<%= erp_online_store.delete_product_rating_path(rating) %>"
                                    data-method="delete"
                                    title="Xóa đánh giá"
                                    data-confirm="Bạn muốn xóa đánh giá này?">
                                    <i class="fa fa-trash-o"></i> Xóa đánh giá
                                </a>
                            </span>
                            <% end %>
                        </div>
                        <div class="review-block-title"></div>
                        <div class="review-block-description"><%= rating.display_content %></div>
                    </div>
                </div>
                <%= (index+1 == ratings.count) ? '' : '<hr/>'.html_safe %>
            <% end %>

        </div>

    </div>
    <div class="pagination-comments">
            <%= erp_datalist_pagination(ratings) %>
        </div>
</div>
<% end %>

<%= javascript_include_tag '/frontend/rating-custom/star-rating.js' %>
