<% if @product.ratings_active.count > 0 %>
    <div class="col-sm-4">
        <div class="rating-block text-center">
            <h4 class="no-margin-top">Đánh giá trung bình</h4>
            <h1 class="bold"><%= @product.average_stars %> / 5</h1>
            <div class="rating">
                <%= stars(@product.average_stars) %>
            </div>
            <a href="#">(<%= @product.ratings_active.count %> đánh giá)</a>
        </div>
    </div>
    <div class="col-sm-4 breakdown">
        <h4 class="no-margin-top">Phân loại xếp hạng</h4>
        <div class="pull-left">
            <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">5 <span class="fa fa-star"></span></div>
            </div>
            <div class="pull-left" style="width:175px;">
                <div class="progress" style="height:9px; margin:8px 0;">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5"
                       aria-valuemin="0" aria-valuemax="5" style="width: <%= @product.percentage_stars(5) %>%">
                  </div>
                </div>
            </div>
            <div class="pull-right" style="margin-left:10px;"><%= @product.percentage_stars(5) %>%</div>
        </div>
        <div class="pull-left">
            <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">4 <span class="fa fa-star"></span></div>
            </div>
            <div class="pull-left" style="width:175px;">
                <div class="progress" style="height:9px; margin:8px 0;">
                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4"
                       aria-valuemin="0" aria-valuemax="5" style="width: <%= @product.percentage_stars(4) %>%">
                  </div>
                </div>
            </div>
            <div class="pull-right" style="margin-left:10px;"><%= @product.percentage_stars(4) %>%</div>
        </div>
        <div class="pull-left">
            <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">3 <span class="fa fa-star"></span></div>
            </div>
            <div class="pull-left" style="width:175px;">
                <div class="progress" style="height:9px; margin:8px 0;">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3"
                       aria-valuemin="0" aria-valuemax="5" style="width: <%= @product.percentage_stars(3) %>%">
                  </div>
                </div>
            </div>
            <div class="pull-right" style="margin-left:10px;"><%= @product.percentage_stars(3) %>%</div>
        </div>
        <div class="pull-left">
            <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">2 <span class="fa fa-star"></span></div>
            </div>
            <div class="pull-left" style="width:175px;">
                <div class="progress" style="height:9px; margin:8px 0;">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2"
                       aria-valuemin="0" aria-valuemax="5" style="width: <%= @product.percentage_stars(2) %>%">
                  </div>
                </div>
            </div>
            <div class="pull-right" style="margin-left:10px;"><%= @product.percentage_stars(2) %>%</div>
        </div>
        <div class="pull-left">
            <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">1 <span class="fa fa-star"></span></div>
            </div>
            <div class="pull-left" style="width:175px;">
                <div class="progress" style="height:9px; margin:8px 0;">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1"
                       aria-valuemin="0" aria-valuemax="5" style="width: <%= @product.percentage_stars(1) %>%">
                  </div>
                </div>
            </div>
            <div class="pull-right" style="margin-left:10px;"><%= @product.percentage_stars(1) %>%</div>
        </div>
    </div>
<% else %>
    <div class="col-sm-8">
        <div class="not-yet-rating text-left">
            <h4>Chưa có đánh giá cho sản phẩm này</h4>
        </div>
    </div>
<% end %>