<div class="specs-content">
    <% if !product.category.nil? %>
    <% if product.specs.present? %><%= product.specs.html_safe if product.specs.present? %>
    <% else %><table width="100%" class="table-tab-specs specs-content">
        <tbody><% product.product_values_array.each do |group| %>
            <tr class="property-group-name"><% if group[:group].get_show_name.present? %>
                <td colspan="2"><h2><%= group[:group].get_show_name %></h2></td>
            <% else %><td colspan="2"><h2><%= group[:group].name %></h2></td><% end %>
            </tr><% group[:properties].each do |property| %>
            <% if property[:property].is_short_description == true %>
            <tr class="property-value highlight-specs-main">
                <td style="width: 30%;vertical-align: middle;"><%= property[:property].name %></td>
                <td style="vertical-align: middle;"><%= property[:values].count <= 4 ? property[:values].join(", ") : ('<ul><li>' + property[:values].join('</li><li>') + '</li></ul>').html_safe %></td>
            </tr><% else %>
            <tr class="property-value">
                <td style="width: 30%;vertical-align: middle;"><%= property[:property].name %></td>
                <td style="vertical-align: middle;"><%= property[:values].count <= 4 ? property[:values].join(", ") : ('<ul><li>' + property[:values].join('</li><li>') + '</li></ul>').html_safe %></td>
            </tr><% end %><% end %><% end %>
        </tbody>
    </table><% end %><% end %>
</div>