<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab-specs">Thông tin sản phẩm</a></li>
    <li class="item_nonactive"><a id="a-tab-review" data-toggle="tab" href="#tab-review">Đánh giá (<%= product.ratings_active.count %>)</a></li>
    <li class="item_nonactive"><a data-toggle="tab" href="#tab-comment">Bình luận (<%= @total_comments %>)</a></li>
</ul>
<div class="tab-content col-xs-12">
    <div id="tab-specs" class="tab-pane fade active in">
         <%= render "erp/online_store/frontend/modules/product/specification", product: product %>
    </div>
    <div id="tab-review" class="tab-pane fade comment_box"
         data-url="<%= erp_online_store.product_ratings_path(product_id: product.id) %>">
    </div>
    <div id="tab-comment" class="tab-pane fade comment_box"
         data-url="<%= erp_online_store.product_comments_path(product_id: product.id) %>">
    </div>
</div>