<div class="vc_row wpb_row vc_row-fluid wpisset-product-loop-grid-big wpisset-woo-enable-loop-desc wpisset-ele-es-animate-fadein vc_custom_1612943782715">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class=" wpisset_ele_es_header3 wpisset-ele-es-header3-variant2 wpisset_ele_es_header3-1466549668 vc_custom_1610096811046" >
                    <h2 class="wpisset-ele-es-header3-title"><%= link_to title, url, title: 'Sản phẩm Apple chính hãng' %></h2>
                    <div class="wpisset-ele-es-header3-nav">
                        <%= link_to 'Mac', '', title: 'Sản phẩm Apple Mac chính hãng' %>
                        <%= link_to 'iPad', '', title: 'Sản phẩm Apple iPad chính hãng' %>
                        <%= link_to 'iPhone', '', title: 'Sản phẩm Apple iPhone chính hãng' %>
                        <%= link_to 'Watch', '', title: 'Sản phẩm Apple Watch chính hãng' %>
                        <%= link_to 'AirPods', '', title: 'Sản phẩm Apple AirPods chính hãng' %>
                        <%= link_to 'TV & Home', '', title: 'Sản phẩm Apple TV & Home chính hãng' %>
                        <%= link_to 'Phụ kiện', '', title: 'Phụ kiện Apple chính hãng' %>
                    </div>
                </div>
                <div class="thcn columns-3 "><ul class="products columns-3"><%= render 'frontend/home/category/list', data: brand %></ul></div>
            </div>
        </div>
    </div>
</div>