<div class="vc_row wpb_row vc_row-fluid wpisset-product-loop-grid-big wpisset-woo-enable-loop-desc wpisset-ele-es-animate-fadein vc_custom_1612943782715">
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div class=" wpisset_ele_es_header3 wpisset-ele-es-header3-variant2 wpisset_ele_es_header3-1466549668 vc_custom_1610096811046" >
					<h2 class="wpisset-ele-es-header3-title"><%= link_to title, url, title: 'Camera quan sát chính hãng' %></h2>
					<div class="wpisset-ele-es-header3-nav">
						<%= link_to 'Dahua', '', title: 'Camera quan sát dahua chính hãng' %>
						<%= link_to 'HIKVision', '', title: 'Camera quan sát hikvision chính hãng' %>
						<%= link_to 'KBVision', '', title: 'Camera quan sát kbvision chính hãng' %>
						<%= link_to 'Ezviz', '', title: 'Camera quan sát ezviz chính hãng' %>
						<%= link_to 'Vantech', '', title: 'Camera quan sát vantech chính hãng' %>
						<%= link_to 'Imou', '', title: 'Camera quan sát imou chính hãng' %>
						<%= link_to 'Camera IP', '', title: 'Camera ip chính hãng' %>
						<%= link_to 'Camera Analog', '', title: 'Camera analog chính hãng' %>
					</div>
				</div>
				<div class="thcn columns-3 "><ul class="products columns-3"><%= render 'frontend/home/category/list', data: category %></ul></div>
			</div>
		</div>
	</div>
</div>