<div class="vc_row wpb_row vc_row-fluid wpisset-product-loop-grid-big wpisset-woo-enable-loop-desc wpisset-ele-es-animate-fadein vc_custom_1612943782715">
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div class=" wpisset_ele_es_header3 wpisset-ele-es-header3-variant2 wpisset_ele_es_header3-1466549668 vc_custom_1610096811046" >
					<h2 class="wpisset-ele-es-header3-title"><%= link_to title, url, title: 'Máy chủ server chính hãng' %></h2>
					<div class="wpisset-ele-es-header3-nav">
						<%= link_to 'Server HP', '', title: 'Máy chủ server chính hãng HP' %>
						<%= link_to 'Server Dell', '', title: 'Máy chủ server chính hãng Dell' %>
						<%= link_to 'Server Lenovo', '', title: 'Máy chủ server chính hãng Lenovo' %>
						<%= link_to 'Server Supermicro', '', title: 'Máy chủ server chính hãng Supermicro' %>
						<%= link_to 'Server Fujitsu', '', title: 'Máy chủ server chính hãng Fujitsu' %>
						<%= link_to 'Linh Kiện', '', title: 'Linh kiện máy chủ server chính hãng' %>
						<%= link_to 'Phụ Kiện', '', title: 'Phụ kiện máy chủ server chính hãng' %>
					</div>
				</div>
				<div class="thcn columns-3 "><ul class="products columns-3"><%= render 'frontend/home/category/list', data: category %></ul>
				</div>
			</div>
		</div>
	</div>
</div>