<li class="nav-item <%= "active open" if ["erp/areas/backend/states",
                                          "erp/areas/backend/countries"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-globe"></i>
        <span class="title">Quản lý khu vực</span>
        <% if ["erp/areas/backend/states",
               "erp/areas/backend/countries"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active open" if ["erp/areas/backend/states"].include?(params[:controller]) %>">
            <a href="<%= erp_areas.backend_states_path %>" class="nav-link ">
                <span class="title">Tất cả khu vực</span>
                <% if ["erp/areas/backend/states"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/areas/backend/countries"].include?(params[:controller]) %>">
            <a href="<%= erp_areas.backend_countries_path %>" class="nav-link ">
                <span class="title">Danh sách quốc gia</span>
                <% if ["erp/areas/backend/countries"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
    </ul>
</li>