<li class="nav-item <%= "active open" if ["erp/products/backend/comments",
                                          "erp/products/backend/ratings",
                                          "erp/articles/backend/comments"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-commenting-o"></i>
        <span class="title">Bình luận - Đánh giá</span>
        <% if ["erp/products/backend/comments",
               "erp/products/backend/ratings",
               "erp/articles/backend/comments"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active open" if ["erp/products/backend/comments"].include?(params[:controller]) %>">
            <a href="<%= erp_products.backend_comments_path %>" class="nav-link ">
                <span class="title">Bình luận sản phẩm</span>
                <% if ["erp/products/backend/comments"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/products/backend/ratings"].include?(params[:controller]) %>">
            <a href="<%= erp_products.backend_ratings_path %>" class="nav-link ">
                <span class="title">Đánh giá sản phẩm</span>
                <% if ["erp/products/backend/ratings"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/articles/backend/comments"].include?(params[:controller]) %>">
            <a href="<%= erp_articles.backend_comments_path %>" class="nav-link ">
                <span class="title">Bình luận bài viết</span>
                <% if ["erp/articles/backend/comments"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
    </ul>
</li>