<li class="nav-item <%= "active open" if ["erp/products/backend/events",
                                          "erp/products/backend/inventory_products",
                                          "erp/products/backend/inventory_categories"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-line-chart"></i>
        <span class="title">Sự kiện - Xả kho</span>
        <% if ["erp/products/backend/events",
               "erp/products/backend/inventory_products",
               "erp/products/backend/inventory_categories"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active open" if ["erp/products/backend/events"].include?(params[:controller]) %>">
            <a href="<%= erp_products.backend_events_path %>" class="nav-link ">
                <span class="title">Quản lý sự kiện</span>
                <% if ["erp/products/backend/events"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/products/backend/inventory_products"].include?(params[:controller]) %>">
            <a href="<%= erp_products.backend_inventory_products_path %>" class="nav-link ">
                <span class="title">Sản phẩm xả kho</span>
                <% if ["erp/products/backend/inventory_products"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/products/backend/inventory_categories"].include?(params[:controller]) %>">
            <a href="<%= erp_products.backend_inventory_categories_path %>" class="nav-link ">
                <span class="title">Chuyên mục xả kho</span>
                <% if ["erp/products/backend/inventory_categories"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
    </ul>
</li>