<li class="nav-item <%= "active open" if ["erp/newsletters/backend/newsletters",
                                          "erp/testimonials/backend/testimonials"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon icon-envelope-letter"></i>
        <span class="title">Newsletter - Tes</span>
        <% if ["erp/newsletters/backend/newsletters",
               "erp/testimonials/backend/testimonials"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active open" if ["erp/newsletters/backend/newsletters"].include?(params[:controller]) %>">
            <a href="<%= erp_newsletters.backend_newsletters_path %>" class="nav-link ">
                <span class="title">Newsletter</span>
                <% if ["erp/newsletters/backend/newsletters"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/testimonials/backend/testimonials"].include?(params[:controller]) %>">
            <a href="<%= erp_testimonials.backend_testimonials_path %>" class="nav-link ">
                <span class="title">Testimonial</span>
                <% if ["erp/testimonials/backend/testimonials"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
    </ul>
</li>