<li class="nav-item <%= "active open" if ["erp/orders/backend/frontend_orders",
                                          "erp/quick_orders/backend/orders"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-shopping-cart"></i>
        <span class="title">Đơn đặt hàng</span>
        <% if ["erp/orders/backend/frontend_orders",
               "erp/quick_orders/backend/orders"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active open" if ["erp/orders/backend/frontend_orders"].include?(params[:controller]) %>">
            <a href="<%= erp_orders.backend_frontend_orders_path %>" class="nav-link ">
                <span class="title">Danh sách đặt hàng</span>
                <% if ["erp/orders/backend/frontend_orders"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/quick_orders/backend/orders"].include?(params[:controller]) %>">
            <a href="<%= erp_quick_orders.backend_orders_path %>" class="nav-link ">
                <span class="title">Đơn đặt hàng nhanh</span>
                <% if ["erp/quick_orders/backend/orders"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
    </ul>
</li>