<% if Erp::Products::Product.get_bestseller_products.count > 0 %>
<div class="moduletable module best-seller phone-best-seller">
    <h3 class="modtitle">
        <span><i class="fa fa-line-chart"></i> BÁN CHẠY</span>
    </h3>
    <div class="so-extraslider">
        <div class="extraslider-inner best-seller-slider">
            <div class="item ">
            <% count = 12 %>
            <% Erp::Products::Product.get_bestseller_products.limit(12).each_with_index do |product,index| %>
                <div class="item-wrap style1">
                    <div class="item-wrap-inner media">
                        <div class="media-left">
                            <div class="item-image">
                                <div class="item-img-info">
                                    <h3><a href="<%= product_link(product) %>" class="lt-image" target="_self" title="<%= product.get_long_name %>">
                                        <%= image_tag product_image(product.product_images, 'first', 'thumb75'), alt: product.get_long_name, title: product.get_long_name, class: "img-responsive" %>
                                    </a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="item-info">
                                <div class="item-title">
                                    <%= link_to truncate(product.get_short_name, length: 40),
                                        product_link(product), title: product.get_long_name %>
                                </div>
                                <div class="item-content">
                                    <div class="content_price">
                                        <% if product.is_sold_out? || product.is_call? || product.product_price.nil? %>
                                            <span class="price sold_out_true">Liên hệ báo giá</span>
                                        <% else %>
                                            <span class="price product-price"><%= format_price(product.product_price) %></span>
                                            <% if product.is_deal? %>                        
                                                <br><span class="price-old-price"><%= format_price(product.price) %></span>
                                                <span class="product-percent">-<%= product.deal_percent %>%</span>
                                            <% end %>
                                         <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%= '</div><div class="item ">'.html_safe if index%3 == 2 && index+1 != count %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>