<% title 'Dịch Vụ Sửa Chữa - Bảo Trì' %>

<% content_for :metas do %>
    <!-- for Facebook -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Dịch Vụ Sửa Chữa - Bảo Trì"/>
    <meta property="og:description" content="Tìm Hàng Công Nghệ là trang thương mại điện tử uy tín chuyên cung cấp đa dạng các sản phẩm, thiết bị công nghệ từ các hãng lớn thế giới."/>
    <meta property="og:image" content="http://timhangcongnghe.com/frontend/image/thcn-web-share.png"/>
<% end %>

<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Dịch Vụ Sửa Chữa - Bảo Trì", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <div id="content" class="col-md-12 col-sm-12">            
            <div class="products-category">
                <h1 class="menu-title">Dịch Vụ Sửa Chữa - Bảo Trì</h1>
                <div class="category-derc form-group">
                    <%= render "erp/online_store/frontend/modules/services/intro" %>
                </div>
                <div class="divider"></div>
                <%= render "erp/online_store/frontend/modules/services/about_services" %>
                <div class="row">
                    <div class="col-md-12">
                        <%= render "erp/online_store/frontend/modules/services/computer_repairs" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <%= render "erp/online_store/frontend/modules/services/printer_repairs" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <%= render "erp/online_store/frontend/modules/services/toner_refill" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <%= render "erp/online_store/frontend/modules/services/network_construction" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <%= render "erp/online_store/frontend/modules/services/emergency_data" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <%= render "erp/online_store/frontend/modules/services/computer_maintenance" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <%= render "erp/online_store/frontend/modules/services/security_extended" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <%= render "erp/online_store/frontend/modules/services/note_warning" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Middle Part End-->
</div>
<!-- //Main Container -->