<div class="module so-deals">
    <h3 class="modtitle">
        <span>
            <i class="fa fa-empire"></i> Khuyến Mãi
        </span>
        <%= link_to "Xem toàn bộ", erp_online_store.deal_products_path, class: "view-all-hotdeals", title: "Xem toàn bộ" %>
    </h3>
    <div class="modcontent">
        <div class="so-deal modcontent products-list grid clearfixbutton-type1 style2">
            <div class="extraslider-inner product-layout deal-slider">
                <% @hot_deals.each do |hot_deal| %>
                <div class="product-thumb transition product-item-container">
                    <div class="left-block">
                        <div class="product-image-container">
                            <div class="image">
                                <% if hot_deal.is_new? %>
                                <span class="label label-new">Mới</span>
                                <% end %>
                                <span class="label label-sale">Giảm giá</span>
                                <a class="lt-image" href="<%= product_link(hot_deal) %>" target="_self">
                                    <%= image_tag "/frontend/image/shop/product/170/e13.jpg", alt: hot_deal.name, title: hot_deal.name, class: "img-1 img-responsive" %>
                                    <%= image_tag "/frontend/image/shop/product/170/e14.jpg", alt: hot_deal.name, title: hot_deal.name, class: "img-2 img-responsive" %>
                                </a>
                                <%= count_down(hot_deal.deal_from_date, hot_deal.deal_to_date) %>
                            </div>
                        </div>
                    </div>
                    <div class="right-block">
                        <div class="caption">
                            <div class="rating">
                                <%= raw stars(hot_deal.average_stars) %>
                            </div>
                            <h4><%= link_to hot_deal.name, product_link(hot_deal), title: hot_deal.name %></h4>
                            <p class="price">
                                <span class="price-new"><%= format_price(hot_deal.product_price) %>
                                <% if hot_deal.is_deal %>                        
                                    <br><span class="price-old"><%= format_price(hot_deal.price) %></span>
                                    <span class="label label-percent">-<%= hot_deal.deal_percent %>%</span>
                                <% end %>
                            </p>
                        </div>
                    </div>
                    <!-- End right block -->
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <!--/.modcontent-->
</div>