<div class="module slideshow no-margin">
    <div class="item">
        <%= link_to image_tag("/frontend/image/slider/sl14/osb2.png", alt: "slider1", class: "img-responsive"), "" %>
    </div>
    <div class="item" data-animate="bounceIn animated">
        <%= link_to image_tag("/frontend/image/slider/sl14/osb3b.png", alt: "slider2", class: "img-responsive"), "" %>
    </div>
    <div class="item" data-animate="fadeIn animated">
        <%= link_to image_tag("/frontend/image/slider/sl14/osb1.png", alt: "slider3", class: "img-responsive"), "" %>
    </div>
    <div class="item" data-animate="flipInX animated">
        <%= link_to image_tag("/frontend/image/slider/sl14/osb4.png", alt: "slider4", class: "img-responsive"), "" %>
    </div>
    <div class="item" data-animate="fadeIn animated">
        <%= link_to image_tag("/frontend/image/slider/sl14/osb5.png", alt: "slider3", class: "img-responsive"), "" %>
    </div>
</div>
<div class="loadeding"></div>
