<div class="row">
    <% if current_user.contact.present? %>
        <div class="col-sm-12">
            <div class="panel panel-default no-padding">
                <div class="col-sm-12 checkout-shipping-methods">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-user"></i> Thông tin người mua hàng</h4>
                    </div>
                    <% if current_user.contact.present? %>
                        <div class="col-sm-12">
                            <div class="address-item is-main">
                                <p class="name"><%= current_user.contact.name %></p>
                                <span class="default">Thông tin mặc định</span>
                                <p class="address">Địa chỉ: <%= current_user.contact.address %></p>
                                <p class="phone">Điện thoại: <%= current_user.contact.phone %></p>
                                <button type="button" class="btn btn-default btn-custom"><i class="fa fa-edit"></i> Thay đổi thông tin người mua</button>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default no-padding">
                <div class="col-sm-12 checkout-shipping-methods">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-truck"></i> Địa chỉ giao/nhận hàng</h4>
                    </div>
                    <% if current_user.contact.present? %>
                        <div class="col-sm-12">
                            <div class="address-item is-main">
                                <p class="name"><%= @selected_contact.name %></p>
                                <% if current_user.contact == @selected_contact %>
                                <span class="default">Thông tin mặc định</span>
                                <% end %>
                                <p class="address">Địa chỉ: <%= @selected_contact.address %></p>
                                <p class="phone">Điện thoại: <%= @selected_contact.phone %></p>
                            </div>
                        </div>
                    <% end %>
                </div>
    
                <div class="col-sm-12 checkout-shipping-methods">
                    <div class="col-sm-12">
                        <p class="other">Bạn muốn giao hàng đến địa chỉ khác?
                        <% if current_user.contact.contacts.count > 0 %>
                            <a href="#contact-select" onclick="$('.contacts-create').hide();$('.contacts-select').toggle()">Chọn trong sổ địa chỉ</a> hoặc
                        <% end %>
                            <a href="#contact-create" onclick="$('.contacts-select').hide();$('.contacts-create').toggle()">Tạo địa chỉ giao hàng mới</a></p>
    
                        <% if current_user.contact.contacts.count > 0 %>
                            <div class="contacts-option contacts-select" style="display: none">
                                <hr>
                                <p class="note"><i>*</i> Chọn địa chỉ giao hàng từ danh sách dưới đây:</p>
                                <div class="row address-book">
                                    <div class="col-sm-6">
                                        <div class="address-item is-default">
                                            <p class="name"><%= current_user.contact.name %></p>
                                            <span class="default">Địa chỉ mặc định</span>
                                            <p class="address">Địa chỉ: <%= current_user.contact.address %></p>
                                            <p class="phone">Điện thoại: <%= current_user.contact.phone %></p>
                                            <p class="action">
                                                <%= link_to 'Giao đến địa chỉ này', erp_online_store.checkout_path(selected_contact_id: current_user.contact.id),
                                                                class: "btn btn-default btn-custom is-blue" %>
                                                <button type="button" class="btn btn-default btn-custom"><i class="fa fa-edit"></i></button>
                                            </p>
                                        </div>
                                    </div>
                                    <% current_user.contact.contacts.order('created_at ASC').each do |contact| %>
                                        <div class="col-sm-6">
                                            <div class="address-item">
                                                <p class="name"><%= contact.name %></p>
                                                <p class="address">Địa chỉ: <%= contact.address %></p>
                                                <p class="phone">Điện thoại: <%= contact.phone %></p>
                                                <p class="action">
                                                    <%= link_to 'Giao đến địa chỉ này', erp_online_store.checkout_path(selected_contact_id: contact.id),
                                                                class: "btn btn-default btn-custom is-black" %>
                                                    <button type="button" class="btn btn-default btn-custom"><i class="fa fa-edit"></i></button>
                                                    <button type="button" class="btn btn-default btn-custom"><i class="fa fa-trash"></i></button>
                                                </p>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
    
                        <div class="contacts-option contacts-create contacts-create-hide">
                            <hr>
                            <p class="title">Tạo mới địa chỉ giao hàng</p>
                            <fieldset id="address-form" class="required">
                                <%= form_for '', url: erp_online_store.add_main_contact_path, html: {class: "contact_form"} do |f| %>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group required">
                                                <label for="input-payment-company" class="control-label">Họ tên</label>
                                                <input type="text" class="form-control required"
                                                       placeholder="Nhập họ tên người nhận" name="contact[name]">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group required">
                                                <label for="input-payment-company" class="control-label">Điện thoại di động</label>
                                                <input type="text" class="form-control required"
                                                       placeholder="Nhập số điện thoại" name="contact[phone]">
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="input-payment-country" class="control-label">Tỉnh/Thành phố</label>
                                                <div>
                                                    <select class="form-control select ajax-content-control"
                                                        name="contact[state_id]"
                                                        data-content-selector="#payment-district-2"
                                                        data-url="<%= erp_online_store.district_select_path %>"
                                                    >
                                                        <option value=""> --- Chọn tỉnh/thành phố --- </option>
                                                        <% Erp::Areas::State.get_all.each do |state| %>
                                                            <option value="<%= state.id %>"><%= state.name %></option>
                                                        <% end %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="input-payment-zone" class="control-label">Quận/Huyện/Thị xã</label>
                                                <div id="payment-district-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group required">
                                                <label class="control-label">Địa chỉ</label>
                                                <input type="text" class="form-control required"
                                                       placeholder="Số nhà, đường, thôn, ấp" name="contact[address]">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                            <button class="btn buttonGray" id="btn-radius" type="submit">
                                                <span>Cập nhật</span>
                                            </button>
                                        </div>
                                    </div>
                                <% end %>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <% else %>
        <div class="col-sm-12">
            <div class="panel panel-default no-padding">
                <div class="col-sm-12 checkout-shipping-methods">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-truck"></i> Thông tin đặt hàng - giao nhận</h4>
                    </div>
                    <div class="col-sm-12">
                        <p class="title">Cập nhật thông tin liên hệ của bạn</p>
                        <fieldset id="address-form" class="required">
                            <%= form_for '', url: erp_online_store.add_main_contact_path, html: {class: "contact_form"} do |f| %>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group required">
                                            <label class="control-label">Họ tên</label>
                                            <input type="text" class="form-control required"
                                                   placeholder="Nhập họ tên người nhận" name="contact[name]">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group required">
                                            <label class="control-label">Tỉnh/Thành phố</label>
                                            <div>
                                                <select
                                                    class="form-control select ajax-content-control" name="contact[state_id]"
                                                    data-content-selector="#payment-district"
                                                    data-url="<%= erp_online_store.district_select_path %>"
                                                >
                                                        <option value=""> --- Chọn tỉnh/thành phố --- </option>
                                                        <% Erp::Areas::State.get_all.each do |state| %>
                                                            <option value="<%= state.id %>"><%= state.name %></option>
                                                        <% end %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group required">
                                            <label class="control-label">Điện thoại di động</label>
                                            <input type="text" class="form-control required"
                                                   placeholder="Nhập số điện thoại" name="contact[phone]">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group required">
                                            <label class="control-label">Quận/Huyện/Thị xã</label>
                                            <div class="" id="payment-district">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group required">
                                            <label class="control-label">Địa chỉ email</label>
                                            <input type="text" class="form-control required"
                                                   placeholder="Vui lòng cung cấp email của bạn"name="contact[email]">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group required">
                                            <label class="control-label">Địa chỉ</label>
                                            <input type="text" class="form-control required"
                                                   placeholder="Số nhà - đường, xã/phường/thị trấn"name="contact[address]">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn buttonGray" id="btn-radius" type="submit">
                                            <span>Cập nhật</span>
                                        </button>
                                    </div>
                                </div>
                            <% end %>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
