<%= form_for '', url: erp_online_store.checkout_path, html: {class: 'checkout_form'} do |f| %>
    <div class="panel panel-default fee">
        <div class="order">
            <span class="title">Đơn Đặt Hàng</span>
            <span class="title"> (<%= @cart.cart_items.number_items %> sản phẩm)</span>
            <%= link_to 'Sửa', erp_online_store.shopping_cart_path, class: "btn btn-default btn-custom1" %>
        </div>
            <div class="cart-item">
            <% @cart.cart_items.each do |cart_item| %>
                <div class="row item">
                    <div class="col-sm-8">
                        <% if cart_item.product.gifts.count > 0 %>
                            <span class="tooltip-col">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                                <small class="tooltiptext">
                                    <em>Tặng kèm:</em>
                                    <% gift_names = [] %>
                                    <% cart_item.product.gifts.each do |gift| %>
                                        <% gift_names << gift.product_name.to_s %>
                                    <% end %>
                                    <%= gift_names.join(', ') %>
                                </small>
                            </span>
                        <% end %>
                        <b><%= cart_item.quantity %> x </b>
                        <%= link_to cart_item.product_name, product_link(cart_item.product), title: cart_item.product_name, target: "_blank" %>
                    </div>
                    <div class="col-sm-4 text-right"><span class="price"><%= format_price(cart_item.total_price) %></span></div>
                </div>
            <% end %>
            </div>
        <hr>
        <p class="list-info-price"><b>Tạm tính:</b> <span class="price"><%= format_price(@cart.total_order) %></span></p>
        <p class="list-info-price">
            <b>Phí vận chuyển:</b>
            <span>
                <a href="/thong-tin/3/chinh-sach-van-chuyen-giao-nhan.html" target="_blank" title="Chính sách vận chuyển, giao nhận">
                    <span class="fa fa-question-circle"></span>
                </a>
            </span>
        </p>
        <p class="total2">Tổng thành tiền: <span class="price"><%= format_price(@cart.total_order) %></span></p>
        <p class="text-right">
            <i>(Đã bao gồm VAT)</i>
        </p>
    </div>
    <% if !@selected_contact.nil? %>
    <input type="hidden" name="order[consignee_id]" value="<%= @selected_contact.id %>" />
    <% end %>
    
    <div class="panel panel-default confirm">
        <textarea placeholder="Nhập ghi chú cho đơn hàng" rows="2" class="form-control" id="confirm_comment" name="order[note]"></textarea>
        <label class="control-label">
            <span>
                * Lưu ý:
            </span>
            <p class="note">
                - Kiểm tra kỹ đơn hàng trước khi xác nhận đặt hàng.<br />
                - Bằng cách nhấp vào Đặt hàng, bạn đồng ý và rằng bạn đã đọc
                <%= link_to 'Các điều khoản & điều kiện'.html_safe, erp_online_store.terms_and_conditions_path, target: "_blank" %>
                của chúng tôi.
            </p>
        </label>
        
    </div>
    <% if current_user.contact.present? %>
    <button type="submit" class="btn btn-large btn-block btn-default btn-checkout">ĐẶT HÀNG</button>
    <% end %>
<% end %>