<% title "Về Chúng Tôi" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Về Chúng Tôi", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="about-us about-demo-1">
                <div class="row">
                    <div class="col-lg-7 col-md-7 about-info">
                        <h2 class="about-title"><span>VỀ CHÚNG TÔI - TÌM HÀNG CÔNG NGHỆ</span></h2>
                        <div class="about-text text-justify">
                            <p>
                                <strong>TIMHANGCONGNGHE.COM</strong> là trang Thương mại Điện tử của Công Ty TNHH Giải Pháp Công Nghệ Thông Tin Và Truyền Thông Hoàng Khang (viết tắt: Hoang Khang Incotech).
                                Được Hoang Khang Incotech trực tiếp phát triển và vận hành. Với 10 năm kinh nghiệm hoạt động trong lĩnh vực kinh doanh các mặt hàng công nghệ.
                                Tất cả các sản phẩm trên TimHangCongNghe.Com đều được <strong>phân phối chính hãng</strong> từ các đối tác của Hoang Khang Incotech như HP, Dell, Lenovo,...
                                và được áp dụng các chính sách ưu đãi, chăm sóc, hậu mãi từ hãng sản xuất và Hoang Khang Incotech.
                            </p>
                            <p>
                                Không còn phải lo kẹt xe, đông đúc và xếp hàng dài chờ đợi! Giờ đây, bạn có thể mua sắm bất cứ khi nào, ở bất cứ nơi
                                đâu bạn muốn chỉ cần thông qua máy tính hay điện thoại di động của mình. Với dịch vụ giao hàng tận nơi, cùng với đội
                                ngũ KTV (tư vấn, thi công, bảo trì, bảo hành) chuyên nghiệp, bạn chỉ cần ngồi thư giãn tại nhà, sản phẩm sẽ được nhanh
                                chóng chuyển đến tận tay và lắp đặt cho Quý vị.
                            </p>
                            <p>
                                Khách hàng đã có thể yên tâm mua sắm tại Tìm Hàng Công Nghệ, bởi Tìm Hàng Công Nghệ có tất cả những gì bạn cần,
                                và phục vụ theo đúng tất cả những gì mà bạn mong đợi.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 about-image">
                        <%= image_tag "/frontend/image/logos/logo-timhangcongnghe-web.svg", alt: "Giới thiệu về chúng tôi - Tìm Hàng Công Nghệ", class: "logo-about-us" %>
                        <div class="about-text text-justify">
                            <p>Ngoài cung cấp các
                                <%= link_to "Sản Phẩm HP", "/chuyen-muc/1/san-pham-hp.html", class: "text-services", target: "_blank" %>,
                                <%= link_to "Máy Vi Tính", "/chuyen-muc/42/may-vi-tinh.html", class: "text-services", target: "_blank" %>,
                                <%= link_to "Màn Hình Máy Tính", "/chuyen-muc/68/man-hinh-may-tinh.html", class: "text-services", target: "_blank" %>,
                                <%= link_to "Linh Kiện - Phụ Kiện", "/chuyen-muc/67/linh-kien-phu-kien.html", class: "text-services", target: "_blank" %>,
                                thiết bị <%= link_to "Kỹ Thuật Số - Viễn Thông", "/chuyen-muc/149/ky-thuat-so-vien-thong.html", class: "text-services", target: "_blank" %>,
                                <%= link_to "Sản Phẩm Văn Phòng", "/chuyen-muc/106/san-pham-van-phong.html", class: "text-services", target: "_blank" %>,
                                <%= link_to "Thiết Bị Mạng", "/chuyen-muc/107/thiet-bi-mang.html", class: "text-services", target: "_blank" %>,
                                <%= link_to "Thiết Bị Viễn Thông", "/chuyen-muc/108/thiet-bi-vien-thong.html", class: "text-services", target: "_blank" %>,
                                <%= link_to "Thiết Bị An Ninh", "/chuyen-muc/109/thiet-bi-an-ninh.html", class: "text-services", target: "_blank" %> chính hãng từ các hãng như:
                                <%= link_to "HP", "/thuong-hieu-san-pham/5/hp.html", class: "text-brands", target: "_blank" %>,
                                <%= link_to "DELL", "/thuong-hieu-san-pham/3/dell.html", class: "text-brands", target: "_blank" %>,
                                <%= link_to "LENOVO", "/thuong-hieu-san-pham/2/lenovo.html", class: "text-brands", target: "_blank" %>,
                                <%= link_to "ASUS", "/thuong-hieu-san-pham/41/asus.html", class: "text-brands", target: "_blank" %>,
                                <%= link_to "TOSHIBA", "/thuong-hieu-san-pham/6/toshiba.html", class: "text-brands", target: "_blank" %>,
                                <%= link_to "CANON", "/thuong-hieu-san-pham/15/canon.html", class: "text-brands", target: "_blank" %>,
                                <%= link_to "EPSON", "/thuong-hieu-san-pham/18/epson.html", class: "text-brands", target: "_blank" %>,
                                <%= link_to "D-LINK", "/thuong-hieu-san-pham/22/dlink.html", class: "text-brands", target: "_blank" %>,
                                và <%= link_to "các hãng khác", "/thuong-hieu-san-pham.html", class: "text-brands", target: "_blank" %>.
                                Tìm Hàng Công Nghệ còn đưa ra các
                                <%= link_to "dịch vụ sửa chữa máy vi tính", "#block1", class: "text-detail-services" %>,
                                <%= link_to "dịch vụ sửa chữa máy in", "#block2", class: "text-detail-services" %>,
                                <%= link_to "dịch vụ nạp mực", "#block3", class: "text-detail-services" %>,
                                <%= link_to "dịch vụ thi công mạng", "#block4", class: "text-detail-services" %>,
                                <%= link_to "dịch vụ cứu dữ liệu", "#block5", class: "text-detail-services" %>,
                                <%= link_to "dịch vụ bảo trì", "#block6", class: "text-detail-services" %>,
                                <%= link_to "dịch vụ nâng cấp bảo hành", "#block7", class: "text-detail-services" %>,...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-justify about-us-slogan">
                    <h2>HOÀNG KHANG MANG ĐẾN GIẢI PHÁP TOÀN DIỆN</h2>
                </div>
                <% if @testimonials.count > 0 %>
                <div class="row">
                    <div class="col-lg-12 col-md-12 what-client-say">
                        <div class="client-say-content">
                            <h2 class="about-title line-hori"><span>Nhận Xét Từ Khách Hàng Dành Cho Chúng Tôi</span></h2>
                            <div class="client-say-slider">
                                <div id="client-say-slider-content" class="yt-content-slider owl-theme yt-content-slider-style-1 arrow-default owl2-carousel owl2-theme owl2-loaded" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-item_lg="1" data-item_sm="1" data-item_xs="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="no">
                                    <% @testimonials.each do |testimonial| %>
                                    <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                        <div class="item">
                                            <p class="des-member des-client">“<%= testimonial.content %>”</p>
                                            <h3 class="name-member"><%= testimonial.author %></h3>
                                            <% if !testimonial.workplace.nil? %>
                                                <p class="job-member"><%= testimonial.workplace %></p>
                                            <% end %>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>