<% title "Về Chúng Tôi" %>
<% content_for :metas do %>
<meta property="og:locale" content="vi-VN" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="Về Chúng Tôi | Tìm Hàng Công Nghệ"/>
<meta property="og:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
<meta property="og:url" content="<%= request.url %>"/>
<meta property="og:site_name" content="Tìm Hàng Công Nghệ" />
<meta property="og:image" content="https://timhangcongnghe.com/frontend/img/sys/thcn-web-share.jpg"/>
<meta property="og:image:alt" content="Về Chúng Tôi | Tìm Hàng Công Nghệ"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="628"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="<%= request.url %>"/>
<meta name="twitter:title" content="Về Chúng Tôi | Tìm Hàng Công Nghệ" />
<meta name="twitter:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
<meta name="twitter:image" content="https://timhangcongnghe.com/frontend/img/sys/thcn-web-share.jpg"/>
<% end %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to 'Về Chúng Tôi', 'javascript:void(0)' %></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="about-us about-demo-1">
                <div class="row">
                    <div class="col-lg-7 col-md-7 about-info">
                        <h1 class="about-title"><span>Về Chúng Tôi</span></h1>
                        <div class="about-text text-justify">
                            <p>
                                <strong>Tìm Hàng Công Nghệ</strong> là trang thương mại điện tử do Công Ty TNHH Giải Pháp Công Nghệ Thông Tin Và Truyền Thông Hoàng Khang (viết tắt: Hoang Khang Incotech) quản lý và phát triển.
                                Với hơn 10 năm kinh nghiệm hoạt động trong lĩnh vực kinh doanh các sản phẩm công nghệ thông tin và dịch vụ đi kèm.
                                Tất cả các sản phẩm trên Tìm Hàng Công Nghệ đều được phân phối chính hãng như HP, Dell, Asus, Acer, Lenovo, Fujitsu, Sony, SamSung, LG...
                                và được áp dụng các chính sách ưu đãi, chăm sóc, hậu mãi từ hãng sản xuất và phía Công ty.
                            </p>
                            <p>Đến với Tìm Hàng Công Nghệ Quý khách hàng đã có thể yên tâm mua sắm và sử dụng dịch vụ, bởi Tìm Hàng Công Nghệ có tất cả những gì bạn cần, và phục vụ theo đúng tất cả những gì mà bạn mong đợi.</p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 about-image">
                        <%= image_tag '/frontend/img/sys/timhangcongnghe.png', alt: "Tìm Hàng Công Nghệ", title: 'Tìm Hàng Công Nghệ', class: "logo-about-us" %>
                        <div class="about-text text-justify">
                            <p>Ngoài cung cấp các
                                <%= link_to 'Laptop - MacBook', '/laptop-macbook-cid42', title: 'Laptop - MacBook', class: 'text-services', target: '_blank' %>,
                                <%= link_to 'Máy Vi Tính - Server', '/may-vi-tinh-server-cid322', title: 'Máy Vi Tính - Server', class: 'text-services', target: '_blank' %>,
                                <%= link_to 'Màn Hình', '/man-hinh-cid68', title: 'Màn Hình', class: 'text-services', target: '_blank' %>,
                                <%= link_to 'Điện Thoại iPhone', '/dien-thoai-iphone-cid228', title: 'Điện Thoại iPhone', class: 'text-services', target: '_blank' %>,
                                thiết bị Kỹ Thuật Số - Viễn Thông, Sản Phẩm Văn Phòng, Thiết Bị Mạng, Thiết Bị Viễn Thông, Thiết Bị An Ninh từ các hãng như: HP, Dell, Acer, Asus, Lenovo, Toshiba, Cisco, SamSung, LG, Apple,...và các hãng khác. Tìm Hàng Công Nghệ còn đưa ra các dịch vụ sửa chữa máy vi tính, dịch vụ sửa chữa máy in, dịch vụ nạp mực, dịch vụ thi công mạng, dịch vụ cứu dữ liệu, dịch vụ bảo trì, dịch vụ nâng cấp bảo hành,...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-justify about-us-slogan"><h2>Tìm Hàng Công Nghệ</h2></div>
            </div>
        </div>
    </div>
</div>