<% title "Câu hỏi thường gặp" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Các câu hỏi thường gặp", "javascript:void(0)" %></li>
    </ul>

    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <%= render "erp/online_store/frontend/information/policy_left_sidebar" %>
        </aside>
        <!--Left Part End -->
        <!--Middle Part Start-->
        <div id="content" class="col-sm-8 col-md-9">
            <div class="blog-header">
                <h3>Những câu hỏi thường gặp</h3>
            </div>
            
            <p class="preface_text">
                Chào mừng bạn đến với trang Thương mại Điện tử TimHangCongNghe.com.
                Dưới đây là những câu hỏi mà khách hàng thường gặp phải trong quá trình sử dụng trang web này.
                Vui lòng tham khảo các câu hỏi liên quan dưới đây trước khi đặt ra bất kỳ câu hỏi nào khác cho bộ phận hỗ trợ khách hàng của TimHangCongNghe.com.
            </p>
            <div class="about-us about-demo-4">
                <div class="row">
                    <div class="col-sm-12 col-md-12 faq-about-us">
                        <h2 class="about-title"></h2>
                        <div class="content-faq">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <% @faqs.order('custom_order ASC').each_with_index do |faq,index| %>
                                <div class="panel">
                                    <div class="panel-head" role="tab" id="headingOne<%= index.to_s %>">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                                               href="#collapseOne<%= index.to_s %>"
                                               aria-expanded="false"
                                               aria-controls="#collapseOne<%= index.to_s %>"
                                               class="collapsed">
                                               <span><%= faq.name %></span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne<%= index.to_s %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne<%= index.to_s %>" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body text-justify"><%= faq.content.html_safe %></div>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Middle Part End-->
    </div>
</div>