<% title "Hướng Dẫn Thanh Toán" %>
<% content_for :metas do %>
<meta property="og:locale" content="vi-VN" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="Hướng Dẫn Thanh Toán | Tìm Hàng Công Nghệ"/>
<meta property="og:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
<meta property="og:url" content="<%= request.url %>"/>
<meta property="og:site_name" content="Tìm Hàng Công Nghệ" />
<meta property="og:image" content="https://timhangcongnghe.com/frontend/img/sys/thcn-web-share.jgp"/>
<meta property="og:image:alt" content="Hướng Dẫn Thanh Toán | Tìm Hàng Công Nghệ"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="628"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="<%= request.url %>"/>
<meta name="twitter:title" content="Hướng Dẫn Thanh Toán | Tìm Hàng Công Nghệ" />
<meta name="twitter:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
<meta name="twitter:image" content="https://timhangcongnghe.com/frontend/img/sys/thcn-web-share.jpg"/>
<% end %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li>Hướng Dẫn Thanh Toán</li>
    </ul>
    <div class="row">
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module menu-category titleLine">
                <h3 class="modtitle"><span><i class="fa fa-support"></i> Dành Cho Khách Hàng</span></h3>
                <div class="modcontent">
                    <div class="box-category box-category-policy">
                        <ul id="cat_accordion" class="list-group fix_active">
                            <li><%= link_to 'Hướng Dẫn Mua Hàng', erp_online_store.policy_01_path, title: 'Hướng Dẫn Mua Hàng' %></li>                            
                            <li><%= link_to 'Hướng Dẫn Thanh Toán', 'javascript:void(0);', class: 'current', title: 'Hướng Dẫn Thanh Toán' %></li>
                            <li><%= link_to 'Chính Sách Bảo Hành', erp_online_store.policy_02_path, title: 'Chính Sách Bảo Hành' %></li>
                            <li><%= link_to 'Vận Chuyển Và Giao Nhận', erp_online_store.policy_04_path, title: 'Vận Chuyển Và Giao Nhận' %></li>
                            <li><%= link_to 'Đổi Trả Và Hoàn Tiền', erp_online_store.policy_05_path, title: 'Đổi Trả Và Hoàn Tiền' %></li>
                            <li><%= link_to 'Bảo Mật Thông Tin', erp_online_store.policy_06_path, title: 'Bảo Mật Thông Tin' %></li>
                            <li><%= link_to 'Quy Chế Hoạt Động', erp_online_store.policy_07_path, title: 'Quy Chế Hoạt Động' %></li>
                            <li><%= link_to 'Điều Khoản Giao Dịch', erp_online_store.policy_08_path, title: 'Điều Khoản Giao Dịch' %></li>
                            <li><%= link_to 'Câu Hỏi Thường Gặp', erp_online_store.policy_09_path, title: 'Câu Hỏi Thường Gặp' %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-md-9 col-sm-8">
            <div class="article-info policy-info">
                <div class="blog-header policy-header"><h1>Hướng Dẫn Thanh Toán</h1></div>
                <div class="article-description">
                    <p><%= image_tag '/frontend/image-policy/policy_03/huong-dan-thanh-toan-01.jpg', alt: 'Hướng Dẫn Thanh Toán', title: 'Hướng Dẫn Thanh Toán' %>
                    <h2><strong>1. THANH TOÁN TIỀN MẶT</strong></h2>
                    <p>Với phương thức thanh toán này, Quý khách hàng thanh toán bằng tiền mặt cho nhân viên <strong>Tìm Hàng Công Nghệ</strong> sau khi nhận và kiểm tra hàng hóa đã mua.</p>
                    <p style="text-align: center"><%= image_tag '/frontend/image-policy/policy_03/huong-dan-thanh-toan-02.jpg', alt: 'Hướng Dẫn Thanh Toán', title: 'Hướng Dẫn Thanh Toán', width: '100%' %></p>
                    <p><em><span style="color: #cc181e; text-transform: uppercase; font-weight: 400;">Lưu ý: </span>Phương thức thanh toán tiền mặt chỉ áp dụng cho đơn hàng có tổng giá trị nhỏ hơn 20 triệu/ngày. Nếu tổng giá trị trên 20 triệu/ngày, Quý khách hàng vui lòng chuyển khoản qua số tài khoản công ty.</em></p>                    
                    <h2><strong>2. THANH TOÁN CHUYỂN KHOẢN</strong></h2>
                    <p>Với phương thức thanh toán này, Quý khách hàng chuyển khoản vào số tài khoản bên dưới:</p>
                    <h3><strong>2.1. Tài khoản công ty (ACB)</strong></h3>
                    <p>Chủ tài khoản: <span style="color: #cc181e; font-weight: 400;">CÔNG TY TNHH GIẢI PHÁP CNTT VÀ TRUYỀN THÔNG HOÀNG KHANG</span></p>
                    <p>Số tài khoản: <span style="color: #cc181e; font-weight: 400;">1 8 8 3 7 6 8</span></p>
                    <p>Mở tại: Ngân Hàng Thương Mại Cổ Phần Á Châu (ACB) - PGD Thạch Đà</p>
                    <h3><strong>2.2. Tài khoản công ty (MSB)</strong></h3>
                    <p>Chủ tài khoản: <span style="color: #cc181e; font-weight: 400;">CÔNG TY TNHH GIẢI PHÁP CNTT VÀ TRUYỀN THÔNG HOÀNG KHANG</span></p>
                    <p>Số tài khoản: <span style="color: #cc181e; font-weight: 400;">0 4 2 0 1 0 1 2 0 0 4 2 8 0 </span></p>
                    <p>Mở tại: Ngân Hàng TMCP Hàng Hải Việt Nam (MSB) - PGD Nguyễn Oanh</p>
                    <p style="text-align: center"><%= image_tag '/frontend/image-policy/policy_03/huong-dan-thanh-toan-03.jpg', alt: 'Hướng Dẫn Thanh Toán', title: 'Hướng Dẫn Thanh Toán', width: '100%' %></p>
                    <h3><strong>2.3. Tài khoản cá nhân (ACB)</strong></h3>
                    <p>Chủ tài khoản: <span style="color: #cc181e; font-weight: 400;">ĐỖ THỊ ĐA NGUYÊN</span></p>
                    <p>Số tài khoản: <span style="color: #cc181e; font-weight: 400;">2 2 1 1 4 2 9 3 9</span></p>
                    <p>Mở tại: Ngân Hàng Thương Mại Cổ Phần Á Châu (ACB) - PGD Thạch Đà</p>
                    <h3><strong>2.4. Tài khoản cá nhân (MSB)</strong></h3>
                    <p>Chủ tài khoản: <span style="color: #cc181e; font-weight: 400;">ĐỖ THỊ ĐA NGUYÊN</span></p>
                    <p>Số tài khoản: <span style="color: #cc181e; font-weight: 400;">0 4 2 0 1 0 1 2 8 1 1 9 4 7</span></p>
                    <p>Mở tại: Ngân Hàng TMCP Hàng Hải Việt Nam (MSB) - PGD Nguyễn Oanh</p>
                    <p style="text-align: center"><%= image_tag '/frontend/image-policy/policy_03/huong-dan-thanh-toan-04.jpg', alt: 'Hướng Dẫn Thanh Toán', title: 'Hướng Dẫn Thanh Toán', width: '100%' %></p>
                    <p><em><span style="color: #cc181e; text-transform: uppercase; font-weight: 400;">Lưu ý: </span>Phương thức thanh toán qua tài khoản cá nhân chỉ áp dụng cho đơn hàng có tổng giá trị nhỏ hơn 20 triệu/ngày. Nếu tổng giá trị trên 20 triệu/ngày, Quý khách hàng vui lòng chuyển khoản qua số tài khoản công ty.</em></p>
                    <h2><strong>3. THANH TOÁN TRỰC TUYẾN</strong></h2>
                    <p><em>Phương thức thanh toán trực tuyến đang được phát triển...</em></p>
                    <p style="text-align: center"><%= image_tag '/frontend/image-policy/policy_03/huong-dan-thanh-toan-05.jpg', alt: 'Hướng Dẫn Thanh Toán', title: 'Hướng Dẫn Thanh Toán', width: '100%' %></p>
                </div>
            </div>
        </div>
    </div>
</div>