<% title (params[:category_id].present? ? @article.name : 'TimHangCongNghe.VN') %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to @article.name, "javascript:void(0)" %></li>
    </ul>

    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module blog-category titleLine">
                <h3 class="modtitle"><span>Chủ đề</span></h3>
                <div class="modcontent">
                    <ul class="list-group ">
                        <% @categories.each do |cat| %>
                            <li class="list-group-item">
                                <%= link_to cat.name,
                                    cat.articles.empty? ? '' : erp_online_store.policy_path(cat.id, url_friendly(cat.articles.last.name))
                                %>
                            </li>
                        <% end %>
                        <li class="list-group-item"><%= link_to "Các điều khoản & Điều kiện", erp_online_store.terms_and_conditions_path %></li>
                        <li class="list-group-item"><%= link_to "Câu hỏi thường gặp", erp_online_store.faq_path %></li>
                    </ul>
                </div>
            </div>
        </aside>
        <!--Left Part End -->

        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <div class="article-info">
                <div class="blog-header">
                    <h3><%= @article.name %></h3>
                </div>
                <div class="article-description">
                    <p><%= @article.content.html_safe %></p>
                </div>
            </div>
        </div>
        <!--Middle Part End-->
    </div>
</div>