<% title "Bảo Mật Thông Tin" %>
<% content_for :metas do %>
<!-- for Facebook -->
    <meta property="og:locale" content="vi-VN" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bảo Mật Thông Tin"/>
    <meta property="og:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:site_name" content="Bảo Mật Thông Tin" />
    <meta property="og:image" content="https://timhangcongnghe.com/frontend/image/thcn-web-share.png"/>
    <meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="628"/>
    <!--TWITTER -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Bảo Mật Thông Tin" />
    <meta name="twitter:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
    <meta name="twitter:image" content="https://timhangcongnghe.com/frontend/image/thcn-web-share.png"/>
<% end %>

<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li>Bảo Mật Thông Tin</li>
    </ul>
    <div class="row">
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module menu-category titleLine">
                <h3 class="modtitle"><span><i class="fa fa-support"></i> Dành Cho Khách Hàng</span></h3>
                <div class="modcontent">
                    <div class="box-category box-category-policy">
                        <ul id="cat_accordion" class="list-group fix_active">
                            <li><%= link_to 'Hướng Dẫn Mua Hàng', erp_online_store.policy_01_path, title: 'Hướng Dẫn Mua Hàng' %></li>
                            <li><%= link_to 'Hướng Dẫn Thanh Toán', erp_online_store.policy_03_path, title: 'Hướng Dẫn Thanh Toán' %></li>
                            <li><%= link_to 'Chính Sách Bảo Hành', erp_online_store.policy_02_path, title: 'Chính Sách Bảo Hành' %></li>
                            <li><%= link_to 'Vận Chuyển Và Giao Nhận', erp_online_store.policy_04_path, title: 'Vận Chuyển Và Giao Nhận' %></li>
                            <li><%= link_to 'Đổi Trả Và Hoàn Tiền', erp_online_store.policy_05_path, title: 'Đổi Trả Và Hoàn Tiền' %></li>
                            <li><%= link_to 'Bảo Mật Thông Tin', 'javascript:void(0);', class: 'current', title: 'Bảo Mật Thông Tin' %></li>
                            <li><%= link_to 'Quy Chế Hoạt Động', erp_online_store.policy_07_path, title: 'Quy Chế Hoạt Động' %></li>
                            <li><%= link_to 'Điều Khoản Giao Dịch', erp_online_store.policy_08_path, title: 'Điều Khoản Giao Dịch' %></li>
                            <li><%= link_to 'Câu Hỏi Thường Gặp', erp_online_store.policy_09_path, title: 'Câu Hỏi Thường Gặp' %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-md-9 col-sm-8">
            <div class="article-info policy-info">
                <div class="blog-header policy-header"><h1>Bảo Mật Thông Tin</h1></div>
                <div class="article-description">
                    <p><%= image_tag '/frontend/image-policy/policy_06/bao-mat-thong-tin-01.jpg', alt: 'Bảo Mật Thông Tin', title: 'Bảo Mật Thông Tin' %>
                    <p>Bảo mật thông tin khách hàng là một trong những ưu tiên nhằm tạo điều kiện mua hàng trực tuyến tốt nhất tại <strong>Tìm Hàng Công Nghệ</strong>. Chúng tôi cam kết việc sử dụng thông tin khách hàng chỉ nhằm nâng cao chất lượng dịch vụ khách hàng, tạo môi trường mua sắm trực tuyến an toàn và tiện lợi.</p>
                    <h2><strong>1. MỤC ĐÍCH & PHẠM VI THU THẬP THÔNG TIN</strong></h2>
                    <p>- Nhằm đảm bảo quyền lợi cho Quý khách hàng dể dàng truy cập và mua sắm trực tuyến tại <strong>Tìm Hàng Công Nghệ</strong>, Quý khách hàng sẽ phải cung cấp bổ sung thông tin cá nhân. Mọi thông tin khai báo phải đảm bảo tính chính xác, hợp pháp.</p>
                    <p>- Tìm Hàng Công Nghệ sẽ không chịu trách nhiệm liên quan đến pháp luật đối với thông tin mà bạn khai báo.</p>
                    <h2><strong>2. SỬ DỤNG THÔNG TIN CÁ NHÂN</strong></h2>
                    <p>Tìm Hàng Công Nghệ thu thập, sử dụng thông tin cá nhân Quý khách hàng với mục đích phù hợp và hoàn toàn tuân thủ nội dung của "Bảo Mật Thông Tin".</p>
                </div>
            </div>
        </div>
    </div>
</div>