<% title "Chính Sách Bảo Hành" %>
<% content_for :metas do %>
<!-- for Facebook -->
    <meta property="og:locale" content="vi-VN" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Chính Sách Bảo Hành"/>
    <meta property="og:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:site_name" content="Chính Sách Bảo Hành" />
    <meta property="og:image" content="https://timhangcongnghe.com/frontend/image/thcn-web-share.png"/>
    <meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="628"/>
    <!--TWITTER -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Chính Sách Bảo Hành" />
    <meta name="twitter:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
    <meta name="twitter:image" content="https://timhangcongnghe.com/frontend/image/thcn-web-share.png"/>
<% end %>

<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li>Chính Sách Bảo Hành</li>
    </ul>
    <div class="row">
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module menu-category titleLine">
                <h3 class="modtitle"><span><i class="fa fa-support"></i> Dành Cho Khách Hàng</span></h3>
                <div class="modcontent">
                    <div class="box-category box-category-policy">
                        <ul id="cat_accordion" class="list-group fix_active">
                            <li><%= link_to 'Hướng Dẫn Mua Hàng', erp_online_store.policy_01_path, title: 'Hướng Dẫn Mua Hàng' %></li>                            
                            <li><%= link_to 'Hướng Dẫn Thanh Toán', erp_online_store.policy_03_path, title: 'Hướng Dẫn Thanh Toán' %></li>
                            <li><%= link_to 'Chính Sách Bảo Hành', 'javascript:void(0);', class: 'current', title: 'Chính Sách Bảo Hành' %></li>
                            <li><%= link_to 'Vận Chuyển Và Giao Nhận', erp_online_store.policy_04_path, title: 'Vận Chuyển Và Giao Nhận' %></li>
                            <li><%= link_to 'Đổi Trả Và Hoàn Tiền', erp_online_store.policy_05_path, title: 'Đổi Trả Và Hoàn Tiền' %></li>
                            <li><%= link_to 'Bảo Mật Thông Tin', erp_online_store.policy_06_path, title: 'Bảo Mật Thông Tin' %></li>
                            <li><%= link_to 'Quy Chế Hoạt Động', erp_online_store.policy_07_path, title: 'Quy Chế Hoạt Động' %></li>
                            <li><%= link_to 'Điều Khoản Giao Dịch', erp_online_store.policy_08_path, title: 'Điều Khoản Giao Dịch' %></li>
                            <li><%= link_to 'Câu Hỏi Thường Gặp', erp_online_store.policy_09_path, title: 'Câu Hỏi Thường Gặp' %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-md-9 col-sm-8">
            <div class="article-info policy-info">
                <div class="blog-header policy-header"><h1>Chính Sách Bảo Hành</h1></div>
                <div class="article-description">
                    <p><%= image_tag '/frontend/image-policy/policy_02/chinh-sach-bao-hanh-01.jpg', alt: 'Chính Sách Bảo Hành', title: 'Chính Sách Bảo Hành' %>
                    <h2><strong>1. ĐIỀU KIỆN BẢO HÀNH</strong></h2>
                    <h3><strong>1.1. Sản phẩm được miễn phí bảo hành</strong></h3>
                    <p>- Sản phẩm thuộc danh mục được bảo hành từ Nhà Sản Xuất hoặc Nhà Phân Phối.</p>
                    <p>- Sản phẩm bị lỗi kỹ thuật từ Nhà Sản Xuất.</p>
                    <p>- Thời hạn bảo hành sản phẩm còn hiệu lực.</p>
                    <p>- Phiếu bảo hành còn nguyên vẹn, không chắp vá, tẩy xóa.</p>
                    <p>- Phiếu bảo hành còn đầy đủ thông tin có thể đọc được (Mã sản phẩm, số Seri, ngày mua, tên khách hàng,...).</p>
                    <p>- Tem bảo hành và tem niêm phong (nếu có) còn nguyên vẹn.</p>
                    <h3><strong>1.2. Sản phẩm không được miễn phí bảo hành hoặc sửa chữa có tính phí</strong></h3>
                    <p>- Sản phẩm không thuộc danh mục được bảo hành từ Nhà Sản Xuất hoặc Nhà Phân Phối.</p>
                    <p>- Sản phẩm không thỏa mãn một trong những điều kiện bảo hành ở mục <strong>1.1</strong>.</p>
                    <p>- Số Seri hoặc sản phẩm không khớp với Phiếu bảo hành, Hóa Đơn mua hàng,</p>
                    <p>- Khách hàng tự ý sửa chữa sản phẩm hoặc sửa chữa tại những trung tâm bảo hành không được sự ủy nhiệm của Nhà Sản Xuất.</p>
                    <p>- Sản phẩm bị hư hỏng do lỗi người sử dụng và hư hỏng không nằm trong phạm vi bảo hành của Nhà Sản Xuất.</p>
                    <p>- Với trường hợp phát sinh phí bảo hành, Nhân viên <strong>Tìm Hàng Công Nghệ</strong> sẽ tư vấn đầy đủ thông tin cho khách hàng trước khi tiến hành sửa chữa.</p>
                    <h3><strong>1.3. Thời hạn bảo hành</strong></h3>
                    <p>Thời hạn bảo hành được tính kể từ ngày mua hàng hoặc kể từ ngày sản xuất tùy thuộc từng loại sản phẩm được quy định rõ trên phiếu bảo hành. Đối với sản phẩm bảo hành điện tử, thời hạn bảo hành được tính từ thời điểm kích hoạt bảo hành điện tử.</p>
                    <h2><strong>2. ÁP DỤNG BẢO HÀNH</strong></h2>
                    <h3><strong>2.1. Địa điểm áp dụng bảo hành</strong></h3>
                    <p>- Địa điểm bảo hành được ghi trong phiếu bảo hành kèm theo sản phẩm. Quý khách vui lòng liên hệ trực tiếp với Trung tâm Bảo hành của Nhà Cung Cấp hoặc Nhà Phân Phối theo thông tin trong phiếu bảo hành.</p>
                    <p>- <strong>Tìm Hàng Công Nghệ</strong> sẽ hỗ trợ hướng dẫn Quý khách hàng phương thức đến các trung tâm bảo hành được ủy nhiệm của Nhà Sản Xuất hoặc Nhà Phân Phối. Mọi thông tin liên hệ sẽ được ghi trên phiếu giao hàng hoặc hóa đơn mua hàng.</p>
                    <p>- Nếu Quý khách hàng gặp khó khăn trong việc liên hệ Trung Tâm Bảo hành, Quý khách hàng vui lòng liên hệ <strong>Tìm Hàng Công Nghệ</strong> theo địa chỉ mail <strong><%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'kinhdoanh@hoangkhang.com.vn', title: 'kinhdoanh@hoangkhang.com.vn' %></strong>, <strong><%= mail_to 'kinhdoanh@timhangcongnghe.com', 'kinhdoanh@timhangcongnghe.com', title: 'kinhdoanh@timhangcongnghe.com' %></strong> hoặc số hotline <strong><%= link_to '(028) 2212 9454', 'tel:02822129454', title: '(028) 2212 9454' %></strong> để được hỗ trợ.</p>
                    <h3><strong>2.2. Thời gian thực hiện bảo hành</strong></h3>
                    <p>- Trong mọi trường hợp, thời gian thực hiện bảo hành sản phẩm phụ thuộc vào chính sách và/hoặc mức độ sẵn có của thiết bị/sản phẩm thay thế tại Trung Tâm Bảo Hành và sẽ được thông báo cụ thể cho Quý khách hàng vào thời điểm Trung Tâm Bảo Hành nhận sản phẩm để bảo hành trong trường hợp quý khách tự đem sản phẩm đến Trung Tâm Bảo Hành.
                    Hoặc ngay khi <strong>Tìm Hàng Công Nghệ</strong> nhận được thông báo về thời gian bảo hành trong trường hợp quý khách thực hiện việc bảo hành sản phẩm tại Tìm Hàng Công Nghệ.</p>
                    <p>- Trong mọi trường hợp, <strong>Tìm Hàng Công Nghệ</strong> không chịu trách nhiệm về bất kỳ thiệt hại, mất mát nào xảy ra nếu Quý khách hàng không thực hiện theo Chính Sách Bảo Hành này.</p>
                </div>
            </div>
        </div>
    </div>
</div>