<% title "Hướng Dẫn Mua Hàng" %>
<% content_for :metas do %>
<!-- for Facebook -->
    <meta property="og:locale" content="vi-VN" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Hướng Dẫn Mua Hàng"/>
    <meta property="og:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:site_name" content="Hướng Dẫn Mua Hàng" />
    <meta property="og:image" content="https://timhangcongnghe.com/frontend/image/thcn-web-share.png"/>
    <meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="628"/>
    <!--TWITTER -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Hướng Dẫn Mua Hàng" />
    <meta name="twitter:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
    <meta name="twitter:image" content="https://timhangcongnghe.com/frontend/image/thcn-web-share.png"/>
<% end %>

<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li>Hướng Dẫn Mua Hàng</li>
    </ul>
    <div class="row">
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module menu-category titleLine">
                <h3 class="modtitle"><span><i class="fa fa-support"></i> Dành Cho Khách Hàng</span></h3>
                <div class="modcontent">
                    <div class="box-category box-category-policy">
                        <ul id="cat_accordion" class="list-group fix_active">
                            <li><%= link_to 'Hướng Dẫn Mua Hàng', 'javascript:void(0);', class: 'current', title: 'Hướng Dẫn Mua Hàng' %></li>
                            <li><%= link_to 'Hướng Dẫn Thanh Toán', erp_online_store.policy_03_path, title: 'Hướng Dẫn Thanh Toán' %></li>
                            <li><%= link_to 'Chính Sách Bảo Hành', erp_online_store.policy_02_path, title: 'Chính Sách Bảo Hành' %></li>                            
                            <li><%= link_to 'Vận Chuyển Và Giao Nhận', erp_online_store.policy_04_path, title: 'Vận Chuyển Và Giao Nhận' %></li>
                            <li><%= link_to 'Đổi Trả Và Hoàn Tiền', erp_online_store.policy_05_path, title: 'Đổi Trả Và Hoàn Tiền' %></li>
                            <li><%= link_to 'Bảo Mật Thông Tin', erp_online_store.policy_06_path, title: 'Bảo Mật Thông Tin' %></li>
                            <li><%= link_to 'Quy Chế Hoạt Động', erp_online_store.policy_07_path, title: 'Quy Chế Hoạt Động' %></li>
                            <li><%= link_to 'Điều Khoản Giao Dịch', erp_online_store.policy_08_path, title: 'Điều Khoản Giao Dịch' %></li>
                            <li><%= link_to 'Câu Hỏi Thường Gặp', erp_online_store.policy_09_path, title: 'Câu Hỏi Thường Gặp' %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-md-9 col-sm-8">
            <div class="article-info policy-info">
                <div class="blog-header policy-header"><h1>Hướng Dẫn Mua Hàng</h1></div>
                <div class="article-description">
                    <p><%= image_tag '/frontend/image-policy/policy_01/huong-dan-mua-hang-01.jpg', alt: 'Hướng Dẫn Mua Hàng', title: 'Hướng Dẫn Mua Hàng' %>
                    <h2><strong>1. MUA HÀNG TRỰC TIẾP TẠI WEBSITE</strong></h2>
                    <p>
                        Để đặt mua hàng trực tiếp, Quý khách hàng cần phải có tài khoản tại website <strong><%= link_to 'Tìm Hàng Công Nghệ', '//timhangcongnghe.com/', title: 'Tìm Hàng Công Nghệ' %></strong>.
                        Nếu quý khách hàng chưa có tài khoản, vui lòng đăng ký để thuận tiện trong quá trình đặt mua hàng cũng như xem lại lịch sử mua hàng khi cần thiết. Ngoài ra, Tìm Hàng Công Nghệ còn hỗ trợ Quý khách hàng đăng ký & đăng nhập nhanh thông qua tài khoản <strong>FaceBook</strong> hoặc <strong>Google</strong>.
                    </p>
                    <p><strong>Hướng dẫn các bước mua hàng:</strong></p>
                    <p>
                        <strong><span style="background-color: #e43a45; color: #ffffff;">&nbsp;Bước 1: </span></strong>
                        &nbsp;Tìm kiếm sản phẩm Quý khách hàng cần mua
                    </p>
                    <p style="text-align: center"><%= image_tag '/frontend/image-policy/policy_01/huong-dan-mua-hang-02.jpg', alt: 'Hướng Dẫn Mua Hàng', title: 'Hướng Dẫn Mua Hàng', width: '100%' %></p>
                    <p style="text-align: center;"><em>(1) Tìm kiếm sản phẩm trong ô tìm kiếm (theo từ khóa, tên, mã sản phẩm,...)</em></p>
                    <p style="text-align: center"><%= image_tag '/frontend/image-policy/policy_01/huong-dan-mua-hang-03.jpg', alt: 'Hướng Dẫn Mua Hàng', title: 'Hướng Dẫn Mua Hàng', width: '100%' %></p>
                    <p style="text-align: center;"><em>(2) Tìm kiếm sản phẩm theo chuyên mục cụ thể</em></p>
                    <p style="text-align: center"><%= image_tag '/frontend/image-policy/policy_01/huong-dan-mua-hang-04.jpg', alt: 'Hướng Dẫn Mua Hàng', title: 'Hướng Dẫn Mua Hàng', width: '100%' %></p>
                    <p style="text-align: center;"><em>(3) Lựa chọn sản phẩm cần tìm trong chuyên mục</em></p>
                    <p>
                        <strong><span style="background-color: #e43a45; color: #ffffff;">&nbsp;Bước 2: </span></strong>
                        &nbsp;Xem thông tin sản phẩm cần mua hàng
                    </p>
                    <p style="text-align: center"><%= image_tag '/frontend/image-policy/policy_01/huong-dan-mua-hang-05.jpg', alt: 'Hướng Dẫn Mua Hàng', title: 'Hướng Dẫn Mua Hàng', width: '100%' %></p>
                    <p style="text-align: center;"><em>Xem mô tả sản phẩm và thông số kỹ thuật</em></p>
                    <p>
                        <strong><span style="background-color: #e43a45; color: #ffffff;">&nbsp;Bước 3: </span></strong>
                        &nbsp;Chọn số lượng cần mua và thêm vào giỏ hàng. Để chỉnh sửa số lượng hoặc thay đổi sản phẩm Quý khách hàng truy cập vào trang <strong><%= link_to 'Giỏ Hàng', erp_online_store.shopping_cart_path, title: 'Hướng Dẫn Mua Hàng' %></strong>
                    </p>
                    <p style="text-align: center"><%= image_tag '/frontend/image-policy/policy_01/huong-dan-mua-hang-06.jpg', alt: 'Hướng Dẫn Mua Hàng', title: 'Hướng Dẫn Mua Hàng', width: '100%' %></p>
                    <p style="text-align: center;"><em>Chọn số lượng cần mua và thêm vào giỏ hàng</em></p>
                    <p>
                        <strong><span style="background-color: #e43a45; color: #ffffff;">&nbsp;Bước 4: </span></strong>
                        &nbsp;Tiến hành mua hàng theo các thao tác hướng dẫn (Sau khi đã thêm xong sản phẩm và số lượng cần mua)
                    </p>
                    <h2><strong>2. TƯ VẤN & MUA HÀNG QUA FANPAGE</strong></h2>
                    <p>Quý khách hàng có thể mua hàng thông qua hộp thư tại trang <strong>FaceBook Tìm Hàng Công Nghệ</strong>.</p>
                    <p>
                        <strong><span style="background-color: #e43a45; color: #ffffff;">&nbsp;Bước 1: </span></strong>
                        &nbsp;Đăng nhập vào tài khoản <strong>FaceBook</strong> của Quý khách hàng
                    </p>
                    <p>
                        <strong><span style="background-color: #e43a45; color: #ffffff;">&nbsp;Bước 2: </span></strong>
                        &nbsp;Truy cập vào trang <strong><%= link_to 'FaceBook Tìm Hàng Công Nghệ', '//facebook.com/TimHangCongNghe/', title: 'Tìm Hàng Công Nghệ' %></strong>
                    </p>
                    <p>
                        <strong><span style="background-color: #e43a45; color: #ffffff;">&nbsp;Bước 3: </span></strong>
                        &nbsp;Mở hộp thư để gửi link/mã sản phẩm khách hàng cần mua hoặc gửi yêu cầu tư vấn sản phẩm
                    </p>
                    <p>Bộ phận kinh doanh sẽ tiếp nhận thông tin và phản hồi Quý khách hàng nhanh chóng, chính xác.</p>
                    <h2><strong>3. TƯ VẤN & MUA HÀNG QUA EMAIL</strong></h2>
                    <p>Email tiếp nhận yêu cầu (tư vấn, báo giá, mua hàng):
                        <br>&nbsp;&nbsp;<strong>1. <%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'kinhdoanh@hoangkhang.com.vn', title: 'kinhdoanh@hoangkhang.com.vn' %></strong>
                        <br>&nbsp;&nbsp;<strong>2. <%= mail_to 'kinhdoanh@timhangcongnghe.com', 'kinhdoanh@timhangcongnghe.com', title: 'kinhdoanh@timhangcongnghe.com' %></strong>
                    </p>
                    <p>Bộ phận kinh doanh sẽ tiếp nhận thông tin và phản hồi Quý khách hàng nhanh chóng, chính xác.</p>
                    <h2><strong>4. TƯ VẤN & MUA HÀNG QUA ĐIỆN THOẠI</strong></h2>
                    <p>Ngoài ra, Quý khách hàng có thể yêu cầu (tư vấn, báo giá, mua hàng) qua số điện thoại <strong><%= link_to '(028) 3984 7690', 'tel:02839847690', title: '(028) 3984 7690' %></strong> trong thời gian làm việc từ <strong>Thứ 2 ~ Thứ 6 (08:00 ~ 17:00)</strong> và <strong>Thứ 7 (08:00 ~ 16:00)</strong>.</p>
                </div>
            </div>
        </div>
    </div>
</div>