<% title "Điều Khoản Giao Dịch" %>
<% content_for :metas do %>
<meta property="og:locale" content="vi-VN" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="Điều Khoản Giao Dịch"/>
<meta property="og:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
<meta property="og:url" content="<%= request.url %>"/>
<meta property="og:site_name" content="Tìm Hàng Công Nghệ" />
<meta property="og:image" content="https://timhangcongnghe.com/frontend/img/sys/thcn-web-share.jpg"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="628"/>
<meta property="og:url" content="<%= request.url %>"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Điều Khoản Giao Dịch" />
<meta name="twitter:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
<meta name="twitter:image" content="https://timhangcongnghe.com/frontend/img/sys/thcn-web-share.jpg"/>
<% end %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li>Điều Khoản Giao Dịch</li>
    </ul>
    <div class="row">
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module menu-category titleLine">
                <h3 class="modtitle"><span><i class="fa fa-support"></i> Dành Cho Khách Hàng</span></h3>
                <div class="modcontent">
                    <div class="box-category box-category-policy">
                        <ul id="cat_accordion" class="list-group fix_active">
                            <li><%= link_to 'Hướng Dẫn Mua Hàng', erp_online_store.policy_01_path, title: 'Hướng Dẫn Mua Hàng' %></li>
                            <li><%= link_to 'Hướng Dẫn Thanh Toán', erp_online_store.policy_03_path, title: 'Hướng Dẫn Thanh Toán' %></li>
                            <li><%= link_to 'Chính Sách Bảo Hành', erp_online_store.policy_02_path, title: 'Chính Sách Bảo Hành' %></li>                            
                            <li><%= link_to 'Vận Chuyển Và Giao Nhận', erp_online_store.policy_04_path, title: 'Vận Chuyển Và Giao Nhận' %></li>
                            <li><%= link_to 'Đổi Trả Và Hoàn Tiền', erp_online_store.policy_05_path, title: 'Đổi Trả Và Hoàn Tiền' %></li>
                            <li><%= link_to 'Bảo Mật Thông Tin', erp_online_store.policy_06_path, title: 'Bảo Mật Thông Tin' %></li>
                            <li><%= link_to 'Quy Chế Hoạt Động', erp_online_store.policy_07_path, title: 'Quy Chế Hoạt Động' %></li>
                            <li><%= link_to 'Điều Khoản Giao Dịch', 'javascript:void(0);', class: 'current', title: 'Điều Khoản Giao Dịch' %></li>
                            <li><%= link_to 'Câu Hỏi Thường Gặp', erp_online_store.policy_09_path, title: 'Câu Hỏi Thường Gặp' %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-md-9 col-sm-8">
            <div class="article-info policy-info">
                <div class="blog-header policy-header"><h1>Điều Khoản Giao Dịch</h1></div>
                <p class="preface_text">Để đảm bảo chính xác các dịch vụ mà chúng tôi cung cấp. Chúng tôi đưa ra các Điều khoản giao dịch nhằm thông báo với Quý khách hàng về các vấn đề liên quan đến dịch vụ. Để hiểu rằng khi sử dụng Tìm Hàng Công Nghệ, Quý khách hàng cần <strong>ĐỒNG Ý</strong> với các Điều khoản giao dịch này.</p>
                <p class="preface_text">Tìm Hàng Công Nghệ có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Điều khoản này. Các thay đổi có hiệu lực ngay khi được đăng trên website mà không cần thông báo trước. Và khi Quý khách hàng tiếp tục sử dụng Tìm Hàng Công Nghệ sau khi các thay đổi về Điều khoản này được đăng tải, có nghĩa là Quý khách hàng chấp nhận những thay đổi đó.</p>
                <p class="preface_text">Vui lòng kiểm tra thường xuyên để cập nhật những thay đổi của chúng tôi.</p>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="yt-accordion">
                            <li class="accordion-group">
                                <h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>Phạm vi áp dụng</span></h3>
                                <div class="accordion-inner">
                                    <p style="text-align: justify;">Điều khoản giao dịch sẽ được áp dụng cho Quý khách hàng khi mua sản phẩm trên Tìm Hàng Công Nghệ.</p>
                                    <p style="text-align: justify;">Khách hàng phải đảm bảo đủ 16 tuổi trở lên và có tài sản để thực hiện giao dịch, hoặc có sự giám sát của cha mẹ hay người giám hộ hợp pháp.</p>
                                    <p style="text-align: justify;">Khách hàng đảm bảo có đầy đủ hành vi dân sự để thực hiện các giao dịch mua bán hàng hóa theo quy định hiện hành của pháp luật Việt Nam.</p>
                                </div>
                            </li>
                            <li class="accordion-group">
                                <h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>Sử dụng website</span></h3>
                                <div class="accordion-inner">
                                    <p style="text-align: justify;">Tìm Hàng Công Nghệ cho phép khách hàng đăng ký tài khoản để có thể mua sắm trên website trong khuôn khổ đã đề ra.</p>
                                    <p style="text-align: justify;">Quý khách hàng sẽ phải đăng ký tài khoản với thông tin xác thực về bản thân và phải cập nhật nếu có bất kỳ thay đổi nào. Người dùng phải có trách nhiệm với mật khẩu, tài khoản và hoạt động của mình trên website. Ngoài ra, Người dùng phải thông báo cho chúng tôi biết khi tài khoản bị truy cập trái phép. Chúng tôi không chịu bất kỳ trách nhiệm nào, dù trực tiếp hay gián tiếp, đối với những thiệt hại hoặc mất mát gây ra do không tuân thủ quy định.</p>
                                    <p style="text-align: justify;">Nghiêm cấm sử dụng bất kỳ phần nào của webite này với mục đích thương mại hoặc nhân danh bất kỳ đối tác thứ ba nào nếu không được chúng tôi cho phép bằng văn bản. Nếu vi phạm bất cứ điều nào trong đây, chúng tôi sẽ ngừng hoạt động tài khoản của Quý khách hàng mà không cần báo trước.</p>
                                    <p style="text-align: justify;">Trong suốt quá trình đăng ký, Quý khách đồng ý nhận email quảng cáo từ Tìm Hàng Công Nghệ. Tuy nhiên, nếu không muốn tiếp tục nhận mail Quý khách có thể từ chối bằng cách nhấp vào đường link ở dưới cùng trong mọi email quảng cáo.</p>
                                </div>
                            </li>
                            <li class="accordion-group">
                                <h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>Chấp nhận đơn hàng, giá cả và thanh toán</span></h3>
                                <div class="accordion-inner">
                                    <p style="text-align: justify;">Giá của sản phẩm có thể đã bao gồm hoặc chưa bao gồm thuế giá trị gia tăng. Trong mọi trường hợp, giá của sản phẩm không bao gồm phí vận chuyển. Chi phí vận chuyển được quy định cụ thể tại <strong><%= link_to 'Vận Chuyển Và Giao Nhận', erp_online_store.policy_04_path, title: 'Vận Chuyển Và Giao Nhận' %></strong> trên website.</p>
                                    <p style="text-align: justify;">Khách hàng thanh toán giá trị của đơn hàng theo quy định tại <strong><%= link_to 'Hướng Dẫn Thanh Toán', erp_online_store.policy_03_path, title: 'Hướng Dẫn Thanh Toán' %></strong> đăng tải trên website trước khi nhận sản phẩm.</p>
                                    <p style="text-align: justify;">Chúng tôi cam kết sẽ cung cấp thông tin giá cả chính xác nhất cho người tiêu dùng. Tuy nhiên, đôi lúc vẫn có sai sót xảy ra, ví dụ như trường hợp giá sản phẩm không hiển thị chính xác trên trang web hoặc sai giá, tùy theo từng trường hợp chúng tôi sẽ liên hệ hướng dẫn hoặc thông báo hủy đơn hàng đó cho quý khách. Chúng tôi cũng có quyền từ chối hoặc hủy bỏ bất kỳ đơn hàng nào dù đơn hàng đó đã hay chưa được xác nhận hoặc đã thanh toán.</p>
                                </div>
                            </li>
                            <li class="accordion-group">
                                <h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>Giao, nhận hoặc đổi, trả sản phẩm</span></h3>
                                <div class="accordion-inner">
                                    <p style="text-align: justify;">Sản phẩm sẽ được giao đến địa chỉ Quý khách hàng yêu cầu theo thời gian quy định tại chính sách vận chuyển và giao nhận hoặc vào thời gian Quý khách hàng yêu cầu được nhận hàng với điều kiện thời gian giao hàng phải phù hợp. Trong trường hợp Quý khách hàng muốn thay đổi địa chỉ nhận sản phẩm thì phải gọi điện thông báo cho Tìm Hàng Công Nghệ.</p>
                                    <p style="text-align: justify;">Việc đổi, trả sản phẩm được thực hiện theo các quy định tại Chính sách đổi trả và hoàn tiền.</p>
                                </div>
                            </li>
                            <li class="accordion-group">
                                <h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>Thay đổi hoặc hủy bỏ giao dịch</span></h3>
                                <div class="accordion-inner">
                                    <p style="text-align: justify;">Khách hàng có trách nhiệm cung cấp thông tin đầy đủ và chính xác khi tham gia giao dịch. Trong trường hợp khách hàng nhập sai thông tin, Tìm Hàng Công Nghệ có quyền từ chối tiếp nhận mà không cần thông báo trước.</p>
                                    <p style="text-align: justify;">Trong trường hợp sai thông tin phát sinh từ phía Tìm Hàng Công Nghệ do lỗi của hệ thống hoặc từ bên thứ ba (sai giá sản phẩm, sai xuất xứ,...). Khi đó, Tìm Hàng Công Nghệ sẽ hoàn tiền cho khách hàng theo như quy định tại của chính sách đổi trả và hoàn tiền và không thực hiện giao dịch bị lỗi.</p>                                    
                                </div>
                            </li>
                            <li class="accordion-group">
                                <h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>Bảo mật thông tin và đảm bảo an toàn giao dịch</span></h3>
                                <div class="accordion-inner">
                                    <p style="text-align: justify;">Chúng tôi coi trọng việc bảo mật thông tin và sử dụng các biện pháp tốt nhất nhằm bảo vệ thông tin của quý khách. Quy định về bảo mật thông tin của khách hàng được thực hiện theo chính sách bảo mật thông tin.</p>                                    
                                </div>
                            </li>
                            <li class="accordion-group">
                                <h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>Giới hạn trách nhiệm</span></h3>
                                <div class="accordion-inner">
                                    <p style="text-align: justify;">Trong mọi trường hợp, Tìm Hàng Công Nghệ không chịu trách nhiệm đối với mọi thiệt hại/mất mát/tổn thất/hư hỏng mà khách hàng phải chịu sau thời điểm rủi ro được chuyển từ Tìm Hàng Công Nghệ sang khách hàng, trừ khi đó là lỗi do Tìm Hàng Công Nghệ gây ra.</p>
                                </div>
                            </li>
                            <li class="accordion-group">
                                <h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>Điều khoản chung</span></h3>
                                <div class="accordion-inner">
                                    <p style="text-align: justify;">Tìm Hàng Công Nghệ và Quý khách hàng có trách nhiệm thực hiện mọi nghĩa vụ quy định tại Điều Khoản Giao Dịch này.</p>
                                    <p style="text-align: justify;">Nếu bất kỳ nội dung nào của các Điều Khoản Giao Dịch này bị bất kỳ cơ quan có thẩm quyền xem là vô hiệu hoặc không thể thực hiện toàn bộ hoặc một phần, thì tính hiệu lực của các nội dung khác trong Điều Khoản Giao Dịch này sẽ không bị ảnh hưởng.</p>
                                    <p style="text-align: justify;">Điều Khoản Giao Dịch và mọi vấn đề phát sinh trong quan hệ hợp đồng giữa Tìm Hàng Công Nghệ và Khách hàng sẽ được hiểu và điều chỉnh theo quy định của luật pháp Việt Nam. Mọi tranh chấp, khác biệt, khiếu nại phát sinh từ/hoặc liên quan đến nội dung của Điều Khoản Giao Dịch này sẽ được giải quyết thông qua thương lượng, hòa giải trên tinh thần thiện chí. Nếu không thể giải quyết, tranh chấp, khiếu nại trên có thể được giải quyết tại cơ quan tòa án có thẩm quyền.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>