<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Các điều khoản & Điều kiện", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <%= render "erp/online_store/frontend/information/policy_left_sidebar" %>
        </aside>
        <!--Left Part End -->
        <!--Middle Part Start-->
        <div id="content" class="col-sm-8 col-md-9">
            <div class="blog-header">
                <h3>Điều khoản và Điều kiện giao dịch</h3>
            </div>
            <p>
                Để đảm bảo chính xác các dịch vụ mà chúng tôi cung cấp.
                Chúng tôi đưa ra các Điều khoản & Điều kiện nhằm thông báo
                với khách hàng cũng như người dùng của chúng tôi về các vấn
                đề liên quan đến dịch vụ. Chúng tôi hiểu rằng khi sử dụng trang
                thương mại này, Quý khách hàng ĐỒNG Ý với các Điều khoản & Điều kiện dưới đây:
            </p>
            <p><br></p>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="yt-accordion">
                        <% @terms_conditions.each do |tc| %>
                            <li class="accordion-group">
                                <h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span><%= tc.name %></span></h3>
                                <div class="accordion-inner">
                                    <p><%= tc.content.html_safe %></p>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <!--Middle Part End-->
    </div>
</div>