<div class="main">
<div class="container page-text">
  <div class="row">
    <div class="col-sm-12">
      <img src="/frontend/error-page-template/logo.png" title="" class="logo-page">
    </div>
  </div>
  <div class="row">			
    <div class="col-sm-12">
      <h1 class="rotate">Trang không tồn tại, Lỗi 404!</h1>
      <span>
        Rất tiếc, Trang của bạn tìm kiếm không được tìm thấy.<br>
        Vui lòng trở về <%= link_to "Trang Chủ", erp_online_store.root_path %>
      </span>
    </div>
  </div>
</div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="menu-container clearfix">
          <ul class="menu">
            <!-- start menu links -->
            <!-- replace the # with menu links -->
            <li><%= link_to "Trang chủ", erp_online_store.root_path %></li>
            <li><%= link_to "Về chúng tôi", erp_online_store.about_us_path %></li>
            <li><%= link_to "Liên hệ", erp_online_store.contact_us_path %></li>
            <!-- end menu links -->
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="socila-container clearfix">
          <ul class="social pull-right">
            <!-- start social links -->
            <!-- replace the # with your own profile link address -->
            <li><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "https://www.facebook.com/TimHangCongNghe/" %></li>
            <li><%= link_to '<i class="fa fa-youtube"></i>'.html_safe, "https://www.youtube.com/channel/UC1_KyGKwBDeUpmWsbtrsdcg" %></li>
            <li><%= link_to '<i class="fa fa-google-plus"></i>'.html_safe, "https://plus.google.com/u/4/104468622899810766789" %></li>
            <li><%= link_to '<i class="fa fa-instagram"></i>'.html_safe, "https://www.instagram.com/timhangcongnghe.vn/" %></li>
            <li><%= link_to '<i class="fa fa-pinterest"></i>'.html_safe, "https://www.pinterest.com/timhangcongnghe/" %></li>
            <!-- end social links -->
          </ul>
        </div>
        <div class="copyright pull-right">Copyright &copy; 2017 <%= link_to "TimHangCongNghe.VN", erp_online_store.root_path %> - All Rights Reserved.</div>
      </div>
    </div>
  </div>
</div>