<div class="main">
<div class="container page-text">
  <div class="row">
    <div class="col-sm-12">
      <img src="/frontend/error-page-template/logo.png" title="" class="logo-page">
    </div>
  </div>
  <div class="row">			
    <div class="col-sm-12">
      <h1 class="rotate">Trang không tồn tại, Lỗi 404!</h1>
      <span>
        Rất tiếc, Trang của bạn tìm kiếm không được tìm thấy.<br>
        Vui lòng trở về <%= link_to "Trang Chủ", '//timhangcongnghe.com/' %>
      </span>
    </div>
  </div>
</div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="menu-container clearfix">
          <ul class="menu">
            <li><%= link_to "Trang chủ", erp_online_store.root_path %></li>
            <li><%= link_to "Về chúng tôi", erp_online_store.about_us_path %></li>
            <li><%= link_to "Liên hệ", erp_online_store.contact_us_path %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="socila-container clearfix">
          <ul class="social pull-right">
            <li class="facebook">
              <%= link_to '<i class="fa fa-facebook"></i>'.html_safe,
                  'https://www.facebook.com/TimHangCongNghe/', title: 'Tìm Hàng Công Nghệ', target: "_blank" %></li>
              <li class="twitter">
              <%= link_to '<i class="fa fa-twitter"></i>'.html_safe,
                  "https://twitter.com/timhangcongnghe", title: 'Tìm Hàng Công Nghệ', target: "_blank" %></li>
              <li class="linkedin">
              <%= link_to '<i class="fa fa-linkedin"></i>'.html_safe,
                  'https://www.linkedin.com/in/timhangcongnghe/', title: 'Tìm Hàng Công Nghệ', target: "_blank" %></li>                                                
              <li class="pinterest">
              <%= link_to '<i class="fa fa-pinterest"></i>'.html_safe,
                  '//pinterest.com/thcn_hcm/', title: 'Tìm Hàng Công Nghệ', target: "_blank" %></li>
              <li class="tumblr">
              <%= link_to '<i class="fa fa-tumblr"></i>'.html_safe,
                  'https://timhangcongnghe.tumblr.com/', title: 'Tìm Hàng Công Nghệ', target: "_blank" %></li>
          </ul>
        </div>
        <div class="copyright pull-right">Copyright &copy; 2020 <%= link_to "Tìm Hàng Công Nghệ", <%= erp_online_store.root_path %> %> - All Rights Reserved.</div>
      </div>
    </div>
  </div>
</div>