<% if @menu.use_filter == true %>
<div class="module block-shopby titleLine">
    <h3 class="modtitle"><span><i class="fa fa-filter"></i>Bộ lọc sản phẩm</span></h3>
    <div class="modcontent ">
        <%= form_tag((defined?(action) ? action : ''), method: "get", class: "type_2 category-filter-top "+(defined?(auto_load) ? 'auto-load' : '')) do %>
            <div class="table_layout filter-shopby">
                <div class="table_row">
                    <% if defined?(brands) and brands.count > 1 %>
                    <div class="table_cell">
                        <fieldset>
                            <legend>Thương Hiệu</legend>
                            <ul class="checkboxes_list">                                
                                <% brands.each do |brand| %>
                                <li>
                                    <input type="checkbox" value="<%= brand.id %>" name="brand_ids[]" id="brand_<%= brand.id %>">
                                    <label for="brand_<%= brand.id %>"><%= brand.name %></label>
                                </li>
                                <% end %>                               
                            </ul>
                        </fieldset>
                    </div>
                    <% end %>
                    <% @menu.menu_get_properties_array.each do |group| %>
                    <div class="table_cell">
                        <fieldset>
                            <legend><%= group[:name] %></legend>
                            <ul class="checkboxes_list">
                                <% group[:values].each do |value| %>
                                    <% if value.product_count_by_menu(@menu) > 0 %>
                                        <li>
                                            <input type="checkbox" value="<%= value[:id] %>" name="property_value_ids[<%= value[:property_id] %>][]" id="value_<%= value[:id] %>">
                                            <label for="value_<%= value[:id] %>"><%= value[:value] %></label>
                                        </li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </fieldset>
                    </div>
                    <!--/ .table_cell -->
                    <!-- - - - - - - - - - - - - - End Property Values - - - - - - - - - - - - - - - - -->
                    <% end %>                                    
                </div>
                <!--/ .table_row -->
            </div>
            <!--/ .table_layout -->
        <% end %>
    </div>
</div>
<% end %>