<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Lựa chọn của doanh nghiệp", "javascript:void(0)" %></li>
    </ul>
</div>
<div class="page-business-choices">    
    <!-- Business Choices Slider  -->
    <div class="so-spotlight1 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 box_slider">
                    <div id="sohomepage-slider-home3">
                        <div class="slider-container "> 
                            <div id="so-slideshow" class="">
                                <div class="module slideshow no-margin">
                                    <div class="item">
                                        <%= link_to image_tag("/frontend/image/slider/sl11/1.jpg", alt: "", class: "img-responsive"), "", title: "" %>
                                        <div class="sohomeslider-description">
                                            <%= image_tag "/frontend/image/slider/sl11/2.png", class: "image image-sl11 pos-right img-active", alt: "" %>
                                            <div class="text pos-right text-sl11">
                                                <h3 class="tilte modtitle-sl11  title-active">Nikon D7100</h3>
                                                <p class="des des-sl11 des-active">Ultimate image quality. Create without limination</p>      
                                            </div> 					
                                        </div>
                                    </div>
                                    <div class="item">
                                        <%= link_to image_tag("/frontend/image/slider/sl12/1.jpg", alt: "", class: "img-responsive"), "", title: "" %>
                                        <div class="sohomeslider-description">
                                            <%= image_tag "/frontend/image/slider/sl12/2.png", class: "image image-sl12 pos-left img-active", alt: "" %>
                                            <div class="text pos-right text-sl12">
                                            <h3 class="tilte modtitle-sl12 title-active">OUR NEW RANGE OF</h3>
                                            <h4 class="titleh4 h4-active">TABLET</h4>
                                            <p class="des des-sl11 des-active">FOR LESS THAN $99.00</p>   
                                            </div>    					
                                        </div>
                                    </div>
                                    <div class="item">
                                        <%= link_to image_tag("/frontend/image/slider/sl13/1.jpg", alt: "", class: "img-responsive"), "", title: "" %>                                        
                                        <div class="sohomeslider-description">
                                            <%= image_tag "/frontend/image/slider/sl13/2.png", class: "image image-sl13 pos-right img-active", alt: "" %>                                            
                                            <div class="text pos-left text-sl13">
                                                <h3 class="tilte modtitle-sl13 title-active">OUR NEW RANGE OF</h3>
                                                <h4 class="titleh4 h4-active">IMACS</h4>   
                                            </div>  					
                                        </div>
                                    </div>
                                </div>
                                <div class="loadeding"></div>        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 box_banner">
                    <div class="module banner-right hidden-md  hidden-sm hidden-xs">
                        <div class="banner-right">	
                            <ul>
                                <li><a title="Static Image" href="#"><img src="/frontend/image/cms/banner-right-1-home-5.png" alt="Static Image"></a></li>
                                <li><a title="Static Image" href="#"><img src="/frontend/image/cms/banner-right-2-home-5.png" alt="Static Image"></a></li>
                            </ul>    
                        </div>
                    </div>																		
                </div>
            </div>
        </div>  
    </div>
    <!-- List Services  -->
    <%= render "erp/online_store/frontend/modules/home/list_services" %>
    <!-- Block Spotlight3  -->
    <div class="so-spotlight3">
        <div class="container">
            <!-- Mod Deals -->
            <div class="module so-deals">
                <h3 class="modtitle"><span>Lựa Chọn Hàng Đầu</span></h3>
                <div class="modcontent">
                    <div class="so-deal modcontent products-list grid clearfixbutton-type1 style2">
                        <div class="extraslider-inner product-layout deal-slider-home7">
                            <% (0..9).each do |top_choice| %>
                            <div class="product-thumb transition product-item-container">
                                <div class="left-block">
                                    <div class="product-image-container">
                                        <div class="image">                                            
                                            <a class="lt-image" href="<%= "" %>" target="_self">
                                                <img src="/frontend/image/shop/product/e11.jpg" alt="img" title="Juren tima chuk" class="img-1 img-responsive" />
                                                <img src="/frontend/image/shop/product/e12.jpg" alt="img" title="Juren tima chuk" class="img-2 img-responsive" />
                                            </a>
                                            <span class="label label-new">Mới</span>
                                            <span class="label label-sale">Giảm giá</span>
                                            <div class="item-time">
                                                <div class="item-timer">
                                                    <div class="defaultCountdown-30"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right-block">
                                    <div class="caption">
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        </div>
                                        <h4><a href="product.html" target="_self" title="Juren tima chuk..">Elivers chukalen..</a></h4>
                                        <p class="price">
                                            <span class="price-new">$82.40</span> <span class="price-old">$122.00</span>
                                        </p>
                                    </div>
                                </div>
                                <!-- End right block -->
                            </div>
                            <% end %>                    
                        </div>
                    </div>
                </div>
                <!--/.modcontent-->
            </div>
            <!-- End Mod -->
            <!-- Mod Category Slider -->
            <% (0..4).each do |category| %>
            <div id="so_category_slider_home7" class="container-slider module item1">
                <div class="page-top">
                    <h3 class="modtitle">
                        <span>Sản Phẩm HP</span>
                    </h3>
                </div>
                <!-- /.page-top -->
                <div class="modcontent">
                    <div class="categoryslider-content products-list grid show preset01-4 preset02-4 preset03-4 preset04-2 preset05-1">
                        <div class="item-sub-cat">
                            <%= link_to image_tag("/frontend/image/banner/cate-slider-1.png", alt: ""), "", title: "" %>
                            <ul>
                                <li><%= link_to "Máy Tính Xách Tay (0)", "", title: "" %></li>
                                <li><%= link_to "Máy Tính Xách Tay (0)", "", title: "" %></li>
                                <li><%= link_to "Máy Tính Xách Tay (0)", "", title: "" %></li>
                                <li><%= link_to "Máy Tính Xách Tay (0)", "", title: "" %></li>
                            </ul>
                        </div>
                        <div class="slider slider-h7 so-category-slider not-js product-layout">
                            <% (0..8).each do |category_choice| %>
                            <div class="item product-layout">
                                <div class="item-inner product-thumb transition product-item-container">
                                    <div class="left-block">
                                        <div class="product-image-container second_img">
                                            <div class="image">
                                                <span class="label label-sale">Giảm giá</span>
                                                <span class="label label-new">Mới</span>
                                                <a class="lt-image" href="product.html" target="_self" title="Juren tima chukam">
                                                    <img src="/frontend/image/shop/product/14.jpg" class="img-1 img-responsive" alt="Juren tima chukam">
                                                    <img src="/frontend/image/shop/product/19.jpg" class="img-2 img-responsive" alt="Juren tima chukam">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            </div>
                                            <h4 class="item-title">
                                                <a href="product.html" title="Juren tima chukam" target="_self">Tilam Makar Loring</a>
                                            </h4>
                                            <p class="price">
                                                <span class="price-new">$367.00</span> <span class="price-old">$400.00</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
            <!-- End Mod -->        
        </div>
    </div>
    <%= render "erp/online_store/frontend/modules/brand_list" %>
</div>