<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Lựa Chọn Của Doanh Nghiệp", "javascript:void(0)" %></li>
    </ul>
</div>
<div class="page-business-choices">    
    <!-- Business Choices Slider  -->
    <%= render "erp/online_store/frontend/modules/business_choices/slider" %>
    <!-- Business Choices  -->
    <div class="so-spotlight3">
        <div class="container">
            <!-- Top Business Choices -->
            <%= render "erp/online_store/frontend/modules/business_choices/top_business_choices" %>
            <!-- End Top Business Choices -->
            <!-- Business Choices List -->
            <%= render "erp/online_store/frontend/modules/business_choices/list_business_choices", menus: @menus, products: @products %>
            <!-- End Business Choices List -->     
        </div>
    </div>
    <!-- End Business Choices  -->
    <%= render "erp/online_store/frontend/modules/brand_list" %>
</div>