<div class="topfoot">
  <div class="container">
    <div id="logos" class="carousel slide">      
      <div class="carousel-inner">
        <div class="item active">
          <div>
            <%= link_to image_tag("/frontend/products-marketing/img/logos/hp-logo.png",
              alt: "HP", title: "HP"),
              "thuong-hieu-san-pham/5/hp.html",
              title: "HP", target: "_blank" %>
          </div>
          <div>
            <%= link_to image_tag("/frontend/products-marketing/img/logos/dell-logo.png",
              alt: "Dell", title: "GSKill"),
              "thuong-hieu-san-pham/3/dell.html",
              title: "Dell", target: "_blank" %>
          </div>						
          <div>
            <%= link_to image_tag("/frontend/products-marketing/img/logos/gskill-logo.png",
              alt: "GSKill", title: "GSKill"),
              "thuong-hieu-san-pham/11/gskill.html",
              title: "GSKill", target: "_blank" %>
          </div>
          <div>
            <%= link_to image_tag("/frontend/products-marketing/img/logos/cisco-logo.png",
              alt: "Cisco", title: "Cisco"),
              "thuong-hieu-san-pham/10/cisco.html",
              title: "Cisco", target: "_blank" %>
          </div>
          <div>
            <%= link_to image_tag("/frontend/products-marketing/img/logos/intel-logo.png",
              alt: "Intel", title: "Intel"),
              "thuong-hieu-san-pham/25/intel.html",
              title: "Intel", target: "_blank" %>
          </div>
          <div>
            <%= link_to image_tag("/frontend/products-marketing/img/logos/canon-logo.png",
              alt: "Canon", title: "Canon"),
              "thuong-hieu-san-pham/15/canon.html",
              title: "Canon", target: "_blank" %>
          </div>							
        </div>						
      </div>
    </div>
  </div>
</div>