<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Tin Tức & Sự Kiện", erp_online_store.blog_path %></li>
        <li><%= link_to truncate(@blog.name, length: 60), "javascript:void(0)" %></li>
    </ul>

    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module blog-category titleLine">
                <h3 class="modtitle"><span>Chủ đề</span></h3>
                <div class="modcontent">
                    <ul class="list-group ">
                        <% @categories.each do |cat| %>
                            <li class="list-group-item">
                                <%= link_to cat.name, erp_online_store.blog_path(cat_id: cat.id), class: "group-item #{cat.id == params[:cat_id] ? 'active' : ''}" %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>

            <div class="module latest-product titleLine">
                <h3 class="modtitle"><span>Latest Product</span></h3>
                <div class="modcontent ">
                    <% (0..2).each do |product| %>
                    <div class="product-latest-item">
                        <div class="media">
                            <div class="media-left">
                                <%= link_to image_tag("/frontend/image/shop/product/18.jpg", alt: "Cisi Chicken", title: "Cisi Chicken", size: "90x90"), "" %>
                            </div>
                            <div class="media-body">
                                <div class="caption">
                                    <h4><%= link_to "Cisi Chicken", "" %></h4>
                                    <div class="price">
                                        <span class="price-new">300,000 VNĐ</span>
                                    </div>
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </aside>
        <!--Left Part End -->

        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <div class="article-info">
                <div class="blog-header">
                    <h3><%= @blog.name %></h3>
                </div>
                <div class="article-sub-title">
                    <span class="article-author">Đăng bởi: <a href="#"> <%= @blog.post_by %></a></span>
                    <span class="article-date">Thời gian: <%= @blog.created_at.strftime("%d/%m/%Y %I:%M%p") %></span>
                    <span class="article-comment"><%= @comments.count %> Bình luận</span>
                </div>
                <div class="article-description">
                    <p><%= @blog.content.html_safe %></p>
                    <div class="post_footer">
                        <ul class="post_tags">
                            <li>Thẻ:</li>
                            <% @blog.get_tags.each_with_index do |tag,index| %>
                                <% if index+1 == @blog.get_tags.count %>
                                    <li><a href="#"><%= tag %></a></li>
                                <% else %>
                                    <li><a href="#"><%= tag %></a>,</li>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default related-comment">
                    <div class="panel-body">
                        <div class="form-group">
                            <%= form_for Erp::Articles::Comment.new, url: "", html: {class: "comment_form"} do |f| %>
                                <div id="comments" class="blog-comment-info">
                                    <h3 id="review-title">Mời bạn để lại bình luận </h3>
                                    <input type="hidden" name="comment[article_id]" value="<%= @blog.id %>" />
                                    <input type="hidden" name="comment[parent_id]" value="" />
                                    <div class="comment-left contacts-form row">
                                        <div class="col-md-6">
                                            <b>Họ tên (bắt buộc):</b>
                                            <br>
                                            <input type="text" name="comment[name]" value class="form-control" placeholder="Nhập họ tên của bạn">
                                            <br>
                                        </div>
                                        <div class="col-md-6">
                                            <b>Địa chỉ email:</b>
                                            <br />
                                            <input type="email" name="comment[email]" value class="form-control" placeholder="Nhập nếu muốn nhận phản hồi qua email">
                                            <br />
                                        </div>
                                        <div class="col-md-12">
                                            <b>Lời bình luận:</b>
                                            <br />
                                            <textarea name="comment[message]" class="form-control" placeholder="Nội dung đánh giá, thảo luận. Xin vui lòng nhập tiếng Việt có dấu."></textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="text-left">
                                        <button class="btn buttonGray" id="button-comment" type="submit">
                                            <span>Gửi bình luận</span>
                                        </button>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default related-comment comments-list">
                    <%= render 'erp/online_store/frontend/blog/comments', comments: @comments.where(archived: false) %>                    
                </div>                
            </div>
        </div>
        <!--Middle Part End-->
    </div>
</div>