<% title @blog.name %>

<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Tin Công Nghệ", erp_online_store.blog_path %></li>
        <li><%= link_to truncate(@blog.name, length: 60), "javascript:void(0)" %></li>
    </ul>

    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <%= render "erp/online_store/frontend/modules/blog/categories", cat_id: @blog.category_id %>
            <%= render "erp/online_store/frontend/modules/sidebar_best_sellers" %>
            <%= render "erp/online_store/frontend/modules/hot_banners" %>
        </aside>
        <!--Left Part End -->

        <!--Middle Part Start-->
        <div id="content post-detail" class="col-md-9 col-sm-8">
            <div class="article-info">
                <div class="blog-header">
                    <h3><%= @blog.name %></h3>
                </div>
                <div class="article-sub-title">
                    <span class="article-author"><i class="fa fa-user"></i> <a href="#"> TimHangCongNghe.vn</a></span>
                    <span class="article-date"><i class="fa fa-clock-o"></i> <%= relative_time(@blog.created_at) %></span>
                    <span class="article-folder"><i class="fa fa-folder-open"></i>
                        <%= link_to @blog.category_name, erp_online_store.blog_with_category_path(@blog.category_id, url_friendly(@blog.category_name)) %>
                    </span>
                    <span class="article-comment"><i class="fa fa-comments-o"></i> <%= @blog.comments.count %> bình luận</span>
                </div>
                <div class="article-description">
                    <%= @blog.content.html_safe %>
                    <div class="post_footer">
                        <ul class="post_tags">
                            <li>Thẻ:</li>
                            <% @blog.get_tags.each_with_index do |tag,index| %>
                                <% if index+1 == @blog.get_tags.count %>
                                    <li><a href="#"><%= tag %></a></li>
                                <% else %>
                                    <li><a href="#"><%= tag %></a>,</li>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default related-comment comments-list comment_box"
                     data-url="<%= erp_online_store.blog_comments_path(article_id: @blog.id) %>">
                </div>                
            </div>
        </div>
        <!--Middle Part End-->
    </div>
</div>