<% title @blog.name %>
<% content_for :metas do %>
<!-- for Facebook -->
    <meta property="og:locale" content="vi-VN" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="<% title @blog.name %>"/>
    <meta property="og:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:site_name" content="<% title @blog.name %> - Tìm Hàng Công Nghệ" />
    <meta property="og:image" content="https://timhangcongnghe.com/frontend/image/thcn-web-share.png"/>
    <meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="628"/>
    <!--TWITTER -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="<% title @blog.name %>" />
    <meta name="twitter:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
    <meta name="twitter:image" content="https://timhangcongnghe.com/frontend/image/thcn-web-share.png"/>
<% end %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, 'https://timhangcongnghe.com/', title: 'Tìm Hàng Công Nghệ' %></li>
        <li><%= link_to 'Tin Công Nghệ', erp_online_store.blog_path, title: 'Tin Công Nghệ' %></li>
        <li><%= link_to truncate(@blog.name, length: 60), 'javascript:void(0)', title: @blog.name %></li>
    </ul>
    <div class="row">
        <aside class="col-sm-4 col-md-3" id="column-left">
            <%= render "erp/online_store/frontend/modules/blog/categories", cat_id: @blog.category_id %>
            <%= render "erp/online_store/frontend/modules/extensions/sidebar_best_seller" %>
            <%= render "erp/online_store/frontend/modules/extensions/sidebar_hot_banner" %>
        </aside>
        <div id="content post-detail" class="col-md-9 col-sm-8">
            <div class="article-info">
                <div class="blog-header"><h3><%= @blog.name %></h3></div>
                <div class="article-sub-title">
                    <span class="article-author"><i class="fa fa-user"></i> Đăng bởi <a href="<%= erp_online_store.root_path %>" target="_blank"> Tìm Hàng Công Nghệ</a></span>
                    <span class="article-date"><i class="fa fa-clock-o"></i> <%= relative_time(@blog.created_at) %></span>
                    <span class="article-folder"><i class="fa fa-folder-open"></i>
                        <%= link_to @blog.category_name, erp_online_store.blog_with_category_path(@blog.category_id, url_friendly(@blog.category_name)) %>
                    </span>
                    <span class="article-comment"><i class="fa fa-comments-o"></i> <%= @blog.comments.count %> bình luận</span>
                </div>
                <div class="article-description">
                    <%= @blog.content.html_safe %>
                    <div class="post_footer">
                        <ul class="post_tags">
                            <li>Thẻ:</li>
                            <% @blog.get_tags.each_with_index do |tag,index| %>
                                <% if index+1 == @blog.get_tags.count %>
                                    <li><a href="#"><%= tag %></a></li>
                                <% else %>
                                    <li><a href="#"><%= tag %></a>,</li>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default related-comment comments-list comment_box"
                     data-url="<%= erp_online_store.blog_comments_path(article_id: @blog.id) %>">
                </div>                
            </div>
        </div>
    </div>
</div>