<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Tin Tức & Sự Kiện", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module blog-category titleLine">
                <h3 class="modtitle"><span>Chủ đề</span></h3>
                <div class="modcontent">
                    <ul class="list-group ">
                        <% @categories.each do |cat| %>
                            <li class="list-group-item">
                                <%= link_to cat.name, erp_online_store.blog_with_category_path(cat.id, url_friendly(cat.name)),
                                class: "group-item active" %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="module latest-product titleLine">
                <h3 class="modtitle"><span>Latest Product</span></h3>
                <div class="modcontent ">
                    <% (0..2).each do |product| %>
                    <div class="product-latest-item">
                        <div class="media">
                            <div class="media-left">
                                <%= link_to image_tag("/frontend/image/shop/product/18.jpg", alt: "Cisi Chicken", title: "Cisi Chicken", size: "90x90"), "" %>
                            </div>
                            <div class="media-body">
                                <div class="caption">
                                    <h4><%= link_to "Cisi Chicken", "" %></h4>
                                    <div class="price">
                                        <span class="price-new">300,000 VNĐ</span>
                                    </div>
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </aside>
        <!--Left Part End -->

        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <% if params[:cat_id].present? %>
                <div class="blog-header">
                    <h3><%= Erp::Articles::Category.find(params[:cat_id]).name %></h3>
                    <p><%= Erp::Articles::Category.find(params[:cat_id]).description %></p>
                </div>
            <% end %>
            <div class="blog-listitem <%= params[:cat_id].present? ? '' : 'blog-listitem-notitle' %>">
                <% if @blogs.count == 0 %>
                    <p>Danh sách bài viết không tìm thấy</p>
                <% end %>
                <% @blogs.each do |blog| %> 
                <div class="blog-item ">
                    <div class="itemBlogImg col-md-4 col-sm-12">
                        <div class="article-image banners">
                            <div>
                                <%= link_to image_tag(blog.image.medium, alt: blog.name), "#{blog.image}", class: "popup-gallery" %>
                            </div>
                        </div>
                    </div>
                    <div class="itemBlogContent col-md-8 col-sm-12">
                        <div class="article-title">
                            <h4>
                                <%= link_to blog.name, erp_online_store.blog_detail_path(blog.id, url_friendly(blog.name)) %>
                            </h4>
                        </div>
                        <div class="article-sub-title">
                            <span class="article-date">
                              <i class="fa fa-calendar"></i><%= blog.created_at.strftime("%d/%m/%Y %I:%M%p") %>
                            </span>
                        </div>
                        <div class="article-description">
                            <%= short_text(blog.content, 100) %> [...]
                        </div>
                        <div class="blog-meta">
                            <span class="comment_count">
                                <a href="#">0 Comments</a>
                            </span>
                            <span class="author">
                                <span>Đăng bởi </span><%= blog.post_by %>
                            </span>
                        </div>
                    </div>
                </div>
                <% end %>
                
                <div class="pagination-online-store">
                    <%= erp_datalist_pagination(@blogs) %>
                </div>
                
            </div>
        </div>
        <!--Middle Part End-->
    </div>
</div>