<% title 'Tin công nghệ' %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Tin Tức & Sự Kiện", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <%= render "erp/online_store/frontend/modules/blog/categories" %>
            <%= render "erp/online_store/frontend/modules/sidebar_best_sellers" %>
            <%= render "erp/online_store/frontend/modules/hot_banners" %>
        </aside>
        <!--Left Part End -->

        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <% if params[:cat_id].present? %>
                <div class="blog-header">
                    <h3><%= @category.name %></h3>
                    <p><%= @category.description %></p>
                </div>
            <% end %>
            <div class="blog-listitem <%= params[:cat_id].present? ? '' : 'blog-listitem-notitle' %>">
                <% if @blogs.count == 0 %>
                    <p>Danh sách bài viết không tìm thấy</p>
                <% end %>
                <% @blogs.each do |blog| %>
                <div class="blog-item ">
                    <div class="itemBlogImg col-md-4 col-sm-12">
                        <div class="article-image banners">
                            <div>
                                <%= link_to image_tag(blog.image.medium, alt: blog.name), "#{blog.image}", class: "popup-gallery" %>
                            </div>
                        </div>
                    </div>
                    <div class="itemBlogContent col-md-8 col-sm-12">
                        <div class="article-title">
                            <h4>
                                <%= link_to blog.name, article_link(blog) %>
                            </h4>
                        </div>
                        <div class="article-sub-title">
                            <span class="article-date">
                              <i class="fa fa-calendar"></i><%= blog.created_at.strftime("%d/%m/%Y %I:%M%p") %>
                            </span>
                        </div>
                        <div class="article-description">
                            <%= short_text(blog.content, 100) %>
                        </div>
                        <div class="blog-meta">
                            <span class="comment_count">
                                <span><%= blog.comments.count %> bình luận</span>
                            </span>
                            <span class="author">
                                <span>Đăng bởi </span><%= blog.post_by %>
                            </span>
                        </div>
                    </div>
                </div>
                <% end %>

                <div class="pagination-online-store">
                    <%= erp_datalist_pagination(@blogs) %>
                </div>

            </div>
        </div>
        <!--Middle Part End-->
    </div>
</div>
