<section id="bt-aboutpowax" class="bt-sectionpadding bt-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="bt-aboutpowax">
                    <div class="bt-fullheading">
                        <h2>Lịch Sử Phát Triển</h2>
                    </div>
                    <div id="bt-iconsslider" class="bt-iconsslider bt-icons">
                        <div class="item bt-iconandheading">
                            <span class="icon-lightbulb"></span>
                            <h3>2007</h3>
                        </div>
                        <div class="item bt-iconandheading">
                            <span class="icon-lightbulb"></span>
                            <h3>2008 - 2010</h3>
                        </div>
                        <div class="item bt-iconandheading">
                            <span class="icon-lightbulb"></span>
                            <h3>2010 - 2013</h3>
                        </div>
                        <div class="item bt-iconandheading">
                            <span class="icon-lightbulb"></span>
                            <h3>2013 - 2015</h3>
                        </div>
                        <div class="item bt-iconandheading">
                            <span class="icon-lightbulb"></span>
                            <h3>2015 - Hiện tại</h3>
                        </div>
                    </div>
                    <div id="bt-descriptionslider" class="bt-descriptionslider bt-descriptionbox">
                        <div class="item bt-iconanddescription">
                            <span class="icon-lightbulb"></span>
                            <div class="bt-description">
                                <p>
                                    <%= "Giai đoạn công ty được thành lập......" %>
                                </p>
                            </div>
                        </div>
                        <div class="item bt-iconanddescription">
                            <span class="icon-lightbulb"></span>
                            <div class="bt-description">
                                <p>
                                    <%= "2008 - 2010......" %>
                                </p>
                            </div>
                        </div>
                        <div class="item bt-iconanddescription">
                            <span class="icon-lightbulb"></span>
                            <div class="bt-description">
                                <p>
                                    <%= "2010 - 2013......" %>
                                </p>
                            </div>
                        </div>
                        <div class="item bt-iconanddescription">
                            <span class="icon-lightbulb"></span>
                            <div class="bt-description">
                                <p>
                                    <%= "2013 - 2015......" %>
                                </p>
                            </div>
                        </div>
                        <div class="item bt-iconanddescription">
                            <span class="icon-lightbulb"></span>
                            <div class="bt-description">
                                <p>
                                    <%= "2015 - Hiện tại......" %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>