<% title "Xả Kho Hàng Tồn" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Xả Kho Hàng Tồn", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <% @menus.each do |menu| %>
                <% if menu.id != 1 and !menu.get_products.get_stock_inventory_products.empty? %>
                    <div class="products-category" id="menu_<%= menu.id %>">
                        <h1 class="menu-title mb-0"><%= menu.name %></h1>

                        <%= render "erp/online_store/frontend/modules/category/product_list_filter_line",
                            categories: menu.get_products.get_stock_inventory_products.get_related_categories,
                            brands: menu.get_products.get_stock_inventory_products.get_related_brands,
                            action: erp_online_store.stock_inventory_module_path(menu_id: menu.id),
                            auto_load: true
                        %>

                        <div class="main-products-list"></div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <!--Middle Part End-->
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <%= render "erp/online_store/frontend/modules/sidebar_deal_products" %>
            <%= render "erp/online_store/frontend/modules/hot_banners" %>
        </aside>
        <!--Left Part End -->
    </div>
</div>
