<% title "Xả Kho Hàng Tồn" %>

<% content_for :metas do %>
    <!-- for Facebook -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Xả Kho Hàng Tồn"/>
    <meta property="og:description" content="Chào quý khách hàng, các sản phẩm trong mục XẢ KHO HÀNG TỒN là những sản phẩm tồn lại trong kho của chúng tôi chưa qua sử dụng nên hoàn toàn mới nhé."/>
    <meta property="og:image" content="https://timhangcongnghe.com/frontend/image/thcn-web-share.png"/>
<% end %>

<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Xả Kho Hàng Tồn", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">

            <img src="<%= url_for('/frontend/image/stock_banner.png') %>" width="100%" />
            <br /><br />

            <% @menus.each do |menu| %>
                <% if menu.id != 1 and !menu.get_products_with_sold_out.get_stock_inventory_products.empty? %>
                    <div class="products-category" id="menu_<%= menu.id %>">
                        <h1 class="menu-title mb-0"><%= menu.name %></h1>

                        <%= render "erp/online_store/frontend/modules/category/product_list_filter_line",
                            categories: menu.get_products.get_stock_inventory_products.get_related_categories,
                            brands: menu.get_products.get_stock_inventory_products.get_related_brands,
                            action: erp_online_store.stock_inventory_module_path(menu_id: menu.id),
                            auto_load: true
                        %>

                        <div class="main-products-list"></div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <!--Middle Part End-->
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <%= render "erp/online_store/frontend/modules/sidebar_deal_products" %>
            <%= render "erp/online_store/frontend/modules/hot_banners" %>
        </aside>
        <!--Left Part End -->
    </div>
</div>
