<div class="row intoduction">
  <div class="col-md-6 text-justify">
    <strong class="title">Xả kho không lo về giá</strong><br>
    <br>
    <p><strong>"Xả tồn kho - Giá không lo - Hàng cực chất!"</strong></p>
    <p>
      Cùng với nhu cầu sử dụng các sản phẩm công nghệ ngày càng nhiều như hiện nay, thì việc sở
      hữu cho mình một trong những sản phẩm công nghệ để phục vụ cho học tập, sinh hoạt và làm
      việc là vô cùng cần thiết. Và dĩ nhiên, với tình hình kinh tế và tài chính khó khăn, chúng
      ta cũng khó có thể đưa ra quyết định để tậu cho mình một "em" giá cả gần chục triệu về nhà ngay được. <br/>
      Giờ đây, bạn không cần phải lo về giá mà vẫn sở hữu cho mình những món hàng cực chất,
      cực hấp dẫn rồi nhé! Bạn chỉ việc "ngắm và chọn" những gì mình thích, còn mọi thứ
      khác cứ để TimHangCongNghe lo!
    </p>
  </div>
  <div class="col-md-6">
    <img src="/frontend/products-marketing/img/banner-quang-cao-trang-xa-kho-hang-ton.jpg" alt="//">
  </div>
</div>

<% Erp::Products::InventoryCategory.get_active.each do |inventory_category| %>
  <div class="row">
    <div class="col-md-9">
      <h3><%= inventory_category.name %></h3>
      <div class="grid">
        <% inventory_category.inventory_products.get_old_products.each do |inventory_old_product| %>
          <div class="item-grid">
            <% if inventory_old_product.gift.present? %>
            <div class="ribbon red">
              <span><%= inventory_old_product.gift %></span>
            </div>
            <% end %>
            <%= link_to '<i class="icon-plus"></i>'.html_safe, inventory_old_product.product_link, class: "more", title: inventory_old_product.name, target: "_blank" %>
            <%= image_tag inventory_old_product.image_url, alt: inventory_old_product.name, title: inventory_old_product.name %>
            <p>
                <%= link_to truncate(inventory_old_product.name, length: 22), inventory_old_product.product_link, title: inventory_old_product.name, target: "_blank" %>
                <span><%= format_price(inventory_old_product.price) %></span>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="list-group alt">
        <h3><%= inventory_category.hot_name %></h3>
        <% inventory_category.inventory_products.get_new_products.each do |inventory_new_product| %>
          <a href="<%= inventory_new_product.product_link %>" title="<%= inventory_new_product.name %>" class="list-group-item">
            <div class="hot-item">
              <%= image_tag inventory_new_product.image_url, alt: inventory_new_product.name, title: inventory_new_product.name %>
              <strong><%= truncate(inventory_new_product.name, length: 22) %></strong>
              <span><%= format_price(inventory_new_product.price) %></span>
              <div class="clearfix"></div>
            </div>
          </a>      
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
<% end %>