<% title "Sản Phẩm Khuyến Mãi" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Tin Sự Kiện", erp_online_store.events_path %></li>
        <li><%= link_to "Chi Tiết Sự Kiện", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
              <div class="module menu-category titleLine">
                <h3 class="modtitle">
                  <span>
                    <i class="fa fa-angle-double-right"></i>
                    KHUYẾN MÃI
                  </span>
                </h3>
                <div class="modcontent">
                    <div class="box-category">
                        <ul id="cat_accordion" class="list-group">
                            <% @menus.each do |menu| %>
                            <li <% if menu.children.count > 0 %>class="hadchild cutom-parent-li"<% end %>>
                                <a href="<%= menu_link(menu) %>" class="cutom-parent"><%= menu.name %><span class="dcjq-icon"></span></a>
                                <% if menu.children.count > 0 %>
                                <span class="button-view  fa fa-plus-square-o"></span>
                                <% end %>
                                <ul style="display: none;">
                                    <% menu.children.each do |child_1| %>
                                        <% if child_1.children.count > 0 %>
                                        <li class="hadchild cutom-parent-li">
                                            <%= link_to child_1.name, menu_link(child_1), class: "cutom-parent" %>
                                            <span class="button-view  fa fa-plus-square-o"></span>
                                            <ul style="display: none;">
                                                <% child_1.children.each do |child_2| %>
                                                    <li><%= link_to child_2.name, menu_link(child_2) %></li>
                                                <% end %>
                                            </ul>
                                        </li>
                                        <% else %>
                                            <li><%= link_to child_1.name, menu_link(child_1) %></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <%= render "erp/online_store/frontend/modules/sidebar_best_sellers" %>
            <%= render "erp/online_store/frontend/modules/hot_banners" %>
        </aside>
        <!--Left Part End -->
        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <div class="products-category">
                <% if @products.count > 0 %>
                <!--changed listings-->
                <div class="products-list row list">
                    <% @products.each do |product| %>
                    <div class="product-layout  col-md-3 col-sm-6 col-xs-12">
                        <div class="product-item-container product-lists">
                            <div class="left-block">
                                <div class="product-image-container lazy second_img ">
                                    <%= image_tag "/frontend/image/shop/product/e11.jpg", data: {src: "/frontend/image/shop/product/e11.jpg"}, alt: product.name, class: "img-1 img-responsive" %>
                                    <%= image_tag "/frontend/image/shop/product/e12.jpg", data: {src: "/frontend/image/shop/product/e12.jpg"}, alt: product.name, class: "img-2 img-responsive" %>
                                </div>
                                <% if product.is_new? %>
                                <span class="label label-new">Mới</span>
                                <% end %>
                                <% if product.is_deal? %>
                                <span class="label label-sale">Giảm giá</span>
                                <% end %>
                                <%= count_down(product.deal_from_date, product.deal_to_date) %>
                            </div>
                            <div class="right-block">
                                <div class="caption">
                                    <h4><%= link_to product.name, product_link(product), title: product.name, class: "hover-product-name" %></h4>
                                    <div class="price">
                                        <span class="price-new"><%= format_price(product.product_price) %></span>
                                        <% if product.is_deal? %>
                                        <br><span class="price-old"><%= format_price(product.price) %></span>
                                        <span class="label label-percent">-<%= product.deal_percent %>%</span>
                                        <% end %>
                                    </div>
                                    <%= product_list_description(product) %>
                                </div>
                            </div>
                            <!-- right block -->
                        </div>
                    </div>
                    <% end %>
                </div>
                <!--// End Changed listings-->
                <!-- Pagination -->
                <div class="product-filter product-filter-bottom filters-panel">
                    <div class="box-pagination text-center">
                        <%= will_paginate @products, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                    </div>
                </div>
                <!-- End Pagination -->
                <% else %>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning"></i> Hiện chưa có sản phẩm cho chuyên mục này.
                    </div>
                <% end %>
            </div>
        </div>
        <!--Middle Part End-->
    </div>
</div>
