<div class="main-container container">
    <div id="pwd-container">
        <div class="row">
            <div class="col-md-4"></div>
        
            <div class="col-md-4">
                <section class="edit-password">
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, role: "edit-password", class: "edit-password-form" }) do |f| %>
                        <h2>Thay đổi mật khẩu</h2>
                        <%= f.hidden_field :reset_password_token %>
                        <div class="notice">
                            <% if devise_error_messages! != '' %>
                                <span class='flash_error alert alert-danger'>
                                    <%= devise_error_messages! %>
                                </span>
                            <% end %>
                        </div>
                  
                        <div class="notice">
                            <% if flash[:alert] %>
                                <span class='flash_error alert alert-danger'> <%= flash[:alert] %></span>
                            <% end %>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-password">Mật khẩu mới:</label>
                            <% if @minimum_password_length %>
                                <em>(ít nhất <%= @minimum_password_length %> ký tự)</em><br />
                            <% end %>
                            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control required", id: "password", placeholder: "Nhập mật khẩu mới" %>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label" for="input-password">Xác nhận lại mật khẩu:</label>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control required", id: "password", placeholder: "Nhập lại mật khẩu mới" %>
                        </div>
                        <div class="pwstrength_viewport_progress"></div>
                        <%= f.submit "Tạo mật khẩu mới", class: "btn btn-primary btn-block" %>
                    <% end %>
                </section>
            </div>
              
            <div class="col-md-4"></div>
        </div>
    </div>
    <script>
        $('.edit-password-form').validate();
    </script>
</div>