<aside class="col-sm-3 hidden-xs" id="column-right">
    <h2 class="no-margin-top subtitle">Tài khoản của tôi</h2>
    <div class="list-group">
        <ul class="list-item">
            <li><%= link_to "Thông tin tài khoản", erp_online_store.my_account_path %></li>
            <li><%= link_to "Quản lý đơn hàng", erp_online_store.order_history_path %></li>
            <li><%= link_to "Sổ địa chỉ", erp_online_store.address_book_path %></li>
        </ul>
    </div>    
    <h2 class="subtitle">Thống kê đơn hàng</h2>
    <div class="list-group">
        <ul class="list-item account-report">
            <li>Đơn hàng giao dịch thành công: <b><%= current_user.orders_completed.count %></b></li>
            <li>Đơn hàng đang giao dịch: <b><%= current_user.orders_being_traded.count %></b></li>
            <li>Đơn hàng bị hủy: <b><%= current_user.orders_cancelled.count %></b></li>
            <li>Sản phẩm giao dịch thành công: <b><%= current_user.number_of_products_purchased %></b></li>
            <li>Tổng tiền đã giao dịch: <span class="price"><b><%= format_price(current_user.total_amount_for_orders_completed) %></b></span></li>
        </ul>
    </div>
</aside>