<div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612943825601">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class=" wpisset_ele_es_header4 wpisset_ele_es_header4-1591999470 vc_custom_1610096918980" >
                    <div class="wpisset-ele-es-header4"><h2 class="wpisset-ele-es-header4-title">THƯƠNG HIỆU SẢN PHẨM</h2></div>
                    <div class="wpisset-ele-es-header4-sep1"></div><div class="wpisset-ele-es-header4-element"></div><div class="wpisset-ele-es-header4-sep2"></div>
                    <div class="wpisset-ele-es-header4-desc"><span>Nổi Bật Nhất</span></div>
                </div>
                <div class=" wpisset_ele_es_logos wpisset_ele_es_logos-497494116 wpisset-ele-es-logos-col-5">
                    <div class="wpisset-ele-es-logos-row">
                        <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="AMD" data-cursor-color="#d9214e" data-cursor-text-color="#fff" data-cursor-subtitle="Xem Tất Cả">
                            <div class="wpisset-ele-es-logos-item-img">
                                <%= image_tag '/img/home/brands/amd.png', alt: 'Thương Hiệu Sản Phẩm AMD', title: 'Thương Hiệu Sản Phẩm AMD', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                            </div>
                            <%= link_to '', '', title: 'Thương Hiệu Sản Phẩm AMD', class: 'wpisset-ele-es-logos-item-link' %>
                        </div>
                        <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="APPLE" data-cursor-color="#d9214e" data-cursor-text-color="#fff" data-cursor-subtitle="Xem Tất Cả">
                            <div class="wpisset-ele-es-logos-item-img">
                                <%= image_tag '/img/home/brands/apple.png', alt: 'Thương Hiệu Sản Phẩm Apple', title: 'Thương Hiệu Sản Phẩm Apple', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                            </div>
                            <%= link_to '', '', title: 'Thương Hiệu Sản Phẩm Apple', class: 'wpisset-ele-es-logos-item-link' %>
                        </div>
                        <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="DELL" data-cursor-color="#d9214e" data-cursor-text-color="#fff" data-cursor-subtitle="Xem Tất Cả">
                            <div class="wpisset-ele-es-logos-item-img">
                                <%= image_tag '/img/home/brands/dell.png', alt: 'Thương Hiệu Sản Phẩm Dell', title: 'Thương Hiệu Sản Phẩm Dell', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                            </div>
                            <%= link_to '', '', title: 'Thương Hiệu Sản Phẩm Dell', class: 'wpisset-ele-es-logos-item-link' %>
                        </div>
                        <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="HP" data-cursor-color="#d9214e" data-cursor-text-color="#fff" data-cursor-subtitle="Xem Tất Cả">
                            <div class="wpisset-ele-es-logos-item-img">
                                <%= image_tag '/img/home/brands/hp.png', alt: 'Thương Hiệu Sản Phẩm HP', title: 'Thương Hiệu Sản Phẩm HP', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                            </div>
                            <%= link_to '', '', title: 'Thương Hiệu Sản Phẩm HP', class: 'wpisset-ele-es-logos-item-link' %>
                        </div>
                        <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="MSI" data-cursor-color="#d9214e" data-cursor-text-color="#fff" data-cursor-subtitle="Xem Tất Cả">
                            <div class="wpisset-ele-es-logos-item-img">
                                <%= image_tag '/img/home/brands/msi.png', alt: 'Thương Hiệu Sản Phẩm MSI', title: 'Thương Hiệu Sản Phẩm MSI', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                            </div>
                            <%= link_to '', '', title: 'Thương Hiệu Sản Phẩm MSI', class: 'wpisset-ele-es-logos-item-link' %>
                        </div>
                        <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="ADOBE" data-cursor-color="#d9214e" data-cursor-text-color="#fff" data-cursor-subtitle="Xem Tất Cả">
                            <div class="wpisset-ele-es-logos-item-img">
                                <%= image_tag '/img/home/brands/adobe.png', alt: 'Thương Hiệu Sản Phẩm Adobe', title: 'Thương Hiệu Sản Phẩm Adobe', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                            </div>
                            <%= link_to '', '', title: 'Thương Hiệu Sản Phẩm Adobe', class: 'wpisset-ele-es-logos-item-link' %>
                        </div>
                        <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="MICROSOFT" data-cursor-color="#d9214e" data-cursor-text-color="#fff" data-cursor-subtitle="Xem Tất Cả">
                            <div class="wpisset-ele-es-logos-item-img">
                                <%= image_tag '/img/home/brands/microsoft.png', alt: 'Thương Hiệu Sản Phẩm Microsoft', title: 'Thương Hiệu Sản Phẩm Microsoft', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                            </div>
                            <%= link_to '', '', title: 'Thương Hiệu Sản Phẩm Microsoft', class: 'wpisset-ele-es-logos-item-link' %>
                        </div>
                        <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="SAMSUNG" data-cursor-color="#d9214e" data-cursor-text-color="#fff" data-cursor-subtitle="Xem Tất Cả">
                            <div class="wpisset-ele-es-logos-item-img">
                                <%= image_tag '/img/home/brands/samsung.png', alt: 'Thương Hiệu Sản Phẩm Samsung', title: 'Thương Hiệu Sản Phẩm Samsung', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                            </div>
                            <%= link_to '', '', title: 'Thương Hiệu Sản Phẩm Samsung', class: 'wpisset-ele-es-logos-item-link' %>
                        </div>
                        <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="SONY" data-cursor-color="#d9214e" data-cursor-text-color="#fff" data-cursor-subtitle="Xem Tất Cả">
                            <div class="wpisset-ele-es-logos-item-img">
                                <%= image_tag '/img/home/brands/sony.png', alt: 'Thương Hiệu Sản Phẩm Sony', title: 'Thương Hiệu Sản Phẩm Sony', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                            </div>
                            <%= link_to '', '', title: 'Thương Hiệu Sản Phẩm Sony', class: 'wpisset-ele-es-logos-item-link' %>
                        </div>
                        <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="XIAOMI" data-cursor-color="#d9214e" data-cursor-text-color="#fff" data-cursor-subtitle="Xem Tất Cả">
                            <div class="wpisset-ele-es-logos-item-img">
                                <%= image_tag '/img/home/brands/xiaomi.png', alt: 'Thương Hiệu Sản Phẩm Xiaomi', title: 'Thương Hiệu Sản Phẩm Xiaomi', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                            </div>
                            <%= link_to '', '', title: 'Thương Hiệu Sản Phẩm Xiaomi', class: 'wpisset-ele-es-logos-item-link' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>