<% Erp::Products::Product.where(is_deal: true).each do |hot_deal| %>
<div class="product-thumb transition product-item-container">
    <div class="left-block">
        <div class="product-image-container">
            <div class="image">
                <span class="label label-sale">Giảm giá</span>
                <a class="lt-image" href="<%= erp_online_store.product_detail_path(product_id: hot_deal.id) %>" target="_self">
                    <%= image_tag "/frontend/image/shop/product/170/e13.jpg", alt: hot_deal.name, title: hot_deal.name, class: "img-1 img-responsive" %>
                    <%= image_tag "/frontend/image/shop/product/170/e14.jpg", alt: hot_deal.name, title: hot_deal.name, class: "img-2 img-responsive" %>
                </a>
                <div class="item-time">
                    <div class="item-timer">
                        <div class="defaultCountdown-30"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-block">
        <div class="caption">
            <% if hot_deal.count_stars.length > 0 %>
                <div class="rating">
                    <% (1..hot_deal.average_stars).each do |star| %>
                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                    <% end %>
                    <% (1..(5-hot_deal.average_stars)).each do |star| %>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                    <% end %>
                </div>
            <% else %>
                <% (1..5).each do |star| %>
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                <% end %>
            <% end %>
            <h4><%= link_to hot_deal.name, erp_online_store.product_detail_path(product_id: hot_deal.id), title: hot_deal.name %></h4>
            <p class="price">
                <span class="price-new"><%= hot_deal.product_price %></span> <span class="price-old"><%= hot_deal.price %></span>
            </p>
        </div>
    </div>
    <!-- End right block -->
</div>
<% end %>