<div class="module slideshow no-margin">
    <div class="item">
        <%= link_to image_tag("/frontend/image/slider/sl14/osb2.png", alt: "slider1", class: "img-responsive"), "" %>
        <div class="sohomeslider-description">
            <!--<img class="image image-sl11 pos-right img-active" src="/frontend/image/slider/sl11/2.png" alt="slideshow">-->
            <div class="text pos-right text-sl11" style="top: 90px">
                <h3 class="tilte modtitle-sl11  title-active" style="font-size: 38px;color: #fff;text-shadow: 1px 1px 1px #222">Dell Vostro 3468</h3>
                <p class="des des-sl11 des-active" style="line-height: 40px;font-size: 25px;color: #f6ff00;text-shadow: 1px 1px 1px #222">Intel Kabylake core i3-7100U</p>
                <p class="des des-sl11 des-active" style="line-height: 40px;text-align: right; font-size: 25px;color: #fff;text-shadow: 1px 1px 1px #222">10.100.000 VND</p>
                <p class="des des-sl11 des-active" style="line-height: 40px;text-align: right; font-size: 35px;color: #fff;text-shadow: 1px 1px 1px #222">(Tặng túi)</p>
            </div>
        </div>
    </div>
    <div class="item">
      <%= link_to image_tag("/frontend/image/slider/sl14/osb3b.png", alt: "slider2", class: "img-responsive"), "" %>
        <div class="sohomeslider-description">
            <%= image_tag "/frontend/image/slider/sl14/osb3i.png", alt: "slideshow2", class: "image image-sl12 pos-left img-active top-10" %>
            <div class="text pos-right text-sl12" style="top: 110px;
                                                        right: 20px;">
                <h3 class="tilte modtitle-sl12 title-active" style="text-align: center">ALL IN ONE HP Pro-One </h3>
                <h4 class="titleh4 h4-active" style="text-align: center">400 G2</h4>
                <p class="des des-sl11 des-active" style="text-align: center">GIÁ CHỈ 13.990.000 VND</p>
            </div>
        </div>
    </div>
    <div class="item">
        <%= link_to image_tag("/frontend/image/slider/sl14/osb1.png", alt: "slider3", class: "img-responsive"), "" %>
        <div class="sohomeslider-description">
            <%= image_tag "/frontend/image/slider/sl14/osb1i.png", alt: "slideshow3", class: "image image-sl13 pos-right img-active" %>
            <div class="text pos-left text-sl13">
                <h3 class="tilte modtitle-sl13 title-active" style="font-size: 45px;color: #f25557">Prodesk 400 G3 MT</h3>
                <p class="des des-sl11 des-active" style="font-size: 25px; line-height: 55px;">Core i3-6100/ 4GB/ 1TB</p>
                <p class="des des-sl11 des-active" style="font-size: 20px;">
                    GIÁ CHỈ TỪ <span style="font-size: 28px;color: #efe572; font-weight: bold">9.150.000 VND</span>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
        <%= link_to image_tag("/frontend/image/slider/sl14/osb4.png", alt: "slider4", class: "img-responsive"), "" %>
        <div class="sohomeslider-description">
            <%= image_tag "/frontend/image/slider/sl14/osb4i.png", alt: "slideshow4", class: "image image-sl12 pos-left img-active", style: "left: 110px" %>
            <div class="text pos-right text-sl12" style="top: 210px; right: 140px;">
                <h3 class="tilte modtitle-sl12 title-active" style="text-align: center; color: #fff">HP Prodisplay </h3>
                <h4 class="titleh4 h4-active" style="line-height: 80px;font-size: 50px;text-align: center">P19A</h4>
                <p class="des des-sl11 des-active" style="text-align: center; color: #fff">GIÁ CHỈ 2.990.000 VND</p>
            </div>
        </div>
    </div>
    <div class="item">
        <%= link_to image_tag("/frontend/image/slider/sl14/osb5.png", alt: "slider3", class: "img-responsive"), "" %>
        <div class="sohomeslider-description">            
            <div class="text pos-left text-sl13" style="left: 60%; top: 80px;">
                <!--<h3 class="tilte modtitle-sl13 title-active" style="font-size: 45px;color: #f25557">Prodesk 400 G3 MT</h3>-->
                <p class="des des-sl11 des-active" style="font-size: 25px; line-height: 35px;">BỘ LƯU ĐIỆN  <br/>UPS  ZLPOWER</p>
                <p class="des des-sl11 des-active" style="font-size: 20px;">
                    GIÁ CHỈ <span style="font-size: 28px;color: #efe572; font-weight: bold; line-height: 35px">780.000 VND</span>
                </p>
            </div>
            <div class="text pos-left text-sl13" style="
    top: 360px;
    left: 30px;">                
                <p class="des des-sl11 des-active" style="font-size: 25px; line-height: 35px;">Công suất 500VA/300W  <br/>
                Bảo hành <span style="font-size: 28px;color: #efe572; font-weight: bold; line-height: 35px">12 tháng</span></p>                
            </div>
        </div>
    </div>
</div>
<div class="loadeding"></div>