<!-- Mod Supercategory -->
<div class="module cus-style-supper-cate <%= @menu_hot.style_color%>">
    <div class="header">
        <h3 class="modtitle">
            <span class="icon-color">
                <%= @menu_hot.style_icon.html_safe %><%= @menu_hot.name %>
                <small class="arow-after"></small>
            </span>
            <strong class="line-color"></strong>
        </h3>
    </div>
    <div class="so-sp-cat first-load">
        <div class="spcat-wrap ">
            <% if params[:child_1_id].present? %>
            <div class="spcat-tabs-container">
                <!--Begin Tabs-->
                <div class="spcat-tabs-wrap">
                    <ul class="spcat-tabs cf">
                        <% @child_1.children.each do |child_2| %>
                        <li class="spcat-tab">
                            <span class="spcat-tab-label"><%= link_to child_2.name, erp_online_store.category_box_path(menu_hot_id: @menu_hot.id, child_1_id: @child_1.id, child_2_id: child_2.id), title: child_2.name, class: "ajax_link" %></span>
                        </li>
                        <% end %>
                    </ul>
                </div>
                <!-- End Tabs-->
            </div>
            <% end %>
            <div class="main-left">
                <div class="banner-post-text">
                    <% if params[:child_1_id].present? %>
                        <% if @child_1.image_url_1.present? %>
                        <%= link_to image_tag(@child_1.image_url_1, alt: @child_1.name), @child_1.image_menu_link_1 %>
                        <% else %>
                        <%= link_to image_tag(@menu_hot.image_url_1, alt: @menu_hot.name), @menu_hot.image_menu_link_1 %>
                        <% end %>
                    <% elsif params[:child_2_id].present? %>
                        <% if @child_2.image_url_1.present? %>
                        <%= link_to image_tag(@child_2.image_url_1, alt: @child_2.name), @child_2.image_menu_link_1 %>
                        <% else %>
                        <%= link_to image_tag(@menu_hot.image_url_1, alt: @menu_hot.name), @menu_hot.image_menu_link_1 %>
                        <% end %>
                    <% else %>
                        <%= link_to image_tag(@menu_hot.image_url_1, alt: @menu_hot.name), @menu_hot.image_menu_link_1 %>
                    <% end %>
                </div>
                <div class="hot-category">
                    <div class="category-wrap-cat">
                        <div class="title-imageslider  sp-cat-title-parent">
                            CHUYÊN MỤC HOT
                        </div>
                        <div id="cat_slider_3" class="slider">
                            <div class="cat_slider_inner so_category_type_default">
                                <% @menu_hot.children.is_hot.each do |child_1| %>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="cat_slider_title">
                                            <%= link_to '<i class="fa fa-caret-right"></i> '.html_safe + child_1.name, erp_online_store.category_box_path(menu_hot_id: @menu_hot.id, child_1_id: child_1.id), title: child_1.name, class: "ajax_link" %>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-right">
                <div class="banner-pre-text">
                    <% if params[:child_1_id].present? %>
                        <% if @child_1.image_url_2.present? %>
                        <%= link_to image_tag(@child_1.image_url_2, alt: @child_1.name), @child_1.image_menu_link_2 %>
                        <% else %>
                        <%= link_to image_tag(@menu_hot.image_url_2, alt: @menu_hot.name), @menu_hot.image_menu_link_2 %>
                        <% end %>
                    <% elsif params[:child_2_id].present? %>
                        <% if @child_2.image_url_2.present? %>
                        <%= link_to image_tag(@child_2.image_url_2, alt: @child_2.name), @child_2.image_menu_link_2 %>
                        <% else %>
                        <%= link_to image_tag(@menu_hot.image_url_2, alt: @menu_hot.name), @menu_hot.image_menu_link_2 %>
                        <% end %>
                    <% else %>
                        <%= link_to image_tag(@menu_hot.image_url_2, alt: @menu_hot.name), @menu_hot.image_menu_link_2 %>
                    <% end %>
                </div>
                <div class="spcat-items-container products-list grid show-pre show-row">
                    <!--Begin Items-->
                    <div class="spcat-items spcat-items-loaded items-category-sales product-layout spcat-items-selected" data-total="9">
                        <div class="spcat-items-inner spcat00-4 spcat01-4 spcat02-3 spcat03-2 spcat04-1 flip">
                            <div class="ltabs-items-inner ltabs-slider ">
                                <% @products.each do |product| %>
                                <div class="ltabs-item ">
                                    <div class="item-inner product-thumb product-item-container transition ">
                                        <div class="left-block">
                                            <div class="product-image-container">
                                                <div class="image">
                                                    <a class="lt-image" href="<%= product_link(product) %>" target="_self" title="Verty nolen max..">
                                                        <%= image_tag "/frontend/image/shop/product/170/4.jpg", alt: "Apple Cinema 30", class: "img-1 img-responsive", title: "Apple Cinema 30" %>
                                                        <%= image_tag "/frontend/image/shop/product/170/4.jpg", alt: "Apple Cinema 30", class: "img-2 img-responsive", title: "Apple Cinema 30" %>
                                                    </a>
                                                </div>
                                            </div>
                                            <% if product.is_new? %>
                                            <span class="label label-new">Mới</span>
                                            <% end %>
                                            <% if product.is_deal? %>
                                            <span class="label label-sale">Giảm giá</span>
                                            <% end %>
                                        </div>
                                        <div class="right-block">
                                            <div class="caption">
                                                <h4>
                                                    <%= link_to product.name, product_link(product), title: product.name %>
                                                </h4>
                                                <p class="price">                                                    
                                                    <span class="price-new"><%= format_price(product.product_price) %></span>
                                                    <% if product.is_deal %>                        
                                                        <br><span class="price-old"><%= format_price(product.price) %></span>
                                                        <span class="label label-percent">-<%= product.deal_percent %>%</span>
                                                    <% end %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Items-->
            </div>
        </div>
    </div>
</div>
<!-- End Mod -->