<% content_for :metas do %>
    <!-- for Facebook -->
    <meta property="og:url" content="https://timhangcongnghe.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Trang Thương Mại Điện Tử Sản Phẩm Công Nghệ Uy Tín, Chất Lượng"/>
    <meta property="og:description" content="Tìm Hàng Công Nghệ là trang thương mại điện tử uy tín chuyên cung cấp đa dạng các sản phẩm, thiết bị công nghệ từ các hãng lớn thế giới."/>
    <meta property="og:image" content="https://timhangcongnghe.com/frontend/image/thcn-web-share.png"/>
<% end %>

<main id="content" class="page-main">
    <!-- Block Spotlight1  -->
    <div class="so-spotlight1 ">
        <div class="container">
            <div class="row">
                <div id="yt_header_right" class="col-lg-offset-3 col-lg-9 col-md-12 col-slideshow">
                    <div class="slider-container ">
                        <div id="so-slideshow" class="">
                            <%= render "erp/online_store/frontend/modules/home/slideshow" %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-banner banners banner-sn-1 wow fadeInUp">
                <%= render "erp/online_store/frontend/modules/home/banner" %>
            </div>
        </div>
    </div>
    <!-- Block Spotlight2  -->
    <div class="so-spotlight2 ">
        <div class="container">
            <div class="row">
                <% if @hot_deals.count > 0 %>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <!-- HOT DEALS -->
                    <%= render "erp/online_store/frontend/modules/home/hot_deals" %>
                    <!-- END HOT DEALS -->
                </div>
                <% end %>
                <% if @bestsellers.count > 0 %>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <!-- BESTSELERS -->
                    <% if @hot_deals.count > 3 %>
                    <%= render "erp/online_store/frontend/modules/sidebar_best_sellers" %>
                    <% end %>
                    <!-- END BESTSELERS -->
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <!-- Block Spotlight3  -->
    <div class="so-spotlight3">
        <div class="container">
            <%= render "erp/online_store/frontend/modules/home/hot_categories" %>
        </div>
    </div>
    <!--Block Spotlight4  -->
    <!-- Banner Content -->
    <div class="so-spotlight3">
        <div class="container">
            <div class="module banner">
                <div class="banners">
                    <div>
                        <% if !@long_banner.nil? %>
                            <%= link_to image_tag(@long_banner.image_url.thumb, alt: @long_banner.name), @long_banner.link_url, title: @long_banner.name %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <div class="so-spotlight4">
        <div class="container">
            <div class="row">
                <% if @newest_blogs.count > 0 && @bestsellers.count > 0 && @testimonials.count > 0 %>
                <div class="module so-latest-blog latest-blog col-md-4 col-sm-6 col-xs-12">
                    <h3 class="modtitle"><%= link_to '<span>Tin công nghệ</span>'.html_safe, erp_online_store.blog_path %></h3>
                    <div id="so_latest_blog_180" class="so-blog-external button-type2 button-type2">
                        <div class="blog-external-simple">
                            <%= render "erp/online_store/frontend/modules/home/news" %>
                        </div>
                    </div>
                </div>
                <div class="bestseller col-md-4 col-sm-6 col-xs-12">
                    <div class="bestseller-inner">
                        <div>
                            <h3 class="modtitle"><%= link_to '<span>Bán chạy nhất</span>'.html_safe, erp_online_store.bestseller_products_path %></h3>
                            <%= render "erp/online_store/frontend/modules/home/bestsellers", bestsellers: @bestsellers %>
                        </div>
                    </div>
                </div>
                <div class="module testimonial col-md-4 col-sm-12 col-xs-12">
                    <div class="clients_say">
                        <div class="block-title">
                            <h3 class="modtitle"><%= link_to '<span>Ý kiến khách hàng</span>'.html_safe, "" %></h3>
                        </div>
                        <div class="slider-clients-say">
                            <%= render "erp/online_store/frontend/modules/home/testimonial" %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</main>