<% title @page_title.html_safe %>

<% content_for :metas do %>
<meta property="og:locale" content="vi_VN" />
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Tìm Hàng Công Nghệ" />
<meta property="og:url" content="https://timhangcongnghe.com/"/>
<meta property="og:description" content="<% if @meta_description.present? %><%= @meta_description %><% else %>Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển.<% end %>"/>
<meta property="og:title" content="Tìm Hàng Công Nghệ &#8211; Chuyên Laptop, PC, LCD Và Thiết Bị Tin Học"/>
<meta property="og:image" content="/img/thcn-web-share.jpg"/>
<meta property="og:image:width" content="1920"/>
<meta property="og:image:height" content="1080"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Tìm Hàng Công Nghệ &#8211; Chuyên Laptop, PC, LCD Và Thiết Bị Tin Học" />
<meta name="twitter:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
<meta name="twitter:image" content="/img/thcn-web-share.jpg"/>
<% end %>

<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb"><p id="breadcrumbs"><span class="breadcrumb_last" aria-current="page">Trang Chủ</span></p></div>
        <div class="entry-content">
            <%= render partial: 'erp/online_store/frontend/home/slide' %>
<%
=begin%>
 <%= render partial: 'erp/online_store/frontend/home/banner' %>  
<%
=end%>

            <%= render partial: 'erp/online_store/frontend/home/laptop' %>
            <%= render 'erp/online_store/frontend/home/category/apple', brand: @apple, title: 'Sản Phẩm Apple', url: 'javascript:void(0)' %>
            <%= render 'erp/online_store/frontend/home/category/desktop', category: @desktop, title: 'Máy Tính Để Bàn (PC)', url: '' %>
            <%= render 'erp/online_store/frontend/home/category/workstation', category: @workstation, title: 'Máy Tính Trạm (Workstation)', url: '' %>
            <%= render 'erp/online_store/frontend/home/category/server', category: @server, title: 'Máy Chủ (Server)', url: '' %>
            <%= render 'erp/online_store/frontend/home/category/monitor_pc', category: @monitor_pc, title: 'Màn Hình Máy Tính', url: '' %>
            <%= render 'erp/online_store/frontend/home/category/all_in_one', category: @aio, title: 'Máy Tính Đồng Bộ (All in One)', url: '' %>
            <%= render 'erp/online_store/frontend/home/category/computer_components', products: @computer_components, title: 'Linh Kiện Máy Tính', url: '' %>
            <%= render 'erp/online_store/frontend/home/category/computer_accessories', products: @computer_accessories, title: 'Phụ Kiện Máy Tính', url: '' %>
            <%= render 'erp/online_store/frontend/home/category/monitor_signage', category: @monitor_signage, title: 'Màn Hình Quảng Cáo', url: '' %>
            <%= render 'erp/online_store/frontend/home/category/printer', products: @printer, title: 'Máy In', url: '' %>
            <%= render 'erp/online_store/frontend/home/category/network', products: @network, title: 'Thiết Bị Mạng', url: '' %>
            <%= render 'erp/online_store/frontend/home/category/camera', category: @camera, title: 'Camera Quan Sát', url: '' %>
<%
=begin%>
<%= render partial: 'erp/online_store/frontend/home/background' %> 
<%
=end%>
            <%= render partial: 'erp/online_store/frontend/home/newest_products' %>
            <%= render partial: 'erp/online_store/frontend/home/brands' %>
            <%= render partial: 'erp/online_store/frontend/home/recent_viewed' %> 
            <div class="entry-content-clear"></div>
        </div>
    </main>
</div>