<main id="content" class="page-main">
    <!-- Block Spotlight1  -->
    <div class="so-spotlight1 ">
        <div class="container">
            <div class="row">
                <div id="yt_header_right" class="col-lg-offset-3 col-lg-9 col-md-12 col-slideshow">
                    <div class="slider-container ">
                        <div id="so-slideshow" class="">
                            <%= render "erp/online_store/frontend/home/slideshow" %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-banner banners banner-sn-1 wow fadeInUp">
                <%= render "erp/online_store/frontend/home/banner" %>
            </div>
        </div>
    </div>
    <!-- Block Spotlight2  -->
    <div class="so-spotlight2 ">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <!-- DEAL -->
                    <div class="module so-deals">
                        <h3 class="modtitle"><span>Khuyến mãi</span></h3>
                        <div class="modcontent">
                            <div class="so-deal modcontent products-list grid clearfixbutton-type1 style2">
                                <div class="extraslider-inner product-layout deal-slider">
                                    <%= render "erp/online_store/frontend/home/hot_deals" %>
                                </div>
                            </div>
                        </div>
                        <!--/.modcontent-->
                    </div>
                    <!-- END DEAL -->
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <!-- MODULE BESTSELER -->
                    <div class="moduletable module best-seller">
                        <h3 class="modtitle"><span>Bán chạy</span></h3>
                        <div class="so-extraslider">
                            <div class="extraslider-inner best-seller-slider">
                                <div class="item ">
                                    <%= render "erp/online_store/frontend/home/best_sellers" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END  -->
                </div>
            </div>
        </div>
    </div>
    <!-- Block Spotlight3  -->
    <div class="so-spotlight3">
        <div class="container">
            <%= render "erp/online_store/frontend/home/hot_categories" %>
        </div>
    </div>
    <!--Block Spotlight4  -->
    <div class="so-spotlight4">
        <div class="container">
            <div class="row">
                <div class="module so-latest-blog latest-blog col-md-4 col-sm-6 col-xs-12">
                    <h3 class="modtitle"><span>Tin tức mới nhất</span></h3>
                    <div id="so_latest_blog_180" class="so-blog-external button-type2 button-type2">
                        <div class="blog-external-simple">
                            <%= render "erp/online_store/frontend/home/news" %>
                        </div>
                    </div>
                </div>
                <div class="bestseller col-md-4 col-sm-6 col-xs-12">
                    <div class="bestseller-inner">
                        <div>
                            <h3>Bestsellers</h3>
                            <%= render "erp/online_store/frontend/home/bestsellers" %>
                        </div>
                    </div>
                </div>
                <div class="module testimonial col-md-4 col-sm-12 col-xs-12">
                    <div class="clients_say">
                        <div class="block-title">
                            <h3>Ý kiến khách hàng</h3>
                        </div>
                        <div class="slider-clients-say">
                            <%= render "erp/online_store/frontend/home/testimonial" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block Spotlight5  -->
    <div class="so-spotlight5">
        <div class="container">
            <div class="block-brand">
                <div class="brand-slider">
                    <% Erp::Products::Brand.where(archived: false).each do |brand| %>
                        <div class="item-manu">
                            <%= link_to image_tag("/frontend/image/brands/2.jpg", alt: brand.name), "", title: brand.name %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</main>