<main id="content" class="page-main">
    <!-- Block Spotlight1  -->
    <div class="so-spotlight1 ">
        <div class="container">
            <div class="row">
                <div id="yt_header_right" class="col-lg-offset-3 col-lg-9 col-md-12">
                    <div class="slider-container ">
                        <div id="so-slideshow" class="">
                            <div class="module slideshow no-margin">
                                <div class="item">
                                    <a href="#"><img src="/frontend/image/slider/sl14/osb2.png" alt="slider1" class="img-responsive"></a>
                                    <div class="sohomeslider-description">
                                        <!--<img class="image image-sl11 pos-right img-active" src="/frontend/image/slider/sl11/2.png" alt="slideshow">-->
                                        <div class="text pos-right text-sl11" style="top: 90px">
                                            <h3 class="tilte modtitle-sl11  title-active" style="font-size: 38px;color: #fff;text-shadow: 1px 1px 1px #222">Dell Vostro 3468</h3>
                                            <p class="des des-sl11 des-active" style="line-height: 40px;font-size: 25px;color: #f6ff00;text-shadow: 1px 1px 1px #222">Intel Kabylake core i3-7100U</p>
                                            <p class="des des-sl11 des-active" style="line-height: 40px;text-align: right; font-size: 25px;color: #fff;text-shadow: 1px 1px 1px #222">10.100.000 VND</p>
                                            <p class="des des-sl11 des-active" style="line-height: 40px;text-align: right; font-size: 35px;color: #fff;text-shadow: 1px 1px 1px #222">(Tặng túi)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="/frontend/image/slider/sl14/osb3b.png" alt="slider1" class="img-responsive"></a>
                                    <div class="sohomeslider-description">
                                        <img class="image image-sl12 pos-left img-active" src="/frontend/image/slider/sl14/osb3i.png" alt="slideshow">
                                        <div class="text pos-right text-sl12" style="top: 110px;
                                                                                    right: 20px;">
                                            <h3 class="tilte modtitle-sl12 title-active" style="text-align: center">ALL IN ONE HP Pro-One </h3>
                                            <h4 class="titleh4 h4-active" style="text-align: center">400 G2</h4>
                                            <p class="des des-sl11 des-active" style="text-align: center">GIÁ CHỈ 13.990.000 VND</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="/frontend/image/slider/sl14/osb1.png" alt="slider1" class="img-responsive"></a>
                                    <div class="sohomeslider-description">
                                        <img class="image image-sl13 pos-right img-active" src="/frontend/image/slider/sl14/osb1i.png" alt="slideshow">
                                        <div class="text pos-left text-sl13">
                                            <h3 class="tilte modtitle-sl13 title-active" style="font-size: 45px;color: #f25557">Prodesk 400 G3 MT</h3>
                                            <p class="des des-sl11 des-active" style="font-size: 25px; line-height: 55px;">Core i3-6100/ 4GB/ 1TB</p>
                                            <p class="des des-sl11 des-active" style="font-size: 20px;">
                                                GIÁ CHỈ TỪ <span style="font-size: 28px;color: #efe572; font-weight: bold">9.000.000 VND</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="/frontend/image/slider/sl14/osb4.png" alt="slider1" class="img-responsive"></a>
                                    <div class="sohomeslider-description">
                                        <img style="left: 110px" class="image image-sl12 pos-left img-active" src="/frontend/image/slider/sl14/osb4i.png" alt="slideshow">
                                        <div class="text pos-right text-sl12" style="top: 210px;
                                                                                    right: 140px;">
                                            <h3 class="tilte modtitle-sl12 title-active" style="text-align: center; color: #fff">HP Prodisplay </h3>
                                            <h4 class="titleh4 h4-active" style="line-height: 80px;font-size: 50px;text-align: center">P19A</h4>
                                            <p class="des des-sl11 des-active" style="text-align: center; color: #fff">GIÁ CHỈ 2.990.000 VND</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="loadeding"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="block-banner banners banner-sn-1 wow fadeInUp">
                <div class="img-1 banner1-1">
                    <%= link_to image_tag("/frontend/image/banner/m1.jpg", alt: "Static Image"), "", title: "Static Image" %>
                </div>
                <div class="img-1 banner1-2">
                    <%= link_to image_tag("/frontend/image/banner/m2.jpg", alt: "Static Image"), "", title: "Static Image" %>
                </div>
                <div class="img-1 banner1-3">
                    <%= link_to image_tag("/frontend/image/banner/m3.jpg", alt: "Static Image"), "", title: "Static Image" %>
                </div>
                <div class="img-1 banner1-4">
                    <%= link_to image_tag("/frontend/image/banner/m4.jpg", alt: "Static Image"), "", title: "Static Image" %>
                </div>
            </div>
        </div>
    </div>
    <!-- Block Spotlight2  -->
    <div class="so-spotlight2 ">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <!-- DEAL -->
                    <div class="module so-deals">
                        <h3 class="modtitle"><span>Hot Deals</span></h3>
                        <div class="modcontent">
                            <div class="so-deal modcontent products-list grid clearfixbutton-type1 style2">
                                <div class="extraslider-inner product-layout deal-slider">
                                    <% (0..8).each do |hot_deal| %>
                                    <div class="product-thumb transition product-item-container">
                                        <div class="left-block">
                                            <div class="product-image-container">
                                                <div class="image">
                                                    <span class="label label-sale">Giảm giá</span>
                                                    <a class="lt-image" href="<%= erp_online_store.product_detail_path %>" target="_self">
                                                        <%= image_tag "/frontend/image/shop/product/170/e13.jpg", alt: "Apple Cinema 30", title: "Apple Cinema 30", class: "img-1 img-responsive" %>
                                                        <%= image_tag "/frontend/image/shop/product/170/e14.jpg", alt: "Apple Cinema 30", title: "Apple Cinema 30", class: "img-2 img-responsive" %>
                                                    </a>
                                                    <div class="item-time">
                                                        <div class="item-timer">
                                                            <div class="defaultCountdown-30"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <div class="caption">
                                                <div class="rating">
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                </div>
                                                <h4><%= link_to "Caras tima chuk..", erp_online_store.product_detail_path, title: "Caras tima chuk.." %></h4>
                                                <p class="price">
                                                    <span class="price-new">$82.40</span> <span class="price-old">$122.00</span>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End right block -->
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <!--/.modcontent-->
                    </div>
                    <!-- END DEAL -->
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <!-- MODULE BESTSELER -->
                    <div class="moduletable module best-seller">
                        <h3 class="modtitle"><span>Best Sellers</span></h3>
                        <div class="so-extraslider">
                            <div class="extraslider-inner best-seller-slider">
                                <div class="item ">
                                    <% (0..5).each_with_index do |best_seller,index| %>
                                    <div class="item-wrap style1">
                                        <div class="item-wrap-inner media">
                                            <div class="media-left">
                                                <div class="item-image">
                                                    <div class="item-img-info">
                                                        <a href="<%= erp_online_store.product_detail_path %>" class="lt-image" target="_self" title="Bikum masen dumas">
                                                            <%= image_tag "/frontend/image/shop/product/75/1.jpg", alt: "Apple Cinema 30", title: "Apple Cinema 30", class: "img-1 img-responsive" %>
                                                            <%= image_tag "/frontend/image/shop/product/75/3.jpg", alt: "Apple Cinema 30", title: "Apple Cinema 30", class: "img-2 img-responsive" %>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <div class="item-info">
                                                    <div class="rating">
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                    </div>
                                                    <div class="item-title">
                                                        <%= link_to "Caras cursus nulla", erp_online_store.product_detail_path, title: "Bikum masen dumas" %>
                                                    </div>
                                                    <!-- Begin item-content -->
                                                    <div class="item-content">
                                                        <div class="content_price">
                                                            <span class="price product-price">
                                                                $122.00
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <!-- End item-content -->
                                                </div>
                                            </div>
                                            <!-- End item-info -->
                                        </div>
                                        <!-- End item-wrap-inner -->
                                    </div>
                                    <!-- End item-wrap -->
                                    <%= '</div><div class="item ">'.html_safe if index%3 == 2 %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END  -->
                </div>
            </div>
        </div>
    </div>
    <!-- Block Spotlight3  -->
    <div class="so-spotlight3">
        <div class="container">
            <% (0..4).each do |super_category| %>
            <!-- Banner Content -->
            <div class="module banner">
                <div class="banners">
                    <div>
                        <%= link_to image_tag("/frontend/image/banner/m5.jpg", alt: "Static Image"), "", title: "Static Image" %>
                    </div>
                </div>
            </div>
            <!-- End Banner -->
            <!-- Mod Supercategory -->
            <div class="module cus-style-supper-cate supper1">
                <div class="header">
                    <h3 class="modtitle">
                        <span class="icon-color">
                            <i class="fa fa-empire"></i>Thiết bị tin học	
                            <small class="arow-after"></small>
                        </span>
                        <strong class="line-color"></strong>
                    </h3>
                </div>
                <div id="so_super_category_1" class="so-sp-cat first-load">
                    <div class="spcat-wrap ">
                        <div class="main-left">
                            <div class="banner-post-text">
                                <%= link_to image_tag("/frontend/image/banner/s22.jpg", alt: "Banner"), "", title: "Banner" %>
                            </div>
                            <div class="hot-category">
                                <div class="category-wrap-cat">
                                    <div class="title-imageslider  sp-cat-title-parent">
                                        Hot Categories
                                    </div>
                                    <div id="cat_slider_3" class="slider">
                                        <div class="cat_slider_inner so_category_type_default">
                                            <% (0..4).each do |hot_category| %>
                                            <div class="item">
                                                <div class="item-inner">
                                                    <div class="cat_slider_title">
                                                        <%= link_to '<i class="fa fa-caret-right"></i> '.html_safe + "Chuyên mục hot", "", title: "", target: "_blank" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-right">
                            <div class="banner-pre-text">
                                <%= link_to image_tag("/frontend/image/banner/t22.jpg", alt: "banner"), "", title: "banner" %>
                            </div>
                            <div class="spcat-items-container products-list grid show-pre show-row">
                                <!--Begin Items-->
                                <div class="spcat-items spcat-items-loaded items-category-sales product-layout spcat-items-selected" data-total="9">
                                    <div class="spcat-items-inner spcat00-4 spcat01-4 spcat02-3 spcat03-2 spcat04-1 flip">
                                        <div class="ltabs-items-inner ltabs-slider ">
                                            <% (0..5).each do |product| %>
                                            <div class="ltabs-item ">
                                                <div class="item-inner product-thumb product-item-container transition ">
                                                    <div class="left-block">
                                                        <div class="product-image-container">
                                                            <div class="image">
                                                                <a class="lt-image" href="<%= erp_online_store.product_detail_path %>" target="_self" title="Verty nolen max..">
                                                                    <%= image_tag "/frontend/image/shop/product/170/4.jpg", alt: "Apple Cinema 30", class: "img-1 img-responsive", title: "Apple Cinema 30" %>
                                                                    <%= image_tag "/frontend/image/shop/product/170/4.jpg", alt: "Apple Cinema 30", class: "img-2 img-responsive", title: "Apple Cinema 30" %>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <span class="label label-new">Mới</span>
                                                        <span class="label label-sale">Giảm giá</span>
                                                    </div>
                                                    <div class="right-block">
                                                        <div class="caption">
                                                            <div class="rating">
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            </div>
                                                            <h4>
                                                                <%= link_to "Verty nolen laben", "", title: "Verty nolen laben" %>
                                                            </h4>
                                                            <p class="price">
                                                                <span class="price-new">$45.00</span>
                                                                <span class="price-old">$69.00</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="button-group">
                                                        <button class="wishlist btn-button" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('42');"><i class="fa fa-heart"></i></button>
                                                        <button class="addToCart" type="button" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs"></span></button>
                                                        <button class="compare" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('42');"><i class="fa fa-exchange"></i></button>
                                                        <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="" data-fancybox-type="iframe" href="quickview.html" data-original-title="Quickview"> <i class="fa fa-search"></i> </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Items-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Mod -->
            <% end %>
        </div>
    </div>
    <!--Block Spotlight4  -->
    <div class="so-spotlight4">
        <div class="container">
            <div class="row">
                <div class="module so-latest-blog latest-blog col-md-4 col-sm-6 col-xs-12">
                    <h3 class="modtitle"><span>News Updates</span></h3>
                    <div id="so_latest_blog_180" class="so-blog-external button-type2 button-type2">
                        <div class="blog-external-simple">
                            <% (0..1).each do |blog| %>
                            <div class="media">
                                <div class="item">
                                    <div class="media-body">
                                        <div class="media-date-added">28<br>
                                            <span>Mar</span>
                                        </div>
                                        <div class="media-content">
                                            <h4 class="media-heading">
                                                <%= link_to "Pellentse tincidunt Suspendis malesu", "", title: "Pellentse tincidunt Suspendis malesu" %>
                                            </h4>
                                            <div class="description">
                                                <%= "Commodo laoreet semper tincidunt lorem Vestibulum nunc at In Curabitur magna....." %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="bestseller col-md-4 col-sm-6 col-xs-12">
                    <div class="bestseller-inner">
                        <div>
                            <h3>Bestsellers</h3>
                            <% (0..1).each do |bestseller| %>
                            <div class="product-layout ">
                                <div class="product-thumb transition">
                                    <div class="image">
                                        <%= link_to image_tag("/frontend/image/shop/product/75/2.jpg", alt: "Apple Cinema 30", class: "img-1 img-responsive"), "", title: "Apple Cinema 30" %>
                                    </div>
                                    <div class="caption">
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        </div>
                                        <h4><%= link_to "Apple Cinema 30", erp_online_store.product_detail_path, title: "Apple Cinema 30" %></h4>
                                        <p class="price">
                                            <span class="price-new"> $88.00</span>
                                            <span class="price-old">$129.00</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="module testimonial col-md-4 col-sm-12 col-xs-12">
                    <div class="clients_say">
                        <div class="block-title">
                            <h3>Testimonial</h3>
                        </div>
                        <div class="slider-clients-say">
                            <% (0..3).each do |testimonial| %>
                            <div class="block_content">
                                <div class="image">
                                    <%= image_tag "/frontend/image/cms/clients_say.png", alt: ""%>
                                </div>
                                <div class="block-info">
                                    <div class="text">"Aliquam ut tellus dignissim, cursus erat ultricies tellus cursus erat ultricies tellus.. Nulla tempus sollicitudin mauris cursus dictum. Commodo laoreet semper lorem."</div>
                                    <div class="info">
                                        <div class="author">- BonBon Supper</div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block Spotlight5  -->
    <div class="so-spotlight5">
        <div class="container">
            <div class="block-brand">
                <div class="brand-slider">
                    <% (0..10).each do |brand| %>
                    <div class="item-manu">
                        <%= link_to image_tag("/frontend/image/brands/2.jpg", alt: ""), "", title: "" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</main>