<% title "Đặt Hàng Nhanh" %>
<div class="main-container container" onmouseout="loadTopCart();">
    <div class="row">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="row bs-wizard quick-order-form">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 bs-wizard-step active">
                            <div class="text-center bs-wizard-stepnum"><h4><span>ĐẶT HÀNG NGAY</span></h4></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 pad-right-0">
                        <div class="box-login-register-arround">
                            <ul class="nav-register">
                                <li class="active">
                                    <a href="javascript:;" alt="login-form"><span>Thông tin đặt hàng</span><i>Nhập thông tin đặt hàng</i></a>
                                </li>
                                <li><a href="<%= erp_online_store.policy_04_path %>" class="delivery-policy" alt="delivery-policy"><span>Vận chuyển, giao nhận</span><i>Xem chi tiết...</i></a></li>
                            </ul>
                            <div class="register-content">
                                <div id="login-form" class="register-comm-for" style="display: block;">
                                    <%= form_for '', url: erp_online_store.quick_order_path, html: {class: 'checkout_form content bv-form'} do |f| %>                                
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group has-feedback has-success">
                                                    <label class="control-label">Họ & Tên <span>(*)</span></label>                                    
                                                    <input type="text" id="input-lastname" name="quick_order[customer_name]" class="form-control required" placeholder="Họ & Tên...">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group has-feedback has-success">
                                                    <label class="control-label">Số điện thoại <span>(*)</span></label>
                                                    <input type="tel" id="input-telephone" name="quick_order[phone]" class="form-control required" placeholder="Số điện thoại...">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback has-success">
                                            <label class="control-label">Địa chỉ email <span>(*)</span></label>
                                            <input type="email" id="input-email" name="quick_order[email]" class="form-control required" placeholder="Địa chỉ email...">
                                        </div>                                                          
                                        <div class="form-group has-feedback has-success">
                                            <label class="control-label">Địa chỉ giao hàng <span>(*)</span></label>
                                            <input type="text" id="input-address" name="quick_order[address]" class="form-control required" placeholder="Địa chỉ giao hàng...">
                                        </div>                                
                                        <div class="form-group has-feedback has-success" style="padding:5px 0;">
                                            <label class="control-label">Ghi chú (Giao hàng, Thông tin Hóa Đơn,...)</label>
                                            <textarea class="form-control" name="quick_order[note]" placeholder="Nội dung ghi chú..."></textarea>
                                        </div>
                                        <div class="form-group has-feedback has-success" style="padding:5px 0;">
                                            <div class="checkboxes_list">
                                                <input id="quick_order_invoice" name="quick_order[invoice]" type="checkbox" value="1" />
                                                <label for="quick_order_invoice">Xuất hóa đơn GTGT</label>
                                            </div>
                                        </div>
                                        <div class="form-group last"><button type="submit" id="login_popup_submit" class="btn btn-info btn-block">Đặt Hàng Ngay</button></div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 no-address">
                        <div id="panel-cart">
                            <div class="panel panel-default cart">
                                <div class="panel-body">
                                    <div class="order">
                                        <span class="title">Danh sách</span><span class="title"> (<%= @cart.cart_items.number_items %> sản phẩm)</span>
                                        <%= link_to "Sửa danh sách", erp_online_store.shopping_cart_path, class: "btn btn-default btn-back-cart" %>
                                    </div>
                                    <div class="product">
                                        <% @cart.cart_items.each do |cart_item| %>
                                            <div class="row item">
                                                <div class="col-sm-8">
                                                    <p class="title">
                                                        <strong><%= cart_item.quantity %> x </strong>
                                                        <%= link_to cart_item.product_name, product_detail_link(cart_item.product), class: "cart_product_name top_cart_list", title: cart_item.product_name %>
                                                        <% if cart_item.product.gifts.count > 0 %>
                                                            | <span class="tooltip-col">
                                                                <i class="fa fa-gift" aria-hidden="true"></i>
                                                                <small class="tooltiptext">
                                                                    <em>Tặng kèm: </em><% gift_names = [] %>
                                                                    <% cart_item.product.gifts.each do |gift| %><% gift_names << gift.product_name.to_s %><% end %><%= gift_names.join(', ') %>
                                                                </small>
                                                            </span>
                                                        <% end %>
                                                    </p>
                                                </div>
                                                <div class="col-sm-4"><p class="price text-right"><span><%= format_price(cart_item.total_price) %></span></p></div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <p class="total2">Thành tiền:<span> <%= format_price(@cart.total_order) %></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">document.querySelector('input[id=input-lastname]').focus()</script>
            </div>
        </div>
        <script>loadTopCart(function(){});</script>
    </div>
</div>
