<% title "Đặt Hàng Nhanh" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Đặt Hàng Nhanh", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div class="col-sm-2"></div>
        <div id="content" class="col-sm-8 shopping-cart">
            <% if @cart.cart_items.number_items > 0 %>
                <h2 class="title">THÔNG TIN ĐẶT HÀNG</h2>
                <%= form_for([erp_online_store, :frontend, @cart], html: {class: "shopping_cart_form"}) do |f| %>
                <div class="table-responsive form-group">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="no-border-bottom text-center">Hình ảnh</td>
                                <td class="no-border-bottom text-left">Tên sản phẩm</td>
                                <td class="no-border-bottom text-center">Số lượng</td>
                                <td class="no-border-bottom text-center">Giá</td>
                                <td class="no-border-bottom text-center">Thành tiền</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% @cart.cart_items.each do |cart_item| %>
                            <tr>
                                <td class="text-center img-center">
                                    <%= link_to image_tag(product_image(cart_item.product.product_images, 'first', 'thumb99'), alt: cart_item.product_name, class: "img-thumbnail", width: "90"), product_link(cart_item.product), title: cart_item.product_name, target: '_blank' %>
                                </td>
                                <td class="text-left vertical">
                                    <strong><%= link_to cart_item.product_name, product_link(cart_item.product), title: cart_item.product_name, target: '_blank' %></strong><br />
                                    <% if cart_item.product.short_description.present? %>
                                        <br><small><%= cart_item.product.short_description.html_safe %></small>
                                    <% end %>
                                    <% if cart_item.product.gifts.count > 0 %>
                                        <span class="red">Quà tặng kèm:</span>
                                        <ul class="product-sale">
                                            <% cart_item.product.gifts.each do |gift| %>
                                                <li class="item-product-sale list-inline">
                                                    <div class="icon-product-sale">
                                                        <%= image_tag(product_image(gift.product_images, 'first', 'thumb99'), alt: gift.name, class: "img-thumbnail", width: "80") %>
                                                    </div>
                                                    <%= link_to gift.name, product_link(gift), title: gift.name, target: '_blank' %>
                                                </li>
                                            <% end %>
                                        </ul>
                                    <% end %>
                                </td>
                                <td class="text-center vertical" width="150px">
                                    <div class="input-group btn-block quantity-control quantity" unselectable="on" style="-webkit-user-select: none;">
                                        <strong><input class="form-control item-qty" type="text" name="quantities[<%= cart_item.id %>]" value="<%= cart_item.quantity %>"></strong>
                                        <span class="input-group-btn">
                                            <button type="submit" data-toggle="tooltip" title="Cập nhật số lượng" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                                            <%= link_to '<i class="fa fa-times-circle"></i>'.html_safe, erp_online_store.remove_cart_item_frontend_cart_items_path(cart_item_id: cart_item.id), class: "btn btn-danger", title: "Xóa sản phẩm" %>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-right vertical">
                                    <strong class="price"><%= format_price(cart_item.product_price) %></strong>
                                </td>
                                <td class="text-right vertical">
                                    <strong class="price"><%= format_price(cart_item.total_price) %></strong>
                                </td>
                            </tr>
                            <% end %>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong>TỔNG TIỀN:</strong></td>
                                <td class="text-right price"><span class="total-fee"><%= format_price(@cart.total_order) %></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <% end %>

                <%= form_for '', url: erp_online_store.quick_order_path, html: {class: 'checkout_form'} do |f| %>
                    <fieldset id="personal-details">
                        <legend></legend>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group required">
                                    <input type="text" class="form-control required" id="input-lastname" placeholder="Họ và tên" name="quick_order[customer_name]">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group required">
                                    <input type="tel" class="form-control required" id="input-telephone" placeholder="Số điện thoại" name="quick_order[phone]">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group required">
                                    <input type="email" class="form-control required" id="input-email" placeholder="Địa chỉ email" name="quick_order[email]">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group required">
                                <textarea name="quick_order[note]"
                                    class="form-control"
                                    placeholder="Nếu bạn có bất cứ yêu cầu nào khác, vui lòng ghi chi tiết tại đây"></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="buttons">
                        <div class="pull-left"><%= link_to '<span class="fa fa-angle-double-left"></span> Tiếp Tục Mua Hàng'.html_safe, erp_online_store.root_path, class: "btn btn-default shopping-continue" %></div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary shopping-order">Đặt Hàng Ngay <span class="fa fa-angle-double-right"></span></button>
                        </div>
                    </div>
                <% end %>
                
            <% else %>
                <h2 class="title">Chưa có sản phẩm nào được chọn.</h2>
                <div class="buttons">
                    <div class="pull-left"><%= link_to "TIẾP TỤC MUA HÀNG", erp_online_store.root_path, class: "btn btn-default shopping-continue" %></div>
                </div>
            <% end %>
        </div>
        <div class="col-sm-2"></div>
        <!--Middle Part End -->
    </div>
</div>