<nav class="navbar" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Menu Di Động</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("/frontend/products-marketing/img/logo-cyan.png",
                            alt: "Tìm Hàng Công Nghệ - Trang thương mại điện tử sản phẩm công nghệ chất lượng, uy tín.",
                            title: "Tìm Hàng Công Nghệ - Trang thương mại điện tử sản phẩm công nghệ chất lượng, uy tín."),
                            erp_online_store.stock_inventory_2_path,
                            title: "Tìm Hàng Công Nghệ - Trang thương mại điện tử sản phẩm công nghệ chất lượng, uy tín.",
                            class: "navbar-brand" %>
    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to "Trang Chủ", erp_online_store.stock_inventory_2_path, title: "Tìm Hàng Công Nghệ - Trang thương mại điện tử sản phẩm công nghệ chất lượng, uy tín." %>
        </li>					
        <li class="dropdown ">
          <a href="javascript:void(0)" title="Máy Vi Tính" class="dropdown-toggle" data-toggle="dropdown">
            Máy Vi Tính
            <i class="icon-down-open-big"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Máy Tính Xách Tay - Laptop", "chuyen-muc/43/may-tinh-xach-tay.html", title: "Máy Tính Xách Tay - Laptop", target: "_blank" %>
            </li>							
            <li>
              <%= link_to "Máy Tính Để Bàn - PC", "chuyen-muc/44/may-tinh-de-ban-pc.html", title: "Máy Tính Để Bàn - PC", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Màn Hình Máy Tính", "chuyen-muc/44/may-tinh-de-ban-pc.html", title: "Màn Hình Máy Tính", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Máy Tính Đồng Bộ - All in One", "chuyen-muc/198/may-tinh-dong-bo.html", title: "Máy Tính Đồng Bộ - All in One", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Máy Trạm - Workstations", "chuyen-muc/45/may-tram-workstations.html", title: "Máy Trạm - Workstations", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Máy Chủ - Server", "chuyen-muc/208/may-chu.html", title: "Máy Chủ - Server", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Linh Kiện - Phụ Kiện Máy Tính", "chuyen-muc/67/linh-kien-phu-kien.html", title: "Linh Kiện - Phụ Kiện Máy Tính", target: "_blank" %>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="javascript:void(0)" title="Thiết Bị Văn Phòng" class="dropdown-toggle" data-toggle="dropdown">
            Thiết Bị Văn Phòng
            <i class="icon-down-open-big"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Máy In", "chuyen-muc/105/may-in.html", title: "Máy In", target: "_blank" %>
            </li>							
            <li>
              <%= link_to "Máy Chiếu", "chuyen-muc/134/may-chieu.html", title: "Máy Chiếu", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Máy Scan", "chuyen-muc/130/may-scan.html", title: "Máy Scan", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Mực In", "chuyen-muc/138/muc-in.html", title: "Mực In", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Camera Quan Sát", "chuyen-muc/189/camera-quan-sat.html", title: "Camera Quan Sát", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Đầu Ghi Hình Camera", "chuyen-muc/191/dau-ghi-hinh-camera.html", title: "Đầu Ghi Hình Camera", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Máy Ảnh", "chuyen-muc/159/may-anh.html", title: "Máy Ảnh", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Phần Mềm Bản Quyền", "chuyen-muc/121/phan-mem-ban-quyen.html", title: "Phần Mềm Bản Quyền", target: "_blank" %>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="javascript:void(0)" title="Thiết Bị Tin Học" class="dropdown-toggle" data-toggle="dropdown">
            Thiết Bị Tin Học
            <i class="icon-down-open-big"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Ram PC", "chuyen-muc/92/ram-pc.html", title: "Ram PC", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Ram Laptop", "chuyen-muc/217/ram-laptop.html", title: "Ram Laptop", target: "_blank" %>
            </li>						
            <li>
              <%= link_to "Mainboard", "chuyen-muc/86/bo-mach-chu-mainboard.html", title: "Mainboard", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Ổ cứng máy tính", "chuyen-muc/89/o-cung-may-tinh.html", title: "Ổ cứng máy tính", target: "_blank" %>
            </li>
            <li>
              <%= link_to "CPU", "chuyen-muc/90/bo-vi-xu-ly-cpu.html", title: "CPU", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Card Màn Hình", "chuyen-muc/93/card-man-hinh-vga.html", title: "Card Màn Hình", target: "_blank" %>
            </li>
            <li>
              <%= link_to "USB", "chuyen-muc/100/usb.html", title: "USB", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Thẻ Nhớ", "chuyen-muc/158/the-nho.html", title: "Thẻ Nhớ", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Ổ Cứng Di Động", "chuyen-muc/95/o-cung-di-dong.html", title: "Ổ Cứng Di Động", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Chuột Máy Tính", "chuyen-muc/99/chuot-may-tinh.html", title: "Chuột Máy Tính", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Cáp Chuyển Đổi", "chuyen-muc/205/cap-chuyen-doi.html", title: "Cáp Chuyển Đổi", target: "_blank" %>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="javascript:void(0)" title="" class="dropdown-toggle" data-toggle="dropdown">
            Thiết Bị Mạng
            <i class="icon-down-open-big"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Router", "chuyen-muc/162/router-network-wireless.html", title: "Router", target: "_blank" %>
            </li>							
            <li>
              <%= link_to "Switch", "chuyen-muc/167/switch.html", title: "Switch", target: "_blank" %>
            </li>
            <li>
              <%= link_to "Card Mạng", "chuyen-muc/163/card-mang.html", title: "Card Mạng", target: "_blank" %>
            </li>
          </ul>
        </li>
        <li >
          <a href="dich-vu-sua-chua-bao-tri.html" title="Dịch Vụ Sửa Chữa" target="_blank">
            Dịch Vụ Sửa Chữa
          </a>
        </li>
      </ul>				
    </div><!-- /.navbar-collapse -->
  </div>
</nav>