<div class="topbar" >
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <ul id="topmenu">
          <li>
            <%= link_to "Tìm Hàng Công Nghệ", erp_online_store.root_path,
                title: "Tìm Hàng Công Nghệ - Trang thương mại điện tử sản phẩm công nghệ chất lượng, uy tín.", target: "_blank" %>
          </li>
          <li>
            <%= link_to "Hướng Dẫn Mua Hàng", "thong-tin/8/huong-dan-mua-hang.html", title: "Hướng Dẫn Mua Hàng", target: "_blank" %>
          </li>
          <li>
            <%= link_to "Về Chúng Tôi", "gioi-thieu.html", title: "Giới thiệu Về Trang Tìm Hàng Công Nghệ", target: "_blank" %>
          </li>
          <li>
            <%= link_to "Góp Ý & Liên Hệ", "gop-y-lien-he.html", title: "Góp Ý & Liên Hệ", target: "_blank" %>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-5 contact-info">
        <ul id="topmenu">
          <li>
            <%= mail_to "kinhdoanh@timhangcongnghe.com", "kinhdoanh@timhangcongnghe.com", title: "Email Tìm Hàng Công Nghệ" %>
          </li>
          <li>
            <%= link_to "(028) 2212 9454", "tel:+842822129454", title: "Hotline Tìm Hàng Công Nghệ" %>
          </li>	
          <li>
            <%= link_to "(028) 3984 7690", "tel:+842839847690", title: "Hotline Tìm Hàng Công Nghệ" %>
          </li>						
        </ul>
      </div>
    </div>
  </div>
</div>