<div class="navbar-before mobile-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="navbar-before-sign">Tìm Hàng Công Nghệ - Công Nghệ Trong Tầm Tay</p>
            </div>
            <div class="col-md-6">
                <ul class="nav navbar-nav navbar-right navbar-right-no-mar">
                    <li><%= link_to "Tìm Hàng Công Nghệ", '//timhangcongnghe.com/' %></li>
                    <li><a href="">Hướng dẩn đặt hàng</a></li>
                    <li><%= link_to "Về chúng tôi", erp_online_store.about_us_path %></li>
                    <li><%= link_to "Góp ý & Liên hệ", erp_online_store.contact_us_path %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%= render "erp/online_store/frontend/modules/online_ordering/modal_user" %>
<nav class="navbar navbar-inverse navbar-main yamm">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse" area_expanded="false"><span class="sr-only">Menu Trang</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <%= link_to image_tag("/frontend/online_ordering/img/logo.png", alt: "", title: ""), erp_online_store.online_ordering_path, title: "", class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
            <form class="navbar-form navbar-left navbar-main-search" role="search" action="<%= erp_online_store.online_ordering_search_path %>">
                <div class="form-group">
                    <input
                        name="keywords"
                        value="<%= params[:keywords] %>"
                        class="form-control"
                        type="text"
                        placeholder="Nhập từ khóa hoặc link sản phẩm từ Amazon / Ebay tại đây..."
                    />
                </div>
                <a class="fa fa-search navbar-main-search-submit" href="#submit" onclick="$(this).parents('form').submit()"></a>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#nav-login-dialog" data-effect="mfp-move-from-top" class="popup-text">ĐĂNG NHẬP</a>
                </li>
                <li><a href="#nav-account-dialog" data-effect="mfp-move-from-top" class="popup-text">ĐĂNG KÝ TÀI KHOẢN</a>
                </li>
                <li class="dropdown">
                    <%= link_to "", erp_online_store.online_ordering_cart_path, class: "fa fa-shopping-cart" %>
                    <ul class="dropdown-menu dropdown-menu-shipping-cart">
                        <% (0..3).each do |online_cart_item| %>
                        <li>
                            <%= link_to image_tag("/frontend/online_ordering/img/cart/3.jpg", alt: "", title: ""), erp_online_store.online_ordering_product_detail_path, class: "dropdown-menu-shipping-cart-img", title: "" %>
                            <div class="dropdown-menu-shipping-cart-inner">
                                <p class="dropdown-menu-shipping-cart-price">$50</p>
                                <p class="dropdown-menu-shipping-cart-item">
                                    <%= link_to "XPERIA Z Ultra 16GB", erp_online_store.online_ordering_product_detail_path %>
                                </p>
                            </div>
                        </li>
                        <% end %>
                        <li>
                            <p class="dropdown-menu-shipping-cart-total">Tổng tiền: $150</p>
                            <%= link_to "Đặt Hàng", erp_online_store.online_ordering_checkout_path, class: "dropdown-menu-shipping-cart-checkout btn btn-primary" %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
