<div class="wpisset-footer-iconblocks">
    <div class="wpisset-inner-footer-iconblocks wpisset-container wpisset-container-center">
        <div class="wpisset-row">
            <div class="wpisset-col-xs-12">
                <div class=" wpisset_ele_es_icons1 wpisset_ele_es_icons1-1635416624" >
                    <div class="wpisset-ele-es-icons1 wpisset-ele-es-icons1-col-4">
                        <a href="<%= transport_policy_link %>" title="Chính sách giao hàng | Nhận hàng và thanh toán tại nhà" class="wpisset-ele-es-icons1-item wpisset-ele-es-icons1-icon">
                            <div class="wpisset-ele-es-icons1-item-wrap">
                                <div class="wpisset-ele-es-icons1-item-inner">
                                    <div class="wpisset-ele-es-icons1-item-icon"><%= image_tag '/img/icons/footer/delivery.png', alt: 'Chính sách giao hàng | Nhận hàng và thanh toán tại nhà', title: 'Chính sách giao hàng | Nhận hàng và thanh toán tại nhà' %></div>
                                    <div class="wpisset-ele-es-icons1-item-content"><h3>CHÍNH SÁCH GIAO HÀNG</h3><span>Nhận hàng và thanh toán tại nhà</span></div>
                                </div>
                            </div>
                        </a>
                        <a href="<%= shopping_payment_link %>" title="Thanh toán tiện lợi | Tiền mặt, Chuyển khoản, VISA" class="wpisset-ele-es-icons1-item wpisset-ele-es-icons1-icon">
                            <div class="wpisset-ele-es-icons1-item-wrap">
                                <div class="wpisset-ele-es-icons1-item-inner">
                                    <div class="wpisset-ele-es-icons1-item-icon"><%= image_tag '/img/icons/footer/payment.png', alt: 'Thanh toán tiện lợi | Tiền mặt, Chuyển khoản, VISA', title: 'Thanh toán tiện lợi | Tiền mặt, Chuyển khoản, VISA' %></div>
                                    <div class="wpisset-ele-es-icons1-item-content"><h3>THANH TOÁN TIỆN LỢI</h3><span>Tiền mặt, Chuyển khoản, VISA</span></div>
                                </div>
                            </div>
                        </a>
                        <a href="<%= return_refund_policy_link %>" title="Đổi trả dễ dàng | Xem chính sách đổi trả hàng" class="wpisset-ele-es-icons1-item wpisset-ele-es-icons1-icon">
                            <div class="wpisset-ele-es-icons1-item-wrap">
                                <div class="wpisset-ele-es-icons1-item-inner">
                                    <div class="wpisset-ele-es-icons1-item-icon"><%= image_tag '/img/icons/footer/refund.png', alt: 'Đổi trả dễ dàng | Xem chính sách đổi trả hàng', title: 'Đổi trả dễ dàng | Xem chính sách đổi trả hàng' %></div>
                                    <div class="wpisset-ele-es-icons1-item-content"><h3>ĐỔI TRẢ DỄ DÀNG</h3><span>Xem chính sách đổi trả hàng</span></div>
                                </div>
                            </div>
                        </a>
                        <a href="<%= contact_link %>" title="Hỗ trợ nhiệt tình | Tư vấn, giải đáp mọi thắc mắc" class="wpisset-ele-es-icons1-item wpisset-ele-es-icons1-icon">
                            <div class="wpisset-ele-es-icons1-item-wrap">
                                <div class="wpisset-ele-es-icons1-item-inner">
                                    <div class="wpisset-ele-es-icons1-item-icon"><%= image_tag '/img/icons/footer/feedback.png', alt: 'Hỗ trợ nhiệt tình | Tư vấn, giải đáp mọi thắc mắc', title: 'Hỗ trợ nhiệt tình | Tư vấn, giải đáp mọi thắc mắc' %></div>
                                    <div class="wpisset-ele-es-icons1-item-content"><h3>HỖ TRỢ NHIỆT TÌNH</h3><span>Tư vấn, giải đáp mọi thắc mắc</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>