<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="module social_block col-md-4 col-sm-12 col-xs-12">
                    <ul class="social-block ">
                        <li class="facebook">
                        <%= link_to '<i class="fa fa-facebook"></i>'.html_safe,
                            'https://www.facebook.com/TimHangCongNghe/', title: 'Tìm Hàng Công Nghệ', target: "_blank" %></li>
                        <li class="twitter">
                        <%= link_to '<i class="fa fa-twitter"></i>'.html_safe,
                            "https://twitter.com/timhangcongnghe", title: 'Tìm Hàng Công Nghệ', target: "_blank" %></li>
                        <li class="linkedin">
                        <%= link_to '<i class="fa fa-linkedin"></i>'.html_safe,
                            'https://www.linkedin.com/in/timhangcongnghe/', title: 'Tìm Hàng Công Nghệ', target: "_blank" %></li>                                                
                        <li class="pinterest">
                        <%= link_to '<i class="fa fa-pinterest"></i>'.html_safe,
                            '//pinterest.com/thcn_hcm/', title: 'Tìm Hàng Công Nghệ', target: "_blank" %></li>
                        <li class="tumblr">
                        <%= link_to '<i class="fa fa-tumblr"></i>'.html_safe,
                            'https://timhangcongnghe.tumblr.com/', title: 'Tìm Hàng Công Nghệ', target: "_blank" %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>