<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="module social_block col-md-4 col-sm-12 col-xs-12">
                    <ul class="social-block ">
                        <li class="facebook">
                            <%= link_to '<i class="fa fa-facebook"></i>'.html_safe,
                                '//www.facebook.com/TimHangCongNghe/', title: 'Tìm Hàng Công Nghệ', target: "_blank" %>
                        </li>
                        <li class="youtube">
                            <%= link_to '<i class="fa fa-youtube"></i>'.html_safe,
                                '//www.youtube.com/channel/UCf64P6U7ZLd7r1kFaFWVZEQ', title: 'Tìm Hàng Công Nghệ', target: "_blank" %>
                        </li>
                        <li class="twitter">
                            <%= link_to '<i class="fa fa-twitter"></i>'.html_safe,
                                "//twitter.com/thcn_hcm/", title: 'Tìm Hàng Công Nghệ', target: "_blank" %>
                        </li>
                        <li class="instagram">
                            <%= link_to '<i class="fa fa-instagram"></i>'.html_safe,
                                '//www.instagram.com/thcn_hcm/', title: 'Tìm Hàng Công Nghệ', target: "_blank" %>
                        </li>
                        <li class="pinterest">
                            <%= link_to '<i class="fa fa-pinterest"></i>'.html_safe,
                                '//www.pinterest.com/thcn_hcm/', title: 'Tìm Hàng Công Nghệ', target: "_blank" %>
                        </li>
                    </ul>
                </div>                    
            </div>
        </div>
    </div>
</div>