<h3 class="modtitle"><span>Đang khuyến mãi</span></h3>
<div class="upsell-products">
    <% @deal_products.each do |deal| %>
    <div class="product-layout">
        <div class="product-item-container">
            <div class="left-block">
                <div class="product-image-container second_img ">
                    <%= image_tag "/frontend/image/shop/product/e11.jpg", title: "", alt: "", class: "img-1 img-responsive" %>
                    <%= image_tag "/frontend/image/shop/product/e12.jpg", title: "", alt: "", class: "img-2 img-responsive" %>
                </div>
                <!--Sale Label-->
                <span class="label label-sale">Giảm giá</span>
            </div>
            <div class="right-block">
                <div class="caption">
                    <h4><%= link_to deal.name, erp_online_store.product_detail_path(product_id: deal.id) %></h4>
                    <div class="ratings">
                        <div class="rating-box">
                            <%= raw stars(deal.average_stars) %>
                        </div>
                    </div>
                    <div class="price">
                        <span class="price-new"><%= format_price(deal.product_price) %></span>
                        <span class="price-old"><%= format_price(deal.price) %></span>
                        <% if !deal.deal_percent.nil? %>
                            <span class="label label-percent">-<%= deal.deal_percent %>%</span>
                        <% end %>
                    </div>
                    <div class="description item-desc hidden">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l..</p>
                    </div>
                </div>
            </div>
            <!-- right block -->
        </div>
    </div>
    <% end %>
</div>