<hr>
<div id="review">
    <h3 id="review-title">Có <%= ratings.count %> đánh giá cho sản phẩm này</h3>
    <% ratings.each do |rating| %>
        <div class="content-data-summary">
            <div class="content-header">
                <span class="content-rating right">
                    <div class="ratings">
                        <div class="rating-box">
                            <% (1..rating.star).each do |star| %>
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                            <% end %>
                            <% (1..(5-rating.star)).each do |star| %>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                            <% end %>
                        </div>
                    </div>
                </span>
                <span class="content-meta">
                    <h3 class="author right"><a href="#"><%= rating.name %></a></h3>
                    <span class="date-time"><%= relative_time(rating.created_at) %></span>
                </span>
            </div>
            <div class="content-title">
                <p><%= rating.content %></p>
            </div>
        </div>
    <% end %>
</div>
<div class="pagination-comments">
    <%= erp_datalist_pagination(ratings) %>
</div>