<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab-description">Mô tả sản phẩm</a></li>
    <li class="item_nonactive"><a data-toggle="tab" href="#tab-review">Đánh giá (1)</a></li>
    <li class="item_nonactive"><a data-toggle="tab" href="#tab-comment">Bình luận (<%= @comments.count %>)</a></li>
</ul>
<div class="tab-content col-xs-12">
    <div id="tab-description" class="tab-pane fade active in">
        <%= product.description.html_safe if product.description.present? %>
    </div>
    <div id="tab-review" class="tab-pane fade">
        <%= render 'erp/online_store/frontend/product/ratings' %>
    </div>
    <div id="tab-comment" class="tab-pane fade">
        <div class="form-group">
            <%= form_for Erp::Products::Comment.new, url: "", html: {class: "comment_form"} do |f| %>
                <div id="comments" class="blog-comment-info">
                    <h3 id="review-title">Mời bạn để lại bình luận </h3>
                    <input type="hidden" name="comment[product_id]" value="<%= product.id %>" />
                    <input type="hidden" name="comment[parent_id]" value="" />
                    <div class="comment-left contacts-form row">
                        <div class="col-md-6">
                            <b>Họ tên (bắt buộc):</b>
                            <br>
                            <input type="text" name="comment[name]" value class="form-control" placeholder="Nhập họ tên của bạn">
                            <br>
                        </div>
                        <div class="col-md-6">
                            <b>Địa chỉ email:</b>
                            <br />
                            <input type="text" name="comment[email]" value class="form-control" placeholder="Nhập đúng định dạng email (Ví dụ: tenban@gmail.com)">
                            <br />
                        </div>
                        <div class="col-md-12">
                            <b>Lời nhận xét:</b>
                            <br />
                            <textarea name="comment[message]" class="form-control" placeholder="Nội dung bình luận, xin vui lòng nhập tiếng Việt có dấu."></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="text-left">
                        <button class="btn buttonGray" id="button-comment" type="submit">
                            <span>Gửi bình luận</span>
                        </button>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="comments-list">
            <%= render 'erp/online_store/frontend/product/comments', comments: @comments %>
        </div>
    </div>
</div>