<div class="main-container container">
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-md-12 col-sm-12">
            <div class="product-view row">
                <div class="left-content-product col-lg-12 col-xs-12">
                    <div class="row">
                        <div class="content-product-left  col-sm-6 col-xs-12 ">
                            <% if @product.product_images.count > 0 %>
                                <div id="thumb-slider-vertical" class="thumb-vertical-outer">
                                    <span class="btn-more prev-thumb nt"><i class="fa fa-chevron-up"></i></span>
                                    <span class="btn-more next-thumb nt"><i class="fa fa-chevron-down"></i></span>
                                    <ul class="thumb-vertical">
                                        <!-- thumb 445x445 -->
                                        <% @product.product_images.each_with_index do |product_image,index| %>
                                        <li class="owl2-item">
                                            <a data-index="<%= index %>" class="img thumbnail " data-image="<%= product_image.image_url.thumb650 %>" title="<%= @product.name %>">
                                                <%= image_tag product_image.image_url.thumb170, alt: @product.name, title: @product.name %>
                                            </a>
                                        </li>
                                        <% end %>
                                    </ul>
                                </div>
                                <div class="large-image  vertical">
                                    <img class="product-image-zoom" data-src="<%= @product.main_image.image_url.thumb650 %>" src="<%= @product.main_image.image_url.thumb650 %>" title="<%= @product.name %>" alt="<%= @product.name %>">
                                </div>
                                <% if @product.product_intro_link.present? %>
                                    <%= link_to '<i class="fa fa-youtube-play"></i>'.html_safe, @product.product_intro_link, class: "thumb-video pull-left", title: @product.name %>
                                <% end %>
                            <% else %>
                                <div id="thumb-slider-vertical" class="thumb-vertical-outer"></div>
                                <div class="vertical">
                                    <img src="<%= url_for('/frontend/image/shop/image-coming-soon.jpg') %>">
                                </div>
                            <% end %>
                        </div>
                        <div class="content-product-right col-sm-6 col-xs-12">
                            <div class="title-product">
                                <h1><%= link_to @product.name, product_link(@product), title: @product.name %></h1>
                            </div>
                            <!-- Review -->
                            <div class="box-review form-group">
                                <div class="ratings">
                                    <div class="rating-box">
                                        <%= stars(@product.average_stars) %>
                                    </div>
                                </div>
                                <a class="write_review_button" href="<%= product_link(@product) %>">
									Xem chi tiết sản phẩm
								</a>
                            </div>
                            <div class="product-label form-group">
                                <div class="product_page_price price">
									<% if @product.is_sold_out? || @product.is_call? %>
                                        <span class="price-sold-out sold_out_true">Liên hệ: (028) 2212 9454</span>
                                    <% else %>
										<span class="price-new" itemprop="price"><%= format_price(@product.product_price) %></span>
										<% if @product.is_deal %>
										<span class="price-old"><%= format_price(@product.price) %></span>
											<% if !@product.deal_percent.nil? %>
											<span class="label label-percent">-<%= @product.deal_percent %>%</span>
											<% end %>
										<% end %>
									<% end %>
                                </div>
                            </div>
                            <% if @product.get_related_events(Time.now).count > 0 || @product.gifts.count > 0 %>
                                <div class="area_events">
                                    <% if@product.get_related_events(Time.now).count > 0 %>
                                        <strong>
                                            <%= image_tag "/frontend/image/christmas-sales.png", alt: "", class: "christmas-gift" %>
                                            <% if @product.get_related_events(Time.now).count == 1 %>
                                                khuyến mãi đang áp dụng
                                                <i><sup>*</sup>Áp dụng đến <%= @product.get_related_events(Time.now).first.to_date.strftime("%d/%m/%Y") %></i>
                                            <% else %>
                                                <%=@product.get_related_events(Time.now).count %> khuyến mãi đang áp dụng
                                            <% end %>
                                        </strong>
                                        <% @product.get_related_events(Time.now).each do |event| %>
                                            <span class="event-text"><%= link_to event.name, event_link(event), title: event.name, target: "_blank" %></span>
                                        <% end %>
                                    <% end %>
                                
                                    <% if @product.gifts.count > 0 %>
                                        <strong>
                                            <%= image_tag "/frontend/image/christmas-gift.png", alt: "", class: "christmas-gift" %>
                                            <span class="christmas-title">Tặng kèm</span>
                                        </strong>
                                        <% @product.gifts.each do |gift| %>
                                            <span class="event-text"><%= link_to gift.product_name, product_link(gift), title: gift.product_name, target: "_blank" %></span>
                                        <% end %>
                                    <% end %>
                                </div>
                            <% end %>
                            <% if @product.get_product_property_array.count > 0 %>
                            <div class="product-box-desc <%= 'no_border_button' if @product.is_sold_out %>">
                                <div class="inner-box-desc">
                                    <h3>TÍNH NĂNG SẢN PHẨM</h3>
                                    <% product_short_descipriton_values_array = @product.product_short_descipriton_values_array %>
                                    <% if product_short_descipriton_values_array.count > 2 %>
                                        <table>
                                            <% product_short_descipriton_values_array.each do |row| %>
                                                <tr>
                                                    <td valign="top" class="text-nowrap"><span><%= row[:name] %></span></td>
                                                    <td class="pl-10"><%= row[:values].join(", ") %></td>
                                                </tr>
                                            <% end %>
                                        </table>
                                    <% else %>
                                        <table width="100%" style="margin-top: -15px;">
                                            <% @product.product_values_array.each do |group| %>
                                                <tr>
                                                    <td colspan="2"><h4 class=""><%= group[:group].name %></h4></td>
                                                </tr>
                                                <% group[:properties].each do |property| %>
                                                    <tr>
                                                        <td valign="top" class="text-nowrap"><span><%= property[:property].name %></span></td>
                                                        <td class="pl-10"><%= property[:values].join(", ") %></td>
                                                    </tr>
                                                <% end %>
                                            <% end %>
                                        </table>
                                    <% end %>
                                </div>
                                <% if product_short_descipriton_values_array.count > 3 %>
                                    <a class="product-property-all ajax-link"
									   dont-close='true'
                                       data-type="ajax"
                                        href="<%= product_property_link(@product) %>">
                                            Xem thông tin chi tiết
                                    </a>
                                <% end %>
                            </div>

                            <% end %>
                            <% if @product.is_sold_out? || @product.is_call? %>
                            <% else %>
							<div id="product">
                                <h3>ĐẶT MUA SẢN PHẨM</h3>
                                <div class="form-group box-info-product">
                                    <%= form_tag erp_online_store.add_to_cart_frontend_cart_items_path, class: 'add-cart-form' do %>
                                        <%= hidden_field_tag "product_id", @product.id %>
                                        <div class="option quantity">
                                            <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                                                <label>Số lượng đặt mua: </label>
                                                <input class="form-control" type="text" name="quantity" value="1">
                                                <span class="input-group-addon product_quantity_down">−</span>
                                                <span class="input-group-addon product_quantity_up">+</span>
                                            </div>
                                        </div>
                                        <div class="cart">
                                            <button class="btn btn-mega btn-lg add-to-cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
                                        </div>
                                    <% end %>
                                    <div class="quick-cart">
                                        <%= link_to '<i class="fa fa-opencart"></i> Mua ngay'.html_safe,
											erp_online_store.quick_order_path(product_id: @product.id),
											class: "btn btn-mega btn-lg add-to-quick-cart add-to-cart quick-buy-ajax ajax-link",
											'data-type': 'ajax' %>
                                    </div>
                                </div>
                            </div>
							<% end %>
							<div class="call-center">
								<span>Liên hệ đặt mua: <a href="tel:02822129454">(028) 2212 9454</a> </span> hoặc <span><a href="tel:02839847690">(028) 3984 7690</a> (Giờ làm việc: 7:30 - 17:00)</span>
							</div>
                            <!-- end box info product -->
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $(document).ready(function() {
                    var zoomCollection = '.large-image img';
                    $(zoomCollection).elevateZoom({
                        zoomType: "inner",
                        lensSize: "200",
                        easing: true,
                        gallery: 'thumb-slider-vertical',
                        cursor: 'pointer',
                        galleryActiveClass: "active"
                    });
                    //$('.large-image').magnificPopup({
                    //    items: [
                    //        <% @product.product_images.each_with_index do |product_image,index| %>
                    //            {
                    //                src: '<%= product_image.image_url.thumb550 %>'
                    //            },
                    //        <% end %>
                    //    ],
                    //    gallery: {
                    //        enabled: true,
                    //        preload: [0, 2]
                    //    },
                    //    type: 'image',
                    //    mainClass: 'mfp-fade custom-fade',
                    //    callbacks: {
                    //        open: function() {
                    //            var activeIndex = parseInt($('#thumb-slider-vertical .img.active').attr('data-index'));
                    //            var magnificPopup = $.magnificPopup.instance;
                    //            magnificPopup.goTo(activeIndex);
                    //        }
                    //    }
                    //});
                    $("#thumb-slider-vertical .owl2-item").each(function() {
                        $(this).find("[data-index='0']").addClass('active');
                    });

                    $('.thumb-video').magnificPopup({
                        type: 'iframe',
                        iframe: {
                            patterns: {
                                youtube: {
                                    index: 'youtube.com/', // String that detects type of video (in this case YouTube). Simply via url.indexOf(index).
                                    id: 'v=', // String that splits URL in a two parts, second part should be %id%
                                    src: '//www.youtube.com/embed/%id%?autoplay=1' // URL that will be set as a source for iframe.
                                },
                            }
                        }
                    });

                    $('.product-options li.radio').click(function() {
                        $(this).addClass(function() {
                            if ($(this).hasClass("active")) return "";
                            return "active";
                        });

                        $(this).siblings("li").removeClass("active");
                        $(this).parent().find('.selected-option').html('<span class="label label-success">' + $(this).find('img').data('original-title') + '</span>');
                    });

                    var _isMobile = {
                        iOS: function() {
                            return navigator.userAgent.match(/iPhone/i);
                        },
                        any: function() {
                            return (_isMobile.iOS());
                        }
                    };

                    $(".thumb-vertical-outer .next-thumb").click(function() {
                        $(".thumb-vertical-outer .lSNext").trigger("click");
                    });

                    $(".thumb-vertical-outer .prev-thumb").click(function() {
                        $(".thumb-vertical-outer .lSPrev").trigger("click");
                    });

                    $(".thumb-vertical-outer .thumb-vertical").lightSlider({
                        item: 4,
                        autoWidth: false,
                        vertical: true,
                        slideMargin: 7,
                        verticalHeight: 425,
                        pager: false,
                        controls: true,
                        prevHtml: '<i class="fa fa-chevron-up"></i>',
                        nextHtml: '<i class="fa fa-chevron-down"></i>',
                        responsive: [{
                                breakpoint: 1199,
                                settings: {
                                    verticalHeight: 330,
                                    item: 4,
                                }
                            },
                            {
                                breakpoint: 1024,
                                settings: {
                                    verticalHeight: 235,
                                    item: 2,
                                    slideMargin: 5,
                                }
                            },
                            {
                                breakpoint: 768,
                                settings: {
                                    verticalHeight: 340,
                                    item: 3,
                                }
                            },
                            {
                                breakpoint: 480,
                                settings: {
                                    verticalHeight: 100,
                                    item: 1,
                                }
                            }
                        ]
                    });
                    // Product detial reviews button
                    $(".reviews_button,.write_review_button").click(function() {
                        var tabTop = $(".producttab").offset().top;
                        $("html, body").animate({
                            scrollTop: tabTop
                        }, 1000);
                    });

					$('.ajax-link').fancybox({
						closeClickOutside : true,
					});

					$.initQuantity($(".quantity-control"));

					// Product detial reviews button
                    $(document).on("click", ".product-image-zoom", function(e) {
						e.stopPropagation();
						e.stopImmediatePropagation();
                        $('.hide-album a[href="'+$(this).attr('src')+'"]').trigger('click');
                    });

                    $('[data-fancybox]').fancybox({
                        arrows : true,
                        infobar   : true,
						live: false
                    });
                });
            </script>
        </div>
    </div>
    <!--Middle Part End-->
</div>
<div class="hide-album">
    <% @product.product_images.each_with_index do |product_image,index| %>
        <a href="<%= product_image.image_url.thumb650 %>" data-fancybox="images">
            <%= image_tag product_image.image_url.thumb170, alt: @product.name, title: @product.name %>
        </a>
    <% end %>
</div>
