<% title @product.name %>
<% product_images = @product.product_images %>

<% content_for :metas do %>

    <!-- for Facebook -->
    <meta property="og:title" content="<%= @product.product_name %>" />
    <meta property="og:type" content="product" />
    <% product_images.each_with_index do |product_image,index| %>
        <meta property="og:image" content="<%= product_image.image_url.thumb550 %>" />
    <% end %>

<% end %>

<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
            <% if !@menu.nil? %>
                <% @menu.self_and_parent_menus.each do |menu| %>
                    <li><%= link_to menu.name, menu_link(menu) %></li>
                <% end %>
            <% end %>
        <li><%= link_to @product.product_name, "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-md-12 col-sm-12">
            <div class="product-view row">
                <div class="left-content-product col-lg-12 col-xs-12">
                    <div class="row">
                        <div class="content-product-left  col-sm-6 col-xs-12 ">
                            <% if product_images.count > 0 %>
                                <div id="thumb-slider-vertical" class="thumb-vertical-outer">
                                    <span class="btn-more prev-thumb nt"><i class="fa fa-chevron-up"></i></span>
                                    <span class="btn-more next-thumb nt"><i class="fa fa-chevron-down"></i></span>
                                    <ul class="thumb-vertical">
                                        <!-- thumb 445x445 -->
                                        <% product_images.each_with_index do |product_image,index| %>
                                            <li class="owl2-item">
                                                <a data-index="<%= index %>" class="img thumbnail " data-image="<%= product_image.image_url.thumb445 %>" title="<%= @product.name %>">
                                                    <%= image_tag product_image.image_url.thumb170, alt: @product.name, title: @product.name %>
                                                </a>
                                            </li>
                                        <% end %>
                                    </ul>
                                </div>
                                <div class="large-image  vertical">
                                    <img itemprop="image" class="product-image-zoom" src="<%= @product.main_image.image_url.thumb445 %>" data-zoom-image="<%= @product.main_image.image_url.thumb445 %>" title="<%= @product.name %>" alt="<%= @product.name %>">
                                </div>
                                <% if @product.product_intro_link.present? %>
                                    <%= link_to '<i class="fa fa-youtube-play"></i>'.html_safe, @product.product_intro_link, class: "thumb-video pull-left", title: @product.name %>
                                <% end %>
                            <% else %>
                                <div id="thumb-slider-vertical" class="thumb-vertical-outer"></div>
                                <div class="vertical">
                                    <img src="<%= url_for('/frontend/image/shop/image-coming-soon.jpg') %>">
                                </div>
                            <% end %>
                        </div>
                        <div class="content-product-right col-sm-6 col-xs-12">
                            <div class="title-product">
                                <h1><%= @product.name %></h1>
                            </div>
                            <!-- Review -->
                            <div class="box-review form-group">
                                <div class="ratings">
                                    <div class="rating-box">
                                        <%= stars(@product.average_stars) %>
                                    </div>
                                </div>
                                <a class="write_review_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Đánh giá sản phẩm</a> |
                                <a class="write_review_button" href="" onclick="$('a[href=\'#tab-comment\']').trigger('click'); return false;">Bình luận về sản phẩm</a>
                            </div>
                            <div class="product-label form-group">
                                <div class="product_page_price price">
                                    <span class="price-new" itemprop="price"><%= format_price(@product.product_price) %></span>
                                    <% if @product.is_deal %>
                                    <span class="price-old"><%= format_price(@product.price) %></span>
                                        <% if !@product.deal_percent.nil? %>
                                        <span class="label label-percent">-<%= @product.deal_percent %>%</span>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                            <% if @product.get_product_property_array.count > 0 %>
                            <div class="product-box-desc">
                                <div class="inner-box-desc">
                                    <h3>THÔNG SỐ SẢN PHẨM</h3>
                                    <% product_short_descipriton_values_array = @product.product_short_descipriton_values_array %>
                                    <% if product_short_descipriton_values_array.count > 2 %>
                                        <table>
                                            <% product_short_descipriton_values_array.each do |row| %>
                                                <tr>
                                                    <td valign="top" class="text-nowrap"><span><%= row[:name] %></span></td>
                                                    <td class="pl-10"><%= row[:values].join(", ") %></td>
                                                </tr>
                                            <% end %>
                                        </table>
                                    <% else %>
                                        <table width="100%" style="margin-top: -15px;">
                                            <% @product.product_values_array.each do |group| %>
                                                <tr>
                                                    <td colspan="2"><h4 class=""><%= group[:group].name %></h4></td>
                                                </tr>
                                                <% group[:properties].each do |property| %>
                                                    <tr>
                                                        <td valign="top" class="text-nowrap"><span><%= property[:property].name %></span></td>
                                                        <td class="pl-10"><%= property[:values].join(", ") %></td>
                                                    </tr>
                                                <% end %>
                                            <% end %>
                                        </table>
                                    <% end %>
                                </div>
                                <% if product_short_descipriton_values_array.count > 3 %>
                                    <a class="product-property-all ajax-link"
                                       data-type="ajax"
                                        href="<%= erp_online_store.all_property_path(product_id: @product.id) %>">
                                            Xem thông tin chi tiết
                                    </a>
                                <% end %>
                            </div>

                            <% end %>
                            <div id="product">
                                <h3>ĐẶT MUA SẢN PHẨM</h3>
                                <div class="form-group box-info-product">
                                    <%= form_tag erp_online_store.add_to_cart_frontend_cart_items_path, class: 'add-cart-form' do %>
                                        <%= hidden_field_tag "product_id", @product.id %>
                                        <div class="option quantity">
                                            <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                                                <label>Số lượng đặt mua: </label>
                                                <input class="form-control" type="text" name="quantity" value="1">
                                                <span class="input-group-addon product_quantity_down">−</span>
                                                <span class="input-group-addon product_quantity_up">+</span>
                                            </div>
                                        </div>
                                        <div class="cart">
                                            <button class="btn btn-mega btn-lg add-to-cart"><i class="fa fa-cart-plus"></i> Thêm vào giỏ hàng</button>
                                        </div>
                                    <% end %>
                                    <div class="add-to-links wish_comp">
                                        <ul class="blank list-inline">
                                            <li class="compare">
                                                <%= form_tag erp_online_store.add_to_compare_frontend_compare_items_path, class: 'add-compare-form' do %>
                                                    <%= hidden_field_tag "product_id", @product.id %>
                                                    <button class="btn btn-mega add-to-compare" title="So sánh sản phẩm"><i class="fa fa-exchange"></i></button>
                                                <% end %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end box info product -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="bototm-detail">
                <div class="row">
                    <div class="col-lg-3 col-md-4  col-xs-12">
                        <div class="module releate-horizontal">
                            <%= render "/erp/online_store/frontend/modules/sidebar_best_sellers" %>
                            <%= render "erp/online_store/frontend/modules/hot_banners" %>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8  col-xs-12">
                        <!-- Product Tabs -->
                        <div class="producttab ">
                            <div class="tabsslider  col-xs-12">
                                <%= render "/erp/online_store/frontend/modules/product/tab_controls", product: @product %>
                            </div>
                        </div>
                        <!-- //Product Tabs -->
                        <!-- Accessory Products -->
                        <div class="related upsell titleLine products-list grid module ">
                            <% if @product.accessory.present? %>
                                <% if @product.accessory.accessory_details.count > 0 %>
                                    <%= render "/erp/online_store/frontend/modules/product/accessories", accessory: @product.accessory %>
                                <% end %>
                            <% end %>
                            <%= render "/erp/online_store/frontend/modules/product/deal_products" %>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    var zoomCollection = '.large-image img';
                    $(zoomCollection).elevateZoom({
                        zoomType: "inner",
                        lensSize: "200",
                        easing: true,
                        gallery: 'thumb-slider-vertical',
                        cursor: 'pointer',
                        galleryActiveClass: "active"
                    });
                    $('.large-image').magnificPopup({
                        items: [
                            <% @product.product_images.each_with_index do |product_image,index| %>
                                {
                                    src: '<%= product_image.image_url.thumb550 %>'
                                },
                            <% end %>
                        ],
                        gallery: {
                            enabled: true,
                            preload: [0, 2]
                        },
                        type: 'image',
                        mainClass: 'mfp-fade custom-fade',
                        callbacks: {
                            open: function() {
                                var activeIndex = parseInt($('#thumb-slider-vertical .img.active').attr('data-index'));
                                var magnificPopup = $.magnificPopup.instance;
                                magnificPopup.goTo(activeIndex);
                            }
                        }
                    });
                    $("#thumb-slider-vertical .owl2-item").each(function() {
                        $(this).find("[data-index='0']").addClass('active');
                    });

                    $('.thumb-video').magnificPopup({
                        type: 'iframe',
                        iframe: {
                            patterns: {
                                youtube: {
                                    index: 'youtube.com/', // String that detects type of video (in this case YouTube). Simply via url.indexOf(index).
                                    id: 'v=', // String that splits URL in a two parts, second part should be %id%
                                    src: '//www.youtube.com/embed/%id%?autoplay=1' // URL that will be set as a source for iframe.
                                },
                            }
                        }
                    });

                    $('.product-options li.radio').click(function() {
                        $(this).addClass(function() {
                            if ($(this).hasClass("active")) return "";
                            return "active";
                        });

                        $(this).siblings("li").removeClass("active");
                        $(this).parent().find('.selected-option').html('<span class="label label-success">' + $(this).find('img').data('original-title') + '</span>');
                    });

                    var _isMobile = {
                        iOS: function() {
                            return navigator.userAgent.match(/iPhone/i);
                        },
                        any: function() {
                            return (_isMobile.iOS());
                        }
                    };

                    $(".thumb-vertical-outer .next-thumb").click(function() {
                        $(".thumb-vertical-outer .lSNext").trigger("click");
                    });

                    $(".thumb-vertical-outer .prev-thumb").click(function() {
                        $(".thumb-vertical-outer .lSPrev").trigger("click");
                    });

                    $(".thumb-vertical-outer .thumb-vertical").lightSlider({
                        item: 4,
                        autoWidth: false,
                        vertical: true,
                        slideMargin: 7,
                        verticalHeight: 425,
                        pager: false,
                        controls: true,
                        prevHtml: '<i class="fa fa-chevron-up"></i>',
                        nextHtml: '<i class="fa fa-chevron-down"></i>',
                        responsive: [{
                                breakpoint: 1199,
                                settings: {
                                    verticalHeight: 330,
                                    item: 4,
                                }
                            },
                            {
                                breakpoint: 1024,
                                settings: {
                                    verticalHeight: 235,
                                    item: 2,
                                    slideMargin: 5,
                                }
                            },
                            {
                                breakpoint: 768,
                                settings: {
                                    verticalHeight: 340,
                                    item: 3,
                                }
                            },
                            {
                                breakpoint: 480,
                                settings: {
                                    verticalHeight: 100,
                                    item: 1,
                                }
                            }
                        ]
                    });
                    // Product detial reviews button
                    $(".reviews_button,.write_review_button").click(function() {
                        var tabTop = $(".producttab").offset().top;
                        $("html, body").animate({
                            scrollTop: tabTop
                        }, 1000);
                    });
                });
            </script>
        </div>
    </div>
    <!--Middle Part End-->
</div>
