<% title ((params[:menu_id].present? and @menu.present?) ? @menu.name : 'TimHangCongNghe.Com') %>
<div class="main-container container">
    <ul class="breadcrumb search-result">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li>Kết Quả Tìm Kiếm</li>
    </ul>
    <div class="row">
        <div id="content" class="col-md-12 col-sm-12">
            <div class="products-category">
                <% if @products.count > 0 %>
                <% if @keyword.present? %>
                    <h1>Kết quả tìm kiếm phù hợp với từ khóa <strong>"<%= @keyword %>"</strong>
                        <% if @menu.present? %>
                            tại mục <strong>"<%= @menu.name %>"</strong>
                        <% end %>
                    </h1>
                <% end %>
                <div class="products-list row list">
                    <% @products.each do |product| %>
                    <div class="product-layout  col-md-2 col-sm-6 col-xs-6">
                        <a href="<%= product_link(product) %>" title="<%= product.get_long_name %>">
                            <div class="product-item-container product-lists">
                                <div class="left-block">
                                    <div class="product-image-container second_img ">
                                    <%= image_tag product_image(product.product_images, 'first', 'thumb268'),
                                        data: {src: product_image(product.product_images, 'first', 'thumb268')},
                                        alt: product.get_long_name, title: product.get_long_name, class: "img-responsive" %></div>
                                    <% if product.is_new? %><span class="label label-new">Mới</span><% end %>
                                    <% if product.is_deal? %><span class="label label-sale">Giảm giá</span><% end %>
                                    <%= count_down(product.deal_from_date, product.deal_to_date) %>
                                </div>
                                <div class="right-block">
                                    <div class="caption">
                                        <h2><%= truncate(product.get_short_name, length: 52) %></h2>
                                        <div class="ratings"><div class="rating-box"><%= stars(product.average_stars) %></div></div>
                                        <div class="price">
                                            <% if product.is_sold_out? || product.is_call? %>
                                                <span class="price sold_out_true">Liên hệ (028) 3984 7690</span>
                                            <% elsif product.product_price.nil? %>
                                                <span class="price price-updated">Đang Cập Nhật Giá</span>
                                            <% else %>
                                                <span class="price-new"><%= format_price(product.product_price) %></span>
                                                <% if product.is_deal? %>
                                                <br><span class="price-old"><%= format_price(product.price) %></span>
                                                <span class="label label-percent">-<%= product.deal_percent %>%</span>
                                                <% end %>
                                            <% end %>
                                        </div>
                                        <% if product.short_description.present? %>
                                        <div class="list-product-specs"><%= product.short_description %></div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                <% end %>
                </div>
                <% else %>
                    <section>
                        <% if @keyword.present? %>
                            <div class="report_text">
                                <h1>Rất tiếc, không tìm thấy kết quả nào phù hợp với từ khóa <strong>"<%= @keyword %>"</strong>
                                    <% if @menu.present? %>
                                        tại mục <strong>"<%= @menu.name %>"</strong>
                                    <% end %>
                                </h1>
                            </div>
                        <% end %>
                        <div class="noresultsuggestion">
                            <h3>Để tìm được kết quả chính xác hơn, bạn vui lòng:</h3>
                            <ul>
                                <li>Kiểm tra lỗi chính tả của từ khóa đã nhập</li>
                                <li>Thử lại bằng từ khóa khác</li>
                                <li>Thử lại bằng những từ khóa tổng quát hơn</li>
                                <li>Thử lại bằng những từ khóa ngắn gọn hơn</li>
                            </ul>
                        </div>
                    </section>
                <% end %>
                <div class="product-filter product-filter-bottom filters-panel">
                    <div class="box-pagination text-center">
                        <%= will_paginate @products, previous_label: '←', next_label: '→',
                            renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 1 %></div>
                </div>
            </div>
        </div>
    </div>
</div>