<% title @brand.get_name %>
<% content_for :metas do %>
<meta property="og:locale" content="vi-VN" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="<%= @brand.get_name %> - Tìm Hàng Công Nghệ"/>
<meta property="og:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
<meta property="og:url" content="<%= request.url %>"/>
<meta property="og:site_name" content="<%= @brand.get_name %>" />
<meta property="og:image" content="https://timhangcongnghe.com/frontend/img/sys/thcn-web-share.jpg"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="628"/>
<meta property="og:url" content="<%= request.url %>"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="<%= @brand.get_name %> - Tìm Hàng Công Nghệ" />
<meta name="twitter:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
<meta name="twitter:image" content="https://timhangcongnghe.com/frontend/img/sys/thcn-web-share.jpg"/>
<% end %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path, title: 'Tìm Hàng Công Nghệ' %></li>
        <li><%= link_to 'Thương Hiệu', erp_online_store.brand_listing_path, title: 'Thương Hiệu' %></li>
        <li><%= link_to @brand.get_name, 'javascript:void(0)', title: @brand.get_name %></li>
    </ul>
    <div class="row">
        <aside class="col-sm-4 col-md-3" id="column-left"><%= render "erp/online_store/frontend/modules/extensions/sidebar_best_seller" %><%= render "erp/online_store/frontend/modules/extensions/sidebar_hot_banner" %></aside>
        <div id="content" class="col-md-9 col-sm-8">
            <div class="products-category">
                <h1 class="menu-title mb-0"><%= @brand.get_name %></h1>
                <div class="main-products-list">
                    <% if @products.count > 0 %>
                    <div class="products-list row list">
                        <% @products.each do |product| %>
                        <div class="product-layout  col-md-3 col-sm-6 col-xs-6">
                            <a href="<%= product_detail_link(product) %>">
                                <div class="product-item-container product-lists">
                                    <div class="left-block">
                                        <div class="product-image-container second_img ">
                                            <%= image_tag product_image(product.product_images, 'first', 'thumb445'),
                                                data: {src: product_image(product.product_images, 'first', 'thumb445')},
                                                alt: product.get_long_name, title: product.get_long_name,
                                                class: "img-responsive" %></div>
                                        <% if product.is_new? %><span class="label label-new">Mới</span><% end %>
                                        <% if product.is_deal? %><span class="label label-sale">Giảm giá</span><% end %>
                                    </div>
                                    <div class="right-block">
                                        <div class="caption" style="text-align: center;">
                                            <h2><%= truncate(product.get_short_name, length: 52) %></h2>
                                            <div class="price">
                                                <% if product.is_sold_out? || product.is_call?|| product.product_price.nil? %>
                                                    <span class="price sold_out_true">Liên hệ: (028) 3984 7690</span>
                                                <% else %>
                                                    <span class="price-new"><%= format_price(product.product_price) %></span>
                                                    <% if product.is_deal? %>
                                                    <br><span class="price-old"><%= format_price(product.price) %></span>
                                                    <span class="label label-percent">-<%= product.deal_percent %>%</span>
                                                    <% end %>
                                                <% end %>
                                            </div>
                                            <% if product.short_description.present? %>
                                            <div class="list-product-specs"><%= product.short_description %></div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% end %>
                    </div>
                    <div class="product-filter product-filter-bottom filters-panel">
                        <div class="box-pagination text-center">
                            <%= will_paginate @products, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                        </div>
                    </div>
                    <% else %>
                        <div id="content" class="col-sm-12 shopping-cart">
                            <div class="empty-cart">                    
                                <h2 class="title">Danh sách hiện đang trống.</h2>
                                <%= link_to 'Quay về trang chủ', erp_online_store.root_path, class: 'btn btn-default shopping-continue', title: 'Quay lại trang chủ' %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
