<% title 'Thương hiệu sản phẩm' %>

<% content_for :metas do %>
    <!-- for Facebook -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Thương Hiệu Sản Phẩm"/>
    <meta property="og:description" content="Danh sách các thương hiệu sản phẩm được kinh doanh nhiều nhất tại TimHangCongNghe để quý khách hàng tiện lựa chọn."/>
    <meta property="og:image" content="http://timhangcongnghe.com/frontend/image/image-for-share.jpg"/>
<% end %>

<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Thương Hiệu Sản Phẩm", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-md-12 col-sm-12">
            <h1 class="menu-title">Thương Hiệu Sản Phẩm</h1>
            <div class="brand-page">
                <!-- Changed listings-->
                <div class="products-brand brand-list row list">
                    <% @brands.each_with_index do |brand, index| %>
                    <%= '</div> <div class="products-brand brand-list row list">'.html_safe if index%6 == 0 and index != 0 %>
                        <div class="col-md-2 col-sm-3 col-xs-6 ">
                            <div class="product-item-container">
                                <div class="left-block">
                                    <a href="<%= brand_link(brand) %>" title="<%= brand.name %>">
                                        <div class="product-image-container second_img ">
                                            <img data-src="<%= brand.image_url.brand_page %>" src="<%= brand.image_url.brand_page %>" alt="<%= brand.name %>" class="img-1 img-responsive">                             
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>                    
                    <% end %>
                </div>
                <!--// End Changed listings-->
            </div>
        </div>
    </div>
    <!--Middle Part End-->
</div>
<!-- //Main Container -->