<% title 'Thương Hiệu' %>
<% content_for :metas do %>
<meta property="og:locale" content="vi-VN" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="Thương Hiệu | Tìm Hàng Công Nghệ"/>
<meta property="og:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
<meta property="og:url" content="https://timhangcongnghe.com/thuong-hieu"/>
<meta property="og:site_name" content="Tìm Hàng Công Nghệ" />
<meta property="og:image" content="https://timhangcongnghe.com/frontend/img/sys/thcn-web-share.jpg"/>
<meta property="og:image:alt" content="Thương Hiệu | Tìm Hàng Công Nghệ"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="628"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="https://timhangcongnghe.com/thuong-hieu"/>
<meta name="twitter:title" content="Thương Hiệu | Tìm Hàng Công Nghệ" />
<meta name="twitter:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/>
<meta name="twitter:image" content="https://timhangcongnghe.com/frontend/img/sys/thcn-web-share.jpg"/>
<% end %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path, title: 'Tìm Hàng Công Nghệ' %></li>
        <li><%= link_to 'Thương Hiệu', 'javascript:void(0)', title: 'Thương Hiệu' %></li>
    </ul>
    <div class="row">
        <div id="content" class="col-md-12 col-sm-12">
            <h1 class="menu-title">Thương Hiệu</h1>
            <div class="brand-page">
                <div class="products-brand brand-list row list">
                    <% @brands.each_with_index do |brand, index| %>
                    <%= '</div> <div class="products-brand brand-list row list">'.html_safe if index%6 == 0 and index != 0 %>
                        <div class="col-md-2 col-sm-3 col-xs-6 ">
                            <div class="product-item-container">
                                <div class="left-block">
                                    <a href="<%= brand_detail_link(brand) %>" title="<%= brand.get_name %>" class="img-brand">
                                        <div class="product-image-container second_img ">
                                            <img data-src="<%= brand.image_url.brand_page %>" src="<%= brand.image_url.brand_page %>" alt="<%= brand.get_name %>" title="<%= brand.get_name %>" class="img-responsive">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>                    
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>