<li class="item-vertical style1 with-sub-menu hover">
    <p class="close-menu"></p>
    <a href="<%= category_detail_link(category) %>" title="<%= category.get_name %>">
        <% if category.menu_icon.present? %><%= image_tag category.menu_icon.icon, alt: category.get_name, title: category.get_name %><% end %>
        <strong><span><%= truncate(category.get_name, length: 27) %></span><% if category.children.count > 0 %><b class="fa fa-angle-right"></b><% end %></strong>
    </a>
    <div class="sub-menu" data-subwidth="100">
        <div class="content">
            <div class="row">
                <div class="col-sm-8">
                    <div class="categories ">
                        <div class="row">
                            <div class="col-sm-4 static-menu">
                                <div class="menu">
                                    <ul><% category_array[0..13].each do |child| %>
                                        <li class="<%= child[:class] %>">
                                            <%= link_to child[:menu].get_name, category_detail_link(child[:menu]), class: "main-menu", title: child[:menu].get_name %>
                                        </li><% end %>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 static-menu">
                                <div class="menu">
                                    <ul><% category_array[14..26].each do |child| %>
                                        <li class="<%= child[:class] %>">
                                            <%= link_to child[:menu].get_name, category_detail_link(child[:menu]), class: 'main-menu', title: child[:menu].get_name %>
                                        </li><% end %>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 static-menu">
                                <div class="menu">
                                    <ul><% category_array[27..40].each do |child| %>
                                        <li class="<%= child[:class] %>">
                                            <%= link_to child[:menu].get_name, category_detail_link(child[:menu]), class: 'main-menu', title: child[:menu].get_name %>
                                        </li><% end %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>