<div class="header-bottom compact-hidden">
    <div class="container">
        <div class="header-bottom-inner">
            <div class="row">
                <div class="header-bottom-left menu-vertical col-md-3 col-sm-2 col-xs-2">
                    <div class="responsive so-megamenu megamenu-style-dev">
                        <div class="so-vertical-menu no-gutter compact-hidden">
                            <nav class="navbar-default">
                                <% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %>
                                <div class="container-megamenu vertical open">
                                <% else %>
                                <div class="container-megamenu vertical">
                                <% end %>
                                    <div id="menuHeading">
                                        <div class="megamenuToogle-wrapper">
                                            <div class="megamenuToogle-pattern">
                                                <div class="container">
                                                    <div>
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                    </div>
                                                    Chuyên Mục
                                                    <i class="fa pull-right arrow-circle fa-chevron-circle-up"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navbar-header">
                                        <button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle">
                                            <span class="icon-bar" style="width: 12px;"></span>
                                            <span class="icon-bar" style="width: 16px;"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="vertical-wrapper">
                                        <span id="remove-verticalmenu" class="fa fa-times"></span>
                                        <div class="megamenu-pattern">
                                            <div class="container">
                                                <ul class="megamenu">
                                                    <% Erp::Menus::Menu.get_menus.each do |menu| %>
                                                        <% menu_array = menu.get_children_array %>
                                                        <% count = menu_array.count %>
                                                        <% if count <= 11 %>
                                                            <%= render "erp/online_store/frontend/modules/header/menu_1_col", menu: menu, menu_array: menu_array %>
                                                        <% elsif (count > 11) && (count <= 22) %>
                                                            <%= render "erp/online_store/frontend/modules/header/menu_2_col", menu: menu, menu_array: menu_array %>
                                                        <% else %>
                                                            <%= render "erp/online_store/frontend/modules/header/menu_3_col", menu: menu, menu_array: menu_array %>
                                                        <% end %>
                                                    <% end %>
                                                    <li class="item-vertical">
                                                        <a href="<%= erp_online_store.computer_services_path %>" class="clearfix">
                                                            <%= image_tag "/frontend/image/computer-repair-01.png", alt: "Dịch Vụ Sửa Chữa - Bảo Trì" %>
                                                            <strong>
                                                                <span>Dịch Vụ Sửa Chữa - Bảo Trì</span>
                                                            </strong>
                                                        </a>
                                                    </li>
                                                    <li class="item-vertical">
                                                        <a href="<%= erp_online_store.network_services_path %>" class="clearfix">
                                                            <%= image_tag "/frontend/image/network_elements.png", alt: "Thi Công Hạ Tầng Mạng" %>
                                                            <strong>
                                                                <span>Thi Công Hạ Tầng Mạng</span>
                                                            </strong>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- Main menu -->
                <div class="header-bottom-right col-md-9 col-sm-10 col-xs-10">
                    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-9 header_search">
                        <!-- Search -->
                        <div id="sosearchpro" class="search-pro">
                            <form class="autosearch-form" method="GET" action="<%= erp_online_store.search_path %>">
                                <div id="search0" class="search input-group autosearch" data-url="<%= erp_online_store.autosearch_path %>">
                                    <div class="select_category filter_type  icon-select">
                                        <select class="no-border" name="menu_id">
                                            <option value="">Tất cả chuyên mục</option>
                                            <% Erp::Menus::Menu.get_menus.each do |menu_search| %>
                                            <option <%= 'selected' if menu_search.id == params[:menu_id].to_i %> value="<%= menu_search.id %>"><%= menu_search.name %></option>
                                            <% end %>
                                        </select>
                                    </div>
                                    <input class="autosearch-input form-control" type="text" value="<%= @keyword %>" size="50" autocomplete="off" placeholder="Nhập từ khóa tìm kiếm" name="keyword">
                                    <span class="input-group-btn">
                                        <button type="submit" class="button-search btn btn-primary" name="submit_search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <input type="hidden" name="route" value="product/search" />
                            </form>
                        </div>
                        <!-- //end Search -->
                    </div>
                    <div class="block-cart" data-url="<%= erp_online_store.top_cart_path %>">
                        <%= render 'erp/online_store/frontend/shopping_cart/top_cart' %>
                    </div>
                    <div class="header_custom_link hidden-xs hidden-sm hidden-md">
                        <ul>
                            <li>
                            <%= link_to '<i class="fa fa-amazon"></i> ĐẶT HÀNG'.html_safe,
                                erp_online_store.online_ordering_path,
                                class: "ajax-link",
                                "data-type": "ajax"
                            %>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //end Main menu -->
            </div>
        </div>
    </div>
</div>
