<div class="header-bottom compact-hidden">
    <div class="container">
        <div class="header-bottom-inner">
            <div class="row">
                <div class="header-bottom-left menu-vertical col-md-3 col-sm-2 col-xs-2">
                    <div class="responsive so-megamenu megamenu-style-dev">
                        <div class="so-vertical-menu no-gutter compact-hidden">
                            <nav class="navbar-default">
                                <% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %><div class="container-megamenu vertical open"><% else %><div class="container-megamenu vertical"><% end %>
                                    <div id="menuHeading">
                                        <div class="megamenuToogle-wrapper">
                                            <div class="megamenuToogle-pattern">
                                                <div class="container">
                                                    <div><span></span><span></span><span></span></div>
                                                    Danh Mục Sản Phẩm <i class="fa pull-right arrow-circle fa-chevron-circle-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navbar-header">
                                        <button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle">
                                            <span class="icon-bar" style="width: 15px;"></span><span class="icon-bar" style="width: 15px;"></span><span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="vertical-wrapper">
                                        <span id="remove-verticalmenu" class="fa fa-times"></span>
                                        <div class="megamenu-pattern">
                                            <div class="container">
                                                <% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %>
                                                    <ul class="megamenu menu-home-page">
                                                        <% Erp::Menus::Menu.get_menus.each do |menu| %>
                                                            <% menu_array = menu.get_children_array %>
                                                            <% count = menu_array.count %>
                                                            <% if count <= 13 %>
                                                                <%= render 'erp/online_store/frontend/modules/header/menu_home/with_1_column',
                                                                    menu: menu, menu_array: menu_array %>
                                                            <% elsif (count > 13) && (count <= 26) %>
                                                                <%= render 'erp/online_store/frontend/modules/header/menu_home/with_2_column',
                                                                    menu: menu, menu_array: menu_array %>
                                                            <% else %>
                                                                <%= render 'erp/online_store/frontend/modules/header/menu_home/with_3_column',
                                                                    menu: menu, menu_array: menu_array %>
                                                            <% end %>
                                                        <% end %>
                                                        <li class="item-vertical">
                                                            <h2><a href="<%= erp_online_store.computer_services_path %>" class="clearfix" title="Dịch Vụ Sửa Chữa - Bảo Trì">
                                                                <%= image_tag '/frontend/image_other/service-01.png',
                                                                    alt: 'Dịch Vụ Sửa Chữa - Bảo Trì', title: 'Dịch Vụ Sửa Chữa - Bảo Trì' %>
                                                                <strong><span>Dịch Vụ Sửa Chữa - Bảo Trì</span></strong></a></h2>
                                                        </li>
                                                    </ul>
                                                <% else %>
                                                    <ul class="megamenu">
                                                        <% Erp::Menus::Menu.get_menus.each do |menu| %>
                                                            <% menu_array = menu.get_children_array %>
                                                            <% count = menu_array.count %>
                                                            <% if count <= 13 %>
                                                                <%= render 'erp/online_store/frontend/modules/header/menu_main/with_1_column',
                                                                    menu: menu, menu_array: menu_array %>
                                                            <% elsif (count > 13) && (count <= 26) %>
                                                                <%= render 'erp/online_store/frontend/modules/header/menu_main/with_2_column',
                                                                    menu: menu, menu_array: menu_array %>
                                                            <% else %>
                                                                <%= render 'erp/online_store/frontend/modules/header/menu_main/with_3_column',
                                                                    menu: menu, menu_array: menu_array %>
                                                            <% end %>
                                                        <% end %>
                                                        <li class="item-vertical">
                                                            <a href="<%= erp_online_store.computer_services_path %>" class="clearfix" title="Dịch Vụ Sửa Chữa - Bảo Trì">
                                                                <%= image_tag '/frontend/image_other/service-01.png',
                                                                    alt: 'Dịch Vụ Sửa Chữa - Bảo Trì', title: 'Dịch Vụ Sửa Chữa - Bảo Trì' %>
                                                                <strong><span>Dịch Vụ Sửa Chữa - Bảo Trì</span></strong></a>
                                                        </li>
                                                    </ul>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="header-bottom-right col-md-9 col-sm-10 col-xs-10">
                    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-9 header_search">
                        <div id="sosearchpro" class="search-pro">
                            <form class="autosearch-form" method="GET" action="<%= erp_online_store.search_path %>">
                                <div id="search0" class="search input-group autosearch" data-url="<%= erp_online_store.autosearch_path %>">
                                    <input class="autosearch-input form-control" type="text" value="<%= @keyword %>" size="90" autocomplete="off" placeholder="Nhập từ khóa tìm kiếm....." name="keyword">
                                    <span class="input-group-btn">
                                        <button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                                <input type="hidden" name="route" value="product/search" />
                            </form>
                        </div>
                    </div>
                    <div class="block-cart" data-url="<%= erp_online_store.top_cart_path %>"><%= render 'erp/online_store/frontend/shopping_cart/top_cart' %></div>
                    <div class="header_custom_link hidden-xs hidden-sm hidden-md">
                        <ul>
                            <% if current_user.present? %>
                            <li><%= link_to '<i class="fa fa-user"></i> TÀI KHOẢN'.html_safe,
                                erp_online_store.my_account_path, title: 'Tài Khoản', rel: 'nofollow' %></li>
                            <% else %>
                            <li><%= link_to '<i class="fa fa-sign-in"></i> ĐĂNG NHẬP'.html_safe,
                                erp.new_user_session_path,
                                class: 'sign-in ajax-link',
                                'data-type': 'ajax',
                                id: "sign-in", title: 'Đăng Nhập', rel: 'nofollow' %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>