<div class="header-bottom compact-hidden">
    <div class="container">
        <div class="header-bottom-inner">
            <div class="row">
                <div class="header-bottom-left menu-vertical col-md-3 col-sm-2 col-xs-2">
                    <div class="responsive so-megamenu megamenu-style-dev">
                        <div class="so-vertical-menu no-gutter compact-hidden">
                            <nav class="navbar-default">
                                <% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %>
                                <div class="container-megamenu vertical open">
                                <% else %>
                                <div class="container-megamenu vertical">
                                <% end %>
                                    <div id="menuHeading">
                                        <div class="megamenuToogle-wrapper">
                                            <div class="megamenuToogle-pattern">
                                                <div class="container">
                                                    <div>
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                    </div>
                                                    Chuyên Mục
                                                    <i class="fa pull-right arrow-circle fa-chevron-circle-up"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navbar-header">
                                        <button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle">
                                            <span class="icon-bar" style="width: 12px;"></span>
                                            <span class="icon-bar" style="width: 16px;"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="vertical-wrapper">
                                        <span id="remove-verticalmenu" class="fa fa-times"></span>
                                        <div class="megamenu-pattern">
                                            <div class="container">
                                                <ul class="megamenu">
                                                    <% Erp::Menus::Menu.get_menu_sidebar.each do |menu_sidebar| %>
                                                    <li class="item-vertical css-menu with-sub-menu hover">
                                                        <p class="close-menu"></p>
                                                        <a href="javascript:void(0)" class="clearfix">
                                                            <strong>
                                                                <span><%= menu_sidebar.name %></span>
                                                                <% if menu_sidebar.children.count > 0 %>
                                                                <b class="fa fa-angle-right"></b>
                                                                <% end %>
                                                            </strong>
                                                        </a>
                                                        <% if menu_sidebar.children.count > 0 %>
                                                        <div class="sub-menu" data-subwidth="30" style="width: 270px; display: none; right: 0px;">
                                                            <div class="content" style="display: none;">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="categories ">
                                                                            <div class="row">
                                                                                <div class="col-sm-12 hover-menu">
                                                                                    <div class="menu">
                                                                                        <ul>
                                                                                            <% menu_sidebar.children.each do |child_1| %>
                                                                                            <li>
                                                                                                <a href="<%= erp_online_store.category_path(menu_id: child_1.id) %>" class="main-menu">
                                                                                                    <%= child_1.name %>
                                                                                                    <% if child_1.children.count > 0 %>
                                                                                                    <b class="fa fa-angle-right"></b>
                                                                                                    <% end %>
                                                                                                </a>
                                                                                                <% if child_1.children.count > 0 %>
                                                                                                <ul>
                                                                                                    <% child_1.children.each do |child_2| %>
                                                                                                    <li><%= link_to child_2.name, erp_online_store.category_path(menu_id: child_2.id) %></li>
                                                                                                    <% end %>
                                                                                                </ul>
                                                                                                <% end %>
                                                                                            </li>
                                                                                            <% end %>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% end %>
                                                    </li>
                                                <% end %>
                                                    <li class="item-vertical">
                                                        <p class="close-menu"></p>
                                                        <a href="#" class="clearfix">
                                                            <strong>
                                                                <span>Thiết bị an ninh</span>
                                                            </strong>
                                                        </a>
                                                    </li>
                                                    <li class="item-vertical">
                                                        <p class="close-menu"></p>
                                                        <a href="#" class="clearfix">
                                                            <strong>
                                                                <span>Ưu đãi khách hàng doanh nghiệp</span>
                                                            </strong>
                                                        </a>
                                                    </li>                                                
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- Main menu -->
                <div class="header-bottom-right col-md-9 col-sm-10 col-xs-10">
                    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-9 header_search">
                        <!-- Search -->
                        <div id="sosearchpro" class="search-pro">
                            <form method="GET" action="index.html">
                                <div id="search0" class="search input-group autosearch" data-url="<%= erp_online_store.autosearch_path %>">
                                    <div class="select_category filter_type  icon-select">
                                        <select class="no-border" name="category_id">
                                            <option value="">Tất cả</option>
                                            <% Erp::Menus::Menu.get_menu_search.each do |menu_search| %>
                                            <option value="<%= menu_search.id %>"><%= menu_search.name %></option>
                                            <% end %>
                                        </select>
                                    </div>
                                    <input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Nhập từ khóa tìm kiếm" name="search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="button-search btn btn-primary" name="submit_search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <input type="hidden" name="route" value="product/search" />
                            </form>
                        </div>
                        <!-- //end Search -->
                    </div>
                    <div class="block-cart">
                        <!--cart-->
                        <div class="shopping_cart pull-right">
                            <div id="cart" class=" btn-group btn-shopping-cart">
                                <a data-loading-text="Đang tải giỏ hàng..." class="btn-group top_cart dropdown-toggle" data-toggle="dropdown">
                                    <div class="shopcart">
                                        <span class="handle pull-left"></span>
                                        <span class="text-shopping-cart hidden-xs">Giỏ hàng(<%= @cart.cart_items.number_items %>)</span>
                                        <span class="text-shopping-cart-mobi hidden-lg hidden-md hidden-sm ">
                                            <i class="fa fa-cart-plus"></i>
                                        </span>
                                    </div>
                                </a>
                                <ul class="tab-content content dropdown-menu pull-right shoppingcart-box" role="menu">
                                    <% if @cart.cart_items.number_items > 0 %>
                                    <li>
                                        <table class="table table-striped">
                                            <tbody>
                                                <% @cart.cart_items.each do |cart_item| %>
                                                <tr>
                                                    <td class="text-center" style="width:70px">
                                                        <%= link_to image_tag("/frontend/image/shop/product/35.jpg", width: "70px", alt: cart_item.product.name, title: cart_item.product.name, class: "preview"), erp_online_store.product_detail_path %>
                                                    </td>
                                                    <td class="text-left"><%= link_to cart_item.product.name, erp_online_store.product_detail_path, class: "cart_product_name", title: cart_item.product.name %></td>
                                                    <td class="text-center"><%= format_number(cart_item.product.price) %>x<%= cart_item.quantity %></td>
                                                    <td class="text-right">
                                                        <a class="fa fa-times fa-delete"></a>
                                                    </td>
                                                </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </li>
                                    <li>
                                        <div>
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-left">
                                                            <strong>Tổng tiền:</strong>
                                                        </td>
                                                        <td class="text-right"><%= format_number(@cart.total_order) %> VNĐ</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p class="text-center">
                                                <%= link_to '<i class="fa fa-shopping-cart"></i>Giỏ hàng'.html_safe, erp_online_store.cart_path, class: "btn view-cart" %>
                                                &nbsp;&nbsp;&nbsp;
                                                <%= link_to '<i class="fa fa-share"></i>Đặt hàng'.html_safe, erp_online_store.checkout_path, class: "btn btn-mega checkout-cart" %>
                                            </p>
                                        </div>
                                    </li>
                                    <% else %>                                        
                                        <li>
                                            <div class="text-center">
                                                <p>Giỏ hàng đang trống.</p>
                                                <p class="text-center">
                                                    <%= link_to '<i class="fa fa-shopping-cart"></i>Giỏ hàng'.html_safe, erp_online_store.cart_path, class: "btn view-cart" %>                                               
                                                </p>
                                            </div>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                        <!--//cart-->
                    </div>
                    <div class="header_custom_link hidden-xs">
                        <ul>
                            <li><%= link_to '<i class="fa fa-user"></i> Đăng Nhập'.html_safe, erp.new_user_session_path %></li>
                        </ul>
                    </div>
                </div>
                <!-- //end Main menu -->
            </div>
        </div>
    </div>
</div>