<div class="header-center header-main">
    <div class="container">
        <div class="row">
            <!-- LOGO -->
            <div class="navbar-logo col-md-2 col-sm-4 col-xs-10 logo">
                <%= link_to image_tag("/frontend/image/logos/logo-timhangcongnghe-web.svg",
					title: "Tìm Hàng Công Nghệ - Trang thương mại điện tử sản phẩm công nghệ chất lượng, uy tín.",
					alt: "Tìm Hàng Công Nghệ - Trang thương mại điện tử sản phẩm công nghệ chất lượng, uy tín."),
					erp_online_store.root_path,
					title: "Tìm Hàng Công Nghệ - Trang thương mại điện tử sản phẩm công nghệ chất lượng, uy tín." %>
            </div>
            <div class="header-center-right col-md-10 col-sm-8 col-xs-2">
                <div class="responsive so-megamenu megamenu-style-dev">
                    <nav class="navbar-default">
                        <div class=" container-megamenu  horizontal">
                            <div class="navbar-header">
                                <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="megamenu-wrapper ">
                                <span id="remove-megamenu" class="fa fa-times"></span>
                                <div class="megamenu-pattern">
                                    <div class="container">
                                        <ul class="megamenu " data-transition="slide" data-animationtime="250">
                                            <li>
                                                <p class="close-menu"></p>
                                                <a href="<%= erp_online_store.root_path %>" class="clearfix">
                                                    <strong>Trang Chủ</strong>
                                                    <span class="label"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <p class="close-menu"></p>
                                                <a href="<%= erp_online_store.deal_products_path %>" class="clearfix">
                                                    <strong>Khuyến Mãi</strong>
                                                    <span class="label"></span>
                                                </a>
                                            </li>
											<li>
                                                <p class="close-menu"></p>
                                                <a href="<%= erp_online_store.bestseller_products_path %>" class="clearfix">
                                                    <strong>Bán Chạy</strong>
                                                    <span class="label"></span>
                                                </a>
                                            </li>
											<li>
                                                <p class="close-menu"></p>
                                                <a href="<%= erp_online_store.business_choices_path %>" class="clearfix">
                                                    <strong>Lựa Chọn Từ Doanh Nghiệp</strong>
                                                    <span class="label"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <p class="close-menu"></p>
                                                <a href="<%= erp_online_store.brand_listing_path %>" class="clearfix">
                                                    <strong>Thương Hiệu</strong>
                                                    <span class="label"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <p class="close-menu"></p>
                                                <a href="<%= erp_online_store.events_path %>" class="clearfix">
                                                    <strong>Tin Sự Kiện</strong>
                                                    <span class="label"></span>
                                                </a>
                                            </li>
                                            <li class="hidden-md color-buy business-special">
                                                <p class="close-menu"></p>
                                                <a href="<%= erp_online_store.stock_inventory_2_path %>" target="_blank" class="clearfix">
                                                    <strong><%= image_tag "/frontend/image/menu/hot-icon.png", alt: "Đặc biệt" %>Xả Hàng Giá Rẻ</strong>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
