<div class="header-center header-main">
    <div class="container">
        <div class="row">
			<% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %>
				<div class="navbar-logo col-md-2 col-sm-4 col-xs-10 logo logo-home">
					<h1>
						<%= link_to image_tag('/frontend/image/logos/logo-timhangcongnghe-web.svg',
							alt: 'Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển.',
							title: 'Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển.'),
							erp_online_store.root_path,
							title: 'Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển.' %>
					</h1>
				</div>
			<% else %>
				<div class="navbar-logo col-md-2 col-sm-4 col-xs-10 logo">
					<%= link_to image_tag('/frontend/image/logos/logo-timhangcongnghe-web.svg',
						alt: 'Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển.',
						title: 'Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển.'),
						erp_online_store.root_path,
						title: 'Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển.' %>
				</div>
			<% end %>
            <div class="header-center-right col-md-10 col-sm-8 col-xs-2">
                <div class="responsive so-megamenu megamenu-style-dev">
                    <nav class="navbar-default">
                        <div class=" container-megamenu  horizontal">
                            <div class="navbar-header">
                                <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="megamenu-wrapper ">
                                <span id="remove-megamenu" class="fa fa-times"></span>
                                <div class="megamenu-pattern">
                                    <div class="container">
                                        <ul class="megamenu " data-transition="slide" data-animationtime="250">
                                            <li><p class="close-menu"></p>
											<a href="<%= erp_online_store.root_path %>" class="clearfix" title="Trang Chủ">
												<strong>Trang Chủ</strong>
												<span class="label"></span>
											</a></li>
                                            <% if Erp::Products::Product.get_deal_products.count > 0 %>
                                            <li><p class="close-menu"></p>
											<a href="<%= erp_online_store.deal_products_path %>" class="clearfix" title="Khuyến Mãi">
												<strong>Khuyến Mãi</strong>
												<span class="label"></span>
											</a></li><% end %>
											<li><p class="close-menu"></p>
											<a href="<%= erp_online_store.business_choices_path %>" class="clearfix" title="Lựa Chọn Hàng Đầu">
												<strong>Lựa Chọn Hàng Đầu</strong>
												<span class="label"></span>
											</a></li>
                                            <li><p class="close-menu"></p>
											<a href="<%= erp_online_store.brand_listing_path %>" class="clearfix" title="Thương Hiệu">
												<strong>Thương Hiệu</strong>
												<span class="label"></span>
											</a></li>
                                            <li><p class="close-menu"></p>
											<a href="<%= erp_online_store.blog_path %>" class="clearfix" title="Tin Công Nghệ">
												<strong>Tin Công Nghệ</strong>
												<span class="label"></span>
											</a></li>
											<li><p class="close-menu"></p>
											<a href="<%= erp_online_store.events_path %>" class="clearfix" title="Tin Sự Kiện">
												<strong>Tin Sự Kiện</strong>
												<span class="label"></span>
											</a></li>
                                            <li class="hidden-md color-buy business-special"><p class="close-menu"></p>
											<a href="/chuyen-muc/256/mieng-dan-chong-nhin-trom.html" class="clearfix" title="Miếng Dán Chống Nhìn Trộm">
												<strong>
													<%= image_tag 'data:image/png;base64,R0lGODlhFwALAPD/AP///wCQ/yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgACACwAAAAAFwALAAACKFSOqWvrj0CEEMggrcbn3s5ligdOWLZx6qeGY8kumtWh1I3nSKMrQgEAIfkEBAoA/wAsAgACAAsABgAAAhCMD6kYcO0aTNLZF6laJr4CACH5BAQKAP8ALAgAAgANAAYAAAISjA+WAe2s1EKRuYXlQanZtx0FACH5BAQKAP8ALA4AAgAHAAYAAAIKjB9gmuy+YGq0AAA7',
														alt: 'Miếng dán chống nhìn trộm', title: 'Miếng dán chống nhìn trộm' %>
														Miếng Dán Chống Nhìn Trộm
												</strong>
											</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>