<div class="header-center">
    <div class="container">
        <div class="row">
            <!-- LOGO -->
            <div class="navbar-logo col-md-2 col-sm-4 col-xs-10 logo">
                <%= link_to image_tag("/frontend/image/logos/logo-cyan.png", title: "TIMHANGCONGNGHE.VN - Trang thương mại điện tử sản phẩm công nghệ chất lượng, uy tín.", alt: "Your Store"), erp_online_store.root_path %>
            </div>
            <div class="header-center-right col-md-10 col-sm-8 col-xs-2">
                <div class="responsive so-megamenu megamenu-style-dev">
                    <nav class="navbar-default">
                        <div class=" container-megamenu  horizontal">
                            <div class="navbar-header">
                                <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="megamenu-wrapper ">
                                <span id="remove-megamenu" class="fa fa-times"></span>
                                <div class="megamenu-pattern">
                                    <div class="container">
                                        <ul class="megamenu " data-transition="slide" data-animationtime="250">
                                            <li class="">
                                                <p class="close-menu"></p>
                                                <a href="<%= erp_online_store.root_path %>" class="clearfix">
                                                    <strong>Trang Chủ</strong>
                                                    <span class="label"></span>
                                                </a>
                                            </li>                                            
                                            <li class="">
                                                <p class="close-menu"></p>
                                                <a href="<%= erp_online_store.root_path %>" class="clearfix">
                                                    <strong>Khuyến Mãi</strong>
                                                    <span class="label"></span>
                                                </a>
                                            </li>                                            
                                            <li class="hover">
                                                <%= link_to 'Thương Hiệu Máy Tính <b class="caret"></b>'.html_safe, "javascript:void(0)" %>                                                
                                                <div class="sub-menu" style="width: 100%; display: none; right: auto;">
                                                    <div class="content" style="display: none; height: 512px;">
                                                        <div class="row">
                                                            <% (0..11).each do |brand| %>
                                                            <div class="col-md-3">
																<a href="index.html" class="image-link"> 
																	<span class="thumbnail">
																		<img class="img-responsive img-border" src="/frontend/image/menu/temp-hp.jpg" alt="">
																	</span> 
																	<h3 class="figcaption">HP</h3> 
																</a>																
															</div>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                </div>                                                
                                            </li>                                            
                                            <li class="">
                                                <p class="close-menu"></p>
                                                <a href="<%= erp_online_store.blog_path %>" class="clearfix">
                                                    <strong>Tin Tức & Sự Kiện</strong>
                                                    <span class="label"></span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <p class="close-menu"></p>
                                                <a href="<%= erp_online_store.contact_us_path %>" class="clearfix">
                                                    <strong>Liên Hệ & Góp Ý</strong>
                                                    <span class="label"></span>
                                                </a>
                                            </li>
                                            <li class="hidden-md color-buy">
                                                <p class="close-menu"></p>
                                                <a href="" class="clearfix" style="color: red">
                                                    <strong><img src="/frontend/image/menu/hot-icon.png" alt="">Ưu Đãi Doanh Nghiệp</strong>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>