<div class="header-fixed-top  type_7">
	<div class="header-center">
		<div class="container">
			<div class="row">
				<div class="navbar-logo col-md-3 col-sm-4 col-xs-12">
					<%= link_to image_tag('/frontend/image/logos/logo-timhangcongnghe-web.svg',
						alt: 'Tìm Hàng Công Nghệ',
						title: 'Tìm Hàng Công Nghệ'),
						'//timhangcongnghe.com/',
						title: 'Tìm Hàng Công Nghệ' %>
				</div>
				<div class="header-center-right col-md-5 col-sm-4 col-xs-12">
					<div id="sosearchpro" class="search-pro">
						<form class="autosearch-form" method="GET" action="<%= erp_online_store.search_path %>">
							<div id="search0" class="search input-group autosearch" data-url="<%= erp_online_store.autosearch_path %>">								
								<input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Nhập từ khóa tìm kiếm" name="search">
								<span class="input-group-btn">
									<button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
								</span>
							</div>
							<input type="hidden" name="route" value="product/search" />
						</form>
					</div>
				</div>
				<div class="header-center-right col-md-4 col-sm-4 col-xs-12">
					<div class="block-cart" data-url="<%= erp_online_store.top_cart_path %>">
                        <%= render 'erp/online_store/frontend/shopping_cart/top_cart' %>
                    </div>
					<ul class="top-link list-inline pull-right">
						<li class="compare">
							<a href="<%= erp_online_store.compare_product_path %>" class="top-link-compare" title="So sánh sản phẩm">
								<i class="fa fa-window-restore icon-sosanh"></i>So sánh<span class="number"><%= @compare.get_number_items %></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="btn-menu-fixed">
	<span id="btn-menu-fixed" class="fa fa-list"></span>
	<div id="btn-menu-fixed-title" class="btn-menu-fixed-title">
		Danh Mục Sản Phẩm
	</div>
</div>