<li class="item-vertical with-sub-menu hover">
    <p class="close-menu"></p>
    <a href="<%= menu_link(menu) %>" class="clearfix">
        <span class="label"></span>
        <strong>
            <span><%= menu.name %></span>
            <b class="fa fa-angle-right"></b>
        </strong>
    </a>
    <div class="sub-menu" data-subwidth="60">
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 static-menu">
                            <div class="menu">
                                <ul>
                                    <% menu_array.each do |child| %>
                                        <li class="<%= child[:class] %>"><%= link_to child[:menu].name, menu_link(child[:menu]), class: "main-menu" %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row banner">
                        <%= link_to image_tag("/frontend/image/cms/img-static-megamenu-h.png", alt: ""), "", title: "" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
