<li class="item-vertical style1 with-sub-menu hover">
    <p class="close-menu"></p>
    <a href="<%= menu_link(menu) %>" class="clearfix">
        <strong>
            <span><%= menu.name %></span>
            <b class="fa fa-angle-right"></b>
        </strong>
    </a>
    <div class="sub-menu" data-subwidth="100">
        <div class="content">
            <div class="row">
                <div class="col-sm-8">
                    <div class="categories ">
                        <div class="row">
                            <div class="col-sm-4 static-menu">
                                <div class="menu">
                                    <ul>
                                        <li>
                                            <%= link_to "Máy Vi Tính - Laptop", "", class: "main-menu" %>
                                            <ul>
                                                <li><%= link_to "Laptop Apple", "" %></li>
                                                <li><%= link_to "Laptop HP", "" %></li>
                                                <li><%= link_to "Laptop Dell", "" %></li>
                                                <li><%= link_to "Laptop Lenovo", "" %></li>
                                                <li><%= link_to "Laptop Acer", "" %></li>
                                                <li><%= link_to "Laptop Asus", "" %></li>
                                                <li><%= link_to "Laptop Toshiba", "" %></li>
                                                <li><%= link_to "Laptop MSI Gaming", "" %></li>
                                                <li><%= link_to "Laptop MSI Workstations", "" %></li>                                            
                                            </ul>
                                        </li>                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 static-menu">
                                <div class="menu">
                                    <ul>
                                        <li>
                                            <%= link_to "Máy Tính Để Bàn - PC", "", class: "main-menu" %>
                                            <ul>
                                                <li><%= link_to "PC HP", "" %></li>
                                                <li><%= link_to "PC Dell", "" %></li>
                                                <li><%= link_to "PC Asus", "" %></li>
                                                <li><%= link_to "PC HK", "" %></li>
                                                <li><%= link_to "PC Bộ", "" %></li>
                                            </ul>
                                        </li>                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 static-menu">
                                <div class="menu">
                                    <ul>
                                        <li>
                                            <%= link_to "Máy Chủ - Server", "", class: "main-menu" %>
                                            <ul>
                                                <li><%= link_to "Máy Chủ HP", "" %></li>
                                                <li><%= link_to "Máy Chủ Dell", "" %></li>
                                                <li><%= link_to "Máy Chủ Lenovo", "" %></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <%= link_to "Máy Chủ - Server", "", class: "main-menu" %>
                                            <ul>
                                                <li><%= link_to "HP Workstations", "" %></li>
                                                <li><%= link_to "Dell Workstations", "" %></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row img-banner">
                        <%= link_to image_tag("/frontend/image/cms/img-static-megamenu-h.png", alt: ""), "", title: "" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>