<% if user_signed_in? %>
    <ul class="top-link list-inline">
        <% if @compare.get_number_items > 0 %>
        <li class="compare hide-compare">
            <a href="<%= erp_online_store.compare_product_path %>" class="top-link-compare" title="So sánh sản phẩm"><span>So sánh (<%= @compare.get_number_items %>)</span></a>
        </li>
        <% end %>
        <li class="about-us">
            <%= link_to '<span>Về chúng tôi</span>'.html_safe, erp_online_store.about_us_path,
                        class: 'top-link-about-us', title: 'Về chúng tôi' %>
        </li>
        <li class="contact-us">
            <%= link_to '<span>Góp ý & Liên hệ</span>'.html_safe, erp_online_store.contact_us_path,
                        class: 'top-link-contact-us', title: 'Góp ý & Liên hệ' %>
        </li>
        <li class="account" id="my_account">
            <a href="javascript:void(0)" class="btn btn-xs dropdown-toggle" data-toggle="dropdown"> <span>Xin chào, <%= user_short_name(current_user.name) %></span> <span class="fa fa-angle-down"></span></a>
            <ul class="dropdown-menu ">
                <li><%= link_to '<i class="fa fa-user"></i> Tài khoản của tôi'.html_safe, erp_online_store.my_account_path %></li>
                <li><%= link_to '<i class="fa fa-user"></i> Tài khoản của tôi'.html_safe, erp_online_store.my_account_path %></li>
                <li><%= link_to '<i class="fa fa-shopping-cart"></i> Đơn hàng của tôi'.html_safe, erp_online_store.order_history_path %></li>
                <% if current_user.backend_access %>
                    <li><%= link_to '<i class="fa fa-pie-chart"></i> Vào trang quản trị'.html_safe, erp.backend_path %></li>
                <% end %>
                <li><%= link_to '<i class="fa fa-sign-out"></i> Thoát tài khoản'.html_safe,
                        erp.destroy_user_session_path,
                        method: :delete,
                        redirect_to: erp.backend_path,
                        class: 'link-method'
                    %>
                </li>
            </ul>
        </li>
        <li class="support" id="my_account">
            <a href="javascript:void(0)" class="btn btn-xs dropdown-toggle" data-toggle="dropdown"> <span>Hướng dẫn</span> <span class="fa fa-angle-down"></span></a>
            <ul class="dropdown-menu ">
                <li><%= link_to 'Câu hỏi thường gặp'.html_safe, erp_online_store.faq_path %></li>
                <li>
                    <%= link_to 'Hướng dẫn mua hàng'.html_safe, Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_SHOPPING_GUIDE).nil? ? "" : erp_online_store.policy_path(
                        Erp::Articles::Category.find_by_alias(Erp::Articles::Category::ALIAS_SHOPPING_GUIDE).id,
                        'huong-dan-mua-hang'
                    ) %>
                </li>
                <li>
                    <%= link_to 'Chính sách bảo hành'.html_safe, Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_WARRANTY).nil? ? "" : erp_online_store.policy_path(
                        Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_WARRANTY).id,
                        'chinh-sach-bao-hanh'
                    ) %>
                </li>
                <li>
                    <%= link_to 'Quy định & Hình thức thanh toán'.html_safe, Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_PAYMENT).nil? ? "" : erp_online_store.policy_path(
                        Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_PAYMENT).id,
                        'quy-dinh-hinh-thuc-thanh-toan'
                    ) %>
                </li>
                <li>
                    <%= link_to 'Chính sách vận chuyển, giao nhận'.html_safe, Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_DELIVERY).nil? ? "" : erp_online_store.policy_path(
                        Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_DELIVERY).id,
                        'chinh-sach-van-chuyen-giao-nhan'
                    ) %>
                </li>
                <li>
                    <%= link_to 'Chính sách đổi trả hàng & hoàn tiền'.html_safe, Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_RETURN_REFUND).nil? ? "" : erp_online_store.policy_path(
                        Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_RETURN_REFUND).id,
                        'chinh-sach-doi-tra-hang-va-hoan-tien'
                    ) %>
                </li>
                <li>
                    <%= link_to 'Chính sách bảo mật thông tin'.html_safe, Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_SECURITY).nil? ? "" : erp_online_store.policy_path(
                        Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_SECURITY).id,
                        'quy-dinh-bao-mat-thong-tin'
                    ) %>
                </li>
                <li><%= link_to 'Các điều khoản & điều kiện'.html_safe, erp_online_store.terms_and_conditions_path %></li>
            </ul>
        </li>
        <!--
        <li class="form-group languages-block ">
            <form id="bt-language">
                <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
                    <%= image_tag "/frontend/image/flags/vi.png", alt: "Tiếng Việt", title: "Tiếng Việt" %>
                    <span>Tiếng Việt</span>
                    <span class="fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to image_tag("/frontend/image/flags/vi.png", alt: "Tiếng Việt", title: "Tiếng Việt", class: "image_flag")+" Tiếng Việt", "#tieng-viet" %></li>
                    </li>
                </ul>
            </form>
        </li>
        -->
    </ul>
<% else %>
    <ul class="top-link list-inline">
        <% if @compare.get_number_items > 0 %>
        <li class="compare hide-compare">
            <a href="<%= erp_online_store.compare_product_path %>" class="top-link-compare" title="So sánh sản phẩm"><span>So sánh (<%= @compare.get_number_items %>)</span></a>
        </li>
        <% end %>
        <li class="about-us">
            <%= link_to '<span>Về chúng tôi</span>'.html_safe, erp_online_store.about_us_path,
                        class: 'top-link-about-us', title: 'Về chúng tôi' %>
        </li>
        <li class="contact-us">
            <%= link_to '<span>Góp ý & Liên hệ</span>'.html_safe, erp_online_store.contact_us_path,
                        class: 'top-link-contact-us', title: 'Góp ý & Liên hệ' %>
        </li>
        <li class="support" id="my_account">
            <a href="javascript:void(0)" class="btn btn-xs dropdown-toggle" data-toggle="dropdown"> <span>Hướng dẫn</span> <span class="fa fa-angle-down"></span></a>
            <ul class="dropdown-menu ">
                <li><%= link_to 'Câu hỏi thường gặp'.html_safe, erp_online_store.faq_path %></li>
                <li>
                    <%= link_to 'Hướng dẫn mua hàng'.html_safe, Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_SHOPPING_GUIDE).nil? ? "" : erp_online_store.policy_path(
                        Erp::Articles::Category.find_by_alias(Erp::Articles::Category::ALIAS_SHOPPING_GUIDE).id,
                        'huong-dan-mua-hang'
                    ) %>
                </li>
                <li>
                    <%= link_to 'Chính sách bảo hành'.html_safe, Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_WARRANTY).nil? ? "" : erp_online_store.policy_path(
                        Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_WARRANTY).id,
                        'chinh-sach-bao-hanh'
                    ) %>
                </li>
                <li>
                    <%= link_to 'Quy định & Hình thức thanh toán'.html_safe, Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_PAYMENT).nil? ? "" : erp_online_store.policy_path(
                        Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_PAYMENT).id,
                        'quy-dinh-hinh-thuc-thanh-toan'
                    ) %>
                </li>
                <li>
                    <%= link_to 'Chính sách vận chuyển, giao nhận'.html_safe, Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_DELIVERY).nil? ? "" : erp_online_store.policy_path(
                        Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_DELIVERY).id,
                        'chinh-sach-van-chuyen-giao-nhan'
                    ) %>
                </li>
                <li>
                    <%= link_to 'Chính sách đổi trả hàng & hoàn tiền'.html_safe, Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_RETURN_REFUND).nil? ? "" : erp_online_store.policy_path(
                        Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_RETURN_REFUND).id,
                        'chinh-sach-doi-tra-hang-va-hoan-tien'
                    ) %>
                </li>
                <li>
                    <%= link_to 'Chính sách bảo mật thông tin'.html_safe, Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_SECURITY).nil? ? "" : erp_online_store.policy_path(
                        Erp::Articles::Category.get_active.find_by_alias(Erp::Articles::Category::ALIAS_SECURITY).id,
                        'quy-dinh-bao-mat-thong-tin'
                    ) %>
                </li>
                <li><%= link_to 'Các điều khoản & điều kiện'.html_safe, erp_online_store.terms_and_conditions_path %></li>
            </ul>
        </li>
        <!--
        <li class="form-group languages-block ">
            <form id="bt-language">
                <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
                    <%= image_tag "/frontend/image/flags/vi.png", alt: "Tiếng Việt", title: "Tiếng Việt" %>
                    <span>Tiếng Việt</span>
                    <span class="fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to image_tag("/frontend/image/flags/vi.png", alt: "Tiếng Việt", title: "Tiếng Việt", class: "image_flag")+" Tiếng Việt", "#tieng-viet" %></li>
                    </li>
                </ul>
            </form>
        </li>
        -->
    </ul>
<% end %>
