<% title @page_title.html_safe %>
<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <%= link_to 'Trang Chủ', root_link, title: 'Tìm Hàng Công Nghệ - TimHangCongNghe.Com' %> » 
                <span class="breadcrumb_last" aria-current="page">Thông Tin Liên Hệ</span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpb_row_background-center-top vc_custom_1612369308245 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1610446329656">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:60px;line-height:1;text-align:left" class="vc_custom_heading wpisset-custom-contact-style-1 vc_custom_1612681614002" >
                                Thông Tin Liên Hệ
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612959378310">
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_icons3 wpisset_ele_es_icons3-521395492" >
                                <div class="wpisset-ele-es-icons3">
                                    <div class="wpisset-ele-es-icons3-item">
                                        <div class="wpisset-ele-es-icons3-item-holder">
                                            <div class="wpisset-ele-es-icons3-item-icon">
                                                <%= image_tag '/img/contact-us/contact-phone.png', alt: '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-icons3-item-content">
                                                <h3 class="wpisset-ele-es-icons3-item-title">Số Điện Thoại</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_icons3-521395492 .wpisset-ele-es-icons3-item-icon{max-width:150px}</style></svg>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align:center">
                                        <strong>Kinh doanh: </strong><%= link_to '(028) 3984 7690', '', title: '' %><br/>
                                        <strong>Kế toán: </strong><%= link_to '(028) 3984 7690', '', title: '' %><br/>
                                        <strong>Kỹ thuật: </strong><%= link_to '(028) 3984 7690', '', title: '' %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_icons3 wpisset_ele_es_icons3-1520301126" >
                                <div class="wpisset-ele-es-icons3">
                                    <div class="wpisset-ele-es-icons3-item">
                                        <div class="wpisset-ele-es-icons3-item-holder">
                                            <div class="wpisset-ele-es-icons3-item-icon">
                                                <%= image_tag '/img/contact-us/contact-email.png', alt: '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-icons3-item-content">
                                                <h3 class="wpisset-ele-es-icons3-item-title">Địa Chỉ Email</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_icons3-1520301126 .wpisset-ele-es-icons3-item-icon{max-width:150px}</style></svg>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align:center">
                                        <strong>Kinh doanh: </strong><%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'kinhdoanh@hoangkhang.com.vn', title: '' %><br/>
                                        <strong>Kế toán: </strong><%= mail_to 'ketoan@hoangkhang.com.vn', 'ketoan@hoangkhang.com.vn', title: '' %><br/>
                                        <strong>Kỹ thuật: </strong><%= mail_to 'kythuat@hoangkhang.com.vn', 'kythuat@hoangkhang.com.vn', title: '' %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_icons3 wpisset_ele_es_icons3-1864148057" >
                                <div class="wpisset-ele-es-icons3">
                                    <div class="wpisset-ele-es-icons3-item">
                                        <div class="wpisset-ele-es-icons3-item-holder">
                                            <div class="wpisset-ele-es-icons3-item-icon">
                                                <%= image_tag '/img/contact-us/contact-livechat.png', alt: '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-icons3-item-content">
                                                <h3 class="wpisset-ele-es-icons3-item-title">LiveChat Trực Tiếp</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_icons3-1864148057 .wpisset-ele-es-icons3-item-icon{max-width:150px}</style></svg>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align:center">
                                        <strong>OA Zalo: </strong><%= link_to 'Chat ngay', '', title: '' %><br/>
                                        <strong>Messenger: </strong><%= link_to 'Chat ngay', '', title: '' %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_icons3 wpisset_ele_es_icons3-1577179575" >
                                <div class="wpisset-ele-es-icons3">
                                    <div class="wpisset-ele-es-icons3-item">
                                        <div class="wpisset-ele-es-icons3-item-holder">
                                            <div class="wpisset-ele-es-icons3-item-icon">
                                                <%= image_tag '/img/contact-us/contact-position.png', alt: '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-icons3-item-content">
                                                <h3 class="wpisset-ele-es-icons3-item-title">Vị Trí Công Ty</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_icons3-1577179575 .wpisset-ele-es-icons3-item-icon{max-width:150px}</style></svg>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align:center">
                                        <%= link_to 'Xem trên bản đồ', '//g.page/r/CRdRz8gLD8rvEBA', title: '', target: '_blank' %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="entry-content-clear"></div>
        </div>
    </main>
</div>