<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form ajax-form"}) do |f| %>
    <div class="login-box">
        <h2><i class="fa fa-user" aria-hidden="true"></i> Đăng nhập thành viên</h2>        
        <div class="notice">
            <% if flash[:alert] %>
                <span class='flash_error alert alert-danger'> <%= flash[:alert] %></span>
            <% end %>                                        
        </div>        
        <div class="form-group">
            <label class="control-label" for="input-email">Địa chỉ email</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "Nhập địa chỉ email", class: "form-control required" %>
        </div>
        <div class="form-group">
            <label class="control-label" for="input-password">Mật khẩu</label>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Nhập mật khẩu", class: "form-control required" %>
        </div>
    </div>
    <div class="bottom-form">
        <input type="submit" value="Đăng nhập" class="btn btn-default pull-right" />
        <%= link_to "Quên mật khẩu?", "", class: "forgot" %><br />
        <a class="forgot ajax-link register-link" data-type="ajax" href="<%= erp.new_user_registration_path %>">
            <i class="fa fa-pencil-square-o"></i> Đăng ký tài khoản
        </a>
    </div>
    <hr>
    <div>
        <a href="/auth/facebook" value="Login" class="btn btn-primary btn-facebook width-100 text-center">
            <i class="fa fa-facebook" aria-hidden="true"></i> Đăng nhập bằng Facebook
        </a>
    </div>
    <script>
        $('.register-form').validate();
        $('.login-form').validate();
        $('.ajax-link').fancybox();   
    </script>
<% end %>