<footer id="bt-footer" class="bt-footer bt-haslayout">
    <div id="bt-locationmap" class="bt-locationmap"></div>
    <div class="bt-footermiddlebar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="bt-contactus" class="bt-contactformandinfo">
                        <div class="bt-formarea">
                            <div class="bt-fullheading">
                                <span>NHẬN TƯ VẤN DỊCH VỤ</span>
                                <h2>ĐĂNG KÝ</h2>
                            </div>
                            <form class="bt-themeform bt-formcontactus">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="yourname" placeholder="Vui lòng nhập tên doanh nghiệp của bạn">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="emailaddress" placeholder="Vui lòng nhập địa chỉ email">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="emailaddress" placeholder="Vui lòng nhập số điện thoại">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <textarea name="message" class="form-control" placeholder="Vui lòng nhập lời nhắn/yêu cầu của doanh nghiệp bạn (nếu có)"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <button class="bt-btn bt-btnred" type="submit">Đăng Ký</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="bt-contactinfodetail">
                            <div class="bt-fullheading">
                                <span>THÔNG TIN LIÊN HỆ</span>
                                <h2>TIMHANGCONGNGHE.VN</h2>
                            </div>
                            <div class="bt-description">
                                <p class="text-justify"><strong>TimHangCongNghe.Vn</strong> là dự án Thương Mại Điện Tử về các sản phẩm công nghệ thông tin...do <strong>Công Ty TNHH Giải Pháp Công Nghệ Thông Tin & Truyền Thông Hoàng Khang (Hoang Khang Incotech)</strong> đầu tư và phát triển sau 10 năm hoạt động kể từ ngày công ty được thành lập cho tới nay.</p>
                            </div>
                            <ul class="bt-contactinfo">
                                <li>
                                    <strong>Địa chỉ:</strong>
                                    <address>188 Đường Số 1, Phường 16, Quận Gò Vấp, TP. Hồ Chí Minh</address>
                                </li>
                                <li>
                                    <strong>Hotline:</strong>
                                    <%= link_to "(08) 2212 9454", "tel:" %>
                                </li>
                                <li>
                                    <strong>Điện thoại:</strong>
                                    <%= link_to "(+84) 987654321", "tel:" %>
                                </li>
                                <li>
                                    <strong>Fax:</strong>
                                    <span>(08) 3984 7691</span>
                                </li>
                                <li>
                                    <strong>Email:</strong>
                                    <a href="mailto:contact@timhangcongnghe.vn">contact@timhangcongnghe.vn</a>
                                </li>
                            </ul>
                            <ul class="bt-socialicons">
                                <li><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "", title: "Tìm Hàng Công Nghệ", target: "_blank" %></li>
                                <li><%= link_to '<i class="fa fa-youtube"></i>'.html_safe, "", title: "Tìm Hàng Công Nghệ", target: "_blank" %></li>
                                <li><%= link_to '<i class="fa fa-google-plus"></i>'.html_safe, "", title: "Tìm Hàng Công Nghệ", target: "_blank" %></li>
                                <li><%= link_to '<i class="fa fa-instagram"></i>'.html_safe, "", title: "Tìm Hàng Công Nghệ", target: "_blank" %></li>
                                <li><%= link_to '<i class="fa fa-pinterest"></i>'.html_safe, "", title: "Tìm Hàng Công Nghệ", target: "_blank" %></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bt-brands">
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/acer.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>                    
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/asus.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/canon.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/cisco.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/dell.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/d-link.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/epson.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/genius.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/hp.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/intel.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/kaspersky.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/kingmax.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/kvm.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/lenovo.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/lg.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/logitech.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/microsoft.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/msi.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/norton.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/oki.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/samsung.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/sony.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/toshiba.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag("/frontend/business-template/images/brands/tp-link.png", alt: ""), "", title: "" %>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bt-footerbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span>Copyrights &copy; 2017 TimHangCongNghe.Vn - All rights reserved.</span>
                    <span>Phát triển <i class="icon-heart"></i> bởi <%= link_to "TimHangCongNghe.VN", erp_online_store.root_path, title: "", target: "_blank" %></span>
                </div>
            </div>
        </div>
    </div>
</footer>