<footer id="bt-footer" class="bt-footer bt-haslayout">
    <div id="bt-locationmap" class="bt-locationmap"></div>
    <div class="bt-footermiddlebar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="bt-contactus" class="bt-contactformandinfo">
                        <div class="bt-formarea">
                            <div class="bt-fullheading">
                                <span>NHẬN TƯ VẤN DỊCH VỤ</span>
                                <h2>ĐĂNG KÝ</h2>
                            </div>
                            <form class="bt-themeform bt-formcontactus">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="yourname" placeholder="Vui lòng nhập tên doanh nghiệp của bạn">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="emailaddress" placeholder="Vui lòng nhập địa chỉ email">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="emailaddress" placeholder="Vui lòng nhập số điện thoại">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <textarea name="message" class="form-control" placeholder="Vui lòng nhập lời nhắn/yêu cầu của doanh nghiệp bạn (nếu có)"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <button class="bt-btn bt-btnred" type="submit">Đăng Ký</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="bt-contactinfodetail">
                            <div class="bt-fullheading">
                                <span>THÔNG TIN LIÊN HỆ</span>
                                <h2>Tìm Hàng Công Nghệ</h2>
                            </div>
                            <div class="bt-description">
                                <p class="text-justify"><strong>Tìm Hàng Công Nghệ</strong> là dự án Thương Mại Điện Tử về các sản phẩm công nghệ thông tin...do <strong>Công Ty TNHH Giải Pháp Công Nghệ Thông Tin & Truyền Thông Hoàng Khang (Hoang Khang Incotech)</strong> đầu tư và phát triển sau 10 năm hoạt động kể từ ngày công ty được thành lập cho tới nay.</p>
                            </div>
                            <ul class="bt-contactinfo">
                                <li>
                                    <strong>Địa chỉ:</strong>
                                    <address>188 Đường Số 1, Phường 16, Quận Gò Vấp, TP. Hồ Chí Minh</address>
                                </li>
                                <li>
                                    <strong>Điện thoại:</strong>
                                    <%= link_to "(+84) 987654321", "tel:" %>
                                </li>
                                <li>
                                    <strong>Fax:</strong>
                                    <span>(08) 3984 7691</span>
                                </li>
                                <li>
                                    <strong>Email:</strong>
                                    <a href="mailto:contact@timhangcongnghe.com">contact@timhangcongnghe.com</a>
                                </li>
                            </ul>
                            <ul class="bt-socialicons">
                                <li><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "", title: "Tìm Hàng Công Nghệ", target: "_blank" %></li>
                                <li><%= link_to '<i class="fa fa-youtube"></i>'.html_safe, "", title: "Tìm Hàng Công Nghệ", target: "_blank" %></li>
                                <li><%= link_to '<i class="fa fa-google-plus"></i>'.html_safe, "", title: "Tìm Hàng Công Nghệ", target: "_blank" %></li>
                                <li><%= link_to '<i class="fa fa-instagram"></i>'.html_safe, "", title: "Tìm Hàng Công Nghệ", target: "_blank" %></li>
                                <li><%= link_to '<i class="fa fa-pinterest"></i>'.html_safe, "", title: "Tìm Hàng Công Nghệ", target: "_blank" %></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <% if Erp::Products::Brand.get_brands_order_name.count > 0 %>
                <div class="bt-brands">
                    <% Erp::Products::Brand.get_brands_order_name.each do |brand| %>
                    <% if brand.image_url.present? %>
                    <div class="bt-brand">
                        <figure>
                            <%= link_to image_tag(brand.image_url.smaller, alt: brand.name), "", title: brand.name %>
                        </figure>
                    </div>
                    <% end %>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="bt-footerbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span>Copyrights &copy; 2017 Tìm Hàng Công Nghệ - All rights reserved.</span>
                    <span>Phát triển <i class="icon-heart"></i> bởi <%= link_to "Tìm Hàng Công Nghệ", erp_online_store.root_path, title: "Tìm Hàng Công Nghệ", target: "_blank" %></span>
                </div>
            </div>
        </div>
    </div>
</footer>