<div class="bt-sidenavigation">
    <a href="javascript:void(0);" class="hamburger is-closed" data-toggle="offcanvas"><span class="icon-close3"></span></a>
    <div class="bt-navigation bt-navigationthree navbar-collapse">
        <ul>
            <li><a href="#bt-home">Trang Chủ</a></li>
            <li><a href="#bt-services">Dịch Vụ</a></li>
            <li><a href="#bt-projects">Lĩnh Vực Hoạt Động</a></li>
            <li><a href="#bt-aboutpowax">Giới Thiệu</a></li>
            <li><a href="#bt-creativeteam">Đội Ngũ</a></li>
            <li><a href="#bt-news">Our Publication</a></li>
            <li><a href="#bt-contactus">Liên hệ</a></li>
        </ul>
    </div>
    <div class="bt-widgetofficeenvorn">
        <h3>Office Envorn</h3>
        <div class="bt-description">
            <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients modernisation.</p>
        </div>
        <ul>
            <% (0..3).each do |item| %>
            <li>
                <figure>
                    <%= image_tag "/frontend/business-template/images/thumbnails/img-03.jpg", alt: "" %>
                    <figcaption><%= link_to "", "", class: "fa fa-eye " %></figcaption>
                </figure>
            </li>
            <% end %>
        </ul>
    </div>
    <div class="bt-widgetrecentposts">
        <h3>Recent News</h3>
        <ul>
            <% (0..2).each do |recent_new| %>
            <li>
                <figure>
                    <%= link_to image_tag("/frontend/business-template/images/thumbnails/img-04.jpg", alt: ""), "", title: "" %>
                </figure>
                <div class="bt-recenpostcontent">
                    <h4><%= link_to "Familiar Idea With Brand", "" %></h4>
                    <time datetime="08-11-2017">08-11-2017</time>
                </div>
            </li>
            <% end %>
        </ul>
    </div>
    <ul class="bt-socialicons">
        <li><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "", title: "Facebook", target: "_blank" %></li>
        <li><%= link_to '<i class="fa fa-youtube"></i>'.html_safe, "", title: "Youtube", target: "_blank" %></li>
        <li><%= link_to '<i class="fa fa-google-plus"></i>'.html_safe, "", title: "Google+", target: "_blank" %></li>
        <li><%= link_to '<i class="fa fa-instagram"></i>'.html_safe, "", title: "Instagram", target: "_blank" %></li>
        <li><%= link_to '<i class="fa fa-pinterest"></i>'.html_safe, "", title: "Pinterest", target: "_blank" %></li>
    </ul>
</div>