<main id="bt-main" class="bt-main bt-haslayout">
    <!-- Main Services Start -->
    <%= render "erp/online_store/frontend/business_page/modules/main_services" %>
    <!-- Main Services End -->
    
    <!-- We Are Creative Start -->
    <%= render "erp/online_store/frontend/business_page/modules/we_are_creative" %>
    <!-- We Are Creative End -->
    
    <!-- Services Start -->
    <%= render "erp/online_store/frontend/business_page/modules/services" %>
    <!-- Services End -->
    
    <!-- Projects Start -->
    <%= render "erp/online_store/frontend/business_page/modules/projects" %>
    <!-- Projects End -->
    
    <!-- About Us Start -->
    <%= render "erp/online_store/frontend/business_page/modules/about_us" %>
    <!-- About Us End -->
    
    <!-- Company Skills Start -->
    <%= render "erp/online_store/frontend/business_page/modules/company_skills" %>
    <!-- Company Skills End -->
    
    <!-- Creative Team Start -->
    <%= render "erp/online_store/frontend/business_page/modules/creative_team" %>
    <!-- Creative Team End -->
    
    <!-- Testimonials Start -->
    <%= render "erp/online_store/frontend/business_page/modules/testimonials" %>
    <!-- Testimonials End -->
    
    <!-- Pricing Table Start -->
    <%= render "erp/online_store/frontend/business_page/modules/pricing_table" %>
    <!-- Pricing Table End -->
    
    <!-- Our Publication Start -->
    <%= render "erp/online_store/frontend/business_page/modules/our_publication" %>
    <!-- Our Publication End -->
    
</main>