<!--************************************
    Home Slider Start
*************************************-->
<%= render "/erp/online_store/frontend/business_page/home_slider" %>
<!--************************************
    Home Slider End
*************************************-->
<main id="bt-main" class="bt-main bt-haslayout">
    <!-- About Us Start -->
    <%= render "erp/online_store/frontend/business_page/modules/about_us" %>
    <!-- About Us End -->
    
    <!-- We Are Creative Start -->
    <%= render "erp/online_store/frontend/business_page/modules/we_are_creative" %>
    <!-- We Are Creative End -->
    
    <!-- Services Start -->
    <%= render "erp/online_store/frontend/business_page/modules/services" %>
    <!-- Services End -->
    
    <!-- Projects Start -->
    <%= render "erp/online_store/frontend/business_page/modules/projects" %>
    <!-- Projects End -->
    
    <!-- Company Skills Start -->
    <%= render "erp/online_store/frontend/business_page/modules/company_skills" %>
    <!-- Company Skills End -->
    
    <!-- Our Publication Start -->
    <%= render "erp/online_store/frontend/business_page/modules/business_news" %>
    <!-- Our Publication End -->
    
</main>