<div class="row">
    <div class="col-sm-6">
        <%= image_tag "/frontend/image/cms/banner-01.png", alt: "Dịch Vụ Sửa Chữa - Bảo Trì" %>
    </div>
    <div class="col-sm-6 text-justify services-content">
        <p>Ngoài cung cấp các
        <%= link_to "Sản Phẩm HP", "", class: "text-services", target: "_blank" %>,
        <%= link_to "Máy Vi Tính", "", class: "text-services", target: "_blank" %>,
        <%= link_to "Màn Hình Máy Tính", "", class: "text-services", target: "_blank" %>, 
        <%= link_to "Linh Kiện - Phụ Kiện", "", class: "text-services", target: "_blank" %>,
        thiết bị <%= link_to "Kỹ Thuật Số - Viễn Thông", "", class: "text-services", target: "_blank" %>,
        <%= link_to "Thiết Bị Văn Phòng", "", class: "text-services", target: "_blank" %>,
        <%= link_to "Thiết Bị Mạng", "", class: "text-services", target: "_blank" %>,
        <%= link_to "Thiết Bị Viễn Thông", "", class: "text-services", target: "_blank" %>,
        <%= link_to "Thiết Bị An Ninh", "", class: "text-services", target: "_blank" %> chính hãng từ các hãng như: 
        <%= link_to "HP", "", class: "text-brands", target: "_blank" %>, 
        <%= link_to "DELL", "", class: "text-brands", target: "_blank" %>, 
        <%= link_to "LENOVO", "", class: "text-brands", target: "_blank" %>, 
        <%= link_to "ASUS", "", class: "text-brands", target: "_blank" %>, 
        <%= link_to "TOSHIBA", "", class: "text-brands", target: "_blank" %>, 
        <%= link_to "CANON", "", class: "text-brands", target: "_blank" %>, 
        <%= link_to "EPSON", "", class: "text-brands", target: "_blank" %>, 
        <%= link_to "D-LINK", "", class: "text-brands", target: "_blank" %>, 
        và <%= link_to "các hãng khác", "", class: "text-brands", target: "_blank" %>.
        TimHangCongNghe.Vn còn đưa ra các dịch vụ sửa chữa thiết bị vi tính, máy văn phòng, bơm nạp mực, dịch vụ bảo trì, gia hạn bảo hành...</p>
        <p>Dưới đây là bảng giá dịch vụ để quý khách tham khảo, giá cả thực tế có thể thấp hơn tùy vào điều kiện khảo sát thực tế.</p>
    </div>
</div>