<% title @page_title.html_safe %>
<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <%= link_to 'Trang Chủ', root_link, title: 'Tìm Hàng Công Nghệ - TimHangCongNghe.Com' %> » 
                <span class="breadcrumb_last" aria-current="page">Hướng Dẫn Mua Hàng</span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpb_row_background-center-top1 vc_custom_1612369362708 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1610446329656">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:60px;color:#fff;line-height:1;text-align:center" class="vc_custom_heading vc_custom_1612368327480" >Hướng Dẫn Mua Hàng</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"><h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Tư Vấn & Mua Hàng Qua Điện Thoại</h3></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Quý khách gọi vào số điện thoại <strong><%= link_to '(028) 3984 7690', 'tel:02839847690', title: '' %></strong> để gặp nhân viên tư vấn và hỗ trợ Online của Tìm Hàng Công Nghệ. Nhân viên tư vấn Online sẽ tiếp nhận, xử lý và phản hồi yêu cầu của Quý khách trong khung giờ từ 08:00 ~ 17:00 (Thứ 2 ~ Thứ 7).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Tư Vấn & Mua Hàng Qua Live Chat</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Quý khách chọn vào biểu tượng Zalo, Messenger được hiển thị ngay góc bên phải chân website. Hoặc bấm truy cập vào liên kết <strong><%= link_to 'Zalo Official Account', '', title: '', target: '_blank' %></strong>, <strong><%= link_to 'Facebook Messenger', '', title: '', target: '_blank' %></strong> của Tìm Hàng Công Nghệ. Nhân viên tư vấn Online sẽ tiếp nhận, xử lý và phản hồi yêu cầu của Quý khách trong thời gian sớm nhất.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Tư Vấn & Mua Hàng Qua Email</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Quý khách gửi nội dung yêu cầu báo giá dự án/sản phẩm hoặc tư vấn vào email <strong><%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'kinhdoanh@hoangkhang.com.vn', title: '' %></strong>. Bộ phận kinh doanh của Tìm Hàng Công Nghệ sẽ tiếp nhận, xử lý và phản hồi yêu cầu của Quý khách trong thời gian sớm nhất.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Mua Trực Tiếp Trên Website</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p><strong>BƯỚC 1: TÌM VÀ CHỌN SẢN PHẨM</strong></p>
                                    <p>Sử dụng công cụ tìm kiếm sản phẩm: Nhập từ khóa, tên sản phẩm, mã sản phẩm,... cần mua hàng.</p>
                                    <%= image_tag '', alt: '', title: '' %>
                                    <p>Sử dụng danh sách sản phẩm: Chọn theo chuyên mục, thương hiệu, thông số sản phẩm,... cần mua hàng.</p>
                                    <%= image_tag '', alt: '', title: '' %>
                                    <p>Tùy vào nhu cầu mua, Quý khách có thể lọc các sản phẩm theo những tiêu chí mong muốn như: Giá, hãng/thương hiệu, thông số kỹ thuật của sản phẩm.</p>
                                    <%= image_tag '', alt: '', title: '' %>
                                    <p><strong>BƯỚC 2: ĐẶT HÀNG MUA SẢN PHẨM</strong></p>
                                    <p>Sau khi đã lựa chọn xong sản phẩm ưng ý, Quý khách tiến hành đặt hàng theo các bước sau:</p>
                                    <p>&#9758; Chọn vào nút "THÊM VÀO GIỎ HÀNG" để thêm sản phẩm vào danh sách cần đặt mua.</p>
                                    <%= image_tag '', alt: '', title: '' %>
                                    <p>&#9758; Chọn vào biểu tượng giỏ hàng trên đầu trang.</p>
                                    <%= image_tag '', alt: '', title: '' %>
                                    <p>Chọn "XEM GIỎ HÀNG" để vào trang danh sách sản phẩm đã thêm (Cần điều chỉnh số lượng hoặc xóa sản phẩm không mua).</p>
                                    <%= image_tag '', alt: '', title: '' %>
                                    <p>Chọn "ĐẶT HÀNG NGAY" để đặt mua toàn bộ sản phẩm trong danh sách.</p>
                                    <%= image_tag '', alt: '', title: '' %>
                                    <p>&#9758; Điền đầy đủ các thông tin mua hàng theo các bước trên website</p>
                                    <%= image_tag '', alt: '', title: '' %>
                                    <p>&#9758; Nhấn nút "ĐẶT HÀNG" để đặt mua. Đơn hàng của Quý khách sẽ được gửi đến hệ thống quản lý của Tìm Hàng Công Nghệ. Hệ thống sẽ tự động gửi lại cho Quý khách thông tin đơn hàng đã đặt mua vào địa chỉ email mà Quý khách đã điền vào.</p>
                                    <%= image_tag '', alt: '', title: '' %>
                                    <p>&#9758; Nhân viên kinh doanh của Tìm Hàng Công Nghệ sẽ liên hệ với khách hàng trong thời gian sớm nhất để xác nhận đơn hàng và xử lý đơn hàng theo yêu cầu của quý khách.</p>
                                    <%= image_tag '', alt: '', title: '' %>
                                    <p><strong>BƯỚC 3: NHẬN HÀNG VÀ THANH TOÁN</strong></p>
                                    <p>Quý khách có thể tham khảo chính sách vận chuyển hàng "TẠI ĐÂY" và xem các hình thức thanh toán "TẠI ĐÂY".</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= render partial: 'frontend/modules/slogan_guide' %>
        </div>
    </main>
</div>