<div class="row">
    <!--Left Part Start -->
    <aside class="col-sm-4 col-md-3" id="column-left">
        <%= render "erp/online_store/frontend/modules/sidebar_deal_products" %>
        <%= render "erp/online_store/frontend/modules/sidebar_best_sellers" %>
        <%= render "erp/online_store/frontend/modules/hot_banners" %>
    </aside>
    <!--Left Part End -->
    <!--Middle Part Start-->
    <div id="content" class="col-md-9 col-sm-8">
        <div class="products-category">
            <h1 class="menu-title mb-0">Lựa Chọn Từ Doanh Nghiệp</h1>
            <div class="main-products-list">
                <% if @products.count > 0 %>
                <!--changed listings-->
                <div class="products-list row list">
                    <% @products.each do |product| %>
                    <div class="product-layout  col-md-3 col-sm-6 col-xs-6">
                        <div class="product-item-container product-lists">
                            <div class="left-block">
                                <div class="product-image-container lazy second_img ">
                                    <%= image_tag product_image(product.product_images, 'first', 'thumb193'), data: {src: product_image(product.product_images, 'first', 'thumb193')}, alt: product.product_name, class: "img-1 img-responsive" %>
                                    <%= image_tag product_image(product.product_images, 'second', 'thumb193'), data: {src: product_image(product.product_images, 'second', 'thumb193')}, alt: product.product_name, class: "img-2 img-responsive" %>
                                </div>
                                <%= quick_actions(product) %>
                                <% if product.is_new? %>
                                <span class="label label-new">Mới</span>
                                <% end %>
                                <% if product.is_deal? %>
                                <span class="label label-sale">Giảm giá</span>
                                <% end %>
                                <%= count_down(product.deal_from_date, product.deal_to_date) %>
                            </div>
                            <div class="right-block">
                                <div class="caption">
                                    <h4><%= link_to truncate(product.product_name, length: 50), product_link(product), title: product.product_name, class: "hover-product-name" %></h4>
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <%= stars(product.average_stars) %>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="price-new"><%= format_price(product.product_price) %></span>
                                        <% if product.is_deal? %>
                                        <br><span class="price-old"><%= format_price(product.price) %></span>
                                        <span class="label label-percent">-<%= product.deal_percent %>%</span>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <!-- right block -->
                        </div>
                    </div>
                    <% end %>
                </div>
                <!--// End Changed listings-->
                <!-- Pagination -->
                <div class="product-filter product-filter-bottom filters-panel">
                    <div class="box-pagination text-center">
                        <%= will_paginate @products, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                    </div>
                </div>
                <!-- End Pagination -->
                <% else %>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning"></i> Hiện chưa có sản phẩm cho chuyên mục này.
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <!--Middle Part End-->
</div>
