<% children = (@menu.children.empty? ? @menu.parent.children : @menu.children) %>
<% if !children.empty? %>
    <div class="module  menu-category titleLine">
        <h3 class="modtitle">
            <span>
                <i class="fa fa-futbol-o "></i>
                    Chuyên mục
            </span>
        </h3>
        <div class="modcontent">
            <div class="box-category">
                <ul id="cat_accordion" class="list-group fix_active">
                    <% children.each do |menu| %>
                    <li class="<% if menu.children.count > 0 %>hadchild cutom-parent-li<% end %>">
                        <a href="<%= menu_link(menu) %>" class="cutom-parent <% if menu.id == @menu.id %> current<% end %>"><%= menu.name %><span class="dcjq-icon"></span></a>
                        <% if menu.children.count > 0 %>
                        <span class="button-view  fa fa-plus-square-o"></span>
                        <% end %>
                        <ul style="display: none;">
                            <% menu.children.each do |child_1| %>
                                <% if child_1.children.count > 0 %>
                                <li class="hadchild cutom-parent-li">
                                    <%= link_to child_1.name, menu_link(child_1), class: "cutom-parent" %>
                                    <span class="button-view  fa fa-plus-square-o"></span>
                                    <ul style="display: none;">
                                        <% child_1.children.each do |child_2| %>
                                            <li><%= link_to child_2.name, menu_link(child_2) %></li>
                                        <% end %>
                                    </ul>
                                </li>
                                <% else %>
                                    <li><%= link_to child_1.name, menu_link(child_1) %></li>
                                <% end %>
                            <% end %>
                        </ul>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
<% end %>
<%= render "erp/online_store/frontend/modules/category/product_list_filter", brands: @menu.brands %>
<%= render "erp/online_store/frontend/modules/sidebar_best_sellers" %>
<%= render "erp/online_store/frontend/modules/hot_banners" %>