<div class="module block-shopby titleLine">
    <h3 class="modtitle">
        <span>
            <i class="fa fa-futbol-o "></i> Tìm Hàng Công Nghệ
        </span>
    </h3>
    <div class="modcontent ">
        <%= form_tag(erp_online_store.category_path, method: "get", class: "type_2") do %>
            <%= hidden_field_tag "menu_id", menu.id %>
            <div class="table_layout filter-shopby">
                <div class="table_row">
                    <div class="table_cell">
                        <fieldset>
                            <legend>Nhóm sản phẩm</legend>
                            <ul class="checkboxes_list">
                                <li>
                                    <input type="checkbox" name="is_deal" id="product_is_bestseller">
                                    <label for="product_is_bestseller">Doanh nghiệp lựa chọn</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="is_deal" id="product_is_deal">
                                    <label for="product_is_deal">Đang có khuyến mãi</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="is_deal" id="product_is_bestseller">
                                    <label for="product_is_bestseller">Bán chạy nhất</label>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                    <% if menu.brand_group_id.present? %>
                        <% if menu.get_brand_groups.count > 0 %>
                            <!-- - - - - - - - - - - - - - Brand - - - - - - - - - - - - - - - - -->
                            <div class="table_cell">
                                <fieldset>
                                    <legend>Thương hiệu sản phẩm</legend>
                                    <ul class="checkboxes_list">
                                        <% menu.get_brand_groups.each do |brand_group| %>
                                        <li>
                                            <input type="checkbox" name="manufacturer_ids[]" id="<%= brand_group.brand_id %>">
                                            <label for="<%= brand_group.brand_id %>"><%= brand_group.brand_name %></label>
                                        </li>
                                        <% end %>
                                    </ul>
                                </fieldset>
                            </div>
                            <!--/ .table_cell -->
                            <!-- - - - - - - - - - - - - - End brand - - - - - - - - - - - - - - - - -->
                        <% end %>
                    <% end %>
                </div>
                <!--/ .table_row -->
            </div>
            <!--/ .table_layout -->
            <button class="btn btn-default">Submit</button>
        <% end %>
    </div>
</div>
<%= render "erp/online_store/frontend/modules/sidebar_best_sellers" %>
<%= render "erp/online_store/frontend/modules/hot_banners" %>