<div class="module block-shopby titleLine">
    <h3 class="modtitle">
        <span>
            <i class="fa fa-futbol-o "></i> Tìm Hàng Công Nghệ
        </span>
    </h3>
    <div class="modcontent ">
        <%= form_tag("", method: "get", class: "category-filter-box") do %>
            <%= hidden_field_tag "menu_id", menu.id %>
            <div class="table_layout filter-shopby">
                <div class="table_row">
                    <div class="table_cell">
                        <fieldset>
                            <% if menu.brands.count > 1 %>
                                <legend>Thương hiệu sản phẩm</legend>
                                <ul class="checkboxes_list">
                                    <% menu.brands.each do |brand| %>
                                        <li>
                                            <input type="checkbox" name="brand_ids[]" id="brand_<%= brand.id %>" value="<%= brand.id %>">
                                            <label for="brand_<%= brand.id %>"><%= brand.name %></label>
                                        </li>
                                    <% end %>
                                </ul>
                                <br />
                            <% end %>

                            <legend>Nhóm sản phẩm</legend>
                            <ul class="checkboxes_list">
                                <li>
                                    <input type="checkbox" name="is_deal" id="product_is_bestseller">
                                    <label for="product_is_bestseller">Doanh nghiệp lựa chọn</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="is_deal" id="product_is_deal">
                                    <label for="product_is_deal">Đang có khuyến mãi</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="is_deal" id="product_is_bestseller">
                                    <label for="product_is_bestseller">Bán chạy nhất</label>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                </div>
                <!--/ .table_row -->
            </div>
            <!--/ .table_layout -->
        <% end %>
    </div>
</div>
<%= render "erp/online_store/frontend/modules/sidebar_best_sellers" %>
<%= render "erp/online_store/frontend/modules/hot_banners" %>
