<% children = (@menu.children.empty? ? @menu.parent.children : @menu.children) %>
<% if !children.empty? %>
    <div class="module  menu-category titleLine">
        <h3 class="modtitle">
            <span>
                <i class="fa fa-futbol-o "></i>
                <% if @menu.children.empty? %>
                    Chuyên mục liên quan
                <% else %>
                    <%= @menu.name %>
                <% end %>
            </span>
        </h3>
        <div class="modcontent">
            <div class="box-category">
                <ul id="cat_accordion" class="list-group fix_active">
                    <% children.each do |menu| %>
                    <li class="<% if menu.children.count > 0 %>hadchild cutom-parent-li<% end %>">
                        <a href="<%= menu_link(menu) %>" class="cutom-parent <% if menu.id == @menu.id %> current<% end %>"><%= menu.name %><span class="dcjq-icon"></span></a>
                        <% if menu.children.count > 0 %>
                        <span class="button-view  fa fa-plus-square-o"></span>
                        <% end %>
                        <ul style="display: none;">
                            <% menu.children.each do |child_1| %>
                                <% if child_1.children.count > 0 %>
                                <li class="hadchild cutom-parent-li">
                                    <%= link_to child_1.name, menu_link(child_1), class: "cutom-parent" %>
                                    <span class="button-view  fa fa-plus-square-o"></span>
                                    <ul style="display: none;">
                                        <% child_1.children.each do |child_2| %>
                                            <li><%= link_to child_2.name, menu_link(child_2) %></li>
                                        <% end %>
                                    </ul>
                                </li>
                                <% else %>
                                    <li><%= link_to child_1.name, menu_link(child_1) %></li>
                                <% end %>
                            <% end %>
                        </ul>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
<% end %>

<div class="module block-shopby titleLine">
    <h3 class="modtitle">
        <span>
            <i class="fa fa-futbol-o "></i> Tìm Hàng Công Nghệ
        </span>
    </h3>
    <div class="modcontent ">
        <%= form_tag("", method: "get", class: "category-filter-box") do %>
            <%= hidden_field_tag "menu_id", menu.id %>
            <div class="table_layout filter-shopby">
                <div class="table_row">
                    <div class="table_cell">
                        <fieldset>
                            <legend>Nhóm sản phẩm</legend>
                            <ul class="checkboxes_list">
                                <li>
                                    <input type="checkbox" name="is_business_choises" id="product_is_business_choises">
                                    <label for="product_is_business_choises">Doanh nghiệp lựa chọn</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="is_deal" id="product_is_deal">
                                    <label for="product_is_deal">Đang có khuyến mãi</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="is_bestseller" id="product_is_bestseller">
                                    <label for="product_is_bestseller">Bán chạy nhất</label>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                </div>
                <!--/ .table_row -->
            </div>
            <!--/ .table_layout -->
        <% end %>
    </div>
</div>
<%= render "erp/online_store/frontend/modules/sidebar_best_sellers" %>
<%= render "erp/online_store/frontend/modules/hot_banners" %>
