<div class="module block-shopby titleLine">
    <h3 class="modtitle">
        <span>
            <i class="fa fa-futbol-o "></i> Tìm Hàng Công Nghệ
        </span>
    </h3>
    <div class="modcontent ">
        <%= form_tag(erp_online_store.category_path, method: "get", class: "type_2") do %>
            <%= hidden_field_tag "menu_id", menu.id %>
            <div class="table_layout filter-shopby">
                <div class="table_row">
                    <div class="table_cell">
                        <fieldset>
                            <legend>Khuyến mãi</legend>
                            <ul class="checkboxes_list">
                                <li>
                                    <input type="checkbox" name="is_deal" id="product_is_deal">
                                    <label for="product_is_deal">Đang có khuyến mãi</label>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                    <% if menu.brand_group_id.present? %>
                        <% if menu.get_brand_groups.count > 0 %>
                            <!-- - - - - - - - - - - - - - Brand - - - - - - - - - - - - - - - - -->
                            <div class="table_cell">
                                <fieldset>
                                    <legend>Thương hiệu sản phẩm</legend>
                                    <ul class="checkboxes_list">
                                        <% menu.get_brand_groups.each do |brand_group| %>
                                        <li>
                                            <input type="checkbox" name="manufacturer_ids[]" id="<%= brand_group.brand_id %>">
                                            <label for="<%= brand_group.brand_id %>"><%= brand_group.brand_name %></label>
                                        </li>
                                        <% end %>
                                    </ul>
                                </fieldset>
                            </div>
                            <!--/ .table_cell -->
                            <!-- - - - - - - - - - - - - - End brand - - - - - - - - - - - - - - - - -->
                        <% end %>
                    <% end %>
                    <!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->
                    <div class="table_cell">
                        <fieldset>
                            <legend>Mức giá sản phẩm</legend>
                            <div class="range">
                                Mức giá :
                                <span class="min_val">$188.73</span> -
                                <span class="max_val">$335.15</span>
                                <input type="hidden" name="" class="min_value" value="188.73">
                                <input type="hidden" name="" class="max_value" value="335.15">
                            </div>
                            <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all"></span>
                                <span class="ui-slider-handle ui-state-default ui-corner-all"></span>
                            </div>
                        </fieldset>
                    </div>
                    <!--/ .table_cell -->
                    <!-- - - - - - - - - - - - - - End price - - - - - - - - - - - - - - - - -->
                </div>
                <!--/ .table_row -->
            </div>
            <!--/ .table_layout -->
            <button class="btn btn-default">Submit</button>
        <% end %>
    </div>
</div>
<%= render "erp/online_store/frontend/modules/sidebar_best_sellers" %>
<%= render "erp/online_store/frontend/modules/hot_banners" %>