<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <div class="page-sidebar-wrapper">
            <ul class="page-sidebar-menu page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="100">
                <li class="sidebar-toggler-wrapper hide"><div class="sidebar-toggler"><span></span></div></li>                
                <%= render "layouts/erp/backend/menu/inventory" %>
                <%= render "layouts/erp/backend/menu/order" %>
                <!--<%= render "layouts/erp/backend/menu/events" %>-->
                <%= render "layouts/erp/backend/menu/menu" %>
                <%= render "layouts/erp/backend/menu/article" %>
                <!--<%= render "layouts/erp/backend/menu/comment_rating" %>-->
                <!--<%= render "layouts/erp/backend/menu/contact" %>-->
                <%= render "layouts/erp/backend/menu/picture" %>
                <!--<%= render "layouts/erp/backend/menu/area" %>
                <%= render "layouts/erp/backend/menu/news_tes" %>-->
                <%= render "layouts/erp/backend/menu/system" %>
            </ul>
        </div>
    </div>
</div>