<div class="wpisset-icon-content-wrap wpisset-icon-content-wrap-546887885">
    <div class="wpisset-icon-content wpisset-icon-content-116432877">
        <%= image_tag '/img/icons/shopping_tag.png', alt: '', title: '' %>
        <span>
            QUÀ TẶNG TRỊ GIÁ <%= format_price(1500000) %>: </br>
            &#8594; <%= link_to 'Chuột không dây', '', title: '' %> (Trị giá <%= format_price(169000) %>)</br>
            &#8594; <%= link_to 'Tấm lót chuột', '', title: '' %> (Trị giá <%= format_price(49000) %>)</br>
            &#8594; <%= link_to 'Đế tản nhiệt laptop', '', title: '' %> (Trị giá <%= format_price(99000) %>)</br>
            &#8594; <%= link_to 'Bộ vệ sinh laptop', '', title: '' %> (Trị giá <%= format_price(39000) %>)</br>
            &#8594; <%= link_to 'Túi đựng laptop', '', title: '' %> (Trị giá <%= format_price(149000) %>)</br>
            &#8594; <%= link_to 'Phiếu vệ sinh, bảo dưỡng laptop', '', title: '' %> (Trị giá <%= format_price(999000) %>)
        </span>
    </div>
    <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-116432877 img{margin-right:.5rem;margin-top:.25rem;max-width:14px!important}.wpisset-icon-content-116432877{align-items:flex-start;margin-top:.5rem;margin-bottom:.5rem}</style></svg>
    <div class="wpisset-icon-content wpisset-icon-content-429732693">
        <%= image_tag '/img/icons/shopping_tag.png', alt: '', title: '' %>
        <span>Phần mềm diệt virus <%= link_to 'xem sản phẩm', '', title: '' %></span>
    </div>
    <div class="wpisset-icon-content wpisset-icon-content-429732693">
        <%= image_tag '/img/icons/shopping_tag.png', alt: '', title: '' %>
        <span>Phần mềm hệ điều hành <%= link_to 'xem sản phẩm', '', title: '' %></span>
    </div>
    <div class="wpisset-icon-content wpisset-icon-content-429732693">
        <%= image_tag '/img/icons/shopping_tag.png', alt: '', title: '' %>
        <span>Phụ kiện dành cho laptop <%= link_to 'xem sản phẩm', '', title: '' %></span>
    </div>
    <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-429732693 img{margin-right:.5rem;margin-top:.25rem;max-width:14px!important}.wpisset-icon-content-429732693{align-items:flex-start;margin-top:.5rem;margin-bottom:.5rem}</style></svg>
</div>
<svg class="wpssiet-es-cs"><style>.wpisset-icon-content-wrap-546887885 .wpisset-icon-content{font-size:95%!important}.wpisset-icon-content-wrap-546887885{color:#ee9901}.wpisset-icon-content-wrap-546887885 a{color:#0095E8}.wpisset-icon-content-wrap-546887885 a:hover{color:#0095E8}.wpisset-icon-content-wrap-546887885{background-color:#fffcf2}.wpisset-icon-content-wrap-546887885{border-color:#f5d47a}.wpisset-icon-content-wrap-546887885{padding-right:.5rem}.wpisset-icon-content-wrap-546887885{padding-left:.5rem}.wpisset-icon-content-wrap-546887885{border-radius:5px}table.dataTable.compare-list tr .wpisset-icon-content-wrap{display:none!important}.wpssiet-es-cs{display:none}</style></svg>