<div>
                                        <div>
                                            <span>
                                                QUÀ TẶNG TRỊ GIÁ <%= format_price(1500000) %>: </br>
                                                &#8594; <%= link_to 'Chuột không dây', '', title: '' %> (Trị giá <%= format_price(169000) %>)</br>
                                                &#8594; <%= link_to 'Tấm lót chuột', '', title: '' %> (Trị giá <%= format_price(49000) %>)</br>
                                                &#8594; <%= link_to 'Đế tản nhiệt laptop', '', title: '' %> (Trị giá <%= format_price(99000) %>)</br>
                                                &#8594; <%= link_to 'Bộ vệ sinh laptop', '', title: '' %> (Trị giá <%= format_price(39000) %>)</br>
                                                &#8594; <%= link_to 'Túi đựng laptop', '', title: '' %> (Trị giá <%= format_price(149000) %>)</br>
                                                &#8594; <%= link_to 'Phiếu vệ sinh, bảo dưỡng laptop', '', title: '' %> (Trị giá <%= format_price(999000) %>)
                                            </span>
                                        </div>
                                        <svg><style>.wpisset-icon-content-906647430 img{margin-right:0.5rem;margin-top:0.25rem;max-width:14px !important;}.wpisset-icon-content-906647430{align-items:flex-start;margin-top:0.5rem;margin-bottom:0.5rem;}</style></svg>
                                        <div><span>Nhập mã THCN300 giảm thêm 3% tối đa <%= format_price(300000) %> khi thanh toán qua VNPAY-QR. <%= link_to 'Xem chi tiết', '', title: '' %></span></div>
                                        <svg><style>.wpisset-icon-content-598178898 img{margin-right:0.5rem;margin-top:0.25rem;max-width:14px !important;}.wpisset-icon-content-598178898{align-items:flex-start;margin-top:0.5rem;margin-bottom:0.5rem;}</style></svg>
                                    </div>