<div class="yith-wfbt-section thcn">
    <h3>SẢN PHẨM CÙNG NHÓM</h3>
    <ul class="yith-wfbt-items">
        <li class="yith-wfbt-item">
            <label>
                <span class="product-name"><%= link_to @product.get_name, product_link(@product), title: @product.get_name %></span>&ndash;
                <span class="price"><ins><bdi><% if @product.get_show_price.nil? %>Đang cập nhật<% else %><%= format_price(@product.get_show_price) %><% end %></bdi></ins></span>
            </label>
        </li>
        <li class="yith-wfbt-item">
            <label>
                <span class="product-name"><%= link_to 'Laptop Dell Latitude 3320 (i7 1165G7/8GB RAM/256GB SSD/13.3" FHD/Win 10/Xám)', '', title: '' %></span>&ndash;
                <span class="price">
                    <del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><%= format_price(32990000) %></bdi></span></del>
                    <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(30990000) %></bdi></span></ins>
                </span>
            </label>
        </li>
        <li class="yith-wfbt-item">
            <label>
                <span class="product-name"><%= link_to 'Laptop Dell Latitude 3320 (i5 1135G7/8GB RAM/256GB SSD/13.3" FHD/Win 10/Xám)', '', title: '' %></span>&ndash;
                <span class="price">
                    <del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><%= format_price(28990000) %></bdi></span></del>
                    <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(26990000) %></bdi></span></ins>
                </span>
            </label>
        </li>
        <li class="yith-wfbt-item">
            <label>
                <span class="product-name"><%= link_to 'Laptop Dell Latitude 3320 (i7 1165G7/8GB RAM/256GB SSD/13.3" FHD/Win 10/Xám)', '', title: '' %></span>&ndash;
                <span class="price">
                    <del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><%= format_price(32990000) %></bdi></span></del>
                    <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(30990000) %></bdi></span></ins>
                </span>
            </label>
        </li>
        <li class="yith-wfbt-item">
            <label>
                <span class="product-name"><%= link_to 'Laptop Dell Latitude 3320 (i5 1135G7/8GB RAM/256GB SSD/13.3" FHD/Win 10/Xám)', '', title: '' %></span>&ndash;
                <span class="price">
                    <del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><%= format_price(28990000) %></bdi></span></del>
                    <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(26990000) %></bdi></span></ins>
                </span>
            </label>
        </li>
        <li class="yith-wfbt-item">
            <label>
                <span class="product-name"><%= link_to 'Laptop Dell Latitude 3320 (i7 1165G7/8GB RAM/256GB SSD/13.3" FHD/Win 10/Xám)', '', title: '' %></span>&ndash;
                <span class="price">
                    <del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><%= format_price(32990000) %></bdi></span></del>
                    <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(30990000) %></bdi></span></ins>
                </span>
            </label>
        </li>
    </ul>
</div>