<div class="wpisset-sp-custom-cats">
    <span class="wpisset-posted-in">
        <span class="wpisset-posted-in-inner">
            <span class="wpisset-posted-in-label"><strong>TAGs:</strong></span>
            <%= link_to 'máy tính xách tay', '', title: '', rel: 'tag' %>,
            <%= link_to 'laptop', '', title: '', rel: 'tag' %>,
            <%= link_to 'máy tính xách tay dell', '', title: '', rel: 'tag' %>,
            <%= link_to 'laptop dell', '', title: '', rel: 'tag' %>,
            <%= link_to 'laptop dell latitude', '', title: '', rel: 'tag' %>,
            <%= link_to 'laptop dell latitude 3320', '', title: '', rel: 'tag' %>,
            <%= link_to 'laptop dell latitude i3', '', title: '', rel: 'tag' %>,
            <%= link_to 'laptop dell latitude 3320 i3', '', title: '', rel: 'tag' %>,
            <%= link_to 'laptop dell latitude core i3', '', title: '', rel: 'tag' %>,
            <%= link_to 'laptop dell latitude 3320 core i3', '', title: '', rel: 'tag' %>
        </span>
    </span>
</div>