<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_timhangcongnghe_vn.root_path %></li>
        <li><%= link_to "Tin Tức & Sự Kiện", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module blog-category titleLine">
                <h3 class="modtitle"><span>Blog Category</span></h3>
                <div class="modcontent">
                    <ul class="list-group ">
                        <li class="list-group-item"> <a href="blog-page.html" class="group-item active">Our Blog</a></li>
                        <li class="list-group-item"><a href="blog-page.html" class="group-item">Demo Category 2</a></li>
                        <li class="list-group-item"><a href="blog-page.html" class="group-item">Demo Category 3</a></li>
                        <li class="list-group-item"><a href="blog-page.html" class="group-item">Demo Category 4</a></li>
                        <li class="list-group-item"><a href="blog-page.html" class="group-item">Demo Category 5</a></li>
                    </ul>
                </div>
            </div>
            <div class="module latest-product titleLine">
                <h3 class="modtitle"><span>Latest Product</span></h3>
                <div class="modcontent ">
                    <% (0..2).each do |product| %>
                    <div class="product-latest-item">
                        <div class="media">
                            <div class="media-left">
                                <%= link_to image_tag("/frontend/image/shop/product/18.jpg", alt: "Cisi Chicken", title: "Cisi Chicken", size: "90x90"), "" %>
                            </div>
                            <div class="media-body">
                                <div class="caption">
                                    <h4><%= link_to "Cisi Chicken", "" %></h4>
                                    <div class="price">
                                        <span class="price-new">300,000 VNĐ</span>
                                    </div>
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </aside>
        <!--Left Part End -->

        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <div class="blog-header">
                <h3>Our Blog</h3>
                <p>Ac tincidunt Suspendisse malesuada velit in Nullam elit magnis netus Vestibulum.</p>
            </div>
            <div class="blog-listitem">
                <% (0..3).each do |blog| %> 
                <div class="blog-item ">
                    <div class="itemBlogImg col-md-4 col-sm-12">
                        <div class="article-image banners">
                            <div>
                                <%= link_to image_tag("/frontend/image/blog/blog4.jpg", alt: "Kire tuma demonstraverunt lector"), "/frontend/image/blog/blog4.jpg", class: "popup-gallery" %>
                            </div>
                        </div>
                    </div>
                    <div class="itemBlogContent col-md-8 col-sm-12">
                        <div class="article-title">
                            <h4>
                                <%= link_to "Kire Tuma Demonstraverunt Lector", erp_timhangcongnghe_vn.blog_detail_path %>
                            </h4>
                        </div>
                        <div class="article-sub-title">
                            <span class="article-date">
                              <i class="fa fa-calendar"></i>08/03/2017								
                            </span>
                        </div>
                        <div class="article-description">
                            Morbi tempus, non ullamcorper euismod, erat odio suscipit purus, nec ornare lacus turpis ac purus. Mauris cursus in mi vel dignissim. Morbi mollis elit ipsum, a feugiat lectus gravida non. Aenean molestie justo sed aliquam euismod. Maecenas laoreet b </div>
                        <div class="blog-meta">
                            <span class="comment_count">
                                <a href="#">0 Comments</a>
                            </span>
                            <span class="author">
                                <span>Post by </span>Admin
                            </span>
                        </div>
                    </div>
                </div>
                <% end %>
                <ul class="pagination">
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li>
                        <a href="#>&gt;</a></li> <li><a href=" # ">&gt;|</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Middle Part End-->
    </div>
</div>