<% title (params[:menu_id].present? ? @menu.get_name : 'Tìm Hàng Công Nghệ') %>

<% content_for :metas do %>
<!-- FACEBOOK -->
    <meta property="og:locale" content="vi-VN" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="<%= @menu.get_name %>"/>
    <% if @meta_description.present? %><meta property="og:description" content="<%= @meta_description %>"/><% else %><meta property="og:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/><% end %>
    <meta property="og:url" content="<%= request.url %>"/>
    <% if params[:menu_id].present? %><meta property="og:site_name" content="<%= @menu.get_name %> - Tìm Hàng Công Nghệ"/><% else %><meta property="og:site_name" content="Tìm Hàng Công Nghệ"/><% end %>
    <% if @menu.image_url_2.present? %><meta name="og:image" content="https://timhangcongnghe.com<%= @menu.image_url_2 %>"/><% else %><meta property="og:image" content="https://timhangcongnghe.com/frontend/image/thcn-web-share.png"/><% end %>
    <meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="628"/>
    <!--TWITTER -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta name="twitter:card" content="summary"/>
    <meta property="twitter:title" content="<%= @menu.get_name %>"/>
    <% if @meta_description.present? %><meta property="twitter:description" content="<%= @meta_description %>"/><% else %><meta property="twitter:description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."/><% end %>
    <% if @menu.image_url_2.present? %><meta name="twitter:image" content="https://timhangcongnghe.com<%= @menu.image_url_2 %>"/><% else %><meta property="twitter:image" content="https://timhangcongnghe.com/frontend/image/thcn-web-share.png"/><% end %>
<% end %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, '//timhangcongnghe.com/', title: 'Tìm Hàng Công Nghệ' %></li>
        <% @menu.self_and_parent_menus.each do |menu| %><% if @menu.id != menu.id %><li><%= link_to menu.get_name, menu_link(menu), title: menu.get_name %></li><% end %><% end %>
        <li><%= link_to @menu.get_name, 'javascript:void(0)', title: @menu.get_name %></li>
    </ul>
    <div class="row">
        <aside class="col-sm-4 col-md-3" id="column-left">
            <%= render 'erp/online_store/frontend/modules/category/sidebar_related_categories', menu: @menu %>
			<%= render 'erp/online_store/frontend/modules/extensions/sidebar_best_seller' %>
			<%= render 'erp/online_store/frontend/modules/extensions/sidebar_hot_banner' %>
        </aside>
        <div id="content" class="col-md-9 col-sm-8">
            <div class="products-category">
                <h1 class="menu-title mb-0"><%= @menu.get_name %></h1>
                <div class="main-products-list">
                    <% if @products.count > 0 %>
                    <%= render 'erp/online_store/frontend/modules/category/listing', products: @products, menu: @menu %>
                    <%= render 'erp/online_store/frontend/modules/category/pagination', products: @products %>
                    <% else %>
                    <div id="content" class="col-sm-12 shopping-cart">
                        <div class="empty-cart">                    
                            <h2 class="title">Chưa có sản phẩm phù hợp.</h2>
                            <%= link_to 'Quay về trang chủ', '//timhangcongnghe.com/', class: 'btn btn-default shopping-continue', title: 'Quay lại trang chủ' %>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>