<div class="">
    <table class="table table-advance table-hover table-striped table-checkable order-column" id="">
        <thead>
            <tr>
                <th width='1%'><%= erp_datalist_check_all %></th>
                <% if get_columns(params).include?("code") %><th><%= t('.code') %></th><% end %>
                <% if get_columns(params).include?("brand") %><th width='7%'><%= t('.brand') %></th><% end %>
                <% if get_columns(params).include?("category") %><th width='10%'><%= t('.category') %></th><% end %>
                <% if get_columns(params).include?("name") %>
                    <th width='40%' class="sortable" sort-by='erp_products_products.name'><%= t('.name') %></th>
                <% end %>
                <% if get_columns(params).include?("price") %>
                    <th><%= t('.price') %></th>
                <% end %>
                <% if get_columns(params).include?("status") %>
                    <th><%= t('status') %></th>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <th><%= t('creator') %></th>
                <% end %>
                <% if get_columns(params).include?("created_at") %></th>
                <% end %>
                <th width="7%"><%= t('actions') %></th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
                <tr class="odd gradeX">
                    <td><%= erp_datalist_check_row(id: product.id) %></td>
                    <% if get_columns(params).include?("code") %>
                        <td><%= product.code %></td>
                    <% end %>
                    <% if get_columns(params).include?("brand") %>
                        <td><%= link_to product.brand_name,
                                erp_products.edit_backend_brand_path(product.brand),
                                target: '_blank' %></td>
                    <% end %>
                    <% if get_columns(params).include?("category") %>
                        <td><%= link_to product.category_name,
                                erp_products.edit_backend_category_path(product.category),
                                target: '_blank' %></td>
                    <% end %>
                    <% if get_columns(params).include?("name") %>
                        <td>
                            <strong><%= link_to product.name, erp_products.edit_backend_product_path(product) %></strong>
                            <% if product.short_name.present? %>
                                <% if product.is_sold_out? %>
                                    <br><em><strong>Tên rút gọn: </strong><%= product.short_name %></em>
                                <% else %>
                                    <% if (product.short_name.length > 70) || (product.short_name.length < 35) %>
                                        <br><em style="color: #d91e18"><strong>Tên rút gọn: </strong><%= product.short_name %></em>
                                    <% else %>
                                        <br><em><strong>Tên rút gọn: </strong><%= product.short_name %></em>
                                    <% end %>
                                <% end %>
                            <% end %>
                            <% if product.gifts.count > 0 %>
                                Tặng kèm:
                                <% product.gifts.each do |gift| %>
                                    <br><em><%= link_to gift.product_name, erp_products.edit_backend_product_path(gift), title: gift.product_name %></em>
                                <% end %>
                            <% end %>
                            <% if product.product_intro_link.present? %>
                                <br><em><%= link_to 'Xem video: ' + product.product_intro_link, product.product_intro_link, target: '_blank' %></em>
                            <% end %>
                            <% if product.dimentions.present? %>
                                <br><em>Kích thước đóng gói: <%= product.dimentions %></em>
                            <% end %>
                            <% if product.weights.present? %>
                                <br><em>Trọng lượng đóng thùng: <%= product.weights %></em>
                            <% end %>
                            <% if product.warranty.present? %>
                                <br><em>Bảo hành: <%= product.warranty %></em>
                            <% end %>
                        </td>
                    <% end %>
                    <% if get_columns(params).include?("price") %>
                        <td><%= format_price(product.price) %></td>
                    <% end %>
                    <% if get_columns(params).include?("status") %>
                    <td>
                        <% if product.is_deal? %>
                            <br><span class="label label-sm label-orange"><%= t('.deal') %></span>
                        <% end %>
                        <% if product.is_new? %>
                            <br><span class="label label-sm label-orange"><%= t('.new') %></span>
                        <% end %>
                        <% if product.is_bestseller? %>
                            <br><span class="label label-sm label-orange"><%= t('.bestseller') %></span>
                        <% end %>
                        <% if product.is_sold_out? %>
                            <br><span class="label label-sm label-warning"><%= t('.sold_out') %></span>
                        <% end %>
                        <% if product.is_call? %>
                            <br><span class="label label-sm label-orange"><%= t('.is_call') %></span>
                        <% end %>
                        <% if product.is_stock_inventory? %>
                            <br><span class="label label-sm label-info"><%= t('.stock_inventory') %></span>
                        <% end %>
                        <% if product.is_business_choices? %>
                            <br><span class="label label-sm label-info"><%= t('.business_choices') %></span>
                        <% end %>
                        <% if product.is_top_business_choices? %>
                            <br><span class="label label-sm label-info"><%= t('.top_business_choices') %></span>
                        <% end %>
                        <% if product.meta_description.present? %>
                            <br><span class="label label-sm label-danger">SEO mô tả (<%= product.meta_description.length %>)</span>
                        <% end %>
                        <% if product.description.present? %>
                            <br><span class="label label-sm label-danger">Có bài GT</span>
                        <% end %>
                        <% if product.short_description? %>
                            <br><span class="label label-sm label-info"><%= t('.short_description') %></span>
                        <% end %>
                        <% if product.product_images.count == 0 %>
                            <br><span class="label label-sm label-danger">Chưa có hình ảnh</span>
                        <% end %>
                    </td>
                    <% end %>
                    <% if get_columns(params).include?("creator") %>
                        <td>
                            <%= erp_component('avatar', {
                                user: product.creator
                            }) %>
                        </td>
                    <% end %>
                    <% if get_columns(params).include?("created_at") %>
                        <td><%= product.created_at.strftime("%d/%m/%Y") %></td>
                    <% end %>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="fa fa-cog"></i><%= t('core.options') %><i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <%= link_to '<i class="fa fa-edit"></i> '.html_safe + t('edit'),
                                        erp_products.edit_backend_product_path(product) %>
                                </li>
                                <li>
                                    <%= link_to '<i class="fa fa-copy"></i> '.html_safe + t('.copy'),
                                        erp_products.copy_backend_products_path(id: product),
                                        method: 'PUT', data: {confirm: t('.copy_confirm')}, class: 'ajax-link' %>
                                </li>
                                <li class="divider"></li>
                                <% if !product.is_bestseller %>
                                    <li>
                                        <%= link_to '<i class="fa fa-check-square-o"></i> '.html_safe + t('.check_is_bestseller'),
                                            erp_products.check_is_bestseller_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.check_is_bestseller_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% else %>
                                    <li>
                                        <%= link_to '<i class="fa fa-square-o"></i> '.html_safe + t('.uncheck_is_bestseller'),
                                            erp_products.uncheck_is_bestseller_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.uncheck_is_bestseller_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% end %>
                                <% if !product.is_sold_out %>
                                    <li>
                                        <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t('.check_is_sold_out'),
                                            erp_products.check_is_sold_out_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.check_is_sold_out_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% else %>
                                    <li>
                                        <%= link_to '<i class="fa fa-remove"></i> '.html_safe + t('.uncheck_is_sold_out'),
                                            erp_products.uncheck_is_sold_out_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.uncheck_is_sold_out_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% end %>
                                <% if !product.is_call %>
                                    <li>
                                        <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t('.check_is_call'),
                                            erp_products.check_is_call_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.check_is_call_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% else %>
                                    <li>
                                        <%= link_to '<i class="fa fa-remove"></i> '.html_safe + t('.uncheck_is_call'),
                                            erp_products.uncheck_is_call_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.uncheck_is_call_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% end %>
                                <% if !product.is_stock_inventory %>
                                    <li>
                                        <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t('.check_is_stock_inventory'),
                                            erp_products.check_is_stock_inventory_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.check_is_stock_inventory_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% else %>
                                    <li>
                                        <%= link_to '<i class="fa fa-remove"></i> '.html_safe + t('.uncheck_is_stock_inventory'),
                                            erp_products.uncheck_is_stock_inventory_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.uncheck_is_stock_inventory_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% end %>
                                <% if !product.is_business_choices %>
                                    <li>
                                        <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t('.check_is_business_choices'),
                                            erp_products.check_is_business_choices_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.check_is_business_choices_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% else %>
                                    <li>
                                        <%= link_to '<i class="fa fa-remove"></i> '.html_safe + t('.uncheck_is_business_choices'),
                                            erp_products.uncheck_is_business_choices_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.uncheck_is_business_choices_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% end %>
                                <% if !product.is_top_business_choices %>
                                    <li>
                                        <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t('.check_is_top_business_choices'),
                                            erp_products.check_is_top_business_choices_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.check_is_top_business_choices_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% else %>
                                    <li>
                                        <%= link_to '<i class="fa fa-remove"></i> '.html_safe + t('.uncheck_is_top_business_choices'),
                                            erp_products.uncheck_is_top_business_choices_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.uncheck_is_top_business_choices_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% end %>

                                <li class="divider"></li>

                                <% if !product.archived %>
                                    <li>
                                        <%= link_to '<i class="fa fa-ban"></i> '.html_safe + t('archive'),
                                            erp_products.archive_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.archive_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% else %>
                                    <li>
                                        <%= link_to '<i class="fa fa-check"></i> '.html_safe + t('unarchive'),
                                            erp_products.unarchive_backend_products_path(id: product),
                                            method: 'PUT', data: {confirm: t('.unarchive_confirm')}, class: 'ajax-link' %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <% if @products.empty? %><div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div><% end %>
</div>
<%= erp_datalist_pagination(@products) %>
