<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 8,9]><html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie9" lang=""><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="tim hang cong nghe, hàng công nghệ, máy tính xách tay, máy tính để bàn, màn hình máy tính, máy chủ, máy in, ram pc, ram laptop, camera quan sát">
    <meta name="description" content="Tìm Hàng Công Nghệ là trang thương mại điện tử uy tín chuyên cung cấp đa dạng các sản phẩm Hàng Công Nghệ Laptop, PC, Server, Workstations, Máy In,...từ các hãng lớn thế giới.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ưu Đãi Doanh Nghiệp - TimHangCongNghe.VN</title>
    <%= favicon_link_tag '/frontend/business-template/images/icons/favicon.png', rel: 'shortcut icon', type: '/frontend/image/x-icon' %>
		<%= stylesheet_link_tag "/frontend/business-template/css/bootstrap.min.css" %>
		<%= stylesheet_link_tag "/frontend/business-template/css/normalize.css" %>
		<%= stylesheet_link_tag "/frontend/business-template/css/font-awesome.min.css" %>
		<%= stylesheet_link_tag "/frontend/business-template/css/icomoon.css" %>
		<%= stylesheet_link_tag "/frontend/business-template/css/owl.carousel.css" %>
		<%= stylesheet_link_tag "/frontend/business-template/css/owl.theme.css" %>
		<%= stylesheet_link_tag "/frontend/business-template/css/prettyPhoto.css" %>
		<%= stylesheet_link_tag "/frontend/business-template/css/transitions.css" %>
		<%= stylesheet_link_tag "/frontend/business-template/css/style.css" %>
		<%= stylesheet_link_tag "/frontend/business-template/css/color.css" %>
		<%= stylesheet_link_tag "/frontend/business-template/css/responsive.css" %>
		<%= javascript_include_tag '/frontend/business-template/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %>
		<%= stylesheet_link_tag "/frontend/business-template/css/custom.css" %>
</head>

<body id="bt-home" class="bt-home">
    <!--************************************
		Loader Start
		*************************************-->
    <!-- <div class="tg-preloaderouter">
		<div class="tg-cssloadcontainer">
			<div class="cssload-circle-1">
				<div class="cssload-circle-2">
					<div class="cssload-circle-3">
						<div class="cssload-circle-4">
							<div class="cssload-circle-5">
								<div class="cssload-circle-6">
									<div class="cssload-circle-7">
										<div class="cssload-circle-8"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
    <!--************************************
			Loader End
		*************************************-->
    <!--[if lt IE 8]>
		<p class="browserupgrade">
			Trình duyệt của bạn đã <strong>lỗi thời</strong>.
			Vui lòng cập nhật trình duyệt mới để tiếp tục sử dụng.
		</p>
	<![endif]-->
    <!--************************************
			Wrapper Start
		*************************************-->
    <div id="bt-wrapper" class="bt-wrapper bt-haslayout">
        <!--************************************
					Header Start
				*************************************-->
        <div class="overlay"></div>
        <%= render "/erp/online_store/frontend/business_page/header" %>
        <!--************************************
					Header End
				*************************************-->
        <!--************************************
					Main Start
				*************************************-->
        <%= yield %>
        <!--************************************
					Main End
				*************************************-->
        <!--************************************
					Footer Start
				*************************************-->
        <%= render "/erp/online_store/frontend/business_page/footer" %>
        <!--************************************
				Footer End
				*************************************-->
    </div>
    <!--************************************
			Wrapper End
		*************************************-->
		<%= javascript_include_tag '/frontend/business-template/js/vendor/jquery-library.js' %>
		<%= javascript_include_tag '/frontend/business-template/js/vendor/bootstrap.min.js' %>
		<%= javascript_include_tag 'https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&language=vn' %>
		<%= javascript_include_tag '/frontend/business-template/js/owl.carousel.min.js' %>
		<%= javascript_include_tag '/frontend/business-template/js/isotope.pkgd.min.js' %>
		<%= javascript_include_tag '/frontend/business-template/js/singlePageNav.js' %>
		<%= javascript_include_tag '/frontend/business-template/js/prettyPhoto.js' %>
		<%= javascript_include_tag '/frontend/business-template/js/scrollto.js' %>
		<%= javascript_include_tag '/frontend/business-template/js/parallax.js' %>
		<%= javascript_include_tag '/frontend/business-template/js/countTo.js' %>
		<%= javascript_include_tag '/frontend/business-template/js/appear.js' %>
		<%= javascript_include_tag '/frontend/business-template/js/easing.js' %>
		<%= javascript_include_tag '/frontend/business-template/js/gmap3.js' %>
		<%= javascript_include_tag '/frontend/business-template/js/themefunction.js' %>
</body>
</html>