<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Trang Thương Mại Điện Tử Sản Phẩm Công Nghệ Uy Tín, Chất Lượng | TimHangCongNghe.VN</title>
  <%= stylesheet_link_tag "/frontend/error-page-template/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "/frontend/error-page-template/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "/frontend/error-page-template/css/style.css" %>
  <%= stylesheet_link_tag "/frontend/error-page-template/css/simpletextrotator.css" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,700" %>
  <%= javascript_include_tag "/frontend/error-page-template/js/jquery.min.js" %>
  <%= javascript_include_tag "/frontend/error-page-template/js/jquery.simple-text-rotator.min.js" %>
  <%= javascript_include_tag "/frontend/error-page-template/js/main.js" %>
	<%= favicon_link_tag '/frontend/fav/favicon-16x16.png', rel: 'shortcut icon', type: '/frontend/image/x-icon' %>
</head>
<body>
	<%= yield %>
</body>
</html>