<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %>
	<link rel="alternate" href="https://timhangcongnghe.com" hreflang="vi" />
	<link rel="canonical" href="https://timhangcongnghe.com" />
	<% elsif params[:controller] == 'erp/online_store/frontend/category' && params[:action] == 'index' %>
	<link rel="alternate" href="https://timhangcongnghe.com<%= menu_link(@menu) %>" hreflang="vi" />
	<link rel="canonical" href="https://timhangcongnghe.com<%= menu_link(@menu) %>" />
	<% elsif params[:controller] == 'erp/online_store/frontend/product' && params[:action] == 'product_detail' %>
	<link rel="alternate" href="https://timhangcongnghe.com<%= product_link(@product) %>" hreflang="vi" />
	<link rel="canonical" href="https://timhangcongnghe.com<%= product_link(@product) %>" />
	<% elsif params[:controller] == 'erp/online_store/frontend/brand' && params[:action] == 'listing' %>
	<link rel="alternate" href="https://timhangcongnghe.com/thuong-hieu-san-pham.html" hreflang="vi" />
	<link rel="canonical" href="https://timhangcongnghe.com/thuong-hieu-san-pham.html" />
	<% elsif params[:controller] == 'erp/online_store/frontend/brand' && params[:action] == 'detail' %>
	<link rel="alternate" href="https://timhangcongnghe.com/<%= brand_link(@brand) %>" hreflang="vi" />
	<link rel="canonical" href="https://timhangcongnghe.com/<%= brand_link(@brand) %>" />
	<% else %>
	<link rel="alternate" href="<%= request.url %>" hreflang="vi" />
	<link rel="canonical" href="<%= request.url %>" />
	<% end %>
	<title><% if content_for?(:title) %><%= yield(:title) %> - Tìm Hàng Công Nghệ<% else %>Tìm Hàng Công Nghệ<% end %></title>
	<% if @meta_keywords.present? %><meta name="keywords" content="<%= @meta_keywords %>">
	<% else %><meta name="keywords" content="máy tính xách tay, laptop, máy tính để bàn, máy chủ, máy trạm, màn hình máy tính, máy chiếu, máy in, camera quan sát, tổng đài điện thoại"><% end %>
	<% if @meta_description.present? %><meta name="description" content="<%= @meta_description %>">
	<% else %><meta name="description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."><% end %>
	<meta name="google-site-verification" content="QjLSyCa5_gKR4ZHGAJjl8dfTFvTRzrvnRsvVtX0ELBY" />
	<meta name="p:domain_verify" content="ea6698d5675dd276bb908ed7081d9b16"/>
	<%= yield(:metas) %>
	<meta property="fb:app_id" content="1857760154495631"/>
	<link rel="apple-touch-icon" sizes="57x57" href="<%= url_for('/frontend/img/sys/apple-icon-57x57.png') %>">
	<link rel="apple-touch-icon" sizes="76x76" href="<%= url_for('/frontend/img/sys/apple-icon-76x76.png') %>">
	<link rel="apple-touch-icon" sizes="120x120" href="<%= url_for('/frontend/img/sys/apple-icon-120x120.png') %>">
	<link rel="apple-touch-icon" sizes="152x152" href="<%= url_for('/frontend/img/sys/apple-icon-152x152.png') %>">
	<link rel="apple-touch-icon" sizes="180x180" href="<%= url_for('/frontend/img/sys/apple-icon-180x180.png') %>">
	<link rel="icon" sizes="128x128"  href="<%= url_for('/frontend/img/sys/android-icon-128x128.png') %>">
	<link rel="icon" sizes="192x192"  href="<%= url_for('/frontend/img/sys/android-icon-192x192.png') %>">
	<%= favicon_link_tag '/frontend/img/sys/favicon.png', rel: 'shortcut icon' %>
	<%= stylesheet_link_tag '/frontend/css/google-fonts.css?v=6.0' %>
	<%= stylesheet_link_tag '/frontend/css/bootstrap/css/bootstrap.min.css?v=6.0' %>
	<%= stylesheet_link_tag '/frontend/css/bootstrap/css/bootstrap.min.css?v=6.0' %>
	<%= stylesheet_link_tag '/frontend/css/font-awesome/css/font-awesome.min.css?v=6.0' %>
	<%= stylesheet_link_tag '/frontend/js/datetimepicker/bootstrap-datetimepicker.min.css?v=6.0' %>
	<%= stylesheet_link_tag '/frontend/js/owl-carousel/owl.carousel.css?v=6.0' %>
	<%= stylesheet_link_tag '/frontend/css/themecss/lib.css?v=6.0' %>
	<%= stylesheet_link_tag '/frontend/js/jquery-ui/jquery-ui.min.css?v=6.0' %>
	<%= stylesheet_link_tag '/frontend/js/lightslider/lightslider.css?v=6.0' %>
	<%= stylesheet_link_tag '/frontend/fancybox/jquery.fancybox.min.css?v=6.0' %>
	<%= stylesheet_link_tag '/frontend/select2/css/select2.min.css?v=6.0' %>
	<%= stylesheet_link_tag '/frontend/css/import.css?v=6.3' %>
	<%= stylesheet_link_tag '/frontend/css/custom.css?v=6.3' %>
	<%= stylesheet_link_tag '/frontend/css/res-device.css?v=6.3' %>
	<% if params[:controller] == 'erp/online_store/frontend/account' && params[:action] == 'my_account' %><%= stylesheet_link_tag '/frontend/css/custom-profile.css?v=5.0' %><% end %>
	<% if params[:controller] == 'erp/online_store/frontend/shopping_cart' && params[:action] == 'checkout' %><%= stylesheet_link_tag '/frontend/css/checkout.css?v=5.0' %><% end %>
	<%= stylesheet_link_tag '/frontend/css/starability-minified/starability-all.min.css?v=5.0' %>
	<% if params[:controller] == 'erp/online_store/frontend/product' && params[:action] == 'product_detail' %><%= stylesheet_link_tag '/frontend/rating-custom/post-review.css?v=5.0' %><%= render 'erp/online_store/frontend/modules/js_include' %><% end %>
	<% if params[:controller] == 'erp/online_store/frontend/information' && params[:action] == 'contact_us' %><%= javascript_include_tag '/frontend/js-google-map/jquery/jquery.js' %><% end %>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-101029174-1', 'auto');
		ga('send', 'pageview');
	</script>
	<% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' || params[:controller] == 'erp/online_store/frontend/information' && params[:action] == 'about_us' %>
	<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "ComputerStore",
	  "name": "Tìm Hàng Công Nghệ",
	  "logo": "https://timhangcongnghe.com/frontend/image/schema-logo.png",
	  "image": "https://timhangcongnghe.com/frontend/image/thcn-web-share.png",
	  "@id": "https://timhangcongnghe.com/",
	  "url": "https://timhangcongnghe.com/",
	  "telephone": "(028) 3984 7690",
	  "priceRange": "VND",
	  "address": {
		"@type": "PostalAddress",
		"streetAddress": "188 Đường số 1, Phường 16, Quận Gò Vấp",
		"addressLocality": "TP. Hồ Chí Minh",
		"postalCode": "70000",
		"addressCountry": "VN"
	  },
	  "geo": {
		"@type": "GeoCoordinates",
		"latitude": 10.847608,
		"longitude": 106.657646
	  },
	  "openingHoursSpecification": [{
		"@type": "OpeningHoursSpecification",
		"dayOfWeek": [
		  "Monday",
		  "Tuesday",
		  "Wednesday",
		  "Thursday",
		  "Friday"
		],
		"opens": "08:00",
		"closes": "17:00"
	  },{
		"@type": "OpeningHoursSpecification",
		"dayOfWeek": "Saturday",
		"opens": "08:00",
		"closes": "16:00"
	  }],
	  "sameAs": [
		"https://www.facebook.com/TimHangCongNghe",
		"https://twitter.com/timhangcongnghe",
		"https://www.instagram.com/tim_hang_cong_nghe",
		"https://www.youtube.com/channel/UCf64P6U7ZLd7r1kFaFWVZEQ",
		"https://www.linkedin.com/in/timhangcongnghe",
		"https://www.pinterest.com/tim_hang_cong_nghe",
		"https://soundcloud.com/timhangcongnghe",
		"https://timhangcongnghe.tumblr.com",
		"https://www.reddit.com/user/timhangcongnghe",
		"https://github.com/timhangcongnghe",
		""
	  ]
	}
	</script>
	<% end %>
	<script type="application/ld+json">
	{
		"@context": "https://schema.org/",
		"@type": "WebSite",
		"name": "Tìm Hàng Công Nghệ",
		"url": "https://timhangcongnghe.com/",
		"potentialAction": {
			"@type": "SearchAction",
			"target": "https://timhangcongnghe.com/tim-kiem.html?keyword={search_term_string}",
			"query-input": "required name=search_term_string"
		}
	}
	</script>
	<% if params[:controller] == 'erp/online_store/frontend/category' && params[:action] == 'index' %>
	<script type="application/ld+json">
	<% position = 1 %>
	{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
			"itemListElement": [
			{
				"@type": "ListItem",
				"position": <%= position %>,
				"name": "Tìm Hàng Công Nghệ",
				"item": "https://timhangcongnghe.com/"
			},
			<% @menu.self_and_parent_menus.each do |menu| %>
			<% if @menu.id != menu.id %>
			{
				"@type": "ListItem",
				"position": <%= position = position + 1 %>,
				"name": "<%= menu.name %>",
				"item": "https://timhangcongnghe.com<%= menu_link(menu) %>"
			},
			<% end %>
			<% end %>
			{
				"@type": "ListItem",
				"position": <%= position = position + 1 %>,
				"name": "<%= @menu.name %>",
				"item": "https://timhangcongnghe.com<%= menu_link(@menu) %>"
			}
			]
	}
	</script>
	<% end %>
	<% if params[:controller] == 'erp/online_store/frontend/product' && params[:action] == 'product_detail' %>
	<script type="application/ld+json">
	<% position = 1 %>
	{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
			"itemListElement": [
			{
				"@type": "ListItem",
				"position": <%= position %>,
				"name": "Tìm Hàng Công Nghệ",
				"item": "https://timhangcongnghe.com/"
			},
			<% if !@menu.nil? %>
			<% @menu.self_and_parent_menus.each do |menu| %>
			{
				"@type": "ListItem",
				"position": <%= position = position + 1 %>,
				"name": "<%= menu.name %>",
				"item": "https://timhangcongnghe.com<%= menu_link(menu) %>"
			},
			<% end %>
			<% end %>
			{
				"@type": "ListItem",
				"position": <%= position = position + 1 %>,
				"name": "<%= @product.get_short_name %>",
				"item": "https://timhangcongnghe.com<%= product_link(@product) %>"
			}
			]
	}
	</script>
	<script type="application/ld+json">
	{
		"@context": "https://schema.org/",
		"@type": "Product",
		"name": "<%= @product.get_long_name %>",
		<% if @product.product_images.count == 0 %>
		"image": "https://timhangcongnghe.com/frontend/image/schema-logo.png",
		<% else %>
		"image": [
			<% count = @product.product_images.count %>
			<% @product.product_images.each_with_index do |product_image, index| %>
			<% if count == (index+1) %>
			"https://timhangcongnghe.com<%= product_image.image_url %>"
			<% else %>
			"https://timhangcongnghe.com<%= product_image.image_url %>",
			<% end %>
			<% end %>
		],
		<% end %>
		<% if @meta_description.present? %>"description": "<%= @meta_description %>",<% end %>
		"brand": "<%= @product.brand_name %>",
		<% if @product.code.present? %>"sku": "<%= @product.code %>","mpn": "<%= @product.code %>",<% end %>
		"review": {
			"@type": "Review",
			"reviewRating": {
				"@type": "Rating",
				"ratingValue": "5",
				"bestRating": "5"
			},
			"author": {
				"@type": "Person",
				"name": "Sơn Nguyễn"
			}
		},
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "5",
			"reviewCount": "5"
		},
		"offers": {
			"@type": "Offer",
			"url": "https://timhangcongnghe.com<%= product_link(@product) %>",
			"priceCurrency": "VND",
			<% if @product.is_sold_out? || @product.is_call? || @product.product_price.nil? %>
			"price": "0",
			<% else %>
			"price": "<%= @product.product_price.to_i %>",
			<% end %>
			"priceValidUntil": "<%= (@product.updated_at+730.days).strftime("%d/%m/%Y") %>",
			"availability": "https://schema.org/InStock",
			"seller": {
				"@type": "Organization",
				"name": "Tìm Hàng Công Nghệ"
			}
		}
	}
	</script>
	<% end %>
	<% if params[:controller] == 'erp/online_store/frontend/blog' && params[:action] == 'detail' %>
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Article",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "https://timhangcongnghe.com/"
		},
		"headline": "<%= @blog.name %>",
		"image": "https://timhangcongnghe.com<%= @blog.image %>",
		"datePublished": "<%= @blog.created_at.strftime("%d/%m/%Y %I:%M%p") %>",
		"dateModified": "<%= @blog.updated_at.strftime("%d/%m/%Y %I:%M%p") %>",
		"author": {
			"@type": "Organization",
			"name": "Tìm Hàng Công Nghệ"
		},
		 "publisher": {
			"@type": "Organization",
			"name": "Tìm Hàng Công Nghệ",
			"logo": {
				"@type": "ImageObject",
				"url": "https://timhangcongnghe.com/frontend/image/schema-logo.png"
			}
		},
		"description": "<%= short_text(@blog.content, 45) %>"
	}
	</script>
	<% end %>
</head>
<body class="<%= @body_class %>">
    <div id="wrapper" class="wrapper-full banners-effect-7">
        <%= render 'erp/online_store/frontend/modules/header' %>
        <%= yield %>
        <script type="text/javascript">
			var $typeheader = 'header-home1';
        </script>
        <%= render 'erp/online_store/frontend/modules/footer' %>
    </div>
    <% if params[:controller] == 'erp/online_store/frontend/product' && params[:action] == 'product_detail' %><% else %><%= render 'erp/online_store/frontend/modules/js_include' %><% end %>
	<script type="text/javascript">
		var google_conversion_id = 853123323;
		var google_custom_params = window.google_tag_params;
		var google_remarketing_only = true;
	</script>
	<%= javascript_include_tag '//www.googleadservices.com/pagead/conversion.js' %>
	<noscript>
		<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/853123323/?guid=ON&amp;script=0"/>
		</div>
	</noscript>
	<script id='autoAdsMaxLead-widget-script' src='https://cdn.autoads.asia/scripts/autoads-maxlead-widget.js?business_id=92716848F2174C1681138F8773D7CF4E' type='text/javascript' charset='UTF-8' async></script>
</body>
</html>