<!DOCTYPE html>
<html lang="en">

<head>
	<%= csrf_meta_tags %>

    <!-- Basic page needs ============================================ -->
    <title>
		<% if content_for?(:title) %>
			<%= yield(:title) %> | Trang Thương Mại Điện Tử Sản Phẩm Công Nghệ Uy Tín, Chất Lượng.
		<% else %>
			TimHangCongNghe.VN | Trang Thương Mại Điện Tử Sản Phẩm Công Nghệ Uy Tín, Chất Lượng.
		<% end %>
		</title>
    <meta charset="utf-8">
    <meta name="description" content="<%= @meta_description if @meta_description.present? %>">
    <meta name="keywords" content="<%= @meta_keywords if @meta_keywords.present? %>">
    <meta name="author" content="TimHangCongNghe.VN">

    <!-- Mobile specific metas ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon ============================================ -->
    <%= favicon_link_tag '/frontend/ico/favicon.png', rel: 'shortcut icon', type: '/frontend/image/x-icon' %>

    <!-- Google web fonts ============================================ -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,700,900" %>

    <!-- Libs CSS ============================================ -->
		<%= stylesheet_link_tag "/frontend/css/bootstrap/css/bootstrap.min.css" %>
		<%= stylesheet_link_tag "/frontend/css/font-awesome/css/font-awesome.min.css" %>
		<%= stylesheet_link_tag "/frontend/js/datetimepicker/bootstrap-datetimepicker.min.css" %>
		<%= stylesheet_link_tag "/frontend/js/owl-carousel/owl.carousel.css" %>
		<%= stylesheet_link_tag "/frontend/css/themecss/lib.css" %>
		<%= stylesheet_link_tag "/frontend/js/jquery-ui/jquery-ui.min.css" %>
		<%= stylesheet_link_tag "/frontend/js/lightslider/lightslider.css" %>
		<%= stylesheet_link_tag "/frontend/fancybox/jquery.fancybox.min.css" %>

		<!-- Theme CSS ============================================ -->
		<%= stylesheet_link_tag "/frontend/css/themecss/so_megamenu.css" %>
		<%= stylesheet_link_tag "/frontend/css/themecss/so-categories.css" %>
		<%= stylesheet_link_tag "/frontend/css/themecss/so-listing-tabs.css" %>
		<%= stylesheet_link_tag "/frontend/css/themecss/animate.css" %>
		<%= stylesheet_link_tag "/frontend/css/themecss/so-super-category.css" %>
		<%= stylesheet_link_tag "/frontend/css/theme-cyan.css" %>
		<%= stylesheet_link_tag "/frontend/css/responsive.css" %>
		<%= stylesheet_link_tag "/frontend/css/custom.css" %>
		<% if params[:controller] == "erp/online_store/frontend/account" && params[:action] == "my_account" %>
		<%= stylesheet_link_tag "/frontend/css/custom-profile.css" %>
		<% end %>
		<%= stylesheet_link_tag "/frontend/css/starability-minified/starability-all.min.css" %>
		<% if params[:controller] == "erp/online_store/frontend/product" && params[:action] == "product_detail" %>
		<%= render "erp/online_store/frontend/modules/js_include" %>
		<% end %>
</head>

<body class="<%= @body_class %>">

    <div id="wrapper" class="wrapper-full banners-effect-7">

        <!-- Header Container  -->
        <%= render "erp/online_store/frontend/modules/header" %>
        <!-- //Header Container  -->

        <!-- Main Container  -->
        <%= yield %>
        <!-- //Main Container -->

        <script type="text/javascript">
        <!--
        var $typeheader = 'header-home1';
        //-->
        </script>

        <!-- Footer Container -->
        <%= render "erp/online_store/frontend/modules/footer" %>
        <!-- //end Footer Container -->

    </div>

    <!-- Social widgets -->
    <%= render "erp/online_store/frontend/modules/social_widgets" %>
    <!-- End Social widgets -->

    <!-- Preloading Screen -->
    <!--<%= render "erp/online_store/frontend/modules/preloading_screen" %>-->
    <!-- End Preloading Screen -->

    <% if params[:controller] == "erp/online_store/frontend/product" && params[:action] == "product_detail" %>

		<% else %>
		<!-- Include Libs & Plugins ============================================ -->
		<%= render "erp/online_store/frontend/modules/js_include" %>
		<% end %>
</body>

</html>
