<!doctype html>
<html lang="vi-VN">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name='robots' content='index, follow' />
        <link rel="profile" href="//gmpg.org/xfn/11" />
        <script>document.documentElement.className=document.documentElement.className+' yes-js js_active js';</script>
        <%= csrf_meta_tags %>
        <%= favicon_link_tag '/img/favicon.png', rel: 'shortcut icon' %>
        <title><% if content_for?(:title) %><%= yield(:title) %><% end %></title>
        <meta name="description" content="<% if @meta_description.present? %><%= @meta_description %><% else %>Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển.<% end %>"/>
        <% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %><link rel="canonical" href="https://timhangcongnghe.com/" /><% elsif params[:controller] == 'erp/online_store/frontend/category' && params[:action] == 'list' %><link rel="canonical" href="https://timhangcongnghe.com<%= category_list_link(@category) %>" /><% elsif params[:controller] == 'erp/online_store/frontend/product' && params[:action] == 'index' %><link rel="canonical" href="https://timhangcongnghe.com<%= product_link(@product) %>" /><% else %><link rel="canonical" href="<%= request.url %>" /><% end %>
        <%= yield(:metas) %>
        <link rel='dns-prefetch' href='//s.w.org' />
        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link rel="preconnect" href="//fonts.googleapis.com">
        <link rel="preconnect" href="//cdnjs.cloudflare.com">
        <%= render partial: 'erp/online_store/frontend/modules/head_include' %>
        <% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %> <%= render partial: 'erp/online_store/frontend/modules/entity/home' %><% end %>
    </head>
    <body<% if @class.present? %> class="<%= @class %>"<% end %>>
        <div id="container" class="wpisset-page">
            <div class="wpisset-overlay"></div>
            <%= render partial: 'erp/online_store/frontend/modules/extensions/sub_cart' %>
            <%= render partial: 'erp/online_store/frontend/modules/header' %>
            <div id="content"><div id="inner-content" class="wpisset-container wpisset-container-center wpisset-container-fluid"><%= yield %></div></div>
            <%= render partial: 'frontend/modules/footer' %>
            <%= render partial: 'erp/online_store/frontend/modules/scrolltop' %>
        </div>
        <%= render partial: 'erp/online_store/frontend/modules/cursor' %>
        <%= render partial: 'erp/online_store/frontend/modules/javascripts' %>
    </body>
</html>