<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="alternate" href="<%= request.url %>" hreflang="vi" />
	<% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %><link rel="canonical" href="<%= request.url %>" />
	<% elsif params[:controller] == 'erp/online_store/frontend/category' && params[:action] == 'detail' %><link rel="canonical" href="https://timhangcongnghe.com<%= category_detail_link(@category) %>" />
	<% elsif params[:controller] == 'erp/online_store/frontend/product' && params[:action] == 'detail' %><link rel="canonical" href="https://timhangcongnghe.com<%= product_detail_link(@product) %>" />
	<% elsif params[:controller] == 'erp/online_store/frontend/brand' && params[:action] == 'listing' %><link rel="canonical" href="https://timhangcongnghe.com/thuong-hieu" />
	<% elsif params[:controller] == 'erp/online_store/frontend/brand' && params[:action] == 'detail' %><link rel="canonical" href="https://timhangcongnghe.com<%= brand_detail_link(@brand) %>" />
	<% else %><link rel="canonical" href="<%= request.url %>" /><% end %>
	<% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %>
	<title>Tìm Hàng Công Nghệ | Chuyên laptop, máy vi tính, thiết bị công nghệ</title>
	<% else %>
	<title><% if content_for?(:title) %><%= yield(:title) %> | Tìm Hàng Công Nghệ<% else %>Tìm Hàng Công Nghệ | Chuyên laptop, máy vi tính, thiết bị công nghệ<% end %></title>
	<% end %>
	<% if @meta_description.present? %><meta name="description" content="<%= @meta_description %>">
	<% else %><meta name="description" content="Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển."><% end %>
	<meta name="google-site-verification" content="QjLSyCa5_gKR4ZHGAJjl8dfTFvTRzrvnRsvVtX0ELBY" />
	<meta name="p:domain_verify" content="ea6698d5675dd276bb908ed7081d9b16"/>
	<meta name="robots" content="index, follow">
	<%= yield(:metas) %>
	<meta property="fb:app_id" content="1857760154495631"/>
	<link rel="apple-touch-icon" sizes="57x57" href="<%= url_for('/frontend/img/sys/apple-icon-57x57.png') %>">
	<link rel="apple-touch-icon" sizes="76x76" href="<%= url_for('/frontend/img/sys/apple-icon-76x76.png') %>">
	<link rel="apple-touch-icon" sizes="120x120" href="<%= url_for('/frontend/img/sys/apple-icon-120x120.png') %>">
	<link rel="apple-touch-icon" sizes="152x152" href="<%= url_for('/frontend/img/sys/apple-icon-152x152.png') %>">
	<link rel="apple-touch-icon" sizes="180x180" href="<%= url_for('/frontend/img/sys/apple-icon-180x180.png') %>">
	<link rel="icon" sizes="128x128"  href="<%= url_for('/frontend/img/sys/android-icon-128x128.png') %>">
	<link rel="icon" sizes="192x192"  href="<%= url_for('/frontend/img/sys/android-icon-192x192.png') %>">
	<%= favicon_link_tag '/frontend/img/sys/favicon.png', rel: 'shortcut icon' %>
	<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,700,900' %>
	<%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
	<%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
	<%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css' %>
	<%= stylesheet_link_tag '/frontend/js/owl.carousel.css?v=8.0' %>
	<%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.7/jquery.jgrowl.min.css' %>
	<%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css' %>
	<%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css' %>
	<%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css' %>
	<%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css' %>
	<%= stylesheet_link_tag '/frontend/css/import.css?v=8.4' %>
	<%= stylesheet_link_tag '/frontend/css/custom.css?v=8.4' %>
	<%= stylesheet_link_tag '/frontend/css/res-device.css?v=8.3' %>
	<% if params[:controller] == 'erp/online_store/frontend/account' && params[:action] == 'my_account' %><%= stylesheet_link_tag '/frontend/css/custom-profile.css?v=8.0' %><% end %>
	<% if params[:controller] == 'erp/online_store/frontend/shopping_cart' && params[:action] == 'checkout' %><%= stylesheet_link_tag '/frontend/css/checkout.css?v=8.0' %><% end %>
	<%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/starability/2.4.2/starability-minified/starability-all.min.css' %>
	<% if params[:controller] == 'erp/online_store/frontend/product' && params[:action] == 'detail' %><%= stylesheet_link_tag '/frontend/css/post-review.css?v=8.0' %><%= render partial: 'erp/online_store/frontend/modules/js_include' %><% end %>
	<% if params[:controller] == "erp/online_store/frontend/information" && params[:action] == "contact_us" %><%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js' %><script>$(".maps").click(function(){$(".maps iframe").css("pointer-events","auto")}),$(".maps").mouseleave(function(){$(".maps iframe").css("pointer-events","none")});</script><% end %>
	<script type="application/ld+json">{
	  "@context": "https://schema.org",
	  "@type": "ComputerStore",
	  "name": "Tìm Hàng Công Nghệ",
	  "alternateName": "Chuyên laptop, máy vi tính, thiết bị công nghệ",
	  "@id": "https://timhangcongnghe.com/",
	  "logo": "https://timhangcongnghe.com/frontend/img/sys/timhangcongnghe.png",
	  "image": "https://timhangcongnghe.com/frontend/img/sys/schema-logo.jpg",
	  "description": "Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển.",
	  "hasMap": "https://www.google.com/maps/place/T%C3%ACm+H%C3%A0ng+C%C3%B4ng+Ngh%E1%BB%87/@10.8476082,106.6554575,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xefca0f0bc8cf5117!8m2!3d10.8476082!4d106.6576462",
	  "url": "https://timhangcongnghe.com/",
	  "telephone": "02839847690",
	  "priceRange": "100000VND-500000000VND",
	  "address": {
		"@type": "PostalAddress",
		"streetAddress": "188 Đường số 1, Phường 16, Gò Vấp, Hồ Chí Minh",
		"addressLocality": "Gò Vấp",
		"addressRegion": "Hồ Chí Minh",
		"postalCode": "700000",
		"addressCountry": "Việt Nam"
	  },
	  "geo": {
		"@type": "GeoCoordinates",
		"latitude": 10.8476082,
		"longitude": 106.6554575
	  },
	  "openingHoursSpecification": [{
		"@type": "OpeningHoursSpecification",
		"dayOfWeek": [
		  "Monday",
		  "Tuesday",
		  "Wednesday",
		  "Thursday",
		  "Friday"
		],
		"opens": "08:00",
		"closes": "17:00"
	  },{
		"@type": "OpeningHoursSpecification",
		"dayOfWeek": "Sunday",
		"opens": "08:00",
		"closes": "16:00"
	  }],
	  "sameAs": [
		"https://www.facebook.com/TimHangCongNghe/",
		"https://twitter.com/timhangcongnghe",
		"https://www.linkedin.com/in/timhangcongnghe/",
		"https://www.pinterest.com/timhangcn",
		"https://timhangcongnghe.tumblr.com/",
		"https://soundcloud.com/timhangcn",
		"https://www.youtube.com/channel/UCf64P6U7ZLd7r1kFaFWVZEQ",
		"https://sites.google.com/site/timhangcn/",
		"https://timhangcongnghe.blogspot.com/",
		"https://medium.com/@timhangcongnghe",
		"https://timhangcongnghehcm.business.site/",
		"https://timhangcongnghe.weebly.com/"
	  ]
	}</script>
	<% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %>
	<script type="application/ld+json">{
	"@context":"http://schema.org",
	"@type":"ItemList",
	"itemListElement":
	[
	{
		"@type": "SiteNavigationElement",
		"position": 1,
		"name": "Giới thiệu",
		"description": "Đơn vị cung cấp sản phẩm, dịch vụ Công Nghệ Thông Tin uy tín, chính hãng",
		"url":"https://timhangcongnghe.com/gioi-thieu"
	},
	{
		"@type": "SiteNavigationElement",
		"position": 2,
		"name": "Góp ý và Liên hệ",
		"description": "Liên hệ với đội ngũ hỗ trợ kinh doanh bán hàng, hỗ trợ dự án và dịch vụ kỹ thuật",
		"url":"https://timhangcongnghe.com/gop-y-lien-he"
	},
	{
		"@type": "SiteNavigationElement",
		"position": 3,
		"name": "Máy tính xách tay",
		"description": "Cung cấp máy tính xách tay, laptop chính hãng phù hợp cho nhu cầu làm việc, giải trí",
		"url":"https://timhangcongnghe.com/may-tinh-xach-tay-cid43"
	},
	{
		"@type": "SiteNavigationElement",
		"position": 4,
		"name": "Máy tính để bàn",
		"description": "Cung cấp máy tính để bàn, PC chính hãng phù hợp cho nhu cầu làm việc, giải trí",
		"url":"https://timhangcongnghe.com/may-tinh-de-ban-cid44"
	},
	{
		"@type": "SiteNavigationElement",
		"position": 5,
		"name": "Màn hình máy tính",
		"description": "Cung cấp màn hình máy tính độ phân giải Full HD, 2K, 4K,... phù hợp cho nhu cầu làm việc, giải trí",
		"url":"https://timhangcongnghe.com/man-hinh-may-tinh-cid282"
	},
	{
		"@type": "SiteNavigationElement",
		"position": 6,
		"name": "Màn hình quảng cáo",
		"description": "Cung cấp màn hình quảng cáo chính hãng Samsung, LG, AOC, HIKVISION cho việc quảng bá thương hiệu, sản phẩm",
		"url":"https://timhangcongnghe.com/man-hinh-quang-cao-cid259"
	}
	]}</script>
	<% end %>
	<script type="application/ld+json">
	{
		"@context": "https://schema.org/",
		"@type": "WebSite",
		"name": "Tìm Hàng Công Nghệ",
		"url": "https://timhangcongnghe.com/",
		"potentialAction": {
			"@type": "SearchAction",
			"target": "https://timhangcongnghe.com/search?keyword={search_term_string}",
			"query-input": "required name=search_term_string"
		}
	}
	</script>
	<% if params[:controller] == 'erp/online_store/frontend/category' && params[:action] == 'detail' %>
	<script type="application/ld+json">
	<% position = 1 %>
	{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
			"itemListElement": [
			{
				"@type": "ListItem",
				"position": <%= position %>,
				"name": "Tìm Hàng Công Nghệ",
				"item": "https://timhangcongnghe.com/"
			},
			<% @category.self_and_parent_menus.each do |category| %>
			<% if @category.id != category.id %>
			{
				"@type": "ListItem",
				"position": <%= position = position + 1 %>,
				"name": "<%= category.name %>",
				"item": "https://timhangcongnghe.com<%= category_detail_link(category) %>"
			},
			<% end %>
			<% end %>
			{
				"@type": "ListItem",
				"position": <%= position = position + 1 %>,
				"name": "<%= @category.name %>",
				"item": "https://timhangcongnghe.com<%= category_detail_link(@category) %>"
			}
			]
	}
	</script>
	<% end %>
	<% if params[:controller] == 'erp/online_store/frontend/product' && params[:action] == 'detail' %>
	<script type="application/ld+json">
	<% position = 1 %>
	{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
		{
			"@type": "ListItem",
			"position": <%= position %>,
			"name": "Tìm Hàng Công Nghệ",
			"item": "https://timhangcongnghe.com/"
		},
		<% if !@category.nil? %>
		<% @category.self_and_parent_menus.each do |category| %>
		{
			"@type": "ListItem",
			"position": <%= position = position + 1 %>,
			"name": "<%= category.get_name %>",
			"item": "https://timhangcongnghe.com<%= category_detail_link(category) %>"
		},
		<% end %>
		<% end %>
		{
			"@type": "ListItem",
			"position": <%= position = position + 1 %>,
			"name": "<%= @product.get_short_name %>",
			"item": "https://timhangcongnghe.com<%= product_detail_link(@product) %>"
		}
		]
	}
	</script>
	<script type="application/ld+json">
	{
		"@context": "https://schema.org/",
		"@type": "Product",
		"name": "<%= @product.get_long_name %>",
		<% if @product.product_images.count == 0 %>
		"image": "https://timhangcongnghe.com/frontend/img/sys/schema-logo.jpg",
		<% else %>
		"image": [
			<% count = @product.product_images.count %>
			<% @product.product_images.each_with_index do |product_image, index| %>
			<% if count == (index+1) %>
			"https://timhangcongnghe.com<%= product_image.image_url %>"
			<% else %>
			"https://timhangcongnghe.com<%= product_image.image_url %>",
			<% end %>
			<% end %>
		],
		<% end %>
		<% if @meta_description.present? %>"description": "<%= @meta_description %>",<% end %>
		"brand": "<%= @product.brand_name %>",
		<% if @product.code.present? %>"sku": "<%= @product.code %>","mpn": "<%= @product.code %>",<% else %>"sku": "<%= @product.id %>","mpn": "<%= @product.id %>",<% end %>
		<% if @product.ratings_active.count > 0 %>"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "<%= @product.average_stars.to_i %>",
			"reviewCount": "<%= @product.ratings_active.count %>"
		},<% end %>
		"offers": {
			"@type": "Offer",
			"url": "https://timhangcongnghe.com<%= product_detail_link(@product) %>",
			"priceCurrency": "VND",
			<% if @product.is_sold_out? || @product.is_call? || @product.product_price.nil? %>
			"price": "0",
			<% else %>
			"price": "<%= @product.product_price.to_i %>",
			<% end %>
			"priceValidUntil": "<%= (@product.updated_at+1800.days).strftime("%d/%m/%Y") %>",
			<% if @product.is_sold_out == true %>"availability": "https://schema.org/OutOfStock",<% else %>"availability": "https://schema.org/InStock",<% end %>
			"seller": {
				"@type": "Organization",
				"name": "Tìm Hàng Công Nghệ"
			}
		}
	}
	</script>
	<% end %>
	<% if params[:controller] == 'erp/online_store/frontend/blog' && params[:action] == 'detail' %>
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Article",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "https://timhangcongnghe.com/"
		},
		"headline": "<%= @blog.name %>",
		"image": "https://timhangcongnghe.com<%= @blog.image %>",
		"datePublished": "<%= @blog.created_at.strftime("%d/%m/%Y %I:%M%p") %>",
		"dateModified": "<%= @blog.updated_at.strftime("%d/%m/%Y %I:%M%p") %>",
		"author": {
			"@type": "Organization",
			"name": "Tìm Hàng Công Nghệ"
		},
		 "publisher": {
			"@type": "Organization",
			"name": "Tìm Hàng Công Nghệ",
			"logo": {
				"@type": "ImageObject",
				"url": "https://timhangcongnghe.com/frontend/img/sys/schema-logo.jpg"
			}
		},
		"description": "<%= short_text(@blog.content, 45) %>"
	}
	</script>
	<% end %>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-101029174-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body class="<%= @body_class %>">
    <div id="wrapper" class="wrapper-full banners-effect-7">
        <%= render 'erp/online_store/frontend/modules/header' %>
        <%= yield %>
        <script type="text/javascript">
			var $typeheader = 'header-home1';
        </script>
        <%= render 'erp/online_store/frontend/modules/footer' %>
    </div>
	<% if params[:controller] == 'erp/online_store/frontend/product' && params[:action] == 'detail' %><% else %><%= render partial: 'erp/online_store/frontend/modules/js_include' %><% end %>
	<div class="zalo-chat-widget" data-oaid="2132561812454227126" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="350" data-height="420"></div>
	<script src="https://sp.zalo.me/plugins/sdk.js"></script>
</body>
</html>
