<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic page needs ============================================ -->
    <title>Tìm Hàng Công Nghệ - Global Naturesoft</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Global Naturesoft">

    <!-- Mobile specific metas ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon ============================================ -->
    <%= favicon_link_tag '/frontend/ico/favicon.png', rel: 'shortcut icon', type: '/frontend/image/x-icon' %>

    <!-- Google web fonts ============================================ -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,700,900" %>

    <!-- Libs CSS ============================================ -->
    <%= stylesheet_link_tag "/frontend/css/bootstrap/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "/frontend/css/font-awesome/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "/frontend/js/datetimepicker/bootstrap-datetimepicker.min.css" %>
    <%= stylesheet_link_tag "/frontend/js/owl-carousel/owl.carousel.css" %>
    <%= stylesheet_link_tag "/frontend/css/themecss/lib.css" %>
    <%= stylesheet_link_tag "/frontend/js/jquery-ui/jquery-ui.min.css" %>

    <!-- Theme CSS ============================================ -->
    <%= stylesheet_link_tag "/frontend/css/themecss/so_megamenu.css" %>
    <%= stylesheet_link_tag "/frontend/css/themecss/so-categories.css" %>
    <%= stylesheet_link_tag "/frontend/css/themecss/so-listing-tabs.css" %>
    <%= stylesheet_link_tag "/frontend/css/themecss/animate.css" %>
    <%= stylesheet_link_tag "/frontend/css/themecss/so-super-category.css" %>
    <%= stylesheet_link_tag "/frontend/css/theme.css", id: "color_scheme" %>
    <%= stylesheet_link_tag "/frontend/css/responsive.css" %>
</head>

<body class="res layout-subpage">
    <div id="wrapper" class="wrapper-full ">
        <!-- Main Container  -->
        <%= yield %>
        <!-- //Main Container -->
        <style type="text/css">
            #wrapper {
                box-shadow: none;
            }
            
            #wrapper>*:not(.main-container) {
                display: none;
            }
            
            #content {
                margin: 0
            }
            
            .container {
                width: 100%;
            }
            
            .product-info .product-view,
            .left-content-product,
            .box-info-product {
                margin: 0;
            }
            
            .left-content-product .content-product-right .box-info-product .add-to-links {
                width: auto;
                float: none;
                margin-top: 0px;
            }
        </style>
    </div>

    <!-- Include Libs & Plugins ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag '/frontend/js/jquery-2.2.4.min.js' %>
    <%= javascript_include_tag '/frontend/js/bootstrap.min.js' %>
    <%= javascript_include_tag '/frontend/js/owl-carousel/owl.carousel.js' %>
    <%= javascript_include_tag '/frontend/js/themejs/libs.js' %>
    <%= javascript_include_tag '/frontend/js/unveil/jquery.unveil.js' %>
    <%= javascript_include_tag '/frontend/js/countdown/jquery.countdown.min.js' %>
    <%= javascript_include_tag '/frontend/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %>
    <%= javascript_include_tag '/frontend/js/datetimepicker/moment.js' %>
    <%= javascript_include_tag '/frontend/js/datetimepicker/bootstrap-datetimepicker.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery-ui/jquery-ui.min.js' %>
    
    <!-- Theme files ============================================ -->
    <%= javascript_include_tag '/frontend/js/themejs/application.js' %>
    <%= javascript_include_tag '/frontend/js/themejs/so_megamenu.js' %>
    <%= javascript_include_tag '/frontend/js/themejs/addtocart.js' %>
    <!--<%= javascript_include_tag '/frontend/js/themejs/cpanel.js' %>-->

</body>

</html>