<footer class="footer-container typefooter-1">
    <!-- FOOTER TOP -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="module social_block col-md-3 col-sm-12 col-xs-12">
                        <ul class="social-block ">
                            <li class="facebook"><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "https://www.facebook.com/TimHangCongNghe/", target: "_blank" %></li>
                            <li class="youtube"><%= link_to '<i class="fa fa-youtube"></i>'.html_safe, "https://www.youtube.com/channel/UC1_KyGKwBDeUpmWsbtrsdcg", target: "_blank" %></li>
                            <li class="google_plus"><%= link_to '<i class="fa fa-google-plus"></i>'.html_safe, "https://plus.google.com/u/4/104468622899810766789", target: "_blank" %></li>
                            <li class="instagram"><%= link_to '<i class="fa fa-instagram"></i>'.html_safe, "https://www.instagram.com/timhangcongnghe.vn/", target: "_blank" %></li>
                            <li class="pinterest"><%= link_to '<i class="fa fa-pinterest"></i>'.html_safe, "https://www.pinterest.com/timhangcongnghe/", target: "_blank" %></li>
                        </ul>
                    </div>
                    <div class="module news-letter col-md-9 col-sm-12 col-xs-12">
                        <div class="newsletter">
                            <div class="title-block">
                                <div class="page-heading">Đăng ký nhận thông tin ưu đãi</div>
                                <div class="pre-text">
                                    Thông tin của bạn sẽ được bảo mật tuyệt đối và bạn có thể hủy đăng ký bất cứ lúc nào.
                                </div>
                            </div>
                            <div class="block_content">
                                <%= form_for Erp::Newsletters::Newsletter.new, url: erp_newsletters.newsletters_path, html: {class: "btn-group form-inline signup"} do |f| %>
                                    <div class="form-group required send-mail">
                                        <div class="input-box">
                                            <input type="text" name="newsletter[email]"
                                                   placeholder="Nhập địa chỉ email của bạn tại đây..."
                                                   class="form-control" size="55" />
                                        </div>
                                        <div class="subcribe">
                                            <button class="btn btn-default btn-lg">
                                                Đăng ký
                                            </button>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER CENTER -->
    <div class="footer-center">
        <div class="container content">
            <div class="row">
                <!-- BOX INFO -->
                <div class="col-md-3 col-sm-6 col-xs-12 collapsed-block footer-links box-footer">
                    <div class="module ">
                        <div class="content-block-footer">
                            <div class="footer-logo">
                                <%= link_to image_tag("/frontend/image/logos/logo-cyan.png", alt: "Tìm Hàng Công Nghệ"), "", title: "Tìm Hàng Công Nghệ", target: "_blank" %>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>                            
                        </div>
                    </div>
                </div>
                <!-- BOX ACCOUT -->
                <div class="col-md-3 col-sm-6 box-account box-footer">
                    <div class="module clearfix">
                        <h3 class="modtitle">Chăm sóc khách hàng</h3>
                        <div class="modcontent">
                            <ul class="menu">
                                <li>
                                    <%= link_to "Chính sách bảo hành", erp_online_store.policy_path(
                                        Erp::Articles::Category.find_by_alias(Erp::Articles::Category::ALIAS_WARRANTY).id,
                                        'chinh-sach-bao-hanh'
                                    ) %>
                                </li>
                                <li>
                                    <%= link_to "Quy định & Hình thức thanh toán", erp_online_store.policy_path(
                                        Erp::Articles::Category.find_by_alias(Erp::Articles::Category::ALIAS_PAYMENT).id,
                                        'quy-dinh-hinh-thuc-thanh-toan'
                                    ) %>
                                </li>
                                <li>
                                    <%= link_to "Chính sách vận chuyển, giao nhận", erp_online_store.policy_path(
                                        Erp::Articles::Category.find_by_alias(Erp::Articles::Category::ALIAS_DELIVERY).id,
                                        'chinh-sach-van-chuyen-giao-nhan'
                                    ) %>
                                </li>
                                <li>
                                    <%= link_to "Chính sách đổi trả hàng và hoàn tiền", erp_online_store.policy_path(
                                        Erp::Articles::Category.find_by_alias(Erp::Articles::Category::ALIAS_RETURN_REFUND).id,
                                        'chinh-sach-doi-tra-hang-va-hoan-tien'
                                    ) %>
                                </li>
                                <li><%= link_to "Câu hỏi thường gặp", erp_online_store.faq_path %></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- BOX INFOMATION -->
                <div class="col-md-3 col-sm-6 box-information box-footer">
                    <div class="module clearfix">
                        <h3 class="modtitle">Thông tin website</h3>
                        <div class="modcontent">
                            <ul class="menu">
                                <li><%= link_to "Về chúng tôi", erp_online_store.about_us_path %></li>
                                <li><%= link_to "Liên hệ & Góp ý", erp_online_store.contact_us_path %></li>
                                <li><%= link_to "Tin tức & Sự kiện", erp_online_store.blog_path %></li>
                                <li><%= link_to "Các điều khoản & Điều kiện", erp_online_store.terms_and_conditions_path %></li>
                                <li>
                                    <%= link_to "Quy định bảo mật thông tin", erp_online_store.policy_path(
                                        Erp::Articles::Category.find_by_alias(Erp::Articles::Category::ALIAS_SECURITY).id,
                                        'quy-dinh-bao-mat-thong-tin'
                                    ) %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- BOX ABOUT -->
                <div class="col-md-3  col-sm-6 collapsed-block box-footer">
                    <div class="module ">
                        <h3 class="modtitle">Liên hệ</h3>
                        <div class="modcontent">
                            <ul class="contact-address">
                                <li><span class="fa fa-home"></span> 188 Đường số 1, P. 16, Q. Gò Vấp, TP.HCM</li>
                                <li><span class="fa fa-envelope"></span><%= mail_to "", "contact@timhangcongnghe.vn" %></li>
                                <li><span class="fa fa-phone"></span> <%= link_to "(+84) 987654321", "tel:" %> - <%= link_to "(+84) 987654321", "tel:" %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER BOTTOM -->
    <div class="footer-bottom ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    Copyright &copy; 2017 <%= link_to "Tìm Hàng Công Nghệ.Vn", erp_online_store.root_path, target: "_blank" %>. All Rights Reserved.
                </div>
                <div class="back-to-top"><i class="fa fa-angle-up"></i><span></span></div>
            </div>
        </div>
    </div>
</footer>