<header id="header" class=" variantleft type_1">
    <div class="header-top compact-hidden">
        <div class="container">
            <div class="row">
                <div class="header-top-left  col-lg-4  hidden-sm col-md-5 hidden-xs"></div>
                <div class="header-top-right collapsed-block col-lg-8 col-sm-12 col-md-7 col-xs-12 ">
                    <div class="tabBlock top-right-menu" rel="nofollow" title="Thông Tin" data-url="<%= erp_online_store.top_right_menu_path %>">
                        <%= render 'erp/online_store/frontend/modules/header/top_right_menu' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-center header-main">
        <div class="container">
            <div class="row">
                <div class="navbar-logo col-md-2 col-sm-4 col-xs-10 logo"><%= link_to image_tag('/frontend/img/sys/timhangcongnghe.png',
                    alt: 'Tìm Hàng Công Nghệ',title: 'Tìm Hàng Công Nghệ'),erp_online_store.root_path,title: 'Tìm Hàng Công Nghệ' %></div>
                <div class="header-center-right col-md-10 col-sm-8 col-xs-2">
                    <div class="responsive so-megamenu megamenu-style-dev">
                        <nav class="navbar-default">
                            <div class=" container-megamenu  horizontal">
                                <div class="megamenu-wrapper ">
                                    <span id="remove-megamenu" class="fa fa-times"></span>
                                    <div class="megamenu-pattern">
                                        <div class="container">
                                            <ul class="megamenu " data-transition="slide" data-animationtime="250">
                                                <li><%= link_to '<strong>Trang Chủ</strong><span class="label"></span>'.html_safe,
                                                        erp_online_store.root_path, class: 'clearfix', title: 'Tìm Hàng Công Nghệ' %></li>
                                                <li><%= link_to '<strong>Thương Hiệu</strong><span class="label"></span>'.html_safe,
                                                        erp_online_store.brand_listing_path, class: 'clearfix', title: 'Thương Hiệu' %></li>
                                                <li><%= link_to '<strong>Tin Công Nghệ</strong><span class="label"></span>'.html_safe,
                                                        erp_online_store.blog_path, class: 'clearfix', title: 'Tin Công Nghệ' %></li>
                                                <li class="hidden-md color-buy business-special"><a href="https://timhangcongnghe.com/mieng-dan-chong-nhin-trom-cid256" class="clearfix" title="Miếng Dán Chống Nhìn Trộm">
                                                    <strong><%= image_tag '/frontend/img/sys/new.png', alt: 'Miếng dán chống nhìn trộm', title: 'Miếng dán chống nhìn trộm' %>Miếng Dán Chống Nhìn Trộm</strong></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom compact-hidden">
        <div class="container">
            <div class="header-bottom-inner">
                <div class="row">
                    <div class="header-bottom-left menu-vertical col-md-3 col-sm-2 col-xs-2">
                        <div class="responsive so-megamenu megamenu-style-dev">
                            <div class="so-vertical-menu no-gutter compact-hidden">
                                <nav class="navbar-default">
                                    <% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %><div class="container-megamenu vertical open"><% else %><div class="container-megamenu vertical"><% end %>
                                        <div id="menuHeading">
                                            <div class="megamenuToogle-wrapper">
                                                <div class="megamenuToogle-pattern">
                                                    <div class="container">
                                                        <div><span></span><span></span><span></span></div>Danh Mục Sản Phẩm <i class="fa pull-right arrow-circle fa-chevron-circle-down"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="navbar-header">
                                            <button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle">
                                                <span class="icon-bar" style="width: 15px;"></span><span class="icon-bar" style="width: 15px;"></span><span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        <div class="vertical-wrapper">
                                            <span id="remove-verticalmenu" class="fa fa-times"></span>
                                            <div class="megamenu-pattern">
                                                <div class="container">
                                                    <% if params[:controller] == 'erp/online_store/frontend/home' && params[:action] == 'index' %>
                                                        <ul class="megamenu menu-home-page">
                                                            <% Erp::Menus::Menu.get_menus.each do |category| %>
                                                                <% category_array = category.get_children_array %><% count = category_array.count %>
                                                                <% if count <= 13 %>
                                                                    <%= render 'erp/online_store/frontend/modules/header/menu_home/with_1_column',
                                                                        category: category, category_array: category_array %>
                                                                <% elsif (count > 13) && (count <= 26) %>
                                                                    <%= render 'erp/online_store/frontend/modules/header/menu_home/with_2_column',
                                                                        category: category, category_array: category_array %>
                                                                <% else %>
                                                                    <%= render 'erp/online_store/frontend/modules/header/menu_home/with_3_column',
                                                                        category: category, category_array: category_array %>
                                                                <% end %>
                                                            <% end %>
                                                            <li class="item-vertical">
                                                                <h2><a href="<%= erp_online_store.computer_services_path %>" class="clearfix" title="Dịch Vụ Sửa Chữa - Bảo Trì">
                                                                    <%= image_tag '/frontend/img/sys/services-01.png', alt: 'Dịch Vụ Sửa Chữa - Bảo Trì', title: 'Dịch Vụ Sửa Chữa - Bảo Trì' %>
                                                                    <strong><span>Dịch Vụ Sửa Chữa - Bảo Trì</span></strong></a></h2>
                                                            </li>
                                                        </ul>
                                                    <% else %>
                                                        <ul class="megamenu">
                                                            <% Erp::Menus::Menu.get_menus.each do |category| %>
                                                                <% category_array = category.get_children_array %><% count = category_array.count %>
                                                                <% if count <= 13 %>
                                                                    <%= render 'erp/online_store/frontend/modules/header/menu_main/with_1_column',
                                                                        category: category, category_array: category_array %>
                                                                <% elsif (count > 13) && (count <= 26) %>
                                                                    <%= render 'erp/online_store/frontend/modules/header/menu_main/with_2_column',
                                                                        category: category, category_array: category_array %>
                                                                <% else %>
                                                                    <%= render 'erp/online_store/frontend/modules/header/menu_main/with_3_column',
                                                                        category: category, category_array: category_array %>
                                                                <% end %>
                                                            <% end %>
                                                            <li class="item-vertical">
                                                                <a href="<%= erp_online_store.computer_services_path %>" class="clearfix" title="Dịch Vụ Sửa Chữa - Bảo Trì">
                                                                    <%= image_tag '/frontend/img/sys/services-01.png',
                                                                        alt: 'Dịch Vụ Sửa Chữa - Bảo Trì', title: 'Dịch Vụ Sửa Chữa - Bảo Trì' %>
                                                                    <strong><span>Dịch Vụ Sửa Chữa - Bảo Trì</span></strong></a>
                                                            </li>
                                                        </ul>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="header-bottom-right col-md-9 col-sm-10 col-xs-10">
                        <div class="col-lg-9 col-md-8 col-sm-7 col-xs-9 header_search">
                            <div id="sosearchpro" class="search-pro">
                                <form class="autosearch-form" method="GET" action="<%= erp_online_store.search_path %>">
                                    <div id="search0" class="search input-group autosearch" data-url="<%= erp_online_store.autosearch_path %>">
                                        <input class="autosearch-input form-control" type="text" value="<%= @keyword %>" size="90" autocomplete="off" placeholder="Nhập từ khóa tìm kiếm....." name="keyword">
                                        <span class="input-group-btn">
                                            <button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                    <input type="hidden" name="route" value="product/search" />
                                </form>
                            </div>
                        </div>
                        <div class="block-cart" data-url="<%= erp_online_store.top_cart_path %>"><%= render 'erp/online_store/frontend/shopping_cart/top_cart' %></div>
                        <div class="header_custom_link hidden-xs hidden-sm hidden-md">
                            <ul>
                                <% if current_user.present? %>
                                <li><%= link_to '<i class="fa fa-user"></i> TÀI KHOẢN'.html_safe, erp_online_store.my_account_path, title: 'Tài Khoản', rel: 'nofollow' %></li>
                                <% else %>
                                <li><%= link_to '<i class="fa fa-sign-in"></i> ĐĂNG NHẬP'.html_safe,
                                    erp.new_user_session_path, class: 'sign-in ajax-link',
                                    'data-type': 'ajax', id: "sign-in", title: 'Đăng Nhập' %></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="header-fixed-top  type_7">
	<div class="header-center">
		<div class="container">
			<div class="row">
				<div class="navbar-logo col-md-3 col-sm-4 col-xs-12">
					<%= link_to image_tag('/frontend/img/sys/timhangcongnghe.png',
						alt: 'Tìm Hàng Công Nghệ',
						title: 'Tìm Hàng Công Nghệ'),
						erp_online_store.root_path,
						title: 'Tìm Hàng Công Nghệ' %>
				</div>
				<div class="header-center-right col-md-5 col-sm-4 col-xs-12">
					<div id="sosearchpro" class="search-pro">
						<form class="autosearch-form" method="GET" action="<%= erp_online_store.search_path %>">
							<div id="search0" class="search input-group autosearch" data-url="<%= erp_online_store.autosearch_path %>">								
								<input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Nhập từ khóa tìm kiếm" name="search">
								<span class="input-group-btn">
									<button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
								</span>
							</div><input type="hidden" name="route" value="product/search" />
						</form>
					</div>
				</div>
				<div class="header-center-right col-md-4 col-sm-4 col-xs-12">
					<div class="block-cart" data-url="<%= erp_online_store.top_cart_path %>"><%= render 'erp/online_store/frontend/shopping_cart/top_cart' %></div>
					<ul class="top-link list-inline pull-right">
						<li class="compare">
							<a href="<%= erp_online_store.compare_product_path %>" class="top-link-compare" title="So sánh sản phẩm">
								<i class="fa fa-window-restore icon-sosanh"></i>So sánh<span class="number"><%= @compare.get_number_items %></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="btn-menu-fixed">
	<span id="btn-menu-fixed" class="fa fa-list"></span><div id="btn-menu-fixed-title" class="btn-menu-fixed-title">Danh Mục Sản Phẩm</div>
</div>