<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag '/frontend/js/jquery-2.2.4.min.js' %>
<%= javascript_include_tag '/frontend/js/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/owl-carousel/owl.carousel.js' %>
<%= javascript_include_tag '/frontend/js/themejs/libs.js' %>
<%= javascript_include_tag '/frontend/js/unveil/jquery.unveil.js' %>
<%= javascript_include_tag '/frontend/js/countdown/jquery.countdown.min.js' %>
<%= javascript_include_tag '/frontend/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %>
<%= javascript_include_tag '/frontend/js/datetimepicker/moment.js' %>
<%= javascript_include_tag '/frontend/js/datetimepicker/bootstrap-datetimepicker.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery-ui/jquery-ui.min.js' %>
<%= javascript_include_tag '/frontend/js/lightslider/lightslider.js' %>
<%= javascript_include_tag '/frontend/fancybox/jquery.fancybox.min.js' %>
<%= javascript_include_tag '/frontend/js/validate/jquery.validate.min.js' %>
<%= javascript_include_tag '/frontend/js/validate/localization/messages_vi.js' %>

<!-- Theme files ============================================ -->
<%= javascript_include_tag '/frontend/js/main.js' %>
<%= javascript_include_tag '/frontend/js/comment.js' %>
<%= javascript_include_tag '/frontend/js/themejs/so_megamenu.js' %>
<%= javascript_include_tag '/frontend/js/themejs/addtocart.js' %>
<%= javascript_include_tag '/frontend/js/themejs/application.js' %>
<!--<%= javascript_include_tag '/frontend/js/themejs/toppanel.js' %>-->
<!--<%= javascript_include_tag '/frontend/js/themejs/cpanel.js' %>-->

<%= javascript_include_tag "/frontend/select2/js/select2.min.js" %>
<%= javascript_include_tag "/frontend/select2/js/i18n/vi.js" %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98262651-1', 'auto');
  ga('send', 'pageview');
</script>

<% if !flash.empty? %>
    <% classes = {"success" => "success", "alert" => "alert", "notice" => "notice", "warning" => "warning", "error" => "error"} %>
    <% flash.each do |key, value| %>
        <script>
            // alert('<%= value %>');
            var tpl = '<h3><%= value %></h3>';
            $.jGrowl(tpl, {
                life: 4000,
                header: '<%= t('flash_' + key) %>',
                speed: 'slow',
                theme: '<%= classes[key] %>'
            });

            if ('<%= value %>'.includes('xác minh thành công')) {
              $('.sign-in.ajax-link').trigger('click');
            }
        </script>
    <% end %>
<% end %>

<% if params[:controller] == "erp/online_store/frontend/information" && params[:action] == "contact_us" %>
    <script>
        $('.maps').click(function () {
            $('.maps iframe').css("pointer-events", "auto");
        });

        $( ".maps" ).mouseleave(function() {
            $('.maps iframe').css("pointer-events", "none");
        });
    </script>
<% end %>
