<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js' %>
<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/owl.carousel.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/2.2.3/jquery.elevatezoom.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.7/jquery.jgrowl.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/unveil/1.3.0/jquery.unveil.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.dcjqaccordion.2.8.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js' %>
<%= javascript_include_tag '/frontend/js/messages_vi.js' %>
<%= javascript_include_tag 'https://images.dmca.com/Badges/DMCABadgeHelper.min.js' %>
<%= javascript_include_tag '/frontend/js/main.js' %>
<%= javascript_include_tag '/frontend/js/comment.js' %>
<%= javascript_include_tag '/frontend/js/so_megamenu.js' %>
<%= javascript_include_tag '/frontend/js/addtocart.js' %>
<%= javascript_include_tag '/frontend/js/application.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/vi.min.js' %>
<% if !flash.empty? %>
    <% classes = {"success" => "success", "alert" => "alert", "notice" => "notice", "warning" => "warning", "error" => "error"} %>
    <% flash.each do |key, value| %>
        <script>
            var tpl = '<h3><%= value %></h3>';
            $.jGrowl(tpl, {
                life: 4000,
                header: '<%= t('flash_' + key) %>',
                speed: 'slow',
                theme: '<%= classes[key] %>'
            });
            if ('<%= value %>'.includes('xác minh thành công')) {
              $('.sign-in.ajax-link').trigger('click');
            }
        </script>
    <% end %>
<% end %>