<div class="moduletable module best-seller">
    <h3 class="modtitle">
        <span>Khuyến Mãi</span>
        <%= link_to "Xem toàn bộ", erp_online_store.deal_products_path, class: "view-all-bestseller", title: "Xem toàn bộ" %>
    </h3>
    <div class="so-extraslider">
        <div class="extraslider-inner best-seller-slider">
            <div class="item ">
            <% count = Erp::Products::Product.get_deal_products.count %>
            <% Erp::Products::Product.get_deal_products.limit(12).each_with_index do |best_seller,index| %>
                <div class="item-wrap style1">
                    <div class="item-wrap-inner media">
                        <div class="media-left">
                            <div class="item-image">
                                <div class="item-img-info">
                                    <a href="<%= erp_online_store.product_detail_path(product_id: best_seller.id) %>" class="lt-image" target="_self" title="<%= best_seller.name %>">
                                        <%= image_tag "/frontend/image/shop/product/75/1.jpg", alt: best_seller.name, title: best_seller.name, class: "img-1 img-responsive" %>
                                        <%= image_tag "/frontend/image/shop/product/75/3.jpg", alt: best_seller.name, title: best_seller.name, class: "img-2 img-responsive" %>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="item-info">
                                <div class="rating">
                                    <%= raw stars(best_seller.average_stars) %>
                                </div>
                                <div class="item-title">
                                    <%= link_to best_seller.name, erp_online_store.product_detail_path(product_id: best_seller.id), title: best_seller.name %>
                                </div>
                                <!-- Begin item-content -->
                                <div class="item-content">
                                    <div class="content_price">
                                        <span class="price product-price">
                                            <%= format_price(best_seller.price) %>
                                        </span>
                                    </div>
                                </div>
                                <!-- End item-content -->
                            </div>
                        </div>
                        <!-- End item-info -->
                    </div>
                    <!-- End item-wrap-inner -->
                </div>
                <!-- End item-wrap -->
                <%= '</div><div class="item ">'.html_safe if index%3 == 2 && index+1 != count %>
                <% end %>
            </div>
        </div>
    </div>
</div>