<div class="moduletable module best-seller">
    <h3 class="modtitle">
        <span>KHUYẾN MÃI</span>
        <%= link_to "Xem tất cả", erp_online_store.deal_products_path, class: "view-all-bestseller", title: "Xem thêm" %>
    </h3>
    <div class="so-extraslider">
        <div class="extraslider-inner best-seller-slider">
            <div class="item ">
            <% count = Erp::Products::Product.get_deal_products.count %>
            <% Erp::Products::Product.get_deal_products.limit(12).each_with_index do |deal_product,index| %>
                <div class="item-wrap style1">
                    <div class="item-wrap-inner media">
                        <div class="media-left">
                            <div class="item-image">
                                <div class="item-img-info">
                                    <a href="<%= product_link(deal_product) %>" class="lt-image" target="_self" title="<%= deal_product.name %>">
                                        <%= image_tag product_image(deal_product.product_images, 'first', 'thumb75'), alt: deal_product.name, title: deal_product.name, class: "img-1 img-responsive" %>
                                        <%= image_tag product_image(deal_product.product_images, 'second', 'thumb75'), alt: deal_product.name, title: deal_product.name, class: "img-2 img-responsive" %>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="item-info">
                                <div class="rating">
                                    <%= stars(deal_product.average_stars) %>
                                </div>
                                <div class="item-title">
                                    <%= link_to deal_product.name, product_link(deal_product), title: deal_product.name %>
                                </div>
                                <!-- Begin item-content -->
                                <div class="item-content">
                                    <div class="content_price">
                                        <span class="price product-price">
                                            <%= format_price(deal_product.product_price) %>
                                        </span>
                                        <% if deal_product.is_deal? %>                        
                                        <br><span class="price-old-price"><%= format_price(deal_product.price) %></span>
                                        <span class="product-percent">-<%= deal_product.deal_percent %>%</span>
                                        <% end %>
                                    </div>
                                </div>
                                <!-- End item-content -->
                            </div>
                        </div>
                        <!-- End item-info -->
                    </div>
                    <!-- End item-wrap-inner -->
                </div>
                <!-- End item-wrap -->
                <%= '</div><div class="item ">'.html_safe if index%3 == 2 && index+1 != count %>
                <% end %>
            </div>
        </div>
    </div>
</div>