<% title "Sổ địa chỉ" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Tài Khoản", erp_online_store.my_account_path %></li>
        <li><%= link_to "Sổ Địa Chỉ", "javascript:void(0)" %></li>
    </ul>
    
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="account-address-book col-sm-9">
            <h2 class="no-margin-top title">Sổ địa chỉ</h2>
            <div class="row">
                <div class="col-sm-12">
                    <a class="add-address" href="#address" onclick="loadContactForm();" class="add"><i class='fa fa-plus'></i> <span>Thêm địa chỉ mới</span></a>
                    
                    <% if current_user.contact.present? %>
                        <div class="dashboard-address">
                            <div class="panel panel-default item is-default">
                                <div class="panel-body">
                                    <p class="name"><%= current_user.contact.name %> <span class="default"><i class="fa fa-check-circle"></i> Địa chỉ mặc định</span></p>
                                    <p class="address"><span>Địa chỉ:</span> <%= full_address(current_user.contact) %></p>
                                    <p class="phone"><span>Điện thoại:</span> <%= current_user.contact.phone %></p>
                                    <p class="action">
                                        <button onclick="loadContactForm(<%= current_user.contact.id %>);" class="btn btn-default btn-custom1 js-edit edit-customer-address">Chỉnh sửa</button>
                                    </p>
                                </div>
                            </div>
                            <% current_user.contact.contacts.order('created_at ASC').each do |contact| %>
                                <div class="panel panel-default item">
                                    <div class="panel-body">
                                        <p class="name"><%= contact.name %> </p>
                                        <p class="address"><span>Địa chỉ:</span> <%= full_address(contact) %></p>
                                        <p class="phone"><span>Điện thoại:</span> <%= contact.phone %></p>
                                        <p class="action">
                                            <button onclick="loadContactForm(<%= contact.id %>);" class="btn btn-default btn-custom1 js-edit edit-customer-address">Chỉnh sửa</button>
                                            <a class="btn btn-default btn-custom1 btn-delete-address"
                                                href="<%= erp_online_store.delete_sub_contact_path(contact) %>"
                                                link-method="delete"
                                                title="Xóa đánh giá"
                                                link-confirm="Bạn muốn xóa địa chỉ liên hệ này?">
                                                Xóa
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                    
                    <div class="order-contact-form" data-url="<%= erp_online_store.account_contact_form_path %>"></div>
                    
                </div>
            </div>
        </div>
        <!--Middle Part End-->
        <!--Right Part Start -->
        <%= render "erp/online_store/frontend/modules/account/right_part" %>
        <!--Right Part End -->
    </div>
</div>