<hr>
<h2>Cập nhật thông tin địa chỉ</h2>
<fieldset id="address-form" class="required">
    <%= form_for '', url: erp_online_store.account_contact_update_path, html: {class: "contact_form"} do |f| %>
        <input type="hidden" value="<%= @contact.id %>" name="contact[contact_id]" />
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group required">
                    <label class="control-label">Họ tên</label>
                    <input type="text" class="form-control required"
                           placeholder="Nhập họ và tên" value="<%= @contact.name %>" name="contact[name]">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group required">
                    <label class="control-label">Tỉnh/Thành phố</label>
                    <div>
                        <select
                            class="form-control select ajax-content-control" name="contact[state_id]"
                            data-content-selector="#payment-district-3"
                            data-url="<%= erp_online_store.district_select_path(current_value: @contact.district_id) %>"
                        >
                                <option value=""> --- Chọn tỉnh/thành phố --- </option>
                                <% Erp::Areas::State.get_all.each do |state| %>
                                    <option <%= 'selected' if @contact.state_id == state.id %> value="<%= state.id %>"><%= state.name %></option>
                                <% end %>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group required">
                    <label class="control-label">Điện thoại di động</label>
                    <input type="text" class="form-control required"
                           placeholder="Nhập số điện thoại" value="<%= @contact.phone %>" name="contact[phone]">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group required">
                    <label class="control-label">Quận/Huyện/Thị xã</label>
                    <div class="" id="payment-district-3">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group <%= 'required' if (current_user.contact.nil? or @contact.id == current_user.contact_id) %>">
                    <label class="control-label">Địa chỉ email</label>
                    <input type="text" class="form-control <%= 'required' if (current_user.contact.nil? or @contact.id == current_user.contact_id) %>"
                           placeholder="Nhập địa chỉ email" value="<%= @contact.email %>" name="contact[email]">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group required">
                    <label class="control-label">Địa chỉ</label>
                    <input type="text" class="form-control required"
                           placeholder="Số nhà - đường, xã/phường/thị trấn" value="<%= @contact.address %>" name="contact[address]">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button class="btn buttonGray" id="btn-radius" type="submit">
                    <span>Cập nhật</span>
                </button>
            </div>
        </div>
    <% end %>
</fieldset>