<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Tài khoản", erp_online_store.my_account_path %></li>
        <li><%= link_to "Tài khoản của tôi", "javascript:void(0)" %></li>
    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <%= render "erp/online_store/frontend/account/profile_box" %>
        <!--Middle Part End-->
        <!--Right Part Start -->
        <%= render "erp/online_store/frontend/modules/account/right_part" %>
        <!--Right Part End -->
    </div>
</div>