<% title "Đơn Hàng Của Tôi" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, '//timhangcongnghe.com/' %></li>
        <li><%= link_to "Tài khoản", erp_online_store.my_account_path %></li>
        <li><%= link_to "Đơn Hàng Của Tôi", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
            <h2 class="no-margin-top title">Danh sách đơn hàng</h2>
            <% if @orders.count > 0 %>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td class="text-center">Mã đơn hàng</td>
                                <td class="text-center">Ngày đặt hàng</td>
                                <td class="text-center">Trạng thái</td>
                                <td class="text-center">Tổng tiền</td>
                                <td class="text-center">Thao tác</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% @orders.each do |order_history| %>
                            <tr class="order-list">
                                <td class="text-center">#<%= order_history.code %></td>
                                <td class="text-center"><%= order_history.created_at.strftime("%d/%m/%Y %I:%M %p") %></td>
                                <td class="text-left order-status">                                
                                    <%= order_status(order_history.status) %>
                                </td>
                                <td class="text-center">
                                    <span class="order-table price"><%= format_price(order_history.cache_total) %></span>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-info" title="Chi tiết đơn hàng"
                                       data-toggle="tooltip"
                                       href="<%= erp_online_store.order_information_path(order_history.id, title:  url_friendly(order_history.code)) %>"
                                       data-original-title="Chi tiết đơn hàng">
                                        <i class="fa fa-eye"></i>
                                    </a>                                
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            <% else %>
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i> Bạn chưa có đơn hàng nào trong lịch sử.
                </div>
            <% end %>
        </div>
        <!--Middle Part End-->
        <!--Right Part Start -->
        <%= render "erp/online_store/frontend/modules/account/right_part" %>
        <!--Right Part End -->
    </div>
</div>