<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Tài khoản", erp_online_store.my_account_path %></li>
        <li><%= link_to "Lịch sử mua hàng", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
            <h2 class="title">Danh sách đơn hàng</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-center">Mã đơn hàng</td>
                            <td class="text-center">Ngày đặt hàng</td>
                            <td class="text-center">Trạng thái</td>
                            <td class="text-center">Thành Tiền</td>
                            <td class="text-center">Thao tác</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% (0..3).each do |order_history| %>
                        <tr class="order-list">
                            <td class="text-center">#214521</td>
                            <td class="text-center">21/06/2016</td>
                            <td class="text-left order-status">                                
                                <span class="pending"><i class="fa fa-info-circle"></i> Đơn hàng vừa tạo</span><br>
                                <span class="confirm"><i class="fa fa-warning"></i> Đơn hàng đã xác nhận</span><br>
                                <span class="confirm"><i class="fa fa-warning"></i> Đơn hàng đang được giao</span><br>
                                <span class="finish"><i class="fa fa-check-circle"></i> Giao dịch thành công</span>
                            </td>                            
                            <td class="text-center">12,548,000 VNĐ</td>
                            <td class="text-center">
                                <a class="btn btn-info" title="Chi tiết đơn hàng" data-toggle="tooltip" href="<%= erp_online_store.order_information_path %>" data-original-title="Chi tiết đơn hàng">
                                    <i class="fa fa-eye"></i>
                                </a>                                
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <!--Middle Part End-->
        <!--Right Part Start -->
        <%= render "erp/online_store/frontend/modules/account/right_part" %>
        <!--Right Part End -->
    </div>
</div>