<% title "Thông Tin Đơn Hàng - #{@order.code}" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, '//timhangcongnghe.com/' %></li>
        <li><%= link_to "Tài Khoản", erp_online_store.my_account_path %></li>
        <li><%= link_to "Đơn Hàng Của Tôi", erp_online_store.order_history_path %></li>
        <li><%= link_to "Chi Tiết Đơn Hàng (#{@order.code})", "javascript:void(0)" %></li>
    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
            <h2 class="no-margin-top title">Chi tiết đơn hàng: #<%= @order.code %></h2>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td colspan="2" class="text-left">Thông tin đơn hàng</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 50%;" class="text-left">
                            <b>Mã đơn hàng:</b> #<%= @order.code %><br>
                            <b>Ngày đặt hàng:</b> <%= @order.created_at.strftime("%d/%m/%Y %I:%M %p") %>
                        </td>
                        <td style="width: 50%;" class="text-left order-status">
                            <b>Trạng thái đơn hàng:</b><br>
                            <%= order_status(@order.status) %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td style="width: 50%; vertical-align: top;" class="text-left">Thông tin đặt hàng</td>
                        <td style="width: 50%; vertical-align: top;" class="text-left">Thông tin giao hàng</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left">
                            <%= @order.get_customer_data('name') %><br>
                            <%= @order.get_customer_data('address') %>, 
                            <%= @order.get_customer_data('district') %>, 
                            <%= @order.get_customer_data('state') %><br>
                            <%= @order.get_customer_data('phone') %><br>
                            <%= @order.get_customer_data('email') %>
                        </td>
                        <td class="text-left">
                            <%= @order.get_consignee_data('name') %><br>
                            <%= @order.get_consignee_data('address') %>, 
                            <%= @order.get_consignee_data('district') %>, 
                            <%= @order.get_consignee_data('state') %><br>
                            <%= @order.get_consignee_data('phone') %><br>
                            <%= @order.get_consignee_data('email') %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-left">Tên sản phẩm</td>
                            <td class="text-center">Số lượng</td>
                            <td class="text-center">Giá</td>
                            <td class="text-right">Thành tiền</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% @order.frontend_order_details.each do |order_detail| %>
                        <tr>
                            <td class="text-left">
                                <strong>
                                    <% if order_detail.product.present? %>
                                        <%= link_to order_detail.product_name, product_link(order_detail.product), title: order_detail.product_name %>
                                    <% else %>
                                        <%= order_detail.product_name %>
                                    <% end %>
                                </strong>
                                <%= ' (Tặng kèm)' if order_detail.description == Erp::Orders::FrontendOrderDetail::STYLE_GIFT %>
                            </td>
                            <td class="text-center"><strong><%= order_detail.quantity %></strong></td>
                            <td class="text-center">
                                <%= order_detail.price == 0 ? 'Miễn phí' : ('<strong class="order-table price">' + format_price(order_detail.price) + '</strong>').html_safe %>
                            </td>
                            <td class="text-right">
                                <%= order_detail.total == 0 ? 'Miễn phí' : ('<strong class="order-table price">' + format_price(order_detail.total) + '</strong>').html_safe %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td class="text-right"><b>Tổng tiền</b>
                            </td>
                            <td class="text-right">
                                <span class="order-table price"><%= format_price(@order.cache_total) %></span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="buttons clearfix">
                <div class="pull-right">
                    <%= link_to "Lịch sử mua hàng", erp_online_store.order_history_path, class: "btn btn-primary" %>
                </div>
            </div>
        </div>
        <!--Middle Part End-->
        <!--Right Part Start -->
        <%= render "erp/online_store/frontend/modules/account/right_part" %>
        <!--Right Part End -->
    </div>
</div>