<% title "Thông Tin Đơn Hàng - #214521" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Tài Khoản", erp_online_store.my_account_path %></li>
        <li><%= link_to "Lịch Sử Mua Hàng", erp_online_store.order_history_path %></li>
        <li><%= link_to "Chi Tiết Đơn Hàng", "javascript:void(0)" %></li>
    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
            <h2 class="title">Chi tiết đơn hàng: #214521</h2>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td colspan="2" class="text-left">Thông tin đơn hàng</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 50%;" class="text-left">
                            <b>Mã đơn hàng:</b> #214521<br>
                            <b>Ngày đặt hàng:</b> 20/06/2016
                        </td>
                        <td style="width: 50%;" class="text-left order-status">
                            <b>Trạng thái đơn hàng:</b><br>
                            <span class="pending"><i class="fa fa-info-circle"></i> Đơn hàng vừa tạo</span><br>
                            <span class="confirm"><i class="fa fa-warning"></i> Đơn hàng đã xác nhận</span><br>
                            <span class="confirm"><i class="fa fa-warning"></i> Đơn hàng đang được giao</span><br>
                            <span class="finish"><i class="fa fa-check-circle"></i> Giao dịch thành công</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td style="width: 50%; vertical-align: top;" class="text-left">Thông tin đặt hàng</td>
                        <td style="width: 50%; vertical-align: top;" class="text-left">Thông tin giao hàng</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left">
                            Nguyễn Ngọc Sơn<br>
                            188 đường số 1, Phường 16, Quận Gò Vấp, TP.HCM<br>
                            01644046123<br>
                            sonnn0811@gmail.com
                        </td>
                        <td class="text-left">
                            Nguyễn Ngọc Sơn<br>
                            188 đường số 1, Phường 16, Quận Gò Vấp, TP.HCM<br>
                            01644046123<br>
                            sonnn0811@gmail.com
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-left">Tên sản phẩm</td>
                            <td class="text-center">Số lượng</td>
                            <td class="text-center">Giá</td>
                            <td class="text-right">Thành tiền</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% (0..3).each do |order_detail| %>
                        <tr>
                            <td class="text-left">
                                <strong><%= link_to "HP 15 AY072TU N3710/4GB/500GB/Win10", "", title: "" %></strong>
                            </td>
                            <td class="text-center"><strong>1</strong></td>
                            <td class="text-center">
                                <strong>6.390.000₫</strong>
                            </td>
                            <td class="text-right"><strong>6.390.000₫</strong></td>
                        </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td class="text-right"><b>Tổng tiền</b>
                            </td>
                            <td class="text-right">6.390.000₫</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="buttons clearfix">
                <div class="pull-right">
                    <%= link_to "Lịch sử mua hàng", erp_online_store.order_history_path, class: "btn btn-primary" %>
                </div>
            </div>
        </div>
        <!--Middle Part End-->
        <!--Right Part Start -->
        <%= render "erp/online_store/frontend/modules/account/right_part" %>
        <!--Right Part End -->
    </div>
</div>