<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Tài khoản", erp_online_store.my_account_path %></li>
        <li><%= link_to "Danh sách yêu thích", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
            <h2 class="title">Danh sách của bạn</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-center">Hình ảnh</td>
                            <td class="text-left">Tên sản phẩm</td>
                            <td class="text-right">Giá</td>
                            <td class="text-right">Thao tác</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% @wish_lists.each do |wish_list| %>
                        <tr>
                            <td class="text-center">
                                <%= link_to image_tag("/frontend/image/shop/product/18.jpg", width:"70", alt: wish_list.product.name, title: wish_list.product.name), erp_online_store.product_detail_path(product_id: wish_list.product.id) %>
                            </td>
                            <td class="text-left">
                                <strong><%= link_to wish_list.product.name, erp_online_store.product_detail_path(product_id: wish_list.product.id) %></strong>
                            </td>
                            <td class="text-right">
                                <div class="price"><%= format_number(wish_list.product.price) %> VNĐ</div>
                            </td>
                            <td class="text-right">
                                <%= form_tag erp_online_store.add_to_cart_frontend_cart_items_path, class: 'add-cart-form display-inline' do %>
                                    <%= hidden_field_tag "product_id", wish_list.product.id %>
                                    <button class="btn btn-primary" title="Thêm vào giỏ hàng" type="submit">
                                        <i class="fa fa-cart-plus"></i>
									</button>
                                <% end %>
                                <a class="btn btn-danger" title="Hủy yêu thích"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <!--Middle Part End-->
    </div>
</div>